    <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>圈子动态</title>

<link rel="stylesheet" type="text/css" href="static/css/base-1600133341.css" media="all">
<link rel="stylesheet" href="static/css/common-1600133341.css">
<link rel="stylesheet" href="static/css/index-16001333417.css">
</head>
<body>

  <div class="bgfff">
    <div class="wrap">
      <div class="header fn-clear">
        <div class="logo">
  				<a href="index.html" title="苏州地方门户-苏州门户系统官方演示站"><img src="static/picture/15687069614961.png" alt="苏州地方门户-苏州门户系统官方演示站"><h2>火鸟门户</h2></a>
  			</div>
        <div class="navbar">
          <a href="index.html">网站首页</a>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="bg bg1"></div>
    <div class="bg bg2"></div>
    <div class="wrap">
      <div class="fn-clear">
        <div class="slideBox" id="slideBox">
          <div class="bd">
            <ul>
              <li><a href=""><img src="static/picture/slide1.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide2.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide3.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide4.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide5.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide6.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide7.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide8.png" alt=""></a></li>
            </ul>
          </div>
          <div class="slide_bg"></div>
        </div>
        <div class="rightBox fn-right">
          <p class="title">下载火鸟门户APP，享受更多服务~</p>
          <ul class="fn-clear">
            <li>
              <p class="tit">下载APP客户端</p>
              <p class="gray">ios/Android</p>
              <img src="static/picture/qrcode-httpsihuoniao.cnmobile.ht.jpg" alt="" class="code">
              <p class="info">手机扫二维码下载</p>
            </li>
            <li>
              <p class="tit">关注微信公众号</p>
              <p class="gray">huoniaoCMS</p>
              <img src="static/picture/15687067729028.jpg" alt="" class="code">
              <p class="info">微信扫描二维码关注</p>
            </li>
            <li>
              <p class="tit">浏览器输入网址</p>
              <p class="gray">https://ihuoniao.cn</p>
              <img src="static/picture/qrcode-httpsihuoniao.cn.jpg" alt="" class="code">
              <p class="info">手机扫描二维码访问</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright"><p style="text-align: center;">本站非实际运营网站，所载全部信息内容均仅作为软件系统功能测试之用，切勿当真！若有侵权，请即时联系：<a href="javascript:;" target="_self" textvalue="0512-67581578">0512-67581578</a><br>版权所有 © 2018 苏州酷曼软件技术有限公司. All rights reserved.&nbsp;</p><p style="text-align: center;"><a href="javascript:;" target="_blank">苏ICP备13047463号</a></p></div>
    </div>
  </div>

<script src="static/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="static/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="static/js/index-16001333417.js" ></script>
</body>
</html>
<script>var cfg_currency = {"name":"\u4eba\u6c11\u5e01","short":"\u5143","symbol":"\u00a5","code":"RMB","rate":"1"};</script><!-- Processed in page load 0.051042 second(s), 25 queries ,0.001597 second(s) -->