    <!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<title>苏州家政服务</title>
	<meta name="keywords" content="苏州家政服务">
	<meta name="description" content="苏州家政服务描述">
	<link rel="stylesheet" href="static/css/base-1600133341.css">
	<link rel="stylesheet" href="static/css/public-160013334110.css">
	<link rel="stylesheet" href="static/css/index-160013334117.css">
	<script type="text/javascript" src="static/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="static/js/jquery.SuperSlide.2.1.1.js"></script>
	<script>
	var masterDomain = 'https://ihuoniao.cn', channelDomain = 'https://ihuoniao.cn/sz/homemaking', templatePath = 'https://ihuoniao.cn/templates/homemaking/skin2/';
	var hideFileUrl = 0;
	var cookiePre = 'HN_';
	var money = '¥';
	</script>
</head>

<body class='w1200'>
		<script type="text/javascript">var cookiePre = 'HN_', cfg_clihost = 'ihuoniao.cn', cfg_module = 'homemaking',cfg_cityInfo = '{"cityid":"166","name":"\u82cf\u5dde","pinyin":"suzhou","url":"https:\/\/ihuoniao.cn\/sz","domain":"sz","type":"2","default":"1","count":72}'; </script>

<!-- 多语言 -->
<script src="static/js/zh-CN-1600133341.js"></script>

<!-- 顶部信息 s -->
<div class="topInfo">
	<div class="wrap fn-clear">
		<div class="loginbox">
						<span class="siteCityInfo">苏州</span>
			<span class="changeCityBtn">
				「<a href="javascript:;">切换城市</a>」      
				<div class="changeCityList">
					<p class="setwidth"></p>
					<div class="boxpd">
						<div class="sj"><i></i></div>
						<div class="box">
							<div class="content fn-clear">
								<p class="tit">请选择您所在的城市：</p>      
								<ul></ul>
				      		</div>
				      <div class="morecontent fn-hide">
								<dl class="hot">
									<dt>热门</dt>      
									<dd></dd>
								</dl>
								<div class="more">
									<dl class="pytit">
										<dt>城市</dt>      
										<dd></dd>
									</dl>
									<div class="list"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</span>
									<div class="loginbefore fn-clear" id="navLoginAfter">
				<a href="register.html" class="regist">注册</a>
				<span class="fn-left">&nbsp;/&nbsp;</span>
				<span class="logint"><a href="login.html">登录</a></span>
				
								<a class="loginconnect" href="show-Login_pc_code_101336457_htt.html" title="QQ快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-1600133341.png"></i></a>
								
								<a class="loginconnect" href="index-https2F2Fopenauth.alipay.c.html" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-16001333411.png"></i></a>
								
								<a class="loginconnect" href="login-wechat.html" title="微信快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-16001333412.png"></i></a>
								
								
								
								
								
								
								
								
			</div>
					</div>
		<ul class="menu topbarlink fn-clear">
			<li>
				<a href="index.html" style="color: #f60;">网站首页</a><span class="separ">|</span>
			</li>
			<li class="dropdown user">
				<a href="login-https2F2Fihuoniao.cn2Fu.html">会员中心<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="login-https2F2Fihuoniao.cn2Fu2Fo.html" target="_blank">我的订单</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fr.html" target="_blank">交易明细</a>
					<a href="login-https2F2Fihuoniao.cn2Fu2Fs.html" target="_blank">安全中心</a>
				</div>
			</li>
			<li><a href="mobile.html" target="_blank"><i class=""><img src="static/picture/public_top_icon_mobile.png"></i>手机站</a><span class="separ">|</span>
				<div class="pop">
					<s></s>
					<p>扫码访问<a href="mobile.html" target="_blank"><img src="static/picture/qrcode-httpsihuoniao.cn.jpg" width="150" height="150"></a></p>
				</div>
			</li>
			<li><a href="javascript:;"><i class=""><img src="static/picture/public_top_icon_wechat.png"></i>微信公众号</a><span class="separ">|</span>
				<div class="pop" style="left: -26px;">
					<s></s>
					<p>扫码关注<img src="static/picture/15687067729028.jpg" width="150" height="150"></p>
				</div>
			</li>
			<li class="dropdown">
				<a href="javascript:;">快速发布<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff.html" target="_blank">新闻投稿</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff1.html" target="_blank">分类信息</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fc.html" target="_blank">发布房源</a>					<a href="login-https2F2Fihuoniao.cn2Fsz2F.html" target="_blank">发布活动</a>					<a href="login-https2F2Fihuoniao.cn2Fsz2F1.html" target="_blank">发布新贴</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff2.html" target="_blank">发起直播</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff3.html" target="_blank">发布投票</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff4.html" target="_blank">发布二手车</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff5.html" target="_blank">发布顺风车</a>				</div>
			</li>
			<li class="dropdown webmap">
				<a href="javascript:;">网站导航<i class="picon picon-down"></i></a>
				<div class="submenu">
					
					<a href="sfcar.html" style="">顺风车</a>
					
					<a href="article.html" style="">信息资讯</a>
					
					<a href="info.html" style="">二手信息</a>
					
					<a href="house.html" style="">房产门户</a>
					
					<a href="job.html" style="">招聘求职</a>
					
					<a href="tieba.html" style="">贴吧社区</a>
					
					<a href="circle.html" style="">圈子动态</a>
					
					<a href="shop.html" style="">在线商城</a>
					
					<a href="waimai.html" style="">美食外卖</a>
					
					<a href="list1.html" target="_blank" style="">小程序直播</a>
					
					<a href="live.html" style="">视频直播</a>
					
					<a href="tuan.html" style="">团购秒杀</a>
					
					<a href="business.html" target="_blank" style=" font-weight: 700;">火鸟商家</a>
					
					<a href="huodong.html" style="">同城活动</a>
					
					<a href="pension.html" style="">养老机构</a>
					
					<a href="education.html" style="">教育培训</a>
					
					<a href="travel.html" style="">旅游频道</a>
					
					<a href="marry.html" style="">婚嫁频道</a>
					
					<a href="" style="">家政服务</a>
					
					<a href="car.html" style="">汽车门户</a>
					
					<a href="renovation.html" style="">装修门户</a>
					
					<a href="zhuanti.html" style="">拖拽专题</a>
					
					<a href="dating.html" style="">互动交友</a>
					
					<a href="paper.html" style="">电子报刊</a>
					
					<a href="jianzhan.html" style="">自助建站</a>
					
					<a href="huangye.html" style="">便民黄页</a>
					
					<a href="vote.html" style="">投票活动</a>
					
					<a href="jifen.html" style="">积分商城</a>
					
					<a href="quanjing.html" style="">VR全景</a>
					
					<a href="video.html" style="">视频频道</a>
					
					<a href="image.html" style="">图说资讯</a>
					
					<a href="javascript:;" target="_blank" style=" color: #00b0f0; font-weight: 700;">酷曼官网</a>
					
					<a href="login1.html" target="_blank" style="">休闲游戏</a>
					
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- 顶部信息 e -->
<script type="text/template" id="notLoginHtml">
	<div class="loginbefore fn-clear" id="navLoginAfter">
		<a href="https://ihuoniao.cn/register.html" class="regist">注册</a>
		<span class="fn-left">&nbsp;/&nbsp;</span>
		<span class="logint"><a href="https://ihuoniao.cn/login.html">登录</a></span>
		
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=qq" title="QQ快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/qq/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=alipay" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/alipay/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=wechat" title="微信快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/wechat/img/24.png" /></i></a>
				
				
				
				
				
				
				
				
	</div>
</script>

	<!-- 导航 s-->
	<div class="fixedwrap FestivalAD_header">
    <div class="fixedpane">
        <!-- head s -->
        <div class="wrap header fn-clear">
            <div class="logo">
                <a href="" title="家政服务"><img src="static/picture/15694624958844.png" alt="家政服务"></a>
            </div>
            <div class="searchwrap y-linear">
                <div class="search">

                    <div class="FormBox">
                        <form action="https://ihuoniao.cn/sz/homemaking/list.html">
                            <div class="inputbox">
                                
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="输入您想搜索的关键词" value=""></div>
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="搜索"> 
                            </div>
                        </form>
                    </div>
                </div>
                <div class="searchkey searchkeys">
                    <span>热门搜索：</span> 
                    
                </div>
            </div>
             
            <div class="kefu"><s><img src="static/picture/call3.png"></s><p>客服热线</p>4005-555-551</div>
        </div>
        <!-- head e -->

        <div class="nav-con n-linear ">                                                                             
            <div class="wrap fn-clear">
                <ul class="fn-clear nav_ul">
                    
                    <li class="active"><a href="" class="curr">首页</a></li>

                    
                    <li class="xm-li">
                        <a href="javascript:;">服务项目<i></i></a>
                        <dl class="sub-category fn-clear">
                            
                            <dd>
                                <a href="javascript:;"><span class="icon-txt">保姆月嫂</span></a>
                            </dd>
                            
                            <dd><a href="javascript:;">保洁清洗</a></dd>
                            
                            <dd><a href="javascript:;">搬家货运</a></dd>
                            
                            <dd><a href="javascript:;">家电维修</a></dd>
                            
                            <dd><a href="javascript:;">开锁换锁</a></dd>
                            
                            <dd><a href="javascript:;">鲜花绿植</a></dd>
                            
                            <dd><a href="javascript:;">医护健康</a></dd>
                            
                            <dd><a href="javascript:;">美食餐饮</a></dd>
                            
                            <dd><a href="javascript:;">按摩护理</a></dd>
                            
                        </dl>
                    </li>

                    
                    <li><a href="javascript:;">商家优选</a></li>

                    
                    <li><a href="javascript:;">家政人员</a></li>
                </ul>
                <div class="boxRight">
                    <a href="javascript:;" target="_blank"><i class="topFabu"></i>发布服务</a> 
                    <a href="javascript:;" target="_blank"><i class="topRuzhu"></i>商家入驻</a> 
                </div>
            </div>
        </div>

    </div>
</div>

	<!-- 导航 e-->
<div class="main_wrap ">
		<!-- 菜单 s-->
	<div class="b-main">

		<div class="slideBox slideBox1">
	      <div class="slidewrap">
	        <div class="slide">
	          <div class="bd">
				  <div class="slideobj">
					<div class="slideshow-item ad0"><div class="siteAdvObj"><a href="javascript:;" target="_blank"><img src="static/picture/15855586088640.png" width="100%" height="" alt=""></a><div class="advMark pos3">广告</div></div><div class="slideinfo"><h3><a href="javascript:;" target="_blank"></a></h3><p></p><div class="bg"></div></div></div><div class="slideshow-item ad1"><div class="siteAdvObj"><a href="javascript:;" target="_blank"><img src="static/picture/15855586066039.png" width="100%" height="" alt=""></a><div class="advMark pos3">广告</div></div><div class="slideinfo"><h3><a href="javascript:;" target="_blank"></a></h3><p></p><div class="bg"></div></div></div><div class="slideshow-item ad2"><div class="siteAdvObj"><a href="javascript:;" target="_blank"><img src="static/picture/15855586032076.png" width="100%" height="" alt=""></a><div class="advMark pos3">广告</div></div><div class="slideinfo"><h3><a href="javascript:;" target="_blank"></a></h3><p></p><div class="bg"></div></div></div>
				  </div>
				</div>
	          <div class="hd"><ul></ul></div>
	        </div>
	      </div>
	    </div>

	</div>
	<!-- 菜单 e-->
	<!-- 服务模块 s-->
	<div class="service_wrap">
		<div class="wrap">
			<h1>您需要什么服务？</h1> 
			<ul class="fn-clear">				
				<li><a href="javascript:;">
						<div class="top_img"><img src="static/picture/ser_baomu.png" alt=""></div>
						
						<div class="serviceInfo"><strong>保姆月嫂</strong><i></i></div>
						<div class="ser_descrp">
							<div class="descp_top">
								
								<h2>专业月嫂，呵护宝宝</h2>
								
								<p>指导正确哺乳喂养、呵护、洗澡穿衣、换洗尿布物品消毒、产妇营养餐制作营养膳食搭配、协助产妇擦浴等</p>
							</div>		
												
							<div class="serviceInfo2"><strong>保姆月嫂</strong><i></i></div>
						</div>
				</a></li>
				
				<li><a href="javascript:;">
					<div class="top_img"><img src="static/picture/15887590277636.png" alt=""></div>
					<div class="serviceInfo"><strong>保洁清洗</strong><i></i></div>
					<div class="ser_descrp">						
						<div class="descp_top">
							<h2>专业上门清洁服务</h2>  	
								
							<p>专业设备、专业手法保洁、彻底清洁、不留死角、让您的家焕然一新</p>
						</div>													
						<div class="serviceInfo2"><strong>保洁清洗</strong><i></i></div>

					</div>
				</a></li>
				
				<li><a href="javascript:;">
					<div class="top_img"><img src="static/picture/158875906288.png" alt=""></div>
					<div class="serviceInfo"><strong>搬家货运</strong><i></i></div>
					<div class="ser_descrp">						
						<div class="descp_top">
							<h2>提供物品搬运服务</h2>  	
								
							<p>专业人员配合家庭或办公 家具等搬运服务</p>
						</div>													
						<div class="serviceInfo2"><strong>搬家货运</strong><i></i></div>

					</div>
				</a></li>
				
				<li><a href="javascript:;">
					<div class="top_img"><img src="static/picture/15887590724415.png" alt=""></div>
					<div class="serviceInfo"><strong>家电维修</strong><i></i></div>
					<div class="ser_descrp">						
						<div class="descp_top">
							<h2>电器安装、维修、清洗</h2>  	
								
							<p>上门安装、维修空调、洗衣 机、热水器、燃气灶、电视 等不同品牌家电</p>
						</div>													
						<div class="serviceInfo2"><strong>家电维修</strong><i></i></div>

					</div>
				</a></li>
				
				<li><a href="javascript:;">
					<div class="top_img"><img src="static/picture/1588759080507.png" alt=""></div>
					<div class="serviceInfo"><strong>开锁换锁</strong><i></i></div>
					<div class="ser_descrp">						
						<div class="descp_top">
							<h2>快速上门开锁换锁</h2>  	
								
							<p>顾客为尊想顾客之“锁”想 急顾客之“锁”急 解顾客之“锁”难</p>
						</div>													
						<div class="serviceInfo2"><strong>开锁换锁</strong><i></i></div>

					</div>
				</a></li>
				
				<li><a href="javascript:;">
					<div class="top_img"><img src="static/picture/1588759088802.png" alt=""></div>
					<div class="serviceInfo"><strong>鲜花绿植</strong><i></i></div>
					<div class="ser_descrp">						
						<div class="descp_top">
							<h2>鲜花速递送花订花</h2>  	
								
							<p>开业花篮、生日鲜花、生日 蛋糕、发财树、富贵竹、探 望探病鲜花、绿植租摆等各 种您需要的鲜花</p>
						</div>													
						<div class="serviceInfo2"><strong>鲜花绿植</strong><i></i></div>

					</div>
				</a></li>
				
				<li><a href="javascript:;">
					<div class="top_img"><img src="static/picture/15887590971605.png" alt=""></div>
					<div class="serviceInfo"><strong>医护健康</strong><i></i></div>
					<div class="ser_descrp">						
						<div class="descp_top">
							<h2>呵护您与家人的健康</h2>  	
								
							<p>体检、产妇护理、口腔医院、就医陪诊、医护上门等各类 健康相关服务</p>
						</div>													
						<div class="serviceInfo2"><strong>医护健康</strong><i></i></div>

					</div>
				</a></li>
				
				<li><a href="javascript:;">
					<div class="top_img"><img src="static/picture/15887591066571.png" alt=""></div>
					<div class="serviceInfo"><strong>美食餐饮</strong><i></i></div>
					<div class="ser_descrp">						
						<div class="descp_top">
							<h2>美食餐饮,吃的放心</h2>  	
								
							<p>制作家庭便餐，想吃的美食 在家做，家人更健康</p>
						</div>													
						<div class="serviceInfo2"><strong>美食餐饮</strong><i></i></div>

					</div>
				</a></li>
				
				<li><a href="javascript:;">
					<div class="top_img"><img src="static/picture/15887591145698.png" alt=""></div>
					<div class="serviceInfo"><strong>按摩护理</strong><i></i></div>
					<div class="ser_descrp">						
						<div class="descp_top">
							<h2>按摩护理服务</h2>  	
								
							<p>按摩护理服务叫到家，足不 出户，放松劳累的身体</p>
						</div>													
						<div class="serviceInfo2"><strong>按摩护理</strong><i></i></div>

					</div>
				</a></li>
								
				<li><a href="javascript:;">
						<div class="top_img"><img src="static/picture/ser_other.png" alt=""></div>
						
						<div class="serviceInfo"><strong>其他</strong><i></i></div>
						<div class="ser_descrp">
							<div class="descp_top">
								<h2>其他服务</h2>  
								
								<p>没找到您想要的？再去看看 其他服务！</p>
							</div>
														
							<div class="serviceInfo2"><strong>其他</strong><i></i></div>
						</div>
				</a></li>

			</ul>
		</div>
	</div>
	<!-- 服务模块 e-->
	<!-- 最新入驻商家 s-->
	<div class="wrap recomtop">
		<div class="public_top fn-clear">
			<div class="fn-left l">
				<span>最新入驻商家</span> 	
			</div>
			<div class="fn-right r">
					
				<a href="javascript:;">我也要入驻</a>
			</div>
		</div>
		<ul class="fn-clear">
			
			<li><a href="javascript:;" target="_blank">
				<div class="top_img"><img src="static/picture/15838347942937.jpg" alt=""></div>
				<div class="storeInfo">
					<h3>2020-03-10</h3>
					<p>欢迎测试测试测试测试测试测试测试入驻成功</p>	
				</div>
			</a></li>
			
			<li><a href="javascript:;" target="_blank">
				<div class="top_img"><img src="static/picture/15830793021520.jpeg" alt=""></div>
				<div class="storeInfo">
					<h3>2020-03-02</h3>
					<p>欢迎月华月子中心入驻成功</p>	
				</div>
			</a></li>
			
			<li><a href="javascript:;" target="_blank">
				<div class="top_img"><img src="static/picture/15785614776254.jpg" alt=""></div>
				<div class="storeInfo">
					<h3>2020-01-09</h3>
					<p>欢迎A家政入驻成功</p>	
				</div>
			</a></li>
			
			<li><a href="javascript:;" target="_blank">
				<div class="top_img"><img src="static/picture/15776993281226.jpg" alt=""></div>
				<div class="storeInfo">
					<h3>2019-12-30</h3>
					<p>欢迎苏州家政服务有限公司入驻成功</p>	
				</div>
			</a></li>
			
			<li><a href="javascript:;" target="_blank">
				<div class="top_img"><img src="static/picture/videoface_179_127.jpg" alt=""></div>
				<div class="storeInfo">
					<h3>2019-12-09</h3>
					<p>欢迎软喵喵家政服务有限公司入驻成功</p>	
				</div>
			</a></li>
			
			<li><a href="javascript:;" target="_blank">
				<div class="top_img"><img src="static/picture/15756185615560.png" alt=""></div>
				<div class="storeInfo">
					<h3>2019-12-06</h3>
					<p>欢迎红红火火恍恍惚惚入驻成功</p>	
				</div>
			</a></li>
			
			<li><a href="javascript:;" target="_blank">
				<div class="top_img"><img src="static/picture/15705183046053.jpg" alt=""></div>
				<div class="storeInfo">
					<h3>2019-10-08</h3>
					<p>欢迎测试入驻成功</p>	
				</div>
			</a></li>
			
			<li><a href="javascript:;" target="_blank">
				<div class="top_img"><img src="static/picture/15579708849413.jpg" alt=""></div>
				<div class="storeInfo">
					<h3>2019-05-16</h3>
					<p>欢迎111入驻成功</p>	
				</div>
			</a></li>
			
		</ul>
	</div>
	<!-- 最新入驻商家 e-->
	<!-- 广告位 s-->
	<div class="adv_wrap"><div class="siteAdvObj"><a href="javascript:;" style="cursor:default;"><img src="static/picture/15855608496574.png" width="100%" height="" alt=""></a><div class="advMark pos3">广告</div></div></div>
	<!-- 广告位 e-->
	<!-- 金牌人员 s-->
	<div class="main1">
		<div class="wrap">
				
			<div class="title_div"><h2 class="common-title">金牌人员</h2></div>
			<div class="jin_peo fn-clear">
				<div class="fn-left left_adv"><div class="siteAdvObj"><a href="javascript:;" target="_blank"><img src="static/picture/15855602311332.png" width="100%" height="" alt=""></a><div class="advMark pos3">广告</div></div></div>
				<div class="fn-right right_jin">
					<ul class="fn-clear">
						
						<li><a href="javascript:;" target="_blank">
							<div class="peo_img"><img src="static/picture/15949492406844.png" alt=""></div>
							<p class="peoInfo">miracle</p>
							<div class="peo_hide">
																<h3><em>，</em>钟点工<em>，</em>住家型</h3>
																
								  
								<p class="peo_detail">20岁<em>･</em>上海<em>･</em>大专</p>
								<i></i>
								<p class="peoInfo2">miracle</p>
							</div>
						</a></li>
						
						<li><a href="javascript:;" target="_blank">
							<div class="peo_img"><img src="static/picture/15690422085104.jpg" alt=""></div>
							<p class="peoInfo">郭琪琪</p>
							<div class="peo_hide">
																<h3><em>，</em>钟点工<em>，</em>住家型</h3>
																
								  
								<p class="peo_detail">22岁<em>･</em>苏州<em>･</em>中专/职高</p>
								<i></i>
								<p class="peoInfo2">郭琪琪</p>
							</div>
						</a></li>
						
						<li><a href="javascript:;" target="_blank">
							<div class="peo_img"><img src="static/picture/15608454981239.jpg" alt=""></div>
							<p class="peoInfo">mimiwo</p>
							<div class="peo_hide">
																<h3>暂无介绍</h3> 	
																
								  
								<p class="peo_detail">未知<em>･</em>未知<em>･</em>未知</p>
								<i></i>
								<p class="peoInfo2">mimiwo</p>
							</div>
						</a></li>
						
						<li><a href="javascript:;" target="_blank">
							<div class="peo_img"><img src="static/picture/15555657895981.jpg" alt=""></div>
							<p class="peoInfo">郑小姐</p>
							<div class="peo_hide">
																<h3><em>，</em>钟点工</h3>
																
								  
								<p class="peo_detail">27岁<em>･</em>苏州<em>･</em>中专/职高</p>
								<i></i>
								<p class="peoInfo2">郑小姐</p>
							</div>
						</a></li>
						
						<li><a href="javascript:;" target="_blank">
							<div class="peo_img"><img src="static/picture/15555594628446.jpg" alt=""></div>
							<p class="peoInfo">李女士</p>
							<div class="peo_hide">
																<h3><em>，</em>住家型</h3>
																
								  
								<p class="peo_detail">29岁<em>･</em>沈阳<em>･</em>硕士</p>
								<i></i>
								<p class="peoInfo2">李女士</p>
							</div>
						</a></li>
						
						<li><a href="javascript:;" target="_blank">
							<div class="peo_img"><img src="static/picture/15555594128287.jpg" alt=""></div>
							<p class="peoInfo">李女士</p>
							<div class="peo_hide">
																<h3><em>，</em>钟点工</h3>
																
								  
								<p class="peo_detail">29岁<em>･</em>深圳<em>･</em>本科</p>
								<i></i>
								<p class="peoInfo2">李女士</p>
							</div>
						</a></li>
						
						<li><a href="javascript:;" target="_blank">
							<div class="peo_img"><img src="static/picture/15555593512805.jpg" alt=""></div>
							<p class="peoInfo">杜阿姨</p>
							<div class="peo_hide">
																<h3><em>，</em>住家型</h3>
																
								  
								<p class="peo_detail">29岁<em>･</em>长春<em>･</em>本科</p>
								<i></i>
								<p class="peoInfo2">杜阿姨</p>
							</div>
						</a></li>
						
						<li><a href="javascript:;" target="_blank">
							<div class="peo_img"><img src="static/picture/15555592807544.jpg" alt=""></div>
							<p class="peoInfo">朱阿姨</p>
							<div class="peo_hide">
																<h3><em>，</em>住家型</h3>
																
								  
								<p class="peo_detail">29岁<em>･</em>沈阳<em>･</em>本科</p>
								<i></i>
								<p class="peoInfo2">朱阿姨</p>
							</div>
						</a></li>
						
					</ul>
				</div>
			</div>
		</div>
		
		<div class="s_more"><a href="javascript:;">查看更多<s></s></a></div>
	</div>
	<!-- 金牌人员 e-->
	<!-- 推荐商家 s-->
	<div class="newshop">
		<div class="wrap">
			
			<div class="title_div"><h2 class="common-title">推荐商家</h2></div>
			<div class="recom_main fn-clear">
				<ul class="fn-clear">
				
					<li>
						<a href="javascript:;" target="_blank">
							<!-- 推荐icon -->
							<img src="static/picture/new_recom.png" alt="" class="new_recom">
							<div class="recom_img">															
								<img src="static/picture/15889346237698.jpg" alt="">
							</div>
							<div class="recom_info">
								<div class="recom_c">
									<h3>随行付</h3>
									<h5>
																				<span>保洁清洗</span>
																				<span>做饭</span>
																				<span>聊天</span>
																			</h5>
									<div class="pos_box"><i></i>苏州大道东278号合景领汇广场</div>
								</div>							
								
								<p class="see_call"><span data-tel="18256352145" class="call_span">查看电话</span></p>
							</div>
						</a>
					</li>

				
					<li>
						<a href="javascript:;" target="_blank">
							<!-- 推荐icon -->
							<img src="static/picture/new_recom.png" alt="" class="new_recom">
							<div class="recom_img">															
								<img src="static/picture/15555571381924.jpg" alt="">
							</div>
							<div class="recom_info">
								<div class="recom_c">
									<h3>苏州爱君家政有限公司</h3>
									<h5>
																				<span>月嫂</span>
																				<span>护理老人</span>
																			</h5>
									<div class="pos_box"><i></i>星湖街999号建屋商务汇99幢606室</div>
								</div>							
								
								<p class="see_call"><span data-tel="13951997896" class="call_span">查看电话</span></p>
							</div>
						</a>
					</li>

				
					<li>
						<a href="javascript:;" target="_blank">
							<!-- 推荐icon -->
							<img src="static/picture/new_recom.png" alt="" class="new_recom">
							<div class="recom_img">															
								<img src="static/picture/15555569721267.jpg" alt="">
							</div>
							<div class="recom_info">
								<div class="recom_c">
									<h3>苏州芳旭保洁服务有限公司</h3>
									<h5>
																				<span>催奶师</span>
																				<span>育婴师</span>
																			</h5>
									<div class="pos_box"><i></i>苏州现代大道</div>
								</div>							
								
								<p class="see_call"><span data-tel="13578409477" class="call_span">查看电话</span></p>
							</div>
						</a>
					</li>

				
				</ul>
				<div class="change_wrap">
					<span class="change">换一批</span>	
					<span class="more_span"><a href="javascript:;">查看更多<s></s></a></span> 	
				</div>
			</div>
		</div>
		
	</div>
	<!-- 推荐商家 e-->

	<!-- 广告 s-->
	<div class="wrap adv_wrap"><div class="siteAdvObj"><a href="javascript:;" style="cursor:default;"><img src="static/picture/15639385782623.png" width="100%" height="" alt=""></a><div class="advMark pos3">广告</div></div></div>
	<!-- 广告 e-->
	<!-- 热门服务 s-->
	<div class="main1 hot_service">
		<div class="wrap">
			
			<div class="title_div"><h2 class="common-title">热门服务</h2></div>			
			<ul class="fn-clear">
				
				<li><a href="javascript:;" target="_blank">
										<div class="hot_img">
						<div class="flag">
														<span>3小时上门</span>
														<span>今日达</span>
														<span>次日达</span>
													</div>
						<img src="static/picture/15555601312430.jpg" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">固定钟点工</h2>
							<p class="sale_after">
													
								<span><img src="static/picture/shouhoubaozhang.png" alt=""><em>售后保障</em></span>
													
								<span><img src="static/picture/suixintui.png" alt=""><em>随心退</em></span>
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>33.00</strong></span>
								    
								<span class="hot_order">实价</span>
								<em class="fn-right">已售4</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/15555571381924.jpg" alt=""></div>
							<div class="right_b">苏州爱君家政有限公司</div>
						</div>
					</div>
					
					
				</a></li>
				
				<li><a href="javascript:;" target="_blank">
					<img src="static/picture/new_recom.png" alt="" class="new_recom">					<div class="hot_img">
						<div class="flag">
														<span>3小时上门</span>
														<span>今日达</span>
														<span>次日达</span>
													</div>
						<img src="static/picture/1586508438534.png" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">月嫂</h2>
							<p class="sale_after">
													
								<span><img src="static/picture/shouhoubaozhang.png" alt=""><em>售后保障</em></span>
													
								<span><img src="static/picture/suixintui.png" alt=""><em>随心退</em></span>
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>0.00</strong></span>
								    
								<span class="hot_order">免费预约</span>
								<em class="fn-right">已售21</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/15865094387189.jpg" alt=""></div>
							<div class="right_b">家家同城上门便民服务</div>
						</div>
					</div>
					
					
				</a></li>
				
				<li><a href="javascript:;" target="_blank">
					<img src="static/picture/new_recom.png" alt="" class="new_recom">					<div class="hot_img">
						<div class="flag">
														<span>3小时上门</span>
														<span>今日达</span>
														<span>次日达</span>
													</div>
						<img src="static/picture/15571353434660.jpg" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">外墙清洗</h2>
							<p class="sale_after">
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>0.01</strong></span>
								    
								<span class="hot_order">实价</span>
								<em class="fn-right">已售5</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/15571353434660.jpg" alt=""></div>
							<div class="right_b">华阴家政</div>
						</div>
					</div>
					
					
				</a></li>
				
				<li><a href="javascript:;" target="_blank">
					<img src="static/picture/new_recom.png" alt="" class="new_recom">					<div class="hot_img">
						<div class="flag">
														<span>今日达</span>
													</div>
						<img src="static/picture/15555600091929.jpg" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">住家型家政</h2>
							<p class="sale_after">
													
								<span><img src="static/picture/shouhoubaozhang.png" alt=""><em>售后保障</em></span>
													
								<span><img src="static/picture/suixintui.png" alt=""><em>随心退</em></span>
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>11.00</strong></span>
								    
								<span class="hot_order">预约金</span>
								<em class="fn-right">已售1</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/15555571381924.jpg" alt=""></div>
							<div class="right_b">苏州爱君家政有限公司</div>
						</div>
					</div>
					
					
				</a></li>
				
				<li><a href="javascript:;" target="_blank">
										<div class="hot_img">
						<div class="flag">
														<span>3小时上门</span>
														<span>今日达</span>
														<span>次日达</span>
													</div>
						<img src="static/picture/15555653344652.jpg" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">搬家，搬物，实价</h2>
							<p class="sale_after">
													
								<span><img src="static/picture/shouhoubaozhang.png" alt=""><em>售后保障</em></span>
													
								<span><img src="static/picture/suixintui.png" alt=""><em>随心退</em></span>
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>0.10</strong></span>
								    
								<span class="hot_order">预约金</span>
								<em class="fn-right">已售19</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/15889346237698.jpg" alt=""></div>
							<div class="right_b">随行付</div>
						</div>
					</div>
					
					
				</a></li>
				
				<li><a href="javascript:;" target="_blank">
										<div class="hot_img">
						<div class="flag">
														<span>3小时上门</span>
														<span>今日达</span>
														<span>次日达</span>
													</div>
						<img src="static/picture/1555559954192.png" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">临时工</h2>
							<p class="sale_after">
													
								<span><img src="static/picture/shouhoubaozhang.png" alt=""><em>售后保障</em></span>
													
								<span><img src="static/picture/suixintui.png" alt=""><em>随心退</em></span>
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>22.00</strong></span>
								    
								<span class="hot_order">实价</span>
								<em class="fn-right">已售0</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/15555572071269.jpg" alt=""></div>
							<div class="right_b">苏州爱尔家政服务有限公司</div>
						</div>
					</div>
					
					
				</a></li>
				
				<li><a href="javascript:;" target="_blank">
										<div class="hot_img">
						<div class="flag">
														<span>3小时上门</span>
														<span>今日达</span>
														<span>次日达</span>
													</div>
						<img src="static/picture/15555598475733.jpg" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">育婴育儿</h2>
							<p class="sale_after">
													
								<span><img src="static/picture/shouhoubaozhang.png" alt=""><em>售后保障</em></span>
													
								<span><img src="static/picture/suixintui.png" alt=""><em>随心退</em></span>
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>33.00</strong></span>
								    
								<span class="hot_order">预约金</span>
								<em class="fn-right">已售0</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/15555572071269.jpg" alt=""></div>
							<div class="right_b">苏州爱尔家政服务有限公司</div>
						</div>
					</div>
					
					
				</a></li>
				
				<li><a href="javascript:;" target="_blank">
										<div class="hot_img">
						<div class="flag">
														<span>次日达</span>
													</div>
						<img src="static/picture/15555569721267.jpg" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">全日制家政</h2>
							<p class="sale_after">
													
								<span><img src="static/picture/shouhoubaozhang.png" alt=""><em>售后保障</em></span>
													
								<span><img src="static/picture/suixintui.png" alt=""><em>随心退</em></span>
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>0.00</strong></span>
								    
								<span class="hot_order">免费预约</span>
								<em class="fn-right">已售3</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/15555571381924.jpg" alt=""></div>
							<div class="right_b">苏州爱君家政有限公司</div>
						</div>
					</div>
					
					
				</a></li>
				
				<li><a href="javascript:;" target="_blank">
										<div class="hot_img">
						<div class="flag">
														<span>3小时上门</span>
													</div>
						<img src="static/picture/15758734842681.jpg" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">猫毛清洁</h2>
							<p class="sale_after">
													
								<span><img src="static/picture/shouhoubaozhang.png" alt=""><em>售后保障</em></span>
													
								<span><img src="static/picture/suixintui.png" alt=""><em>随心退</em></span>
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>20.00</strong></span>
								    
								<span class="hot_order">实价</span>
								<em class="fn-right">已售5</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/noPhoto_100.jpg" alt=""></div>
							<div class="right_b">软喵喵家政服务有限公司</div>
						</div>
					</div>
					
					
				</a></li>
				
				<li><a href="javascript:;" target="_blank">
										<div class="hot_img">
						<div class="flag">
														<span>3小时上门</span>
														<span>今日达</span>
														<span>次日达</span>
													</div>
						<img src="static/picture/15555657895981.jpg" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">烧饭清洁，预约金</h2>
							<p class="sale_after">
													
								<span><img src="static/picture/shouhoubaozhang.png" alt=""><em>售后保障</em></span>
													
								<span><img src="static/picture/suixintui.png" alt=""><em>随心退</em></span>
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>0.10</strong></span>
								    
								<span class="hot_order">预约金</span>
								<em class="fn-right">已售10</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/15889346237698.jpg" alt=""></div>
							<div class="right_b">随行付</div>
						</div>
					</div>
					
					
				</a></li>
				
				<li><a href="javascript:;" target="_blank">
										<div class="hot_img">
						<div class="flag">
														<span>3小时上门</span>
														<span>今日达</span>
														<span>次日达</span>
													</div>
						<img src="static/picture/15555649797938.jpg" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">家庭保洁，钟点工，全日</h2>
							<p class="sale_after">
													
								<span><img src="static/picture/shouhoubaozhang.png" alt=""><em>售后保障</em></span>
													
								<span><img src="static/picture/suixintui.png" alt=""><em>随心退</em></span>
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>0.00</strong></span>
								    
								<span class="hot_order">免费预约</span>
								<em class="fn-right">已售13</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/15889346237698.jpg" alt=""></div>
							<div class="right_b">随行付</div>
						</div>
					</div>
					
					
				</a></li>
				
				<li><a href="javascript:;" target="_blank">
										<div class="hot_img">
						<div class="flag">
														<span>次日达</span>
													</div>
						<img src="static/picture/15555591298662.jpg" alt="">
					</div>
					<div class="hotInfo">
						<div class="hotInfo_top">
							<h2 class="tit">育婴</h2>
							<p class="sale_after">
													
								<span><img src="static/picture/suixintui.png" alt=""><em>随心退</em></span>
															</p>
							<div class="hotDesc">
								<span class="hot_price">¥<strong>50.00</strong></span>
								    
								<span class="hot_order">预约金</span>
								<em class="fn-right">已售0</em>
							</div>
						</div>
						
						<div class="hot_store fn-clear">
							<div class="left_img"><img src="static/picture/15555581229785.png" alt=""></div>
							<div class="right_b">八块钱</div>
						</div>
					</div>
					
					
				</a></li>
				
			</ul>
		</div>
		<div class="s_more"><a href="javascript:;">查看更多<s></s></a></div> 	
	</div>
	<!-- 热门服务 e-->
</div>

<div class="footer white">
  <div class="wrap">
        <div class="friendlink">
      <h5>友情链接</h5>      
      <ul class="fn-clear">
        
      </ul>
    </div>
        <div class="help fn-clear">
      <div class="helplist">
        <dl>
          <dt>关于我们</dt>     
          
          <dd><a href="about-1.html" target="_blank">网站介绍</a></dd>
          
          <dd><a href="about-2.html" target="_blank">关于我们</a></dd>
          
          <dd><a href="about-3.html" target="_blank">服务条款</a></dd>
          
          <dd><a href="about-4.html" target="_blank">广告服务</a></dd>
          
          <dd><a href="feedback.html" target="_blank">意见反馈</a></dd>     
        </dl>
        
        <dl>
          <dt>常见问题<s></s></dt>
          
          <dd><a href="help-2.html" target="_blank" title="账户类">账户类</a></dd>
          
          <dd><a href="help-3.html" target="_blank" title="购物类">购物类</a></dd>
          
          <dd><a href="help-4.html" target="_blank" title="款项类">款项类</a></dd>
          
          <dd><a href="help-5.html" target="_blank" title="配送类">配送类</a></dd>
          
        </dl>
        
        <dl>
          <dt>订单百事通<s></s></dt>
          
          <dd><a href="help-11.html" target="_blank" title="提交订单">提交订单</a></dd>
          
          <dd><a href="help-12.html" target="_blank" title="订单查询">订单查询</a></dd>
          
          <dd><a href="help-13.html" target="_blank" title="订单取消">订单取消</a></dd>
          
          <dd><a href="help-15.html" target="_blank" title="订单异常">订单异常</a></dd>
          
          <dd><a href="help-14.html" target="_blank" title="交易纠纷">交易纠纷</a></dd>
          
        </dl>
        
        <dl>
          <dt>购物指南<s></s></dt>
          
          <dd><a href="help-16.html" target="_blank" title="交易条款">交易条款</a></dd>
          
          <dd><a href="help-17.html" target="_blank" title="促销咨询">促销咨询</a></dd>
          
          <dd><a href="help-18.html" target="_blank" title="购物流程">购物流程</a></dd>
          
          <dd><a href="help-19.html" target="_blank" title="商品咨询">商品咨询</a></dd>
          
        </dl>
        
        <dl>
          <dt>支付及发票<s></s></dt>
          
          <dd><a href="help-20.html" target="_blank" title="支付流程">支付流程</a></dd>
          
          <dd><a href="help-21.html" target="_blank" title="在线支付">在线支付</a></dd>
          
          <dd><a href="help-22.html" target="_blank" title="公司转账">公司转账</a></dd>
          
          <dd><a href="help-23.html" target="_blank" title="支票支付">支票支付</a></dd>
          
        </dl>
        
        <dl>
          <dt>售后服务<s></s></dt>
          
          <dd><a href="help-24.html" target="_blank" title="售后政策（自营）">售后政策（自营）</a></dd>
          
          <dd><a href="help-25.html" target="_blank" title="售后政策（卖家）">售后政策（卖家）</a></dd>
          
          <dd><a href="help-26.html" target="_blank" title="返修/退换货申请">返修/退换货申请</a></dd>
          
          <dd><a href="help-27.html" target="_blank" title="商品返回">商品返回</a></dd>
          
          <dd><a href="help-28.html" target="_blank" title="退款说明">退款说明</a></dd>
          
        </dl>
        
      </div>
      <div class="qr">
        <div class="qr-img"><img src="static/picture/qrcode-httpsihuoniao.cn.jpg">移动版</div>     
        <div class="qr-img"><img src="static/picture/15687067729028.jpg">微信公众号</div>     
      </div>
    </div>
    <div class="copyright"><p style="text-align: center;">本站非实际运营网站，所载全部信息内容均仅作为软件系统功能测试之用，切勿当真！若有侵权，请即时联系：<a href="javascript:;" target="_self" textvalue="0512-67581578">0512-67581578</a><br>版权所有 © 2018 苏州酷曼软件技术有限公司. All rights reserved.&nbsp;</p><p style="text-align: center;"><a href="javascript:;" target="_blank">苏ICP备13047463号</a></p></div>
    <div class="statisticscode"></div>
  </div>
</div>


<div class="btntop">
  <a href="javascript:;" class="top" title="返回顶部"><img src="static/picture/gotop.png" alt=""></a>
</div>
<script type="text/javascript" src="static/js/public-16001333418.js"></script>
<script type="text/javascript" src="static/js/common-1600133341.js"></script>

<script>
  	var site_map = "baidu", site_map_key = 'RlrCSDRWdEdwBmGizieNRp4z';
</script>

<script src="static/js/jweixin-1.3.2-1600133341.js"></script>

<script type="text/javascript" src="static/js/api-2.0_RlrCSDRWdEdwBmGizieNRp4z.js"></script>
<script type="text/javascript" src="static/js/maps-1.3_af10789c28b6ef1929677bc.js" ></script>
<script type="text/javascript" src="static/js/publicLocation-1600133341.js"></script>

<script type="text/javascript" src="static/js/index-160013334117.js"></script>
</body>
</html>
<script>var cfg_currency = {"name":"\u4eba\u6c11\u5e01","short":"\u5143","symbol":"\u00a5","code":"RMB","rate":"1"};</script><!-- Processed in page load 0.145031 second(s), 388 queries ,0.041174 second(s) -->