    <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>处女座的双鱼的二手店铺 - 信息频道</title>
<meta name="keywords" content="处女座的双鱼,处女座的双鱼二手店铺">
<meta name="description" content="联系电话：181****2289，所在区域：">

<link rel="stylesheet" type="text/css" href="static/css/base-1600133341.css" media="all">
<link rel="stylesheet" type="text/css" href="static/css/public-1600133341.css" media="all">
<link rel="stylesheet" type="text/css" href="static/css/homepage-1600133341.css" media="all">
<script type="text/javascript" src="static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = 'https://ihuoniao.cn', channelDomain = 'https://ihuoniao.cn/sz/info', staticPath = 'https://ihuoniao.cn/static/',templatePath = 'https://ihuoniao.cn/templates/info/skin10/';

	var hideFileUrl = 0, cookiePre = 'HN_',id = 11;
	var user_id = '1';
	var imconfig = {
		'chatid' :'1'
		
    }
</script>
</head>

<body class="w1200">
<script type="text/javascript">var cookiePre = 'HN_', cfg_clihost = 'ihuoniao.cn', cfg_module = 'info',cfg_cityInfo = '{"cityid":"166","name":"\u82cf\u5dde","pinyin":"suzhou","url":"https:\/\/ihuoniao.cn\/sz","domain":"sz","type":"2","default":"1","count":72}'; </script>

<!-- 多语言 -->
<script src="static/js/zh-CN-1600133341.js"></script>

<!-- 顶部信息 s -->
<div class="topInfo">
	<div class="wrap fn-clear">
		<div class="loginbox">
						<span class="siteCityInfo">苏州</span>
			<span class="changeCityBtn">
				「<a href="javascript:;">切换城市</a>」      
				<div class="changeCityList">
					<p class="setwidth"></p>
					<div class="boxpd">
						<div class="sj"><i></i></div>
						<div class="box">
							<div class="content fn-clear">
								<p class="tit">请选择您所在的城市：</p>      
								<ul></ul>
				      		</div>
				      <div class="morecontent fn-hide">
								<dl class="hot">
									<dt>热门</dt>      
									<dd></dd>
								</dl>
								<div class="more">
									<dl class="pytit">
										<dt>城市</dt>      
										<dd></dd>
									</dl>
									<div class="list"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</span>
									<div class="loginbefore fn-clear" id="navLoginAfter">
				<a href="register.html" class="regist">注册</a>
				<span class="fn-left">&nbsp;/&nbsp;</span>
				<span class="logint"><a href="login.html">登录</a></span>
				
								<a class="loginconnect" href="show-Login_pc_code_101336457_htt.html" title="QQ快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-1600133341.png"></i></a>
								
								<a class="loginconnect" href="index-https2F2Fopenauth.alipay.c.html" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-16001333411.png"></i></a>
								
								<a class="loginconnect" href="login-wechat.html" title="微信快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-16001333412.png"></i></a>
								
								
								
								
								
								
								
								
			</div>
					</div>
		<ul class="menu topbarlink fn-clear">
			<li>
				<a href="index.html" style="color: #f60;">网站首页</a><span class="separ">|</span>
			</li>
			<li class="dropdown user">
				<a href="login-https2F2Fihuoniao.cn2Fu.html">会员中心<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="login-https2F2Fihuoniao.cn2Fu2Fo.html" target="_blank">我的订单</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fr.html" target="_blank">交易明细</a>
					<a href="login-https2F2Fihuoniao.cn2Fu2Fs.html" target="_blank">安全中心</a>
				</div>
			</li>
			<li><a href="mobile.html" target="_blank"><i class=""><img src="static/picture/public_top_icon_mobile.png"></i>手机站</a><span class="separ">|</span>
				<div class="pop">
					<s></s>
					<p>扫码访问<a href="mobile.html" target="_blank"><img src="static/picture/qrcode-httpsihuoniao.cn.jpg" width="150" height="150"></a></p>
				</div>
			</li>
			<li><a href="javascript:;"><i class=""><img src="static/picture/public_top_icon_wechat.png"></i>微信公众号</a><span class="separ">|</span>
				<div class="pop" style="left: -26px;">
					<s></s>
					<p>扫码关注<img src="static/picture/15687067729028.jpg" width="150" height="150"></p>
				</div>
			</li>
			<li class="dropdown">
				<a href="javascript:;">快速发布<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff.html" target="_blank">新闻投稿</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff1.html" target="_blank">分类信息</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fc.html" target="_blank">发布房源</a>					<a href="login-https2F2Fihuoniao.cn2Fsz2F.html" target="_blank">发布活动</a>					<a href="login-https2F2Fihuoniao.cn2Fsz2F1.html" target="_blank">发布新贴</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff2.html" target="_blank">发起直播</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff3.html" target="_blank">发布投票</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff4.html" target="_blank">发布二手车</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff5.html" target="_blank">发布顺风车</a>				</div>
			</li>
			<li class="dropdown webmap">
				<a href="javascript:;">网站导航<i class="picon picon-down"></i></a>
				<div class="submenu">
					
					<a href="sfcar.html" style="">顺风车</a>
					
					<a href="article.html" style="">信息资讯</a>
					
					<a href="info.html" style="">二手信息</a>
					
					<a href="house.html" style="">房产门户</a>
					
					<a href="job.html" style="">招聘求职</a>
					
					<a href="tieba.html" style="">贴吧社区</a>
					
					<a href="circle.html" style="">圈子动态</a>
					
					<a href="shop.html" style="">在线商城</a>
					
					<a href="waimai.html" style="">美食外卖</a>
					
					<a href="list1.html" target="_blank" style="">小程序直播</a>
					
					<a href="live.html" style="">视频直播</a>
					
					<a href="tuan.html" style="">团购秒杀</a>
					
					<a href="business.html" target="_blank" style=" font-weight: 700;">火鸟商家</a>
					
					<a href="huodong.html" style="">同城活动</a>
					
					<a href="pension.html" style="">养老机构</a>
					
					<a href="education.html" style="">教育培训</a>
					
					<a href="travel.html" style="">旅游频道</a>
					
					<a href="marry.html" style="">婚嫁频道</a>
					
					<a href="homemaking.html" style="">家政服务</a>
					
					<a href="car.html" style="">汽车门户</a>
					
					<a href="renovation.html" style="">装修门户</a>
					
					<a href="zhuanti.html" style="">拖拽专题</a>
					
					<a href="dating.html" style="">互动交友</a>
					
					<a href="paper.html" style="">电子报刊</a>
					
					<a href="jianzhan.html" style="">自助建站</a>
					
					<a href="huangye.html" style="">便民黄页</a>
					
					<a href="vote.html" style="">投票活动</a>
					
					<a href="jifen.html" style="">积分商城</a>
					
					<a href="quanjing.html" style="">VR全景</a>
					
					<a href="video.html" style="">视频频道</a>
					
					<a href="image.html" style="">图说资讯</a>
					
					<a href="javascript:;" target="_blank" style=" color: #00b0f0; font-weight: 700;">酷曼官网</a>
					
					<a href="login1.html" target="_blank" style="">休闲游戏</a>
					
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- 顶部信息 e -->
<script type="text/template" id="notLoginHtml">
	<div class="loginbefore fn-clear" id="navLoginAfter">
		<a href="https://ihuoniao.cn/register.html" class="regist">注册</a>
		<span class="fn-left">&nbsp;/&nbsp;</span>
		<span class="logint"><a href="https://ihuoniao.cn/login.html">登录</a></span>
		
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=qq" title="QQ快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/qq/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=alipay" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/alipay/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=wechat" title="微信快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/wechat/img/24.png" /></i></a>
				
				
				
				
				
				
				
				
	</div>
</script>

<!-- 导航 s-->
<div class="fixedwrap FestivalAD_header">
    <div class="fixedpane">
        <!-- head s -->
        <div class="wrap header fn-clear">
            <div class="logo">
                <a href="info.html" title="信息频道"><img src="static/picture/15694623356800.png" alt="信息频道"></a>
            </div>
            <div class="searchwrap y-linear">
                <div class="search">
                    <div class="type">
                        <dl>
                            <dt><a href="javascript:;" class="keytype">信息</a><em></em></dt>
                            <dd>
                                <a href="javascript:;" data-id="0" data-type="list" class="active">信息</a>
                                <a href="javascript:;" data-id="1" data-type="store_list">商家</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="FormBox">
                        <form action="https://ihuoniao.cn/sz/info/list.html" method="post" class="form">
							<input name="token" id="token" value="fefa9301295f028995b0193cc50a9a3707d6534e" type="hidden">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="输入您想搜索的关键词" value=""></div>
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="搜索">
                            </div>
                        </form>
                        <form action="https://ihuoniao.cn/sz/info/store_list.html" class="form fn-hide">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="输入您想搜索的关键词" value=""></div>
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="搜索">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="searchkey searchkeys">
                    <span>热门搜索：</span>
                    
                    <a href="#" target="_blank"><font color="#92d050">装修公司</font></a>
                    
                    <a href="#" target="_blank"><font color="#0070c0">实习生</font></a>
                    
                    <a href="#" target="_blank"><font color="#953734">充话费</font></a>
                    
                </div>
            </div>

            <div class="infobox">
                <a href="login-https2F2Fihuoniao.cn2Fu2Ff1.html" class="fbbox"><i class="ifabu"></i><span>发布信息</span></a>
            </div>
            <div class="kefu"><s><img src="static/picture/call.png"></s><p>客服热线</p>4003-333-333</div>
        </div>
        <!-- head e -->

        <div class="nav-con n-linear ">
            <div class="wrap fn-clear">
                <div class="all_cate all_cate3"><span>所有分类</span>
                    <div class="b-main" id="navlist_wrap">
                      <div class="NavList">
                        <ul>
                            
    							    								<li>
    									<a href="list-1.html" class="name">手机通讯</a>
    									<i class="arrow"></i>
    									    									
    										    											<a href="list-2.html" class="item">手机</a>
    										    									
    										    											<a href="list-3.html" class="item">通讯数据</a>
    										    									
    									<div class="sub-category">
    										<dl>
    											<dt><h2 class="title"><a href="list-1.html">手机通讯</a></h2></dt>
    											<dd class="fn-clear">
    												<div class="subitem">
    													
    													<a href="list-2.html">手机</a>
    													
    													<a href="list-3.html">通讯数据</a>
    													
    												</div>
    											</dd>
    										</dl>
    									</div>
    								</li>
    							    						
    							    								<li>
    									<a href="list-4.html" class="name">摩托电动</a>
    									<i class="arrow"></i>
    									    									
    										    											<a href="list-5.html" class="item">摩托车</a>
    										    									
    										    											<a href="list-6.html" class="item">电动车</a>
    										    									
    										    											<a href="list-78.html" class="item">自行车</a>
    										    									
    										    											<a href="list-79.html" class="item">三轮车</a>
    										    									
    										    											<a href="list-80.html" class="item">配件/装备</a>
    										    									
    									<div class="sub-category">
    										<dl>
    											<dt><h2 class="title"><a href="list-4.html">摩托电动</a></h2></dt>
    											<dd class="fn-clear">
    												<div class="subitem">
    													
    													<a href="list-5.html">摩托车</a>
    													
    													<a href="list-6.html">电动车</a>
    													
    													<a href="list-78.html">自行车</a>
    													
    													<a href="list-79.html">三轮车</a>
    													
    													<a href="list-80.html">配件/装备</a>
    													
    												</div>
    											</dd>
    										</dl>
    									</div>
    								</li>
    							    						
    							    								<li>
    									<a href="list-7.html" class="name">电脑数码</a>
    									<i class="arrow"></i>
    									    									
    										    											<a href="list-8.html" class="item">电脑</a>
    										    									
    										    											<a href="list-9.html" class="item">笔记本</a>
    										    									
    										    											<a href="list-123.html" class="item">平板电脑</a>
    										    									
    										    											<a href="list-124.html" class="item">硬件</a>
    										    									
    										    											<a href="list-151.html" class="item">外设周边</a>
    										    									
    										    											<a href="list-125.html" class="item">数码产品</a>
    										    									
    										    											<a href="list-126.html" class="item">数码相机</a>
    										    									
    										    											<a href="list-127.html" class="item">MP3/MP4</a>
    										    									
    										    											<a href="list-128.html" class="item">游戏机</a>
    										    									
    									<div class="sub-category">
    										<dl>
    											<dt><h2 class="title"><a href="list-7.html">电脑数码</a></h2></dt>
    											<dd class="fn-clear">
    												<div class="subitem">
    													
    													<a href="list-8.html">电脑</a>
    													
    													<a href="list-9.html">笔记本</a>
    													
    													<a href="list-123.html">平板电脑</a>
    													
    													<a href="list-124.html">硬件</a>
    													
    													<a href="list-151.html">外设周边</a>
    													
    													<a href="list-125.html">数码产品</a>
    													
    													<a href="list-126.html">数码相机</a>
    													
    													<a href="list-127.html">MP3/MP4</a>
    													
    													<a href="list-128.html">游戏机</a>
    													
    												</div>
    											</dd>
    										</dl>
    									</div>
    								</li>
    							    						
    							    								<li>
    									<a href="list-10.html" class="name">家电家具</a>
    									<i class="arrow"></i>
    									    									
    										    											<a href="list-11.html" class="item">空调</a>
    										    									
    										    											<a href="list-12.html" class="item">电视机</a>
    										    									
    										    											<a href="list-181.html" class="item">洗衣机</a>
    										    									
    										    											<a href="list-182.html" class="item">冰箱</a>
    										    									
    										    											<a href="list-183.html" class="item">冰柜</a>
    										    									
    										    											<a href="list-184.html" class="item">床品床垫</a>
    										    									
    										    											<a href="list-185.html" class="item">家具家居</a>
    										    									
    									<div class="sub-category">
    										<dl>
    											<dt><h2 class="title"><a href="list-10.html">家电家具</a></h2></dt>
    											<dd class="fn-clear">
    												<div class="subitem">
    													
    													<a href="list-11.html">空调</a>
    													
    													<a href="list-12.html">电视机</a>
    													
    													<a href="list-181.html">洗衣机</a>
    													
    													<a href="list-182.html">冰箱</a>
    													
    													<a href="list-183.html">冰柜</a>
    													
    													<a href="list-184.html">床品床垫</a>
    													
    													<a href="list-185.html">家具家居</a>
    													
    												</div>
    											</dd>
    										</dl>
    									</div>
    								</li>
    							    						
    							    								<li>
    									<a href="list-13.html" class="name">母婴玩具</a>
    									<i class="arrow"></i>
    									    									
    										    											<a href="list-14.html" class="item">母婴用品</a>
    										    									
    										    											<a href="list-15.html" class="item">婴幼用品</a>
    										    									
    										    											<a href="list-218.html" class="item">奶粉/喂养</a>
    										    									
    										    											<a href="list-219.html" class="item">童床童车</a>
    										    									
    										    											<a href="list-220.html" class="item">孕妈用品</a>
    										    									
    									<div class="sub-category">
    										<dl>
    											<dt><h2 class="title"><a href="list-13.html">母婴玩具</a></h2></dt>
    											<dd class="fn-clear">
    												<div class="subitem">
    													
    													<a href="list-14.html">母婴用品</a>
    													
    													<a href="list-15.html">婴幼用品</a>
    													
    													<a href="list-218.html">奶粉/喂养</a>
    													
    													<a href="list-219.html">童床童车</a>
    													
    													<a href="list-220.html">孕妈用品</a>
    													
    												</div>
    											</dd>
    										</dl>
    									</div>
    								</li>
    							    						
    							    								<li>
    									<a href="list-16.html" class="name">服装配饰</a>
    									<i class="arrow"></i>
    									    									
    										    											<a href="list-17.html" class="item">服装配饰</a>
    										    									
    										    											<a href="list-18.html" class="item">服装</a>
    										    									
    										    											<a href="list-266.html" class="item">鞋</a>
    										    									
    										    											<a href="list-274.html" class="item">箱包</a>
    										    									
    									<div class="sub-category">
    										<dl>
    											<dt><h2 class="title"><a href="list-16.html">服装配饰</a></h2></dt>
    											<dd class="fn-clear">
    												<div class="subitem">
    													
    													<a href="list-17.html">服装配饰</a>
    													
    													<a href="list-18.html">服装</a>
    													
    													<a href="list-266.html">鞋</a>
    													
    													<a href="list-274.html">箱包</a>
    													
    												</div>
    											</dd>
    										</dl>
    									</div>
    								</li>
    							    						
    							    								<li>
    									<a href="list-19.html" class="name">美容保健</a>
    									<i class="arrow"></i>
    									    									
    										    											<a href="list-20.html" class="item">彩妆</a>
    										    									
    										    											<a href="list-293.html" class="item">面部护肤</a>
    										    									
    									<div class="sub-category">
    										<dl>
    											<dt><h2 class="title"><a href="list-19.html">美容保健</a></h2></dt>
    											<dd class="fn-clear">
    												<div class="subitem">
    													
    													<a href="list-20.html">彩妆</a>
    													
    													<a href="list-293.html">面部护肤</a>
    													
    												</div>
    											</dd>
    										</dl>
    									</div>
    								</li>
    							    						
    							    								<li>
    									<a href="list-22.html" class="name">上门安装</a>
    									<i class="arrow"></i>
    									    									
    										    											<a href="list-303.html" class="item">换锁开锁</a>
    										    									
    										    											<a href="list-304.html" class="item">家电维修</a>
    										    									
    										    											<a href="list-305.html" class="item">管道维修</a>
    										    									
    									<div class="sub-category">
    										<dl>
    											<dt><h2 class="title"><a href="list-22.html">上门安装</a></h2></dt>
    											<dd class="fn-clear">
    												<div class="subitem">
    													
    													<a href="list-303.html">换锁开锁</a>
    													
    													<a href="list-304.html">家电维修</a>
    													
    													<a href="list-305.html">管道维修</a>
    													
    												</div>
    											</dd>
    										</dl>
    									</div>
    								</li>
    							    						
    							    								<li>
    									<a href="list-25.html" class="name">上门医护</a>
    									<i class="arrow"></i>
    									    									
    										    											<a href="list-26.html" class="item">游泳用品</a>
    										    									
    										    											<a href="list-27.html" class="item">瑜伽用品</a>
    										    									
    									<div class="sub-category">
    										<dl>
    											<dt><h2 class="title"><a href="list-25.html">上门医护</a></h2></dt>
    											<dd class="fn-clear">
    												<div class="subitem">
    													
    													<a href="list-26.html">游泳用品</a>
    													
    													<a href="list-27.html">瑜伽用品</a>
    													
    												</div>
    											</dd>
    										</dl>
    									</div>
    								</li>
    							    						
    							    								<li>
    									<a href="list-34.html" class="name">保姆月嫂</a>
    									<i class="arrow"></i>
    									    									
    										    											<a href="list-35.html" class="item">国内旅游</a>
    										    									
    										    											<a href="list-36.html" class="item">国外旅游</a>
    										    									
    										    											<a href="list-37.html" class="item">本地一日旅游</a>
    										    									
    									<div class="sub-category">
    										<dl>
    											<dt><h2 class="title"><a href="list-34.html">保姆月嫂</a></h2></dt>
    											<dd class="fn-clear">
    												<div class="subitem">
    													
    													<a href="list-35.html">国内旅游</a>
    													
    													<a href="list-36.html">国外旅游</a>
    													
    													<a href="list-37.html">本地一日旅游</a>
    													
    												</div>
    											</dd>
    										</dl>
    									</div>
    								</li>
    							    						

                            <li><a href="list.html" class="name">更多分类</a></li>

                        </ul>
                      </div>
                  </div>
                </div>
                <ul class="fn-clear nav_ul">
                    <li class="active"><a href="info.html">首页</a></li>
                    <li><a href="list.html">最新信息</a></li>
                    <li><a href="store_list.html">商家店铺</a></li>
                    <li><a href="business1.html" target="_blank">同城交易</a></li>
                    <li><a href="job.html" target="_blank">招聘求职</a></li>                    <li><a href="zu.html" target="_blank">租房</a></li>                </ul>
                <div class="boxRight">
                    <a href="jifen.html" target="_blank"><i class="igifs"></i>礼品兑换</a>                    <a href="login-https2F2Fihuoniao.cn2Fu2Fq.html" target="_blank"><i class="iqd"></i>今日签到</a>                </div>
            </div>
        </div>

    </div>
</div>

<!-- 导航 e-->

<div class="main_wrap">
	<div class="wrap crumbs fn-clear">
        <div class="cont">
            <span>您的位置：</span>
            <a href="info.html">信息频道</a>
            <s></s>
            个人店铺
        </div>

    </div>
	<div class="wrap home_wrap fn-clear">
		<div class="sale-detail fn-clear fn-left">
			<div class="new_content  con-tit" id="new_content3">
            	<h2 class="fabu_tit"><span>TA 发布的信息</span></h2>
	 			<ul class="list_ul">

		            

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-82.html">
								<img src="static/picture/15181419724343.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-82.html">虹越园艺家 庭院阳台花卉盆栽 八仙花绣球 无尽夏 1加仑盆栽苗</a></h2>
		                    <p class="tip">颜色分类:&nbsp;无尽夏“1加仑” 1盆入植物品种:&nbsp;绣球花适用空间:&nbsp;阳台 庭院 楼顶功能:&nbsp;美观开花季节:&nbsp;夏季植物类别:&nbsp;木本花卉难易程度:&nbsp;非</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-09</span> / <span>吴中 - 胥口镇</span> </p>
		                    </div>
							<p class="new_icon">游泳用品</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>29</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-62.html">
								<img src="static/picture/15180825267418.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-62.html">爆亮nec-np530索尼ex130</a></h2>
		                    <p class="tip">天津惠众--投影的二手进口机子，均为一手货源，保证机况光路液晶绝对无任何老化现象，担心机子是不是返修机的朋友，放120个心，别说返修机，就是正常的机子，机况差点的，咱</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-08</span> / <span>工业园区 - 胜浦镇</span> </p>
		                    </div>
							<p class="new_icon">彩妆</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>998</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-90.html">
								<img src="static/picture/15181442877564.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-90.html">秀禾服新娘2017新款结婚中式礼服拖尾婚纱复古长袖敬酒服龙凤褂</a></h2>
		                    <p class="tip">款式:&nbsp;长旗袍开衩高度:&nbsp;无开衩袖长:&nbsp;长袖襟形:&nbsp;直襟面料:&nbsp;锦缎颜色分类:&nbsp;红色拖尾 红色齐地尺码:&nbsp;XXL码 S M L XL上市年份季节</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-09</span> / <span>工业园区 - 湖东</span> </p>
		                    </div>
							<p class="new_icon">瑜伽用品</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>578</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-87.html">
								<img src="static/picture/15181428517284.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-87.html">12寸棉麻布面照片书制作周年生日情侣儿童旅游写真纪念册相册定制</a></h2>
		                    <p class="tip">品牌:&nbsp;惊囍印品照片服务类型:&nbsp;其他颜色分类:&nbsp;米白色 浅灰色尺寸:&nbsp;其它页数:&nbsp;24 28以上</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-09</span> / <span>吴中 - 郭巷</span> </p>
		                    </div>
							<p class="new_icon">瑜伽用品</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>186</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-86.html">
								<img src="static/picture/15181426195043.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-86.html">情侣照片书定制影集相册纪念册送女生男生闺蜜创意生日情人节礼物</a></h2>
		                    <p class="tip">品牌:&nbsp;爱卡堂照片服务类型:&nbsp;电子/DIY相册颜色分类:&nbsp;A4竖版(21X30cm) A4竖版(21X30cm)+设计服务尺寸:&nbsp;其它相册内页类型:&nbsp;混合式装订方式:&</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-09</span> / <span>吴中 - 车坊镇</span> </p>
		                    </div>
							<p class="new_icon">瑜伽用品</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>138</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-85.html">
								<img src="static/picture/15181424198992.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-85.html">手提花篮玫瑰绣球混搭开业花篮鲜花</a></h2>
		                    <p class="tip">适用节日:&nbsp;情人节&nbsp;圣诞节&nbsp;3.8妇女节&nbsp;母亲节&nbsp;教师节&nbsp;七夕鲜花绿植工艺:&nbsp;鲜花(鲜切花)鲜花规格(直径X高):&nbsp;25*15花束辅材:&nbsp;黄</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-09</span> / <span>吴中 - 越溪</span> </p>
		                    </div>
							<p class="new_icon">游泳用品</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>248</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-84.html">
								<img src="static/picture/15181422425329.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-84.html">格拉斯小屋绿植多肉植物组合盆栽园艺花卉办公新手套餐含盆带灯盆</a></h2>
		                    <p class="tip">植物品种:&nbsp;多肉组合盆栽适用空间:&nbsp;办公桌 客厅功能:&nbsp;吸甲醛 防辐射开花季节:&nbsp;无难易程度:&nbsp;非常容易是否含花盆:&nbsp;含盆货号:&nbsp;格拉斯多肉套</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-09</span> / <span>吴中 - 藏书镇</span> </p>
		                    </div>
							<p class="new_icon">游泳用品</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>89</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-81.html">
								<img src="static/picture/15181418771747.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-81.html">虹越园艺家爬藤本月季 粉龙 龙沙宝石1.5年嫁接6L花卉盆栽苗包邮</a></h2>
		                    <p class="tip">颜色分类:&nbsp;龙沙宝石 6L盆栽苗*单盆入植物品种:&nbsp;月季适用空间:&nbsp;庭院 楼顶功能:&nbsp;美观开花季节:&nbsp;春季植物类别:&nbsp;攀援花卉难易程度:&nbsp;一般是</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-09</span> / <span>吴中 - 甪直镇</span> </p>
		                    </div>
							<p class="new_icon">游泳用品</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>108</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-65.html">
								<img src="static/picture/15180832808290.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-65.html">老板桌办公桌简约现代总裁桌椅大气组合时尚家具单人皮桌子大班台</a></h2>
		                    <p class="tip">颜色分类:&nbsp;1.6米咖啡色&nbsp;左右辅台请备注及联系客服同城服务:&nbsp;同城卖家送货上门风格:&nbsp;简约现代材质:&nbsp;钢木宽度:&nbsp;2.4是否带侧桌:&nbsp;是面板材</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-08</span> / <span>中江 - 积金镇</span> </p>
		                    </div>
							<p class="new_icon">彩妆</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>3867</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-64.html">
								<img src="static/picture/15180829184125.png" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-64.html"> 时尚办公家具办公桌老板桌简约现代新款大气大班台总裁桌主管桌椅</a></h2>
		                    <p class="tip">同城服务:&nbsp;同城卖家入户安装风格:&nbsp;简约现代包装重量:&nbsp;150包装尺寸:&nbsp;1.5材质:&nbsp;钢木宽度:&nbsp;2.4是否带侧桌:&nbsp;是面板材质:&nbsp;其他/other</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-08</span> / <span>工业园区 - 唯亭镇</span> </p>
		                    </div>
							<p class="new_icon">彩妆</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>4292</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-61.html">
								<img src="static/picture/15180823418347.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-61.html">大气工业风 老板桌办公桌 经理总裁家具桌椅组合现代简约</a></h2>
		                    <p class="tip">高效办公灵活布线丰富收纳</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-08</span> / <span>中江 - 积金镇</span> </p>
		                    </div>
							<p class="new_icon">彩妆</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>1880</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-89.html">
								<img src="static/picture/1518144098657.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-89.html">名门新娘婚纱礼服新娘2018新款 欧美拖尾 婚纱 公主梦幻婚纱991</a></h2>
		                    <p class="tip">尺码:&nbsp;S&nbsp;M&nbsp;L&nbsp;XL&nbsp;量身定做更合身上市年份/季节:&nbsp;2017年夏季风格:&nbsp;公主服装款式细节:&nbsp;花朵花朵:&nbsp;手工花面料:&nbsp;欧根纱</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-09</span> / <span>吴中 - 香山</span> </p>
		                    </div>
							<p class="new_icon">瑜伽用品</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>1380</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            					<li class="fn-clear">
											<div class="left_b">
							<a href="detail-63.html">
								<img src="static/picture/15180830271070.jpg" alt="">
															</a>
						</div>
		                <div class="mid_b">
		                    <h2 class="new_title"><a href="detail-63.html">爱普生Epson墨仓式L360办公家用正品彩色喷墨一体机扫描打印复印</a></h2>
		                    <p class="tip">3C规格型号：L351 (开发型号:C462H), L353 (开发型号:C462H), L211(开发型 号:C...产品名称：Epson/爱普生 L360品牌:&nbsp;Epson/爱普生爱普生型号:&nbsp;L36</p>
		                    <div class="new_info fn-clear">
		                        <p class="news_time">发布于 <span>2018-02-08</span> / <span>工业园区 - 娄葑镇</span> </p>
		                    </div>
							<p class="new_icon">彩妆</p>
		                </div>
		                <div class="right_b">
		                    							<p class="new_price"><em> ¥ </em><strong>1029</strong><em>.00</em></p>
		                </div>

		            </li>
		           

		            
		        </ul>
		        
		    </div>
		</div>
		<div class="topbox fn-right">
			<div class="storeInfo fn-clear">

				<div class="headImg">
					<img src="static/picture/15138464606076.jpg" alt="">
				</div>
				<h3 class="info_title">处女座的双鱼</h3>
				<div class="colbox storebox">
										<a href="javascript:;" class="btn_gz"><i></i>关注</a>
									</div>
				<div class="st_tab fn-clear">
					<div class="rbox rbinfo">
						<a href="javascript:;">
							<p><b>7</b></p>
							<p>信息</p>
						</a>
					</div>
					<div class="line"></div>
					<div class="rbox rbcare">
						<a href="javascript:;">

							<p><b>0</b></p>
							<p>关注</p>
						</a>
					</div>
					<div class="line"></div>
					<div class="rbox rbfans">
						<a href="javascript:;">
							<p><b>9</b></p>
							<p>粉丝</p>
						</a>
					</div>
				</div>
				<ul class="info_ul">
					<li class="call">
							                    <a href="login.html" class="c_tel">
	                       <i></i>
	                        <div class="phone_info">
	                            <p class="phone_num">181****2289</p>
	                            <p class="see_num">登录查看完整电话</p>
	                        </div>
	                    </a>
							                </li>
	                <li class="contact"><a href="javascript:;" class="chat_to-Link" data-type="user"><i></i>和我联系</a></li>

	            </ul>
			</div>
			<div class="contactInfo">
				<h2 class="con_title"><span>联系方式</span></h2>
				<ul class="con_ul">
										<li><span>Q　　 Q：</span><span><a href="javascript:;">444719203</a></span></li>
										<li><span>所在区域：</span><span class="add_span"></span></li>
				</ul>
			</div>

		</div>
	</div>


</div>

<div class="footer white">
  <div class="wrap">
        <div class="friendlink">
      <h5>友情链接</h5>      
      <ul class="fn-clear">
        
        <li><a href="javascript:;" target="_blank" title="今题网">今题网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="爱威海分类信息网">爱威海分类信息网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="客集齐网">客集齐网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="搜易分类信息网">搜易分类信息网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="小百姓网">小百姓网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="列举网">列举网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="久久信息网">久久信息网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="2018信息网">2018信息网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="娃酷网">娃酷网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="天下信息网">天下信息网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="列表网">列表网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="赶驴网">赶驴网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="置顶吧网">置顶吧网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="酷易搜">酷易搜</a></li>
        
        <li><a href="javascript:;" target="_blank" title="快点8">快点8</a></li>
        
        <li><a href="javascript:;" target="_blank" title="分类168网">分类168网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="城际分类网">城际分类网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="百姓网">百姓网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="赶集网">赶集网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="58同城">58同城</a></li>
        
      </ul>
    </div>
        <div class="help fn-clear">
      <div class="helplist">
        <dl>
          <dt>关于我们</dt>     
          
          <dd><a href="about-1.html" target="_blank">网站介绍</a></dd>
          
          <dd><a href="about-2.html" target="_blank">关于我们</a></dd>
          
          <dd><a href="about-3.html" target="_blank">服务条款</a></dd>
          
          <dd><a href="about-4.html" target="_blank">广告服务</a></dd>
          
          <dd><a href="feedback.html" target="_blank">意见反馈</a></dd>     
        </dl>
        
        <dl>
          <dt>常见问题<s></s></dt>
          
          <dd><a href="help-2.html" target="_blank" title="账户类">账户类</a></dd>
          
          <dd><a href="help-3.html" target="_blank" title="购物类">购物类</a></dd>
          
          <dd><a href="help-4.html" target="_blank" title="款项类">款项类</a></dd>
          
          <dd><a href="help-5.html" target="_blank" title="配送类">配送类</a></dd>
          
        </dl>
        
        <dl>
          <dt>订单百事通<s></s></dt>
          
          <dd><a href="help-11.html" target="_blank" title="提交订单">提交订单</a></dd>
          
          <dd><a href="help-12.html" target="_blank" title="订单查询">订单查询</a></dd>
          
          <dd><a href="help-13.html" target="_blank" title="订单取消">订单取消</a></dd>
          
          <dd><a href="help-15.html" target="_blank" title="订单异常">订单异常</a></dd>
          
          <dd><a href="help-14.html" target="_blank" title="交易纠纷">交易纠纷</a></dd>
          
        </dl>
        
        <dl>
          <dt>购物指南<s></s></dt>
          
          <dd><a href="help-16.html" target="_blank" title="交易条款">交易条款</a></dd>
          
          <dd><a href="help-17.html" target="_blank" title="促销咨询">促销咨询</a></dd>
          
          <dd><a href="help-18.html" target="_blank" title="购物流程">购物流程</a></dd>
          
          <dd><a href="help-19.html" target="_blank" title="商品咨询">商品咨询</a></dd>
          
        </dl>
        
        <dl>
          <dt>支付及发票<s></s></dt>
          
          <dd><a href="help-20.html" target="_blank" title="支付流程">支付流程</a></dd>
          
          <dd><a href="help-21.html" target="_blank" title="在线支付">在线支付</a></dd>
          
          <dd><a href="help-22.html" target="_blank" title="公司转账">公司转账</a></dd>
          
          <dd><a href="help-23.html" target="_blank" title="支票支付">支票支付</a></dd>
          
        </dl>
        
        <dl>
          <dt>售后服务<s></s></dt>
          
          <dd><a href="help-24.html" target="_blank" title="售后政策（自营）">售后政策（自营）</a></dd>
          
          <dd><a href="help-25.html" target="_blank" title="售后政策（卖家）">售后政策（卖家）</a></dd>
          
          <dd><a href="help-26.html" target="_blank" title="返修/退换货申请">返修/退换货申请</a></dd>
          
          <dd><a href="help-27.html" target="_blank" title="商品返回">商品返回</a></dd>
          
          <dd><a href="help-28.html" target="_blank" title="退款说明">退款说明</a></dd>
          
        </dl>
        
      </div>
      <div class="qr">
        <div class="qr-img"><img src="static/picture/qrcode-httpsihuoniao.cn.jpg">移动版</div>     
        <div class="qr-img"><img src="static/picture/15687067729028.jpg">微信公众号</div>     
      </div>
    </div>
    <div class="copyright"><p style="text-align: center;">本站非实际运营网站，所载全部信息内容均仅作为软件系统功能测试之用，切勿当真！若有侵权，请即时联系：<a href="javascript:;" target="_self" textvalue="0512-67581578">0512-67581578</a><br>版权所有 © 2018 苏州酷曼软件技术有限公司. All rights reserved.&nbsp;</p><p style="text-align: center;"><a href="javascript:;" target="_blank">苏ICP备13047463号</a></p></div>
    <div class="statisticscode"></div>
  </div>
</div>


<div class="btntop">
  <a href="javascript:;" class="top" title="返回顶部"><img src="static/picture/gotop.png" alt=""></a>
</div>

<script type="text/javascript" src="static/js/common-1600133341.js"></script>

<script>
	var txt = $('.add_span').text();//获取地址值
</script>

<script type="text/javascript" src="static/js/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="static/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="static/js/public-1600133341.js"></script>
<script type="text/javascript" src="static/js/user-1600133341.js"></script>
</body>
</html>
<script>var cfg_currency = {"name":"\u4eba\u6c11\u5e01","short":"\u5143","symbol":"\u00a5","code":"RMB","rate":"1"};</script><!-- Processed in page load 0.113151 second(s), 300 queries ,0.018466 second(s) -->