    <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>用户登录-地方门户-门户网-火鸟门户系统官方演示站</title>

<link rel="stylesheet" type="text/css" href="static/css/base-1600133341.css" media="all">
<link rel="stylesheet" type="text/css" href="static/css/login-1600133341.css" media="all">
<script type="text/javascript" src="static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	var masterDomain = 'https://ihuoniao.cn', redirectUrl = 'https%3A%2F%2Fihuoniao.cn', site = '';
	var criticalPoint = 1240, criticalClass = "w1200";
	$("html").addClass($(window).width() > criticalPoint ? criticalClass : "");
  var geetest = 1;
</script>
</head>

<body>
<script type="text/javascript">var cookiePre = 'HN_', cfg_clihost = 'ihuoniao.cn', cfg_module = 'member',cfg_cityInfo = ''; </script>

<!-- 多语言 -->
<script src="static/js/zh-CN-1600133341.js"></script>

<!-- 顶部信息 s -->
<div class="topInfo">
	<div class="wrap fn-clear">
		<div class="loginbox">
									<div class="loginbefore fn-clear" id="navLoginAfter">
				<a href="register.html" class="regist">注册</a>
				<span class="fn-left">&nbsp;/&nbsp;</span>
				<span class="logint"><a href="">登录</a></span>
				
								<a class="loginconnect" href="show-Login_pc_code_101336457_htt.html" title="QQ快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-1600133341.png"></i></a>
								
								<a class="loginconnect" href="index-https2F2Fopenauth.alipay.c.html" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-16001333411.png"></i></a>
								
								<a class="loginconnect" href="login-wechat.html" title="微信快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-16001333412.png"></i></a>
								
								
								
								
								
								
								
								
			</div>
					</div>
		<ul class="menu topbarlink fn-clear">
			<li>
				<a href="index.html" style="color: #f60;">网站首页</a><span class="separ">|</span>
			</li>
			<li class="dropdown user">
				<a href="login-https2F2Fihuoniao.cn2Fu.html">会员中心<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="login-https2F2Fihuoniao.cn2Fu2Fo.html" target="_blank">我的订单</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fr.html" target="_blank">交易明细</a>
					<a href="login-https2F2Fihuoniao.cn2Fu2Fs.html" target="_blank">安全中心</a>
				</div>
			</li>
			<li><a href="mobile.html" target="_blank"><i class=""><img src="static/picture/public_top_icon_mobile.png"></i>手机站</a><span class="separ">|</span>
				<div class="pop">
					<s></s>
					<p>扫码访问<a href="mobile.html" target="_blank"><img src="static/picture/qrcode-httpsihuoniao.cn.jpg" width="150" height="150"></a></p>
				</div>
			</li>
			<li><a href="javascript:;"><i class=""><img src="static/picture/public_top_icon_wechat.png"></i>微信公众号</a><span class="separ">|</span>
				<div class="pop" style="left: -26px;">
					<s></s>
					<p>扫码关注<img src="static/picture/15687067729028.jpg" width="150" height="150"></p>
				</div>
			</li>
			<li class="dropdown">
				<a href="javascript:;">快速发布<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff.html" target="_blank">新闻投稿</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff1.html" target="_blank">分类信息</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fc.html" target="_blank">发布房源</a>					<a href="login-https2F2Fihuoniao.cn2Fhuod.html" target="_blank">发布活动</a>					<a href="login-https2F2Fihuoniao.cn2Ftieb.html" target="_blank">发布新贴</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff2.html" target="_blank">发起直播</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff3.html" target="_blank">发布投票</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff4.html" target="_blank">发布二手车</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff5.html" target="_blank">发布顺风车</a>				</div>
			</li>
			<li class="dropdown webmap">
				<a href="javascript:;">网站导航<i class="picon picon-down"></i></a>
				<div class="submenu">
					
					<a href="javascript:;" style="">顺风车</a>
					
					<a href="javascript:;" style="">信息资讯</a>
					
					<a href="javascript:;" style="">二手信息</a>
					
					<a href="javascript:;" style="">房产门户</a>
					
					<a href="javascript:;" style="">招聘求职</a>
					
					<a href="javascript:;" style="">贴吧社区</a>
					
					<a href="javascript:;" style="">圈子动态</a>
					
					<a href="javascript:;" style="">在线商城</a>
					
					<a href="javascript:;" style="">美食外卖</a>
					
					<a href="list1.html" target="_blank" style="">小程序直播</a>
					
					<a href="javascript:;" style="">视频直播</a>
					
					<a href="javascript:;" style="">团购秒杀</a>
					
					<a href="business.html" target="_blank" style=" font-weight: 700;">火鸟商家</a>
					
					<a href="javascript:;" style="">同城活动</a>
					
					<a href="javascript:;" style="">养老机构</a>
					
					<a href="javascript:;" style="">教育培训</a>
					
					<a href="javascript:;" style="">旅游频道</a>
					
					<a href="javascript:;" style="">婚嫁频道</a>
					
					<a href="javascript:;" style="">家政服务</a>
					
					<a href="javascript:;" style="">汽车门户</a>
					
					<a href="javascript:;" style="">装修门户</a>
					
					<a href="javascript:;" style="">拖拽专题</a>
					
					<a href="javascript:;" style="">互动交友</a>
					
					<a href="javascript:;" style="">电子报刊</a>
					
					<a href="javascript:;" style="">自助建站</a>
					
					<a href="javascript:;" style="">便民黄页</a>
					
					<a href="javascript:;" style="">投票活动</a>
					
					<a href="javascript:;" style="">积分商城</a>
					
					<a href="javascript:;" style="">VR全景</a>
					
					<a href="javascript:;" style="">视频频道</a>
					
					<a href="javascript:;" style="">图说资讯</a>
					
					<a href="javascript:;" target="_blank" style=" color: #00b0f0; font-weight: 700;">酷曼官网</a>
					
					<a href="login1.html" target="_blank" style="">休闲游戏</a>
					
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- 顶部信息 e -->
<script type="text/template" id="notLoginHtml">
	<div class="loginbefore fn-clear" id="navLoginAfter">
		<a href="https://ihuoniao.cn/register.html" class="regist">注册</a>
		<span class="fn-left">&nbsp;/&nbsp;</span>
		<span class="logint"><a href="https://ihuoniao.cn/login.html">登录</a></span>
		
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=qq" title="QQ快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/qq/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=alipay" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/alipay/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=wechat" title="微信快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/wechat/img/24.png" /></i></a>
				
				
				
				
				
				
				
				
	</div>
</script>


<!-- head s -->
<div class="wrap header fn-clear">
	<div class="logo">
		<a href="index.html" title="地方门户-门户网-火鸟门户系统官方演示站">
			<img src="static/picture/15687069614961.png" alt="地方门户-门户网-火鸟门户系统官方演示站">
			<div class="shortname"><h2>火鸟门户</h2><p>地方最大最全生活网</p></div>
		</a>
	</div>
	<dl class="kefu fn-clear">
		<dt><img src="static/picture/kf_tel.png" alt=""></dt>
		<dd>
			<p class="p1">客服热线</p>
			<p class="p2">0512-67581578</p>
		</dd>
	</dl>
</div>
<!-- head e -->
<!-- 登录外框 s -->
<div class="loginwrap">
	<div class="wrap">
		<div class="loginBG">
      <div class="siteAdvObj"><a href="javascript:;" style="cursor:default;"><img src="static/picture/15469365748249.jpg" width="1920" height="560" alt=""></a><div class="advMark pos3">广告</div></div>
    </div>
		<div class="formbox">
			<span class="ewmlogin"></span>
			<div class="saoma">
				<p class="title">手机扫码，安全登录</p>
				<div class="picbox">
					<div class="pic1" id="login_container"><iframe src="javascript:;" frameborder="0" scrolling="no" width="300px" height="350px"></iframe></div>
				</div>
			</div>
			<form action="" method="post" class="loginform">
				<input name="token" id="token" value="dbf63e6cc8700c2d6ae6b2636aafb7198d9298c2" type="hidden">
				<div class="login-container">
					<ul class="tab fn-clear">
						<li class="curr">普通登录</li>
						<li>短信登录</li>					</ul>
					<div class="main">
						<div class="error"><p>请输入登录帐号</p></div>
						<div class="item">
							<div class="form-row">
								<div class="inpbdr">
									<i class="lgicon iconuser"></i>
									<input type="text" class="inp username" id="loginuser" name="loginuser" placeholder="用户名/手机号码/邮箱">
									
								</div>
							</div>
							<div class="form-row">
								<div class="inpbdr">
									<i class="lgicon iconlock"></i>
									<input type="password" class="inp password" id="loginpass" name="loginpass" placeholder="密码">
									
								</div>
							</div>
													</div>
												<div class="item fn-hide">
							<div class="form-row">
								<div class="inpbdr">
									<span class="areaCode"><i>+86</i><s></s></span>
									<input type="text" class="inp phone" id="phone" name="phone" placeholder="手机号码">
								</div>
							</div>
							<div class="areaCode_wrap">
								<ul></ul>
							</div>
							<div class="form-row">
								<div class="inpbdr">
									<i class="lgicon iconlock"></i>
									<input type="text" class="inp vercode" id="vercode" name="vercode" placeholder="短信验证码">
									<button type="button" class="getCodes">获取验证码</button>
								</div>
							</div>
						</div>
												<div class="form-row btnwrap">
							<input type="submit" class="submit" value="登录">
						</div>
						<div class="otherdo fn-clear">
							<a href="register.html" class="goregister">免费注册，有惊喜></a>
							<a href="fpwd.html" class="fogetpsd">忘记密码？</a>
						</div>

					</div>

				</div>

				<!-- <div class="form-row"><div class="rememberpsd"><i class="lgicon iconcheck"></i>两周内自动登录</div></div> -->

				<div class="othertype">
					<p>合作网站账号登录：</p>
					
					<a href="show-Login_pc_code_101336457_htt.html" title="QQ快捷登录" class="loginconnect"><img src="static/picture/32-1600133341.png"></a>
					
					<a href="index-https2F2Fopenauth.alipay.c.html" title="支付宝快捷登录" class="loginconnect"><img src="static/picture/32-16001333411.png"></a>
					
					<a href="login-wechat.html" title="微信快捷登录" class="loginconnect"><img src="static/picture/32-16001333412.png"></a>
					
					<a href="javascript:;" title="Facebook快捷登录" class="loginconnect"><img src="static/picture/32-16001333413.png"></a>
					
					<a href="javascript:;" title="豆瓣快捷登录" class="loginconnect"><img src="static/picture/32-16001333414.png"></a>
					
					<a href="javascript:;" title="360快捷登录" class="loginconnect"><img src="static/picture/32-16001333415.png"></a>
					
					<a href="javascript:;" title="人人快捷登录" class="loginconnect"><img src="static/picture/32-16001333416.png"></a>
					
					<a href="javascript:;" title="新浪微博快捷登录" class="loginconnect"><img src="static/picture/32-16001333417.png"></a>
					
					<a href="javascript:;" title="百度快捷登录" class="loginconnect"><img src="static/picture/32-16001333418.png"></a>
					
					<a href="javascript:;" title="腾讯微博快捷登录" class="loginconnect"><img src="static/picture/32-16001333419.png"></a>
					
				</div>

			</form>
		</div>
	</div>
</div>
<!-- 登录外框 e -->

<div class="footer gray">
  <div class="wrap">
        <div class="help fn-clear">
      <div class="helplist">
        <dl>
          <dt>关于我们</dt>     
          
          <dd><a href="about-1.html" target="_blank">网站介绍</a></dd>
          
          <dd><a href="about-2.html" target="_blank">关于我们</a></dd>
          
          <dd><a href="about-3.html" target="_blank">服务条款</a></dd>
          
          <dd><a href="about-4.html" target="_blank">广告服务</a></dd>
          
          <dd><a href="feedback.html" target="_blank">意见反馈</a></dd>     
        </dl>
        
        <dl>
          <dt>常见问题<s></s></dt>
          
          <dd><a href="help-2.html" target="_blank" title="账户类">账户类</a></dd>
          
          <dd><a href="help-3.html" target="_blank" title="购物类">购物类</a></dd>
          
          <dd><a href="help-4.html" target="_blank" title="款项类">款项类</a></dd>
          
          <dd><a href="help-5.html" target="_blank" title="配送类">配送类</a></dd>
          
        </dl>
        
        <dl>
          <dt>订单百事通<s></s></dt>
          
          <dd><a href="help-11.html" target="_blank" title="提交订单">提交订单</a></dd>
          
          <dd><a href="help-12.html" target="_blank" title="订单查询">订单查询</a></dd>
          
          <dd><a href="help-13.html" target="_blank" title="订单取消">订单取消</a></dd>
          
          <dd><a href="help-15.html" target="_blank" title="订单异常">订单异常</a></dd>
          
          <dd><a href="help-14.html" target="_blank" title="交易纠纷">交易纠纷</a></dd>
          
        </dl>
        
        <dl>
          <dt>购物指南<s></s></dt>
          
          <dd><a href="help-16.html" target="_blank" title="交易条款">交易条款</a></dd>
          
          <dd><a href="help-17.html" target="_blank" title="促销咨询">促销咨询</a></dd>
          
          <dd><a href="help-18.html" target="_blank" title="购物流程">购物流程</a></dd>
          
          <dd><a href="help-19.html" target="_blank" title="商品咨询">商品咨询</a></dd>
          
        </dl>
        
        <dl>
          <dt>支付及发票<s></s></dt>
          
          <dd><a href="help-20.html" target="_blank" title="支付流程">支付流程</a></dd>
          
          <dd><a href="help-21.html" target="_blank" title="在线支付">在线支付</a></dd>
          
          <dd><a href="help-22.html" target="_blank" title="公司转账">公司转账</a></dd>
          
          <dd><a href="help-23.html" target="_blank" title="支票支付">支票支付</a></dd>
          
        </dl>
        
        <dl>
          <dt>售后服务<s></s></dt>
          
          <dd><a href="help-24.html" target="_blank" title="售后政策（自营）">售后政策（自营）</a></dd>
          
          <dd><a href="help-25.html" target="_blank" title="售后政策（卖家）">售后政策（卖家）</a></dd>
          
          <dd><a href="help-26.html" target="_blank" title="返修/退换货申请">返修/退换货申请</a></dd>
          
          <dd><a href="help-27.html" target="_blank" title="商品返回">商品返回</a></dd>
          
          <dd><a href="help-28.html" target="_blank" title="退款说明">退款说明</a></dd>
          
        </dl>
        
      </div>
      <div class="qr">
        <div class="qr-img"><img src="static/picture/qrcode-httpsihuoniao.cn.jpg">移动版</div>     
        <div class="qr-img"><img src="static/picture/15687067729028.jpg">微信公众号</div>     
      </div>
    </div>
    <div class="copyright"><p style="text-align: center;">本站非实际运营网站，所载全部信息内容均仅作为软件系统功能测试之用，切勿当真！若有侵权，请即时联系：<a href="javascript:;" target="_self" textvalue="0512-67581578">0512-67581578</a><br>版权所有 © 2018 苏州酷曼软件技术有限公司. All rights reserved.&nbsp;</p><p style="text-align: center;"><a href="javascript:;" target="_blank">苏ICP备13047463号</a></p></div>
    <div class="statisticscode"></div>
  </div>
</div>


<script type='text/javascript' src='static/js/zh-CN-1600133341.js'></script>
<script type="text/javascript" src="static/js/common-1600133341.js"></script>
<script type="text/javascript" src="static/js/login-1600133341.js"></script>
<script type="text/javascript" src="static/js/gt.js"></script></body>
</html>
<script>var cfg_currency = {"name":"\u4eba\u6c11\u5e01","short":"\u5143","symbol":"\u00a5","code":"RMB","rate":"1"};</script><!-- Processed in page load 0.388895 second(s), 133 queries ,0.006246 second(s) -->