    <!DOCTYPE html>
<html>
<head lang="en">
<meta charset="utf-8">
<title>地方门户-门户网-火鸟门户系统官方演示站</title>
<meta name="keywords" content="地方门户，门户网，多城市门户，综合信息门户，全国分站门户系统，地方门户网站系统，火鸟地方门户系统，火鸟门户，APP门户系统，小程序门户系统，微信门户系统">
<meta name="description" content="火鸟地方门户是一款功能强大的综合信息网站系统，APP、微信、小程序、H5、电脑五端同步，提供专业的定制化需求，开源不加密！">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="static/css/base-1600133341.css">
<link rel="stylesheet" type="text/css" href="static/css/idangerous.swiper.min.css">
<link rel="stylesheet" type="text/css" href="static/css/mobile.css">
<script type="text/javascript" src="static/js/jquery-1.9.0.min.js"></script>
</head>
<body>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide1">
      <div class="wrap">
        <div class="header fn-clear">
          <div class="logo"><a href="index.html" class="fn-clear"><img src="static/picture/15687069614961.png" alt=""><p>火鸟门户</p></a></div>
          <div class="nav fn-clear">
            <a href="index.html" class="active">网站首页</a>       
            <a href="login-https2F2Fihuoniao.cn2Fu.html" target="_blank">会员中心</a>       
            <a href="about.html" target="_blank">关于我们</a>       
            <a href="help.html" target="_blank">帮助中心</a>       
          </div>
        </div>
      </div>
      <div class="slideBox1">
        <div class="img-left">
          <img src="static/picture/slider1_img.png" alt="" class="slide1_img1">
        </div>
      </div>
      <div class="wrap">
        <div class="txt-right fn-right">
          <p class="title">地方生活门户网</p>       
          <p class="subtit">移动端全新升级</p>       
          <div class="codebox fn-clear">
            <div class="link fn-left">
              <a href="javascript:;" class="link-android"><span>安卓下载</span></a>  
              <a href="javascript:;" class="link-ios"><span>iphone下载</span></a> 
            </div>
            <div class="code fn-right"><img src="static/picture/qrcode-httpsihuoniao.cnmobile.ht.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <a href="javascript:;" class="swiper-button-next next-page"></a>
    </div>
    <div class="swiper-slide slide2">
      <div class="contain2">
        <div class="slideBox2">
          <div class="img-left">
            <img src="static/picture/slider2_img.png" alt="" class="slide2-img1">
            <img src="static/picture/slider2_tag1.png" alt="" class="slide2-img2">
            <img src="static/picture/slider2_tag2.png" alt="" class="slide2-img3">
            <img src="static/picture/slider2_tag3.png" alt="" class="slide2-img4">
          </div>
        </div>
        <div class="wrap">
          <div class="txt-right fn-right">
            <p class="title">社区新升级</p>   
            <div class="txtbox">
              <p class="subtit subtit1">支持语音秒发</p>   
              <p class="subtit subtit2">小视频拍摄长达30秒</p>   
              <p class="subtit subtit3">新增帖子打赏功能</p>    
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide slide3">
      <div class="contain2">
        <div class="wrap">
          <div class="txt-left fn-left">
            <p class="title">二手市场</p>   
            <div class="txtbox">
              <p class="subtit subtit1">闲置二手物品竞价推广</p>   
              <p class="subtit subtit2">免费发布二手信息</p>   
              <p class="subtit subtit3">同城圈</p>   
            </div>
          </div>
        </div>
        <div class="slideBox3">
          <div class="img-right">
            <img src="static/picture/slider3_img.png" alt="" class="slide3-img1">
            <img src="static/picture/slider3_tag1.png" alt="" class="slide3-img2">
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide slide4">
      <div class="wrap">
        <p class="title">生活门户功能一网打尽</p>   
        <ul class="siteModule fn-clear">
          
          <li><img src="static/picture/sfcar-1.png" alt=""><p>顺风车</p></li>
          
          <li><img src="static/picture/article-1.png" alt=""><p>信息资讯</p></li>
          
          <li><img src="static/picture/info-1.png" alt=""><p>二手信息</p></li>
          
          <li><img src="static/picture/house-1.png" alt=""><p>房产门户</p></li>
          
          <li><img src="static/picture/job-1.png" alt=""><p>招聘求职</p></li>
          
          <li><img src="static/picture/tieba-1.png" alt=""><p>贴吧社区</p></li>
          
          <li><img src="static/picture/circle-1.png" alt=""><p>圈子动态</p></li>
          
          <li><img src="static/picture/shop-1.png" alt=""><p>在线商城</p></li>
          
          <li><img src="static/picture/waimai-1.png" alt=""><p>美食外卖</p></li>
          
          <li><img src="static/picture/live-1.png" alt=""><p>视频直播</p></li>
          
          <li><img src="static/picture/tuan-1.png" alt=""><p>团购秒杀</p></li>
          
          <li><img src="static/picture/huodong-1.png" alt=""><p>同城活动</p></li>
          
          <li><img src="static/picture/pension-1.png" alt=""><p>养老机构</p></li>
          
          <li><img src="static/picture/education-1.png" alt=""><p>教育培训</p></li>
          
          <li><img src="static/picture/travel-1.png" alt=""><p>旅游频道</p></li>
          
          <li><img src="static/picture/marry-1.png" alt=""><p>婚嫁频道</p></li>
          
          <li><img src="static/picture/homemaking-1.png" alt=""><p>家政服务</p></li>
          
          <li><img src="static/picture/car-1.png" alt=""><p>汽车门户</p></li>
          
          <li><img src="static/picture/renovation-1.png" alt=""><p>装修门户</p></li>
          
          <li><img src="static/picture/special-1.png" alt=""><p>拖拽专题</p></li>
          
          <li><img src="static/picture/dating-1.png" alt=""><p>互动交友</p></li>
          
          <li><img src="static/picture/paper-1.png" alt=""><p>电子报刊</p></li>
          
          <li><img src="static/picture/website-1.png" alt=""><p>自助建站</p></li>
          
          <li><img src="static/picture/huangye-1.png" alt=""><p>便民黄页</p></li>
          
          <li><img src="static/picture/vote-1.png" alt=""><p>投票活动</p></li>
          
          <li><img src="static/picture/integral-1.png" alt=""><p>积分商城</p></li>
          
          <li><img src="static/picture/quanjing-1.png" alt=""><p>VR全景</p></li>
          
          <li><img src="static/picture/video-1.png" alt=""><p>视频频道</p></li>
          
          <li><img src="static/picture/image-1.png" alt=""><p>图说资讯</p></li>
          
        </ul>
      </div>
    </div>
    <div class="swiper-slide slide5">
      <div class="contain5">
        <div class="wrap">
          <div class="slideBox5">
            <div class="img-left">
              <img src="static/picture/slider5_img1.png" alt="" class="slide5-img1">
            </div>
          </div>
          <div class="txt-right fn-right">
            <p class="title">房产分类更全面</p>   
            <div class="txtbox">
              <p class="subtit">总有一款适合你</p>   
            </div>
            <div class="icon_box">
              <div class="icon_item icon_1"><img src="static/picture/slider5_tag1.png" alt=""><p>二手房</p></div>   
              <div class="icon_item icon_2"><img src="static/picture/slider5_tag3.png" alt=""><p>租房</p></div>   
              <div class="icon_item icon_3"><img src="static/picture/slider5_tag2.png" alt=""><p>商铺</p></div>   
              <div class="icon_item icon_4"><img src="static/picture/slider5_tag4.png" alt=""><p>写字楼</p></div>   
              <div class="icon_item icon_5"><img src="static/picture/slider5_tag5.png" alt=""><p>厂房</p></div>   
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide slide6">
      <div class="contain6">
        <div class="wrap">
          <div class="txt-left fn-left">
            <p class="title">便民工具</p>     
            <div class="txtbox">
              <p class="subtit">让出行  更方便</p>    
            </div>
            <div class="plane"><img src="static/picture/slider6_img2.png" alt=""></div>
            <div class="icon_box fn-clear">
              <div class="icon_item"><img src="static/picture/slider6_tag1.png" alt=""><p>火车票</p></div>     
              <div class="icon_item"><img src="static/picture/slider6_tag2.png" alt=""><p>汽车票</p></div>     
              <div class="icon_item"><img src="static/picture/slider6_tag3.png" alt=""><p>水费</p></div>     
              <div class="icon_item"><img src="static/picture/slider6_tag4.png" alt=""><p>电费</p></div>     
              <div class="icon_item"><img src="static/picture/slider6_tag5.png" alt=""><p>天然气</p></div>     
              <div class="icon_item"><img src="static/picture/slider6_tag6.png" alt=""><p>话费充值</p></div>     
              <div class="icon_item"><img src="static/picture/slider6_tag7.png" alt=""><p>流量充值</p></div>     
            </div>
          </div>
        </div>
        <div class="slideBox6">
          <div class="img-right">
            <img src="static/picture/slider6_img1.png" alt="" class="slide6-img1">
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide slide7">
      <div class="wrap">
        <div class="slideBox7">
          <div class="img-left">
            <img src="static/picture/slider7_img1.png" alt="" class="slide7-img1">
            <img src="static/picture/slider7_img2.png" alt="" class="slide7-img2">
            <img src="static/picture/slider7_img3.png" alt="" class="slide7-img3">
          </div>
          <div class="txt-right fn-right">
            <p class="title">约播&nbsp;&nbsp;&nbsp;让你我更亲近</p>       
            <div class="txtbox">
              <p class="subtit subtit1">直播打赏</p>      
              <p class="subtit subtit2">秒拍视频段子</p>      
              <p class="subtit subtit3">线上及线下发起邀约</p>      
            </div>
          </div>
        </div>
      </div>
      <a href="javascript:;" class="bonus"><img src="static/picture/slider7_tag1.png" alt=""></a>
      <div class="footer">
        <p style="text-align: center;">本站非实际运营网站，所载全部信息内容均仅作为软件系统功能测试之用，切勿当真！若有侵权，请即时联系：<a href="javascript:;" target="_self" textvalue="0512-67581578">0512-67581578</a><br>版权所有 © 2018 苏州酷曼软件技术有限公司. All rights reserved.&nbsp;</p><p style="text-align: center;"><a href="javascript:;" target="_blank">苏ICP备13047463号</a></p><br>
      </div>
    </div>
  </div>
</div>
<div class="pagination"></div>

<script src="static/js/idangerous.swiper.min.js"></script>
<script type="text/javascript" src="static/js/mobile.js"></script>
</body>
</html>
<script>var cfg_currency = {"name":"\u4eba\u6c11\u5e01","short":"\u5143","symbol":"\u00a5","code":"RMB","rate":"1"};</script><!-- Processed in page load 0.308875 second(s), 52 queries ,0.004207 second(s) -->