    <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>外卖频道</title>

<link rel="stylesheet" type="text/css" href="static/css/base-1600133341.css" media="all">
<link rel="stylesheet" href="static/css/common-16001333412.css">
<link rel="stylesheet" href="static/css/index-16001333419.css">
<script type="text/javascript" src="static/js/jquery-1.8.3.min.js"></script>
<script>
  var masterDomain = 'https://ihuoniao.cn', channelDomain = 'https://ihuoniao.cn/sz/waimai', templatePath = 'https://ihuoniao.cn/templates/waimai/skin2/';
  var hideFileUrl = 0;
  </script>
</head>
<body class="w1200">
<script type="text/javascript">var cookiePre = 'HN_', cfg_clihost = 'ihuoniao.cn', cfg_module = 'waimai',cfg_cityInfo = '{"cityid":"166","name":"\u82cf\u5dde","pinyin":"suzhou","url":"https:\/\/ihuoniao.cn\/sz","domain":"sz","type":"2","default":"1","count":72}'; </script>

<!-- 多语言 -->
<script src="static/js/zh-CN-1600133341.js"></script>

<!-- 顶部信息 s -->
<div class="topInfo">
	<div class="wrap fn-clear">
		<div class="loginbox">
						<span class="siteCityInfo">苏州</span>
			<span class="changeCityBtn">
				「<a href="javascript:;">切换城市</a>」      
				<div class="changeCityList">
					<p class="setwidth"></p>
					<div class="boxpd">
						<div class="sj"><i></i></div>
						<div class="box">
							<div class="content fn-clear">
								<p class="tit">请选择您所在的城市：</p>      
								<ul></ul>
				      		</div>
				      <div class="morecontent fn-hide">
								<dl class="hot">
									<dt>热门</dt>      
									<dd></dd>
								</dl>
								<div class="more">
									<dl class="pytit">
										<dt>城市</dt>      
										<dd></dd>
									</dl>
									<div class="list"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</span>
									<div class="loginbefore fn-clear" id="navLoginAfter">
				<a href="register.html" class="regist">注册</a>
				<span class="fn-left">&nbsp;/&nbsp;</span>
				<span class="logint"><a href="login.html">登录</a></span>
				
								<a class="loginconnect" href="show-Login_pc_code_101336457_htt.html" title="QQ快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-1600133341.png"></i></a>
								
								<a class="loginconnect" href="index-https2F2Fopenauth.alipay.c.html" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-16001333411.png"></i></a>
								
								<a class="loginconnect" href="login-wechat.html" title="微信快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-16001333412.png"></i></a>
								
								
								
								
								
								
								
								
			</div>
					</div>
		<ul class="menu topbarlink fn-clear">
			<li>
				<a href="index.html" style="color: #f60;">网站首页</a><span class="separ">|</span>
			</li>
			<li class="dropdown user">
				<a href="login-https2F2Fihuoniao.cn2Fu.html">会员中心<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="login-https2F2Fihuoniao.cn2Fu2Fo.html" target="_blank">我的订单</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fr.html" target="_blank">交易明细</a>
					<a href="login-https2F2Fihuoniao.cn2Fu2Fs.html" target="_blank">安全中心</a>
				</div>
			</li>
			<li><a href="mobile.html" target="_blank"><i class=""><img src="static/picture/public_top_icon_mobile.png"></i>手机站</a><span class="separ">|</span>
				<div class="pop">
					<s></s>
					<p>扫码访问<a href="mobile.html" target="_blank"><img src="static/picture/qrcode-httpsihuoniao.cn.jpg" width="150" height="150"></a></p>
				</div>
			</li>
			<li><a href="javascript:;"><i class=""><img src="static/picture/public_top_icon_wechat.png"></i>微信公众号</a><span class="separ">|</span>
				<div class="pop" style="left: -26px;">
					<s></s>
					<p>扫码关注<img src="static/picture/15687067729028.jpg" width="150" height="150"></p>
				</div>
			</li>
			<li class="dropdown">
				<a href="javascript:;">快速发布<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff.html" target="_blank">新闻投稿</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff1.html" target="_blank">分类信息</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fc.html" target="_blank">发布房源</a>					<a href="login-https2F2Fihuoniao.cn2Fsz2F.html" target="_blank">发布活动</a>					<a href="login-https2F2Fihuoniao.cn2Fsz2F1.html" target="_blank">发布新贴</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff2.html" target="_blank">发起直播</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff3.html" target="_blank">发布投票</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff4.html" target="_blank">发布二手车</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff5.html" target="_blank">发布顺风车</a>				</div>
			</li>
			<li class="dropdown webmap">
				<a href="javascript:;">网站导航<i class="picon picon-down"></i></a>
				<div class="submenu">
					
					<a href="sfcar.html" style="">顺风车</a>
					
					<a href="article.html" style="">信息资讯</a>
					
					<a href="info.html" style="">二手信息</a>
					
					<a href="house.html" style="">房产门户</a>
					
					<a href="job.html" style="">招聘求职</a>
					
					<a href="tieba.html" style="">贴吧社区</a>
					
					<a href="circle.html" style="">圈子动态</a>
					
					<a href="shop.html" style="">在线商城</a>
					
					<a href="" style="">美食外卖</a>
					
					<a href="list1.html" target="_blank" style="">小程序直播</a>
					
					<a href="live.html" style="">视频直播</a>
					
					<a href="tuan.html" style="">团购秒杀</a>
					
					<a href="business.html" target="_blank" style=" font-weight: 700;">火鸟商家</a>
					
					<a href="huodong.html" style="">同城活动</a>
					
					<a href="pension.html" style="">养老机构</a>
					
					<a href="education.html" style="">教育培训</a>
					
					<a href="travel.html" style="">旅游频道</a>
					
					<a href="marry.html" style="">婚嫁频道</a>
					
					<a href="homemaking.html" style="">家政服务</a>
					
					<a href="car.html" style="">汽车门户</a>
					
					<a href="renovation.html" style="">装修门户</a>
					
					<a href="zhuanti.html" style="">拖拽专题</a>
					
					<a href="dating.html" style="">互动交友</a>
					
					<a href="paper.html" style="">电子报刊</a>
					
					<a href="jianzhan.html" style="">自助建站</a>
					
					<a href="huangye.html" style="">便民黄页</a>
					
					<a href="vote.html" style="">投票活动</a>
					
					<a href="jifen.html" style="">积分商城</a>
					
					<a href="quanjing.html" style="">VR全景</a>
					
					<a href="video.html" style="">视频频道</a>
					
					<a href="image.html" style="">图说资讯</a>
					
					<a href="javascript:;" target="_blank" style=" color: #00b0f0; font-weight: 700;">酷曼官网</a>
					
					<a href="login1.html" target="_blank" style="">休闲游戏</a>
					
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- 顶部信息 e -->
<script type="text/template" id="notLoginHtml">
	<div class="loginbefore fn-clear" id="navLoginAfter">
		<a href="https://ihuoniao.cn/register.html" class="regist">注册</a>
		<span class="fn-left">&nbsp;/&nbsp;</span>
		<span class="logint"><a href="https://ihuoniao.cn/login.html">登录</a></span>
		
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=qq" title="QQ快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/qq/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=alipay" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/alipay/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=wechat" title="微信快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/wechat/img/24.png" /></i></a>
				
				
				
				
				
				
				
				
	</div>
</script>

<div class="bgfff">
<div class="wrap">
  <div class="header fn-clear">
    <div class="logo">
        <a href="" title="外卖频道"><img src="static/picture/15694623801521.png" alt="外卖频道"><h2>火鸟门户</h2></a>
    </div>
    <div class="navbar">
      <a href="javascript:;" class="currpage">首页</a>  
      <a href="javascript:;">入驻加盟</a>  
      <a href="javascript:;">点外卖</a>  
      <a href="javascript:;">我的订单</a>  
      <a href="#phoneScroll">手机点单</a>  
    </div>
    <div class="kefu"><s><img src="static/picture/changecity_tel1.png"></s><p>客服热线</p><span>0512-67581578</span></div>  
  </div>
</div>
</div>
<div class="main">
  <!--banner s-->
  <div class="banner">
    <div class="banner_search">
      <h1 class="ban-tit">我要点外卖</h1>  
      <p class="ban-tip">生活已不易，奖励自己吃点好的</p>  
      <div class="search_food">
        <dl>
          <!--选定地点-->
          <dt><a href="javascript:;"><span>苏州</span><s></s></a></dt>
          <dd>
            <input type="text" name="keywords" id="keywords" placeholder="输入地址搜索周边美食">  
          </dd>
        </dl>
        <button class="searchBtn">搜索</button>  
      </div>
    </div>
  </div>
  <!--banner e-->
  <!--入驻加盟 s-->
  <div class="join-wrap wrap">
    <div class="head_title">
      <h2 class="com-title">入驻加盟</h2>  
      <h3 class="com-h3">高收入高回报，赚钱其实没那么难</h3>  
    </div>
    <ul class="fn-clear">
      <li class="fn-left"><a href="javascript:;">
        <div class="top-pic"><img src="static/picture/bus-join.png" alt=""></div>
        <div class="join-info">
          <p>外卖商家入驻</p>  
          <p>商家免费入驻，轻松赚大钱</p>  
        </div>
      </a></li>
      <li class="fn-right"><a href="javascript:;">
        <div class="top-pic"><img src="static/picture/rider-join.png" alt=""></div>
        <div class="join-info">
          <p>配送骑手加入</p>  
          <p>加入实时配送网络，做一单赚一单</p>  
        </div>
      </a></li>
    </ul>
  </div>
  <!--入驻加盟 e-->
  <!--热门商家 e-->
  <div class="buss-wrap ">
    <div class="wrap">
      <div class="head_title">
        <h2 class="com-title">热门商家</h2>  
        <h3 class="com-h3">品质外卖 传递好滋味</h3>  
      </div>
      <ul class="fn-clear buss-list">
        
        <li><a href="javascript:;">
          <div class="left-pic"><img src="static/picture/15601351407274.png" alt=""></div>
          <div class="right-con">
            <h3 class="buss-name">必胜客</h3>
            <p class="rank_star">
                            <span class="judge-star"><s style="width:86%"></s></span>
                            <span class="score">4.3分</span> 
            </p>
            <div class="move-info">
            	<p class="send-info">
                <span>起送:¥20</span><span>配送费:¥3 </span></p>    
              <p class="send-time"><i></i>暂无</p>  
            </div>
            <p class="see">去看看</p>               
          </div>
        </a></li>
        
        <li><a href="javascript:;">
          <div class="left-pic"><img src="static/picture/noPhoto_100.jpg" alt=""></div>
          <div class="right-con">
            <h3 class="buss-name">测试测试测试</h3>
            <p class="rank_star">
                            <span class="score">暂无评分</span> 
            </p>
            <div class="move-info">
            	<p class="send-info">
                <span>起送:¥10.00</span><span>配送费:¥3.00 </span></p>    
              <p class="send-time"><i></i>暂无</p>  
            </div>
            <p class="see">去看看</p>               
          </div>
        </a></li>
        
        <li><a href="javascript:;">
          <div class="left-pic"><img src="static/picture/noPhoto_100.jpg" alt=""></div>
          <div class="right-con">
            <h3 class="buss-name">大猫咪的店铺</h3>
            <p class="rank_star">
                            <span class="score">暂无评分</span> 
            </p>
            <div class="move-info">
            	<p class="send-info">
                <span>起送:¥10.00</span><span>配送费:¥3.00 </span></p>    
              <p class="send-time"><i></i>暂无</p>  
            </div>
            <p class="see">去看看</p>               
          </div>
        </a></li>
        
        <li><a href="javascript:;">
          <div class="left-pic"><img src="static/picture/noPhoto_100.jpg" alt=""></div>
          <div class="right-con">
            <h3 class="buss-name">藤原豆腐店</h3>
            <p class="rank_star">
                            <span class="score">暂无评分</span> 
            </p>
            <div class="move-info">
            	<p class="send-info">
                <span>起送:¥15</span><span>配送费:¥5 </span></p>    
              <p class="send-time"><i></i>暂无</p>  
            </div>
            <p class="see">去看看</p>               
          </div>
        </a></li>
        
        <li><a href="javascript:;">
          <div class="left-pic"><img src="static/picture/15919317867965.jpg" alt=""></div>
          <div class="right-con">
            <h3 class="buss-name">杨铭宇黄焖鸡米饭🎉（合景领汇店）</h3>
            <p class="rank_star">
                            <span class="judge-star"><s style="width:78%"></s></span>
                            <span class="score">3.9分</span> 
            </p>
            <div class="move-info">
            	<p class="send-info">
                <span>起送:¥0.00</span><span>免配送费 </span></p>    
              <p class="send-time"><i></i>暂无</p>  
            </div>
            <p class="see">去看看</p>               
          </div>
        </a></li>
        
        <li><a href="javascript:;">
          <div class="left-pic"><img src="static/picture/15164425267726.jpg" alt=""></div>
          <div class="right-con">
            <h3 class="buss-name">四喜冰室茶餐厅😄 </h3>
            <p class="rank_star">
                            <span class="judge-star"><s style="width:66%"></s></span>
                            <span class="score">3.3分</span> 
            </p>
            <div class="move-info">
            	<p class="send-info">
                <span>起送:¥10.00</span><span>配送费:¥3.00 </span></p>    
              <p class="send-time"><i></i>60分钟</p>  
            </div>
            <p class="see">去看看</p>               
          </div>
        </a></li>
        
        <li><a href="javascript:;">
          <div class="left-pic"><img src="static/picture/15164424473477.jpg" alt=""></div>
          <div class="right-con">
            <h3 class="buss-name">康师傅私房牛肉面</h3>
            <p class="rank_star">
                            <span class="judge-star"><s style="width:68%"></s></span>
                            <span class="score">3.4分</span> 
            </p>
            <div class="move-info">
            	<p class="send-info">
                <span>起送:¥10</span><span>配送费:¥5 </span></p>    
              <p class="send-time"><i></i>55分钟</p>  
            </div>
            <p class="see">去看看</p>               
          </div>
        </a></li>
        
        <li><a href="javascript:;">
          <div class="left-pic"><img src="static/picture/15164422341965.jpg" alt=""></div>
          <div class="right-con">
            <h3 class="buss-name">唐宫海鲜舫</h3>
            <p class="rank_star">
                            <span class="judge-star"><s style="width:72%"></s></span>
                            <span class="score">3.6分</span> 
            </p>
            <div class="move-info">
            	<p class="send-info">
                <span>起送:¥10.00</span><span>配送费:¥3.00 </span></p>    
              <p class="send-time"><i></i>50分钟</p>  
            </div>
            <p class="see">去看看</p>               
          </div>
        </a></li>
        
        <li><a href="javascript:;">
          <div class="left-pic"><img src="static/picture/15164421784920.jpeg" alt=""></div>
          <div class="right-con">
            <h3 class="buss-name">有家酸菜鱼</h3>
            <p class="rank_star">
                            <span class="judge-star"><s style="width:100%"></s></span>
                            <span class="score">5.0分</span> 
            </p>
            <div class="move-info">
            	<p class="send-info">
                <span>起送:¥10.00</span><span>配送费:¥3.00 </span></p>    
              <p class="send-time"><i></i>48分钟</p>  
            </div>
            <p class="see">去看看</p>               
          </div>
        </a></li>
        
      </ul>
      <a href="javascript:;" class="more-a">查看更多商家></a>   
    </div>
    
  </div>
  <!--热门商家 e-->

</div>
  <div class="content" id="phoneScroll">

    <div class="wrap">
      <div class="head_title">
        <h2 class="com-title">手机点餐</h2>      
        <h3 class="com-h3">手机端多种点餐方式，任意选择</h3>      
      </div>
      <div class="fn-clear">
        <div class="slideBox" id="slideBox">
          <div class="bd">
            <ul>
              <li><a href=""><img src="static/picture/slide11.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide21.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide31.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide41.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide51.png" alt=""></a></li>
              <li><a href=""><img src="static/picture/slide61.png" alt=""></a></li>
            </ul>
          </div>
          <div class="slide_bg"></div>
        </div>
        <div class="rightBox fn-right">
          <!--如果情况只有两种时 去掉第一个li 然后 ul 加上class 样式已写好-->
          <ul class="fn-clear  ">
                        <li>
              <p class="tit">下载APP客户端</p>    
              <p class="gray">ios/Android</p>
              <img src="static/picture/qrcode-httpsihuoniao.cnmobile.ht.jpg" alt="" class="code">
              <p class="info">手机扫二维码下载</p>    
            </li>
                                    <li>
              <p class="tit">关注微信公众号</p>    
              <p class="gray">huoniaoCMS</p>
              <img src="static/picture/15687067729028.jpg" alt="" class="code">
              <p class="info">微信扫描二维码关注</p>    
            </li>
                        <li>
              <p class="tit">浏览器输入网址</p>    
              <p class="gray">https://ihuoniao.cn</p>
              <img src="static/picture/qrcode-httpsihuoniao.cn.jpg" alt="" class="code">
              <p class="info">手机扫描二维码访问</p>    
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!-- 底部 s-->
<div class="footer gray">
  <div class="wrap">
        <div class="friendlink">
      <h5>友情链接</h5>      
      <ul class="fn-clear">
        
        <li><a href="javascript:;" target="_blank" title="门户系统">门户系统</a></li>
        
        <li><a href="javascript:;" target="_blank" title="酷曼软件">酷曼软件</a></li>
        
        <li><a href="javascript:;" target="_blank" title="快递查询">快递查询</a></li>
        
        <li><a href="javascript:;" target="_blank" title="凤凰网">凤凰网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="人民网">人民网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="新华网">新华网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="百度">百度</a></li>
        
        <li><a href="javascript:;" target="_blank" title="雅虎">雅虎</a></li>
        
        <li><a href="javascript:;" target="_blank" title="谷歌">谷歌</a></li>
        
        <li><a href="javascript:;" target="_blank" title="网易">网易</a></li>
        
        <li><a href="javascript:;" target="_blank" title="腾讯">腾讯</a></li>
        
        <li><a href="javascript:;" target="_blank" title="新浪网">新浪网</a></li>
        
        <li><a href="javascript:;" target="_blank" title="搜狐">搜狐</a></li>
        
      </ul>
    </div>
        <div class="help fn-clear">
      <div class="helplist">
        <dl>
          <dt>关于我们</dt>     
          
          <dd><a href="about-1.html" target="_blank">网站介绍</a></dd>
          
          <dd><a href="about-2.html" target="_blank">关于我们</a></dd>
          
          <dd><a href="about-3.html" target="_blank">服务条款</a></dd>
          
          <dd><a href="about-4.html" target="_blank">广告服务</a></dd>
          
          <dd><a href="feedback.html" target="_blank">意见反馈</a></dd>     
        </dl>
        
        <dl>
          <dt>常见问题<s></s></dt>
          
          <dd><a href="help-2.html" target="_blank" title="账户类">账户类</a></dd>
          
          <dd><a href="help-3.html" target="_blank" title="购物类">购物类</a></dd>
          
          <dd><a href="help-4.html" target="_blank" title="款项类">款项类</a></dd>
          
          <dd><a href="help-5.html" target="_blank" title="配送类">配送类</a></dd>
          
        </dl>
        
        <dl>
          <dt>订单百事通<s></s></dt>
          
          <dd><a href="help-11.html" target="_blank" title="提交订单">提交订单</a></dd>
          
          <dd><a href="help-12.html" target="_blank" title="订单查询">订单查询</a></dd>
          
          <dd><a href="help-13.html" target="_blank" title="订单取消">订单取消</a></dd>
          
          <dd><a href="help-15.html" target="_blank" title="订单异常">订单异常</a></dd>
          
          <dd><a href="help-14.html" target="_blank" title="交易纠纷">交易纠纷</a></dd>
          
        </dl>
        
        <dl>
          <dt>购物指南<s></s></dt>
          
          <dd><a href="help-16.html" target="_blank" title="交易条款">交易条款</a></dd>
          
          <dd><a href="help-17.html" target="_blank" title="促销咨询">促销咨询</a></dd>
          
          <dd><a href="help-18.html" target="_blank" title="购物流程">购物流程</a></dd>
          
          <dd><a href="help-19.html" target="_blank" title="商品咨询">商品咨询</a></dd>
          
        </dl>
        
        <dl>
          <dt>支付及发票<s></s></dt>
          
          <dd><a href="help-20.html" target="_blank" title="支付流程">支付流程</a></dd>
          
          <dd><a href="help-21.html" target="_blank" title="在线支付">在线支付</a></dd>
          
          <dd><a href="help-22.html" target="_blank" title="公司转账">公司转账</a></dd>
          
          <dd><a href="help-23.html" target="_blank" title="支票支付">支票支付</a></dd>
          
        </dl>
        
        <dl>
          <dt>售后服务<s></s></dt>
          
          <dd><a href="help-24.html" target="_blank" title="售后政策（自营）">售后政策（自营）</a></dd>
          
          <dd><a href="help-25.html" target="_blank" title="售后政策（卖家）">售后政策（卖家）</a></dd>
          
          <dd><a href="help-26.html" target="_blank" title="返修/退换货申请">返修/退换货申请</a></dd>
          
          <dd><a href="help-27.html" target="_blank" title="商品返回">商品返回</a></dd>
          
          <dd><a href="help-28.html" target="_blank" title="退款说明">退款说明</a></dd>
          
        </dl>
        
      </div>
      <div class="qr">
        <div class="qr-img"><img src="static/picture/qrcode-httpsihuoniao.cn.jpg">移动版</div>     
        <div class="qr-img"><img src="static/picture/15687067729028.jpg">微信公众号</div>     
      </div>
    </div>
    <div class="copyright"><p style="text-align: center;">本站非实际运营网站，所载全部信息内容均仅作为软件系统功能测试之用，切勿当真！若有侵权，请即时联系：<a href="javascript:;" target="_self" textvalue="0512-67581578">0512-67581578</a><br>版权所有 © 2018 苏州酷曼软件技术有限公司. All rights reserved.&nbsp;</p><p style="text-align: center;"><a href="javascript:;" target="_blank">苏ICP备13047463号</a></p></div>
    <div class="statisticscode"></div>
  </div>
</div>

<!-- 底部 e-->
<script>
    var site_map = "baidu", site_map_key = 'RlrCSDRWdEdwBmGizieNRp4z';
</script>
<script type="text/javascript" src="static/js/api-2.0_RlrCSDRWdEdwBmGizieNRp4z.js"></script>
<script type="text/javascript" src="static/js/publicLocation-1600133341.js"></script>
<script type="text/javascript" src="static/js/common-1600133341.js"></script>
<script type="text/javascript" src="static/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="static/js/local-1600133341.js" ></script>
<script src="static/js/index-16001333419.js" ></script>
</body>
</html>
<script>var cfg_currency = {"name":"\u4eba\u6c11\u5e01","short":"\u5143","symbol":"\u00a5","code":"RMB","rate":"1"};</script><!-- Processed in page load 0.074829 second(s), 177 queries ,0.017155 second(s) -->