    <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<title>苏州租房网，苏州租房信息苏州房屋出租价格-房产首页</title>
<meta name="keywords" content="苏州出租房,苏州租房网,苏州租房信息,苏州房屋出租价格,房产首页">
<meta name="description" content="苏州专业租房信息网站,每天更新全新的苏州租房信息、苏州个人房源,合租房源发布，为您提供精确，真实的苏州房屋出租信息，苏州租房价格、租金走势，火鸟门户让租房变得简单!">

<link rel="stylesheet" type="text/css" href="static/css/base-1600133341.css" media="all">

<link rel="stylesheet" type="text/css" href="static/css/public-16001333411.css" media="all">
<link rel="stylesheet" type="text/css" href="static/css/zu-1600133341.css" media="all">
<script type="text/javascript" src="static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    var masterDomain = 'https://ihuoniao.cn', channelDomain = 'https://ihuoniao.cn/sz/house',templets_skin = 'https://ihuoniao.cn/templates/house/skin6/';

    var criticalPoint = 1240, criticalClass = "w1200";
    $("html").addClass($(window).width() > criticalPoint ? criticalClass : "");

    var hideFileUrl = 0, cookiePre = 'HN_';
    var atpage = 1, totalCount = 0, pageSize = 10, comid = '0';
  var detail = {
    addrid : 0,
    business : 0,
    subway : 0,
    station : 0,
  }
  var keywords = '';
</script>
</head>

<body class="w1200">
<script type="text/javascript">var cookiePre = 'HN_', cfg_clihost = 'ihuoniao.cn', cfg_module = 'house',cfg_cityInfo = '{"cityid":"166","name":"\u82cf\u5dde","pinyin":"suzhou","url":"https:\/\/ihuoniao.cn\/sz","domain":"sz","type":"2","default":"1","count":72}'; </script>

<!-- 多语言 -->
<script src="static/js/zh-CN-1600133341.js"></script>

<!-- 顶部信息 s -->
<div class="topInfo">
	<div class="wrap fn-clear">
		<div class="loginbox">
						<span class="siteCityInfo">苏州</span>
			<span class="changeCityBtn">
				「<a href="javascript:;">切换城市</a>」      
				<div class="changeCityList">
					<p class="setwidth"></p>
					<div class="boxpd">
						<div class="sj"><i></i></div>
						<div class="box">
							<div class="content fn-clear">
								<p class="tit">请选择您所在的城市：</p>      
								<ul></ul>
				      		</div>
				      <div class="morecontent fn-hide">
								<dl class="hot">
									<dt>热门</dt>      
									<dd></dd>
								</dl>
								<div class="more">
									<dl class="pytit">
										<dt>城市</dt>      
										<dd></dd>
									</dl>
									<div class="list"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</span>
									<div class="loginbefore fn-clear" id="navLoginAfter">
				<a href="register.html" class="regist">注册</a>
				<span class="fn-left">&nbsp;/&nbsp;</span>
				<span class="logint"><a href="login.html">登录</a></span>
				
								<a class="loginconnect" href="show-Login_pc_code_101336457_htt.html" title="QQ快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-1600133341.png"></i></a>
								
								<a class="loginconnect" href="index-https2F2Fopenauth.alipay.c.html" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-16001333411.png"></i></a>
								
								<a class="loginconnect" href="login-wechat.html" title="微信快捷登录" target="_blank"><i class="picon"><img src="static/picture/24-16001333412.png"></i></a>
								
								
								
								
								
								
								
								
			</div>
					</div>
		<ul class="menu topbarlink fn-clear">
			<li>
				<a href="index.html" style="color: #f60;">网站首页</a><span class="separ">|</span>
			</li>
			<li class="dropdown user">
				<a href="login-https2F2Fihuoniao.cn2Fu.html">会员中心<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="login-https2F2Fihuoniao.cn2Fu2Fo.html" target="_blank">我的订单</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fr.html" target="_blank">交易明细</a>
					<a href="login-https2F2Fihuoniao.cn2Fu2Fs.html" target="_blank">安全中心</a>
				</div>
			</li>
			<li><a href="mobile.html" target="_blank"><i class=""><img src="static/picture/public_top_icon_mobile.png"></i>手机站</a><span class="separ">|</span>
				<div class="pop">
					<s></s>
					<p>扫码访问<a href="mobile.html" target="_blank"><img src="static/picture/qrcode-httpsihuoniao.cn.jpg" width="150" height="150"></a></p>
				</div>
			</li>
			<li><a href="javascript:;"><i class=""><img src="static/picture/public_top_icon_wechat.png"></i>微信公众号</a><span class="separ">|</span>
				<div class="pop" style="left: -26px;">
					<s></s>
					<p>扫码关注<img src="static/picture/15687067729028.jpg" width="150" height="150"></p>
				</div>
			</li>
			<li class="dropdown">
				<a href="javascript:;">快速发布<i class="picon picon-down"></i></a>
				<div class="submenu">
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff.html" target="_blank">新闻投稿</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff1.html" target="_blank">分类信息</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fc.html" target="_blank">发布房源</a>					<a href="login-https2F2Fihuoniao.cn2Fsz2F.html" target="_blank">发布活动</a>					<a href="login-https2F2Fihuoniao.cn2Fsz2F1.html" target="_blank">发布新贴</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff2.html" target="_blank">发起直播</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff3.html" target="_blank">发布投票</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff4.html" target="_blank">发布二手车</a>  
					<a href="login-https2F2Fihuoniao.cn2Fu2Ff5.html" target="_blank">发布顺风车</a>				</div>
			</li>
			<li class="dropdown webmap">
				<a href="javascript:;">网站导航<i class="picon picon-down"></i></a>
				<div class="submenu">
					
					<a href="sfcar.html" style="">顺风车</a>
					
					<a href="article.html" style="">信息资讯</a>
					
					<a href="info.html" style="">二手信息</a>
					
					<a href="house.html" style="">房产门户</a>
					
					<a href="job.html" style="">招聘求职</a>
					
					<a href="tieba.html" style="">贴吧社区</a>
					
					<a href="circle.html" style="">圈子动态</a>
					
					<a href="shop.html" style="">在线商城</a>
					
					<a href="waimai.html" style="">美食外卖</a>
					
					<a href="list1.html" target="_blank" style="">小程序直播</a>
					
					<a href="live.html" style="">视频直播</a>
					
					<a href="tuan.html" style="">团购秒杀</a>
					
					<a href="business.html" target="_blank" style=" font-weight: 700;">火鸟商家</a>
					
					<a href="huodong.html" style="">同城活动</a>
					
					<a href="pension.html" style="">养老机构</a>
					
					<a href="education.html" style="">教育培训</a>
					
					<a href="travel.html" style="">旅游频道</a>
					
					<a href="marry.html" style="">婚嫁频道</a>
					
					<a href="homemaking.html" style="">家政服务</a>
					
					<a href="car.html" style="">汽车门户</a>
					
					<a href="renovation.html" style="">装修门户</a>
					
					<a href="zhuanti.html" style="">拖拽专题</a>
					
					<a href="dating.html" style="">互动交友</a>
					
					<a href="paper.html" style="">电子报刊</a>
					
					<a href="jianzhan.html" style="">自助建站</a>
					
					<a href="huangye.html" style="">便民黄页</a>
					
					<a href="vote.html" style="">投票活动</a>
					
					<a href="jifen.html" style="">积分商城</a>
					
					<a href="quanjing.html" style="">VR全景</a>
					
					<a href="video.html" style="">视频频道</a>
					
					<a href="image.html" style="">图说资讯</a>
					
					<a href="javascript:;" target="_blank" style=" color: #00b0f0; font-weight: 700;">酷曼官网</a>
					
					<a href="login1.html" target="_blank" style="">休闲游戏</a>
					
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- 顶部信息 e -->
<script type="text/template" id="notLoginHtml">
	<div class="loginbefore fn-clear" id="navLoginAfter">
		<a href="https://ihuoniao.cn/register.html" class="regist">注册</a>
		<span class="fn-left">&nbsp;/&nbsp;</span>
		<span class="logint"><a href="https://ihuoniao.cn/login.html">登录</a></span>
		
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=qq" title="QQ快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/qq/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=alipay" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/alipay/img/24.png" /></i></a>
				
				<a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=wechat" title="微信快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/wechat/img/24.png" /></i></a>
				
				
				
				
				
				
				
				
	</div>
</script>


<div class="fixedwrap">
	<div class="fixedpane">
		<!-- 搜索s -->
		<div class="wrap header fn-clear">
			<div class="logo fn-clear">
				<a href="house.html">
					<img src="static/picture/15694623457085.png" alt="房产频道">
				</a>
			</div>
			<div class="search">
				<ul class="fn-clear search-top">
					<li data-type="loupan"><a href="javascript:;" data-href="https://ihuoniao.cn/sz/house/loupan.html">新房</a></li>
					<li data-type="community"><a href="javascript:;" data-href="https://ihuoniao.cn/sz/house/sale.html">二手房</a></li>

					<li class="active" data-type="community"><a href="javascript:;" data-href="https://ihuoniao.cn/sz/house/zu.html">租房</a></li>
					<li data-type="community"><a href="javascript:;" data-href="https://ihuoniao.cn/sz/house/community.html">找小区</a></li>
					<li data-type="xzl"><a href="javascript:;" data-href="https://ihuoniao.cn/sz/house/xzl.html">写字楼</a></li>
					<li data-type="sp"><a href="javascript:;" data-href="https://ihuoniao.cn/sz/house/sp.html">商铺</a></li>
					<li data-type="cw"><a href="javascript:;" data-href="https://ihuoniao.cn/sz/house/cw.html">车位</a></li>
					<li data-type="cf"><a href="javascript:;" data-href="https://ihuoniao.cn/sz/house/cf.html">厂房/仓库</a></li>
					<li data-type="demand"><a href="javascript:;" data-href="https://ihuoniao.cn/sz/house/demand.html">求租求购</a></li>
					<li data-type="store"><a href="javascript:;" data-href="https://ihuoniao.cn/sz/house/store.html">中介公司</a></li>
					<li data-type="broker"><a href="javascript:;" data-href="https://ihuoniao.cn/sz/house/broker.html">经济人</a></li>
				</ul>
				<div class="search-con">
						<input type="text" name="search_keyword" id="search_keyword" class="text" value="请输入要搜索的关键字..." onfocus="if(this.value=='请输入要搜索的关键字...')this.value='';" onblur="if(this.value=='')this.value='请输入要搜索的关键字...';">
						<input type="submit" class="submit" id="search_button" value="搜索">
						<div class="hotw">
							热门搜索：
						    						    
						    <a href="javascript:;" target="_blank" class="on"><font color="#ff0000">新盘</font></a>
						    						    
						    <a href="#" target="_blank"><font color="#002060">房产团购</font></a>
						    						    
						    <a href="#" target="_blank"><font color="#0c0c0c">尾盘</font></a>
						    						    
						</div>
				</div>
			</div>
			<a href="javascript:;" target="_blank" class="loc-room">
				<img src="static/picture/loc.png" alt="">
				<span>地图找房</span>
			</a>
			<a href="login-https2F2Fihuoniao.cn2Fu2Fc.html" target="_blank" class="pub-room">
				<img src="static/picture/publish1.png" alt="">
				<span>发布房源</span>
			</a>
			<a href="javascript:;" target="_blank" class="broker-entry">
				<img src="static/picture/entry1.png" alt="">
				<span>经纪人入驻</span>
			</a>
		</div>
		<!-- 搜索e -->
		<!-- 导航s	 -->
		<div class="nav-con n-linear">
            <div class="wrap">
                <ul class="fn-clear">
                    <li><a href="house.html">首页</a></li>
                    <li><a href="javascript:;">楼盘</a>
						<dl>
							<dd><a href="javascript:;">本月开盘</a></dd>
							<dd><a href="javascript:;">热销楼盘</a></dd>
							
							<dd><a href="javascript:;">楼盘团购</a></dd>
						</dl>
                    </li>
                    <li><a href="javascript:;">小区</a></li>
                    <li><a href="javascript:;">二手房<i class="picon-hot1"></i></a></li>
                    <li><a href="javascript:;" class="nav-m">查学区<i class="picon-hot1"></i></a></li>
                    <li class="current"><a href="">出租房</a></li>
                    <li><a href="javascript:;">写字楼</a>
						<dl>
							<dd><a href="javascript:;">写字楼出租</a></dd>
							<dd><a href="javascript:;">写字楼出售</a></dd>
						</dl>
                    </li>
                    <li><a href="javascript:;">商铺</a>
						<dl>
							<dd><a href="javascript:;">商铺出租</a></dd>
							<dd><a href="javascript:;">商铺出售</a></dd>
							<dd><a href="javascript:;">商铺转让</a></dd>
						</dl>
                    </li>
                    <li><a href="javascript:;">车位</a>
						<dl>
							<dd><a href="javascript:;">车位出租</a></dd>
							<dd><a href="javascript:;">车位出售</a></dd>
							<dd><a href="javascript:;">车位转让</a></dd>
						</dl>
                    </li>
                    <li><a href="javascript:;">厂房/仓库</a>
						<dl>
							<dd><a href="javascript:;">厂房出租</a></dd>
							<dd><a href="javascript:;">厂房出售</a></dd>
							<dd><a href="javascript:;">厂房转让</a></dd>
						</dl>
                    </li>
                    <li><a href="javascript:;">求租求购</a></li>
                    <li><a href="javascript:;">中介公司</a></li>
                    <li><a href="javascript:;" class="nav-m">经纪人<i class="picon-hot2"></i></a></li>
                    <li><a href="javascript:;">房产资讯</a></li>
                    <li><a href="javascript:;">看房团</a></li>
                   
                </ul>
            </div>
        </div>
		<!-- 导航e	 -->
	</div>
</div>


<div class="main">
    <div class="wrap">
        <div class="crumb fn-clear">
            <div class="location">
                <a href="house.html">首页</a> > <a href="">出租房</a>
            </div>
        </div>
        <div class="filter">
            <div class="filterlist">
                <dl class="t-fi fn-clear">
                <dt>位置</dt>
                <dd class="fn-clear">
                    <ul class="t-fi-item fn-clear">
                        <li class="area curr"><a href="javascript:;">区域找房<i class="idown"></i></a></li>
                        <li class="subway"><a href="javascript:;">公交/地铁<i class="idown"></i></a></li>                    </ul>

                </dd>
                <div class="sub-fi areabox" style="display: block;">
                    <s><i></i></s>
                    <div class="pos-item">
                        <a href="javascript:;" class="curr">不限</a>
                        
                                                <a href="javascript:;">吴中</a>
                        
                                                <a href="javascript:;">虎丘</a>
                        
                                                <a href="javascript:;">工业园区</a>
                        
                                                <a href="javascript:;">相城</a>
                        
                                                <a href="javascript:;">沧浪</a>
                        
                                                <a href="javascript:;">昆山</a>
                        
                                                <a href="javascript:;">张家港</a>
                        
                                                <a href="javascript:;">平江</a>
                        
                                                <a href="javascript:;">常熟</a>
                        
                                                <a href="javascript:;">太仓</a>
                        
                                                <a href="javascript:;">吴江</a>
                        
                                                <a href="javascript:;">金阊</a>
                        
                                                <a href="javascript:;">高新</a>
                        
                                                <a href="javascript:;">甪直镇</a>
                        
                                                <a href="javascript:;">花桥</a>
                        
                                                <a href="javascript:;">姑苏区</a>
                        
                                                <a href="javascript:;">高新区</a>
                        
                    </div>
                                        <div class="pos-sub-item"></div>
                                    </div>
            <!--地铁找房-->
                <div class="sub-fi subwaybox">
                <s><i></i></s>
                <div class="pos-item">
                    <a href="javascript:;">不限</a>
                    
                                        <a href="javascript:;">1号线</a>
                    
                                        <a href="javascript:;">2号线</a>
                    
                </div>
                            </div>

        <!--地铁找房e-->
            </dl>
                            <dl class="o-fi fn-clear">
                    <dt>租金</dt> 
                    <dd class="fn-clear">
                        <a href="javascript:;" class="curr">不限</a>
                        <a href="javascript:;">1000元以下</a>
                        <a href="javascript:;">1000-1500元</a>
                        <a href="javascript:;">1500-2000元</a>
                        <a href="javascript:;">2000-3000元</a>
                        <a href="javascript:;">3000-5000元</a>
                        <a href="javascript:;">5000元以上</a>
                        <div class="spbox">
                            <div class="inpbox inp_price">
                               <input type="input" class="p1" id="priceLow" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><em>-</em>
                               <input type="input" class="p2" id="priceTop" maxlength="6" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"> <em>元</em>
                                <a href="javascript:;" class="btn btn_price" id="price_sure">确定</a>
                                                                                                                                </div>
                        </div>
                    </dd>
                </dl>
                                <dl class="o-fi fn-clear" data-type="room">
                    <dt>户型</dt>                                               
                    <dd class="fn-clear">
                        <a href="javascript:;" class="curr">不限</a>
                        <a href="javascript:;">一居</a>
                        <a href="javascript:;">二居</a>
                        <a href="javascript:;">三居</a>
                        <a href="javascript:;">四居</a>
                        <a href="javascript:;">五居</a>
                        <a href="javascript:;">五居以上</a>
                    </dd>
                </dl>
                <dl class="o-fi fn-clear" data-type="zhuangxiu">
                    <dt>装修</dt>
                    <dd class="fn-clear">
                        <a href="javascript:;" class="curr">不限</a>
                        
                                                <a href="javascript:;">毛坯</a>
                        
                                                <a href="javascript:;">普通装修</a>
                        
                                                <a href="javascript:;">精装修</a>
                        
                                                <a href="javascript:;">豪华装修</a>
                        
                                                <a href="javascript:;">其它</a>
                        
                    </dd>
                </dl>
                                <dl class="o-fi fn-clear" data-type="rentype">
                    <dt>类型</dt>
                    <dd class="fn-clear">
                        <a href="javascript:;" class="curr">不限</a>
                        <a href="javascript:;">整租</a>
                        <a href="javascript:;">合租</a>
                    </dd>
                </dl>
            </div>
            <div class="deletebox">
                <dl class="fi-state fn-clear">
                    <dt>已选条件</dt>
                    <dd class="fn-clear"></dd>
                    <span class="btn_clear">清空条件</span>
                </dl>
            </div>

                   </div>
    </div>

    <div class="wrap totalCount">
        共找到 <b>0</b> 个符合条件的出租房
    </div>

    <div class="wrap fn-clear">
        <div class="sidebar">
            <div class="SearchBox">
                <form action="https://ihuoniao.cn/sz/house/zu.html" method="get">
                    <input type="search" placeholder="搜出租房..." name="keywords" class="inp">
                    <input type="submit" value="搜索" class="submit">
                </form>
            </div>
            <div class="salehbox">
                <a href="javascript:;" target="_blank">
                    <img src="static/picture/img_chuzu.png" alt="">
                </a>
            </div>
            <div class="mapbox">
                <a href="javascript:;" class="smap" target="_blank">
                    <img src="static/picture/mapImg.png" alt="">
                    <span>试试地图找房</span>
                </a>
            </div>
            <div class="lp_box">
                <div class="lp_title">最近浏览的租房</div>
                <ul>
                                        
                </ul>
            </div>
            <div class="lp_box">
                <div class="lp_title">热门房源</div>
                <ul>
                    
                    <li>
            <a href="javascript:;" target="_blank">
              <p title="巴黎春天">巴黎春天</p>
              <p>137.00㎡<em>|</em>900元/月<span>唯亭镇</span></p>
            </a>
          </li>
                    
                    <li>
            <a href="javascript:;" target="_blank">
              <p title="新港天城">新港天城</p>
              <p>165.00㎡<em>|</em>3800元/月<span>香山</span></p>
            </a>
          </li>
                    
                    <li>
            <a href="javascript:;" target="_blank">
              <p title="太阳湖大花园">太阳湖大花园</p>
              <p>175.00㎡<em>|</em>1200元/月<span>藏书镇</span></p>
            </a>
          </li>
                    
                </ul>
            </div>
            
            <div class="lp_box">
                <div class="lp_title">房产资讯</div>
                <ul class="lp_news">
                    
                    <li><a href="javascript:;" title="咖啡店预览图" target="_blank"><em>•</em>咖啡店预览图</a></li>
                    
                    <li><a href="javascript:;" title=" 上海富二代被称“沪上皇”, 随随便便千万豪车, 比王思聪还富有!" target="_blank"><em>•</em> 上海富二代被称“沪上皇”, 随随便便千万豪车, 比王思聪还富有!</a></li>
                    
                    <li><a href="javascript:;" title="测试测试测试测试测试测试测试测试测试测试测试测试" target="_blank"><em>•</em>测试测试测试测试测试测试测试测试测试测试测试测试</a></li>
                    
                    <li><a href="javascript:;" title="试点三年多 “以房养老”保险承保不足百人" target="_blank"><em>•</em>试点三年多 “以房养老”保险承保不足百人</a></li>
                    
                    <li><a href="javascript:;" title="苏州启动 不动产登记条例立法调研工作" target="_blank"><em>•</em>苏州启动 不动产登记条例立法调研工作</a></li>
                    
                    <li><a href="javascript:;" title="苏州住房公积金 异地转移接续平台运行" target="_blank"><em>•</em>苏州住房公积金 异地转移接续平台运行</a></li>
                    
                    <li><a href="javascript:;" title="成交量稳中有升 苏城上周商品房成交1947套" target="_blank"><em>•</em>成交量稳中有升 苏城上周商品房成交1947套</a></li>
                    
                    <li><a href="javascript:;" title="上个月苏城楼市二手房成交5591套 园区夺冠" target="_blank"><em>•</em>上个月苏城楼市二手房成交5591套 园区夺冠</a></li>
                    
                </ul>
            </div>
        </div>
        <div class="main_con">
            <div class="m-t fn-clear">
                <ul>
                    <li class="  curr "><a href="javascript:;">全部房源</a></li>
                    <li><a href="javascript:;">经纪人房源</a></li>
                    <li><a href="javascript:;">个人房源</a></li>
                    <li class=""><a href="javascript:;">全景看房</a></li>
                    <li class=""><a href="javascript:;">视频看房</a></li>

                </ul>
            </div>
            <div class="m-o">
                <div class="m-l">
                    <a href="javascript:;" class="curr">默认排序</a>
                    <a href="javascript:;" class="ob">最新<s></s></a>
                    <a href="javascript:;" class="ob up">租金<s></s></a>
                    <a href="javascript:;" class="ob up">面积<s></s></a>
                </div>
            </div>
            <div class="lplist">
                <ul>
                                                            
                    <li class="item fn-clear ">
                                                <div class="imgbox fn-left">
                            <a href="javascript:;" target="_blank"><img src="static/picture/15144530226622.jpg" alt=""></a>
                            <div class="markbox">
                                                                <span class="m_mark m_zj">中介</span>
                                
                            </div>
                                                    </div>
                        <div class="infobox fn-left">
                            <div class="lptit fn-clear">
                                <a href="javascript:;" target="_blank"><h2>中海先锋时代</h2></a>
                                <span class="lpprice">
                                                                        <b>1900</b>元/月
                                                                    </span>
                            </div>
                            <div class="lpinf fn-clear">
                                <div class="sp_l fn-left">
                                <span>4室2厅2卫</span>
                                <em>|</em>
                                <span>195.00㎡</span>
                                <em>|</em>
                                                                    <span>北</span>
                                    <em>|</em>
                                                                                                <span>23/23层</span>
                                <em>|</em>
                                                                
                            </div>
                            <div class="sp_r fn-right">
                                2020-08-12更新
                            </div>
                        </div>
                        <p class="lpinf">[太平] 江陵西路1888号（仲英大道与江陵西路交汇处）</p>
                        <div class="lpinf hinf fn-clear">
                            <div class="hilef fn-left">
                                                                <span><i class="iname"></i>miracle</span>
                                <span><i class="itel"></i> 12851241241</span>
                                                            </div>
                            <div class="hirig fn-right">
                                <a href="javascript:;" class="btn_sc"><i class="isc"></i> 收藏</a>
                                <a href="javascript:;" data-title="中海先锋时代" class="btn_share" data-url="https://ihuoniao.cn/sz/house/zu-detail-4.html" data-pic="https://upload.ihuoniao.cn//house/thumb/large/2017/12/28/15144530226622.jpg"><i class="ishare"></i> 分享</a>
                            </div>
                        </div>
                        <div class="lpbottom">
                            <div class="lpmark">
                                                                <span>床</span>
                                                                <span>空调</span>
                                                                <span>洗衣机</span>
                                                                <span>热水器</span>
                                                                <span>宽带</span>
                                                            </div>
                        </div>
                    </div></li>
                    <!--房源已租样式 s-->
                    
                    <!--房源已租样式 e-->
                    
                    <li class="item fn-clear ">
                                                <div class="imgbox fn-left">
                            <a href="javascript:;" target="_blank"><img src="static/picture/15144550945311.jpg" alt=""></a>
                            <div class="markbox">
                                                                <span class="m_mark m_zj">中介</span>
                                
                            </div>
                                                    </div>
                        <div class="infobox fn-left">
                            <div class="lptit fn-clear">
                                <a href="javascript:;" target="_blank"><h2>巴黎春天</h2></a>
                                <span class="lpprice">
                                                                        <b>900</b>元/月
                                                                    </span>
                            </div>
                            <div class="lpinf fn-clear">
                                <div class="sp_l fn-left">
                                <span>4室1厅2卫</span>
                                <em>|</em>
                                <span>137.00㎡</span>
                                <em>|</em>
                                                                    <span>东南</span>
                                    <em>|</em>
                                                                                                <span>6/15层</span>
                                <em>|</em>
                                                                
                            </div>
                            <div class="sp_r fn-right">
                                2019-12-27更新
                            </div>
                        </div>
                        <p class="lpinf">[唯亭镇] 长江路819号（长江路以西，嵩山路以北，水产城对面）</p>
                        <div class="lpinf hinf fn-clear">
                            <div class="hilef fn-left">
                                                                <span><i class="iname"></i>林麓</span>
                                <span><i class="itel"></i> 213412341234</span>
                                                            </div>
                            <div class="hirig fn-right">
                                <a href="javascript:;" class="btn_sc"><i class="isc"></i> 收藏</a>
                                <a href="javascript:;" data-title="巴黎春天" class="btn_share" data-url="https://ihuoniao.cn/sz/house/zu-detail-10.html" data-pic="https://upload.ihuoniao.cn//house/thumb/large/2017/12/28/15144550945311.jpg"><i class="ishare"></i> 分享</a>
                            </div>
                        </div>
                        <div class="lpbottom">
                            <div class="lpmark">
                                                                <span>床</span>
                                                                <span>空调</span>
                                                                <span>冰箱</span>
                                                                <span>洗衣机</span>
                                                                <span>热水器</span>
                                                                <span>宽带</span>
                                                            </div>
                        </div>
                    </div></li>
                    <!--房源已租样式 s-->
                    
                    <!--房源已租样式 e-->
                    
                    <li class="item fn-clear ">
                                                <div class="imgbox fn-left">
                            <a href="javascript:;" target="_blank"><img src="static/picture/15144548717887.jpg" alt=""></a>
                            <div class="markbox">
                                                                <span class="m_mark m_zj">中介</span>
                                
                            </div>
                                                    </div>
                        <div class="infobox fn-left">
                            <div class="lptit fn-clear">
                                <a href="javascript:;" target="_blank"><h2>新港天城</h2></a>
                                <span class="lpprice">
                                                                        <b>3800</b>元/月
                                                                    </span>
                            </div>
                            <div class="lpinf fn-clear">
                                <div class="sp_l fn-left">
                                <span>3室2厅1卫</span>
                                <em>|</em>
                                <span>165.00㎡</span>
                                <em>|</em>
                                                                    <span>西北</span>
                                    <em>|</em>
                                                                                                <span>9/18层</span>
                                <em>|</em>
                                                                
                            </div>
                            <div class="sp_r fn-right">
                                2017-12-28更新
                            </div>
                        </div>
                        <p class="lpinf">[香山] 园区玲珑街1号(玲珑街与现代大道交汇处)</p>
                        <div class="lpinf hinf fn-clear">
                            <div class="hilef fn-left">
                                                                <span><i class="iname"></i>凯凯妞妞</span>
                                <span><i class="itel"></i> 18179732758</span>
                                                            </div>
                            <div class="hirig fn-right">
                                <a href="javascript:;" class="btn_sc"><i class="isc"></i> 收藏</a>
                                <a href="javascript:;" data-title="新港天城" class="btn_share" data-url="https://ihuoniao.cn/sz/house/zu-detail-9.html" data-pic="https://upload.ihuoniao.cn//house/thumb/large/2017/12/28/15144548717887.jpg"><i class="ishare"></i> 分享</a>
                            </div>
                        </div>
                        <div class="lpbottom">
                            <div class="lpmark">
                                                                <span>床</span>
                                                                <span>空调</span>
                                                                <span>冰箱</span>
                                                                <span>洗衣机</span>
                                                                <span>热水器</span>
                                                                <span>宽带</span>
                                                                <span>可做饭</span>
                                                                <span>独立卫生间</span>
                                                                <span>阳台</span>
                                                            </div>
                        </div>
                    </div></li>
                    <!--房源已租样式 s-->
                    
                    <!--房源已租样式 e-->
                    
                    <li class="item fn-clear ">
                                                <div class="imgbox fn-left">
                            <a href="javascript:;" target="_blank"><img src="static/picture/15144546193811.jpg" alt=""></a>
                            <div class="markbox">
                                                                <span class="m_mark m_zj">中介</span>
                                
                            </div>
                                                    </div>
                        <div class="infobox fn-left">
                            <div class="lptit fn-clear">
                                <a href="javascript:;" target="_blank"><h2>太阳湖大花园</h2></a>
                                <span class="lpprice">
                                                                        <b>1200</b>元/月
                                                                    </span>
                            </div>
                            <div class="lpinf fn-clear">
                                <div class="sp_l fn-left">
                                <span>5室2厅3卫</span>
                                <em>|</em>
                                <span>175.00㎡</span>
                                <em>|</em>
                                                                    <span>东南</span>
                                    <em>|</em>
                                                                                                <span>3/18层</span>
                                <em>|</em>
                                                                
                            </div>
                            <div class="sp_r fn-right">
                                2017-12-28更新
                            </div>
                        </div>
                        <p class="lpinf">[藏书镇] 星汉街188号（星汉街与苏绣路交汇处）</p>
                        <div class="lpinf hinf fn-clear">
                            <div class="hilef fn-left">
                                                                <span><i class="iname"></i>乞力马扎罗的雪myx</span>
                                <span><i class="itel"></i> 13418110423</span>
                                                            </div>
                            <div class="hirig fn-right">
                                <a href="javascript:;" class="btn_sc"><i class="isc"></i> 收藏</a>
                                <a href="javascript:;" data-title="太阳湖大花园" class="btn_share" data-url="https://ihuoniao.cn/sz/house/zu-detail-8.html" data-pic="https://upload.ihuoniao.cn//house/thumb/large/2017/12/28/15144546193811.jpg"><i class="ishare"></i> 分享</a>
                            </div>
                        </div>
                        <div class="lpbottom">
                            <div class="lpmark">
                                                                <span>床</span>
                                                                <span>空调</span>
                                                                <span>洗衣机</span>
                                                                <span>热水器</span>
                                                                <span>宽带</span>
                                                            </div>
                        </div>
                    </div></li>
                    <!--房源已租样式 s-->
                    
                    <!--房源已租样式 e-->
                    
                    <li class="item fn-clear ">
                                                <div class="imgbox fn-left">
                            <a href="javascript:;" target="_blank"><img src="static/picture/15144542706633.jpg" alt=""></a>
                            <div class="markbox">
                                                                <span class="m_mark m_zj">中介</span>
                                
                            </div>
                                                    </div>
                        <div class="infobox fn-left">
                            <div class="lptit fn-clear">
                                <a href="javascript:;" target="_blank"><h2>立德绿筑空间</h2></a>
                                <span class="lpprice">
                                                                        <b>3200</b>元/月
                                                                    </span>
                            </div>
                            <div class="lpinf fn-clear">
                                <div class="sp_l fn-left">
                                <span>4室2厅1卫</span>
                                <em>|</em>
                                <span>183.00㎡</span>
                                <em>|</em>
                                                                    <span>东西</span>
                                    <em>|</em>
                                                                                                <span>5/12层</span>
                                <em>|</em>
                                                                
                            </div>
                            <div class="sp_r fn-right">
                                2017-12-28更新
                            </div>
                        </div>
                        <p class="lpinf">[辛庄镇] 珠江路121号</p>
                        <div class="lpinf hinf fn-clear">
                            <div class="hilef fn-left">
                                                                <span><i class="iname"></i>我才是大钢蹦子</span>
                                <span><i class="itel"></i> 13788150605</span>
                                                            </div>
                            <div class="hirig fn-right">
                                <a href="javascript:;" class="btn_sc"><i class="isc"></i> 收藏</a>
                                <a href="javascript:;" data-title="立德绿筑空间" class="btn_share" data-url="https://ihuoniao.cn/sz/house/zu-detail-7.html" data-pic="https://upload.ihuoniao.cn//house/thumb/large/2017/12/28/15144542706633.jpg"><i class="ishare"></i> 分享</a>
                            </div>
                        </div>
                        <div class="lpbottom">
                            <div class="lpmark">
                                                                <span>床</span>
                                                                <span>电视</span>
                                                                <span>空调</span>
                                                                <span>冰箱</span>
                                                                <span>洗衣机</span>
                                                                <span>热水器</span>
                                                                <span>宽带</span>
                                                                <span>可做饭</span>
                                                                <span>独立卫生间</span>
                                                                <span>阳台</span>
                                                            </div>
                        </div>
                    </div></li>
                    <!--房源已租样式 s-->
                    
                    <!--房源已租样式 e-->
                    
                    <li class="item fn-clear ">
                                                <div class="imgbox fn-left">
                            <a href="javascript:;" target="_blank"><img src="static/picture/15144539887573.jpg" alt=""></a>
                            <div class="markbox">
                                                                <span class="m_mark m_zj">中介</span>
                                
                            </div>
                                                    </div>
                        <div class="infobox fn-left">
                            <div class="lptit fn-clear">
                                <a href="javascript:;" target="_blank"><h2>太湖临湖湾</h2></a>
                                <span class="lpprice">
                                                                        <b>1600</b>元/月
                                                                    </span>
                            </div>
                            <div class="lpinf fn-clear">
                                <div class="sp_l fn-left">
                                <span>4室2厅2卫</span>
                                <em>|</em>
                                <span>160.00㎡</span>
                                <em>|</em>
                                                                    <span>东西</span>
                                    <em>|</em>
                                                                                                <span>14/32层</span>
                                <em>|</em>
                                                                
                            </div>
                            <div class="sp_r fn-right">
                                2017-12-28更新
                            </div>
                        </div>
                        <p class="lpinf">[枫桥] 金鸡湖大道南侧（金鸡湖大酒店、金鸡湖高尔夫球场东侧）</p>
                        <div class="lpinf hinf fn-clear">
                            <div class="hilef fn-left">
                                                                <span><i class="iname"></i>幸福的滋味儿儿</span>
                                <span><i class="itel"></i> 15229268233</span>
                                                            </div>
                            <div class="hirig fn-right">
                                <a href="javascript:;" class="btn_sc"><i class="isc"></i> 收藏</a>
                                <a href="javascript:;" data-title="太湖临湖湾" class="btn_share" data-url="https://ihuoniao.cn/sz/house/zu-detail-6.html" data-pic="https://upload.ihuoniao.cn//house/thumb/large/2017/12/28/15144539887573.jpg"><i class="ishare"></i> 分享</a>
                            </div>
                        </div>
                        <div class="lpbottom">
                            <div class="lpmark">
                                                                <span>床</span>
                                                                <span>电视</span>
                                                                <span>空调</span>
                                                                <span>冰箱</span>
                                                                <span>热水器</span>
                                                                <span>宽带</span>
                                                                <span>可做饭</span>
                                                                <span>独立卫生间</span>
                                                            </div>
                        </div>
                    </div></li>
                    <!--房源已租样式 s-->
                    
                    <!--房源已租样式 e-->
                    
                    <li class="item fn-clear ">
                                                <div class="imgbox fn-left">
                            <a href="javascript:;" target="_blank"><img src="static/picture/15144528938435.jpg" alt=""></a>
                            <div class="markbox">
                                                                <span class="m_mark m_zj">中介</span>
                                
                            </div>
                                                    </div>
                        <div class="infobox fn-left">
                            <div class="lptit fn-clear">
                                <a href="javascript:;" target="_blank"><h2>红星国际生活广场</h2></a>
                                <span class="lpprice">
                                                                        <b>1800</b>元/月
                                                                    </span>
                            </div>
                            <div class="lpinf fn-clear">
                                <div class="sp_l fn-left">
                                <span>5室3厅4卫</span>
                                <em>|</em>
                                <span>350.00㎡</span>
                                <em>|</em>
                                                                    <span>东西</span>
                                    <em>|</em>
                                                                                                <span>1/1层</span>
                                <em>|</em>
                                                                
                            </div>
                            <div class="sp_r fn-right">
                                2017-12-28更新
                            </div>
                        </div>
                        <p class="lpinf">[常阴沙农场] 东环路1500号(东环路和现代大道交叉口)</p>
                        <div class="lpinf hinf fn-clear">
                            <div class="hilef fn-left">
                                                                <span><i class="iname"></i>一头吃不胖的瘦肉咩</span>
                                <span><i class="itel"></i> 13951997896</span>
                                                            </div>
                            <div class="hirig fn-right">
                                <a href="javascript:;" class="btn_sc"><i class="isc"></i> 收藏</a>
                                <a href="javascript:;" data-title="红星国际生活广场" class="btn_share" data-url="https://ihuoniao.cn/sz/house/zu-detail-3.html" data-pic="https://upload.ihuoniao.cn//house/thumb/large/2017/12/28/15144528938435.jpg"><i class="ishare"></i> 分享</a>
                            </div>
                        </div>
                        <div class="lpbottom">
                            <div class="lpmark">
                                                                <span>床</span>
                                                                <span>电视</span>
                                                                <span>空调</span>
                                                                <span>冰箱</span>
                                                                <span>洗衣机</span>
                                                                <span>热水器</span>
                                                                <span>宽带</span>
                                                                <span>可做饭</span>
                                                                <span>独立卫生间</span>
                                                                <span>阳台</span>
                                                            </div>
                        </div>
                    </div></li>
                    <!--房源已租样式 s-->
                    
                    <!--房源已租样式 e-->
                    
                    <li class="item fn-clear ">
                                                <div class="imgbox fn-left">
                            <a href="javascript:;" target="_blank"><img src="static/picture/1514452664649.jpg" alt=""></a>
                            <div class="markbox">
                                                                <span class="m_mark m_zj">中介</span>
                                
                            </div>
                                                    </div>
                        <div class="infobox fn-left">
                            <div class="lptit fn-clear">
                                <a href="javascript:;" target="_blank"><h2>碧桂园凤凰岛</h2></a>
                                <span class="lpprice">
                                                                        <b>1400</b>元/月
                                                                    </span>
                            </div>
                            <div class="lpinf fn-clear">
                                <div class="sp_l fn-left">
                                <span>5室2厅2卫</span>
                                <em>|</em>
                                <span>180.00㎡</span>
                                <em>|</em>
                                                                    <span>南</span>
                                    <em>|</em>
                                                                                                <span>12/32层</span>
                                <em>|</em>
                                                                
                            </div>
                            <div class="sp_r fn-right">
                                2017-12-28更新
                            </div>
                        </div>
                        <p class="lpinf">[辛庄镇] 人民路延伸段与阳澄湖西路交叉口</p>
                        <div class="lpinf hinf fn-clear">
                            <div class="hilef fn-left">
                                                                <span><i class="iname"></i>蓝精灵helen</span>
                                <span><i class="itel"></i> 13826005150</span>
                                                            </div>
                            <div class="hirig fn-right">
                                <a href="javascript:;" class="btn_sc"><i class="isc"></i> 收藏</a>
                                <a href="javascript:;" data-title="碧桂园凤凰岛" class="btn_share" data-url="https://ihuoniao.cn/sz/house/zu-detail-2.html" data-pic="https://upload.ihuoniao.cn//house/thumb/large/2017/12/28/1514452664649.jpg"><i class="ishare"></i> 分享</a>
                            </div>
                        </div>
                        <div class="lpbottom">
                            <div class="lpmark">
                                                                <span>床</span>
                                                                <span>空调</span>
                                                                <span>冰箱</span>
                                                                <span>洗衣机</span>
                                                                <span>热水器</span>
                                                                <span>宽带</span>
                                                            </div>
                        </div>
                    </div></li>
                    <!--房源已租样式 s-->
                    
                    <!--房源已租样式 e-->
                    
                    
                </ul>
            </div>
            

        </div>
    </div>
</div>


<div class="foot">
	<div class="wrap fn-clear">
		<div class="foot-top fn-clear">
			<div class="foot-item foot1">
				<dl class="fn-clear">
					<dt>
						买房工具
					</dt>
					<dd><a href="javascript:;">商贷计算器</a></dd>
					<dd><a href="javascript:;">购房百科</a></dd>
					<dd><a href="javascript:;">公积金贷款计算器</a></dd>
					<dd><a href="javascript:;">经纪人</a></dd>
					<dd><a href="javascript:;">组合贷款计算器</a></dd>
				</dl>
				<i></i>
			</div>
			<div class="foot-item foot2">
				<dl class="fn-clear">
					<dt>
						新房
					</dt>
					<dd><a href="javascript:;">新开盘楼盘</a></dd>
					<dd><a href="javascript:;">热销楼盘</a></dd>
					<dd><a href="javascript:;">推荐楼盘</a></dd>
					<dd><a href="javascript:;">看房团</a></dd>
					<dd><a href="javascript:;">公交/地铁</a></dd>					<dd><a href="javascript:;">地图找房</a></dd>
				</dl>
				<i></i>
			</div>
			<div class="foot-item foot3">
				<dl class="fn-clear">
					<dt>
						写字楼
					</dt>
					<dd><a href="javascript:;" target="_blank">急售房源</a></dd>
					<dd><a href="javascript:;" target="_blank">免税房源</a></dd>
					<dd><a href="javascript:;" target="_blank">校区房</a></dd>
					<dd><a href="javascript:;" target="_blank">满五年</a></dd>
					<dd><a href="javascript:;" target="_blank">推荐</a></dd>
					<dd><a href="javascript:;" target="_blank">公交/地铁</a></dd>
					<dd><a href="javascript:;" target="_blank">地图找房</a></dd>

				</dl>
				<i></i>
			</div>
			<div class="foot-item foot4">
				<dl class="fn-clear">
					<dt>
						租房
					</dt>

					<dd><a href="javascript:;" target="_blank">整租房源</a></dd>
					<dd><a href="javascript:;" target="_blank">合租房源</a></dd>
					<dd><a href="javascript:;" target="_blank">100%个人房源</a></dd>
					<dd><a href="javascript:;" target="_blank">公交/地铁</a></dd>
					<dd><a href="javascript:;" target="_blank">地图找房</a></dd>

				</dl>
				<i></i>
			</div>
			<div class="foot-item foot5">
				<dl class="fn-clear">
					<dt>
						商业  土地
					</dt>

					<dd><a href="javascript:;" target="_blank">租写字楼</a></dd>
					<dd><a href="javascript:;" target="_blank">购写字楼</a></dd>
					<dd><a href="javascript:;" target="_blank">租商铺</a></dd>
					<dd><a href="javascript:;" target="_blank">购商铺</a></dd>
					<dd><a href="javascript:;" target="_blank">转商铺</a></dd>
					<dd><a href="javascript:;" target="_blank">租厂房</a></dd>
					<dd><a href="javascript:;" target="_blank">售厂房</a></dd>
					<dd><a href="javascript:;" target="_blank">转厂房</a></dd>
				</dl>
			</div>
		</div>
		<div class="foot-middle fn-clear">
			<dl class="fn-clear">
				<dt>合作伙伴</dt>
				
				<dd><a href="javascript:;" target="_blank">居理新房</a></dd>
				
				<dd><a href="javascript:;" target="_blank">小猪短租</a></dd>
				
				<dd><a href="javascript:;" target="_blank">房天下</a></dd>
				
				<dd><a href="javascript:;" target="_blank">链家网</a></dd>
				
			</dl>
		</div>
	</div>
	<div class="foot-bottom">
		<div class="bottom wrap">
			<ul class="fn-clear">
				
				<a href="about-1.html" target="_blank">网站介绍</a> |
				
				<a href="about-2.html" target="_blank">关于我们</a> |
				
				<a href="about-3.html" target="_blank">服务条款</a> |
				
				<a href="about-4.html" target="_blank">广告服务</a> |
				
				<a href="about-5.html" target="_blank">招聘信息</a> |
				
				<a href="about-6.html" target="_blank">免责声明</a> |
				
				<a href="about-7.html" target="_blank">联系我们</a> |
				
				<a href="help.html" target="_blank">帮助中心</a>
			</ul>
			<p style="text-align: center;">本站非实际运营网站，所载全部信息内容均仅作为软件系统功能测试之用，切勿当真！若有侵权，请即时联系：<a href="javascript:;" target="_self" textvalue="0512-67581578">0512-67581578</a><br>版权所有 © 2018 苏州酷曼软件技术有限公司. All rights reserved.&nbsp;</p><p style="text-align: center;"><a href="javascript:;" target="_blank">苏ICP备13047463号</a></p><br>
		</div>
	</div>
</div>





<script type="text/javascript" src="static/js/common-1600133341.js"></script>
<script type="text/javascript" src="static/js/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="static/js/public.js"></script>

<script>
    var totalCount = 8, totalPage = 1, atPage = 1, pageUrl = 'https://ihuoniao.cn/sz/house/zu-----------%page%.html';
    var priceUrl ='https://ihuoniao.cn/sz/house/zu-----pricePlaceholder-----.html';

</script>
<script type="text/javascript" src="static/js/zu-1600133341.js"></script>
</body>
</html>
<script>var cfg_currency = {"name":"\u4eba\u6c11\u5e01","short":"\u5143","symbol":"\u00a5","code":"RMB","rate":"1"};</script><!-- Processed in page load 0.082700 second(s), 243 queries ,0.012783 second(s) -->