<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">

<meta http-equiv="mobile-agent" content="format=html5; url=http://m.demo9.mayicms.com/zz/zhaoduixiang/131069.html">
<meta http-equiv="mobile-agent" content="format=wml; url=http://m.demo9.mayicms.com/zz/zhaoduixiang/131069.html">
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.demo9.mayicms.com/zz/zhaoduixiang/131069.html">

<title>【图】来到北京想多认识些朋友-郑州金水区花园路找女友/找男友-分类信息网-蚂蚁分类信息系统</title>
<meta name="keywords" content="性别女,年龄18岁,职业幼教,来到北京想多认识些朋友"><meta name="description" content="非京籍,，现从事财务工作。本人诚实、善良、气质佳、无不良嗜好。真心寻找一位身高1.70米以上，身体健康、有责任心、有房、真心想成家的男士白头到老。">

<link rel="stylesheet" href="static/css/global.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/information.css">
<link rel="stylesheet" href="static/css/information_comment.css">
<script src="static/js/global.js" type="text/javascript"></script>
<script src="static/js/jquery.min.js" type="text/javascript"></script>
</head>
<body class="red full bodybgred1"><meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<script type="text/javascript">var current_domain="http://demo9.mayicms.com";var current_cityid="115";var current_logfile="mayi-member.php";</script>
<div class="bartop">
<div class="barcenter">
<div class="barleft">
<ul class="barcity">欢迎来到MayiCMS演示站！</ul> 
<ul class="line"><u></u></ul>
            <ul class="barcang"><a href="files/desktop.php" target="_blank" title="点击右键，选择“目标另存为”，将此快捷方式保存到桌面即可">保存到桌面</a></ul>
<ul class="line"><u></u></ul>
<ul class="barpost"><a href="mayi-post-115.html">快速发信息</a></ul>
<ul class="line"><u></u></ul>
<ul class="bardel"><a href="delinfo-115.html" rel="nofollow">修改/删除信息</a></ul>
<ul class="line"><u></u></ul>
<ul class="barwap"><a href="mobile-115.html">手机浏览</a></ul>
</div>
<div class="barright" id="mayilogin"><img src="static/picture/loading.gif" border="0" align="absmiddle"></div>
</div>
</div>
<div class="clear"></div>
<!--顶部横幅广告开始-->
<div id="ad_topbanner"></div>
<!--顶部横幅广告结束-->
<div class="clearfix"></div>
<div class="logosearchtel">
<div class="weblogo"><a href="index.html"><img src="static/picture/logo.gif" title="分类信息网-蚂蚁分类信息系统" border="0"></a></div>
    <div class="webcity">
    	<span>郑州</span><br><a href="changecity.html">切换分站</a>
    </div>
    <div class="webcity2" style="display:none;">
    	<div class="curcity">郑州 <a href="changecity.html">切换分站</a></div>
        <div class="clearfix"></div>
    	<ul>
                            	<a href="index1.html">北京</a>
                    	<a href="index2.html">上海</a>
                    	<a href="index3.html">天津</a>
                    	<a href="index4.html">重庆</a>
                    	<a href="index5.html">广州</a>
                    	<a href="index6.html">深圳</a>
                    	<a href="index7.html">杭州</a>
                    	<a href="index8.html">福州</a>
                    	<a href="index9.html">厦门</a>
                    	<a href="index10.html">石家庄</a>
                    	<a href="index.html">郑州</a>
                    	<a href="index11.html">武汉</a>
                    	<a href="index12.html">长沙</a>
                    	<a href="index13.html">南京</a>
                    	<a href="index14.html">南昌</a>
                    	<a href="index15.html">西安</a>
                    	<a href="index16.html">成都</a>
                    </ul>
    </div>
    <div class="postedit">
<a class="post" href="mayi-post-115.html">免费发布信息</a>
</div>
<div class="websearch">
    	        <div class="s_ulA" id="searchType">
            <ul>
                
            </ul>
        </div>
                <div class="clearfix"></div>
<div class="sch_t_frm">
<form method="get" action="http://demo9.mayicms.com/search.php?" id="searchForm" target="_blank">
            <input name="cityid" type="hidden" value="115">
            <input type="hidden" id="searchtype" name="mod" value="information">
<div class="sch_ct">
<input type="text" class="topsearchinput" value="请输入关键词搜索" name="keywords" id="searchheader" onmouseover="if(this.value==='请输入关键词搜索'){this.value='';}" x-webkit-speech="" lang="zh-CN">
</div>
<div>
<input type="submit" value="搜 索" class="btn-normal">
</div>
</form>
</div>
        <div class="clearfix"></div>
        </div>
</div>
<div class="clear"></div><div class="body1000">
<div class="daohang_con">
    <div class="categories">
        <dl id="infomenu">
        <dt class="titup"><b>信息分类</b></dt>
        <dd class="cont" style="display:none;">
        <ul>
                        <li>
        <em><a href="index17.html" style="color:" target="_blank" title="郑州房屋租售">房屋租售</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州二手房">二手房</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州租房">租房</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州日租/短租">日租/短租</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州店铺转让/出租">店铺转让/出租</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州商铺出售">商铺出售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州写字楼出租">写字楼出租</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州写字楼出售">写字楼出售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州厂房/仓库/土地">厂房/仓库/土地</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州求租/求购">求租/求购</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index19.html" style="color:" target="_blank" title="郑州二手转让">二手转让</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:#ff0000" target="_blank" title="郑州手机转让">手机转让</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州平板电脑">平板电脑</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州台式电脑">台式电脑</a>
                <a href="javascript:;" style="color:#46a200" target="_blank" title="郑州数码产品转让">数码产品转让</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州笔记本">笔记本</a>
                <a href="javascript:;" style="color:#ff9900" target="_blank" title="郑州家用电器">家用电器</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州日常用品">日常用品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州办公经营设备">办公经营设备</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州收藏品/工艺品">收藏品/工艺品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州服装/配饰/鞋包">服装/配饰/鞋包</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州母婴/玩具">母婴/玩具</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州运动/图书/乐器">运动/图书/乐器</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州门票卡券">门票卡券</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州工业设备">工业设备</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州奇石盆景">奇石盆景</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州设备租赁">设备租赁</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家具/办公家具">家具/办公家具</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州照相机">照相机</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州食品农产">食品农产</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州网游/虚拟物品">网游/虚拟物品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他物品">其他物品</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index18.html" style="color:" target="_blank" title="郑州车辆买卖">车辆买卖</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州二手轿车">二手轿车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州货车/工程车">货车/工程车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州面包车/客车">面包车/客车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州拖拉机/收割机">拖拉机/收割机</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州拼车/顺风车">拼车/顺风车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州新车优惠/4S店">新车优惠/4S店</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州汽车用品/配件">汽车用品/配件</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州汽修保养">汽修保养</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州车辆收购服务">车辆收购服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州摩托车/燃气车">摩托车/燃气车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州电动车">电动车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州自行车">自行车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州本地下线车">本地下线车</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index20.html" style="color:" target="_blank" title="郑州全职招聘">全职招聘</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州营业员/促销/零售">营业员/促销/零售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州服务员/收银员">服务员/收银员</a>
                <a href="javascript:;" style="color:#ff0000" target="_blank" title="郑州销售/市场/业务员">销售/市场/业务员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州文员/客服/助理">文员/客服/助理</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保姆/家政">保姆/家政</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州司机/驾驶员">司机/驾驶员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保安/保洁">保安/保洁</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州厨师/切配">厨师/切配</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州送货/快递/仓管">送货/快递/仓管</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州工人/技工">工人/技工</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州财务/会计">财务/会计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州老师/培训师">老师/培训师</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州美工/设计/程序员">美工/设计/程序员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保健师/美容师">保健师/美容师</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州人才招聘会">人才招聘会</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州KTV/酒吧">KTV/酒吧</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他招聘">其他招聘</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index21.html" style="color:" target="_blank" title="郑州兼职招聘">兼职招聘</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州派发/促销">派发/促销</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家教/老师">家教/老师</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州餐厅/服务员">餐厅/服务员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州模特/礼仪">模特/礼仪</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州网站/设计">网站/设计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州会计/财务">会计/财务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他兼职">其他兼职</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index22.html" style="color:" target="_blank" title="郑州求职简历">求职简历</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州销售">销售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州客服">客服</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州人事/行政/后勤">人事/行政/后勤</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州酒店/餐饮/旅游">酒店/餐饮/旅游</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州美容/美发/保健/健身">美容/美发/保健/健身</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州计算机/网络/通信">计算机/网络/通信</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州建筑/房产/装修/物业">建筑/房产/装修/物业</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州普工/技工/生产">普工/技工/生产</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州司机">司机</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家政保洁/安保">家政保洁/安保</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州影视/娱乐/KTV">影视/娱乐/KTV</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州编辑/出版/印刷">编辑/出版/印刷</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州教育培训/翻译">教育培训/翻译</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州财务/审计/统计">财务/审计/统计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他职位">其他职位</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index23.html" style="color:" target="_blank" title="郑州交友活动">交友活动</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州找女友/找男友">找女友/找男友</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州征婚">征婚</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州结伴活动">结伴活动</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州技能交换">技能交换</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州找人/寻物">找人/寻物</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index24.html" style="color:" target="_blank" title="郑州宠物">宠物</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州狗狗">狗狗</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州猫猫/其他宠物">猫猫/其他宠物</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州宠物免费赠送">宠物免费赠送</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州宠物用品/食品">宠物用品/食品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州宠物服务/配种">宠物服务/配种</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index25.html" style="color:" target="_blank" title="郑州生活服务">生活服务</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州驾校服务">驾校服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州陪驾/代驾">陪驾/代驾</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州婚庆/化妆">婚庆/化妆</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州摄影摄像">摄影摄像</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州美容纤体">美容纤体</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州房屋装修">房屋装修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州建材装饰">建材装饰</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保姆/月嫂">保姆/月嫂</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保洁/清洗">保洁/清洗</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州搬家服务">搬家服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家电维修">家电维修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州电脑维修">电脑维修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家居维修">家居维修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州管道疏通">管道疏通</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州外卖/送水">外卖/送水</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州开锁/修锁">开锁/修锁</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州租车服务">租车服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州旅游度假">旅游度假</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州休闲娱乐">休闲娱乐</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州酒店/宾馆">酒店/宾馆</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其它生活服务">其它生活服务</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="javascript:;" style="color:" target="_blank" title="郑州教育培训">教育培训</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州职业培训">职业培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州外语培训">外语培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州学历教育">学历教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家教">家教</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州IT培训">IT培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州留学签证">留学签证</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州高等教育">高等教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州文体培训">文体培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州婴幼儿教育">婴幼儿教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州中小学教育">中小学教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他培训">其他培训</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index26.html" style="color:" target="_blank" title="郑州商务服务">商务服务</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州投资理财">投资理财</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州机票/签证">机票/签证</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州招商加盟">招商加盟</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州担保/贷款">担保/贷款</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州公司注册">公司注册</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州会计/审计">会计/审计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州网站建设">网站建设</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州快递/物流">快递/物流</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州庆典/演出">庆典/演出</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州印刷/喷绘">印刷/喷绘</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州设计策划">设计策划</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州律师服务">律师服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州翻译/速记">翻译/速记</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州鲜花/盆景">鲜花/盆景</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州礼品定制">礼品定制</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州本地名站">本地名站</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其它商务服务">其它商务服务</a>
                </dd>
        </dl>
        </li>
                </ul>
        </dd>
        </dl>
    </div>
    <div class="daohang">
        <ul>
            <li><a href="index.html" id="index">首页</a></li>
                                    <li><a target="_self" id="3" href="index17.html"><font color="">房屋</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="2" href="index18.html"><font color="">车辆买卖</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="1" href="index19.html"><font color="">二手闲置</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="4" href="index20.html"><font color="">招聘</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="5" href="index21.html"><font color="">兼职</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="6" href="index22.html"><font color="">求职</font><sup class=""></sup></a></li>
                        <li><a class="current" target="_self" id="7" href="index23.html"><font color="">交友</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="8" href="index24.html"><font color="">宠物</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="9" href="index25.html"><font color="">生活</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="244" href="index26.html"><font color="">商务服务</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="group" href="group.html"><font color="">团购</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="news" href="news.html"><font color="">资讯</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="goods" href="goods.html"><font color="">商品</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="corp" href="corporation.html"><font color="">店铺</font><sup class=""></sup></a></li>
                    </ul>
    </div>
</div>
<div class="clearfix"></div>
<div id="ad_header"></div>
<div class="clearfix"></div>
<script>loadDefault(['category','category_select'])</script>
<div class="bodybgcolor">
<div class="body1000">
<div class="clear"></div>
<div class="location">
当前位置：<a href="index.html">郑州分类信息网-蚂蚁分类信息系统</a> <code> &gt; </code> <a href="index23.html">郑州交友活动</a> <code> &gt; </code> <a href="javascript:;">郑州找女友/找男友</a></div>
<div class="clear"></div>
<div class="wrapper">
        <div class="information_bd">
            <div class="bd_left ">
                <div class="bd_lefter">
                    <div class="information_hd ">
                        <ul>
                            <div class="information_title">来到北京想多认识些朋友</div>
                            <div class="clearfix"></div>
                            <div class="information_time">
                               <span class="bdsharebuttonbox"><a href="javascript:;" class="bds_more" data-cmd="more">分享</a> &nbsp;|</span>
                               <span>2016-11-02发布</span> 
                               <span><font id="hit"><img src="static/picture/loading.gif" border="0" align="absmiddle"></font>次浏览</span>
                               <span>信息编号：131069</span>
                               <span class="editor">
                                <li><a href="javascript:void(0);" onclick="setbg('置顶信息',538,298,'http://demo9.mayicms.com/box.php?part=upgrade&id=131069');" style="color:red">置顶</a></li>
                                <li><a rel="nofollow" href="javascript:void(0);" onclick="setbg('收藏信息',538,300,'http://demo9.mayicms.com/box.php?part=shoucang&infoid=131069')">收藏</a> &nbsp;| </li>
                                <li><a rel="nofollow" href="javascript:void(0);" onclick="setbg('删除信息',538,300,'http://demo9.mayicms.com/box.php?part=delinfo&id=131069')" title="一旦删除将不能恢复！">删除</a> &nbsp;| </li>
                                <li><a rel="nofollow" href="javascript:;" target="_blank">修改</a> &nbsp;| </li>
                                <li><a class="report" href="javascript:void(0);" onclick="setbg('举报信息',480,330,'http://demo9.mayicms.com/box.php?part=report&id=131069&infotitle=来到北京想多认识些朋友');">举报</a> &nbsp;| </li>
                               </span>
                            </div>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="extra_contact">
                    <div class="extra">
                        <div class="zoombox">
                          <div class="zoompic"><img src="static/picture/pre_1267363544a0ogv.jpg" title="来到北京想多认识些朋友" alt="来到北京想多认识些朋友"></div>
                          <div class="clear"></div>
                          <div class="clear"></div>
                          <div class="sliderbox">
                            <div id="btn-left" class="arrow-btn dasabled"></div>
                            <div class="sliderr" id="thumbnail">
                              <ul>
                                                                                                <li class="currentt"><a href="static/picture/1267363544a0ogv.jpg" target="_blank"><img src="static/picture/pre_1267363544a0ogv.jpg" width="43" height="37" alt="来到北京想多认识些朋友" title="来到北京想多认识些朋友"></a></li>
                                                                                              </ul>
                            </div>
                            <div id="btn-right" class="arrow-btn "></div>
                          </div>
                        </div>
                    </div>
                    <div class="contact">
                        <ul>
                                                                                    <li style=""><span>性别：</span>女</li>
                                                                                                                <li style=""><span>年龄：</span>18岁</li>
                                                                                                                <li style=""><span>职业：</span>幼教</li>
                                                                                    <li><span>地址：</span>金水区 花园路 <font class="font">213.122.123.*</font> <font class="font" color="green">郑州市电信</font></li>                            <div class="clear"></div>
                            <ul class="contacter">
                            <div class="clear"></div>
                                                                                            <li><span>Q Q：</span><font class="tel">330647249</font><a class="_chat" target="_blank" href="javascript:;">QQ在线交谈</a></li>                                <li><span>邮箱：</span><font class="tel">8888@8888.com</font></li>                                <li><span>联系人：</span><font class="tel">张先生</font></li>
                                <li class="qqbm"><span>电话：</span><font class="tel red">1373383****</font> <a rel="nofollow" href="javascript:void(0);" onclick="setbg('查看完整电话',420,330,'http://demo9.mayicms.com/box.php?part=seecontact_tel&id=131069&tel_base64=MTM3MzM4MzA4NzI=')" class="_qq">点击查看完整号码</a></li>
                                <div class="clear5"></div>
                                <div class="notice"><ul><strong>分类信息网-蚂蚁分类信息系统提醒您：</strong>让你提前汇款，或者价格明显低于市价，均有骗子嫌疑，不要轻易相信。</ul></div>
                                                                                        </ul>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="view_hd">
                        <ul>
                            <li class="now">信息详情</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="view_bd">
                        <div class="tablist">
                            <div class="maincon cfix">
                                                        <div class="infoaddiv">
                                                        <div class="infoad"><a href="javascript:;" target="_blank"><img src="http://demo2.mayicms.com/attachment/ggg/acenter.jpg" border="0"></a></div>
                                                        </div>
                                                        &lt;本信息只是用于系统测试,切勿当真!&gt; <br>
<br>
非京籍,，现从事财务工作。本人诚实、善良、气质佳、无不良嗜好。真心寻找一位身高1.70米以上，身体健康、有责任心、有房、真心想成家的男士白头到老。                            <br>
                            联系我时，请说是在分类信息网-蚂蚁分类信息系统看到的，谢谢！
                            </div>
                            <div class="clearfix"></div>
                                                        <div class="bd">
                            <p>
                            <img src="static/picture/1267363544a0ogv.jpg" class="imginfo" title="来到北京想多认识些朋友" alt="来到北京想多认识些朋友"><br>                            </p>
                            </div>
                            <div class="clear"></div>
                                                    </div>
                                                <div class="tablist">
                            <div class="bd">
                                <p>
                                <script type="text/javascript" src="http://demo9.mayicms.com/comment.php?part=information&id=131069"></script>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="view_hd">
                        <ul>
                            <li class="now">您可能感兴趣</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="relates">
                        <ul>
                                                                                                                <li>
                                <div class="relateimg"><a href="131138.html" target="_blank"><img src="static/picture/nophoto.jpg" border="0"></a></div>
                                <div class="relatetit">
                                <a href="131138.html" target="_blank" class="tit" title="中央直属“央务鹊桥”成就美好姻缘北京单身交友俱乐部">中央直属“央务鹊桥”成就美好姻缘北京单身交友俱乐部</a>
                                <div class="clear"></div>
                                <div class="cat">携手中央直属“央务鹊桥”成就美好姻缘北京高端交友见面会...“央务鹊桥”网站是由中央国家机关工会联合会</div>
                                </div>
                                <div class="relatedat">06-01</div>
                            </li>
                                                                                                                                                                        <li>
                                <div class="relateimg"><a href="131071.html" target="_blank"><img src="static/picture/pre_1267365267rxkcg.jpg" border="0"></a></div>
                                <div class="relatetit">
                                <a href="131071.html" target="_blank" class="tit" title="有西三旗附近喜欢打羽毛球或网球的吗">有西三旗附近喜欢打羽毛球或网球的吗</a>
                                <div class="clear"></div>
                                <div class="cat">真心寻找一位身高1.70米以上，身体健康、有责任心、有房、真心想成家的男士白头到老。非京籍,，现从事财务</div>
                                </div>
                                <div class="relatedat">11-02</div>
                            </li>
                                                                                                                <li>
                                <div class="relateimg"><a href="131189.html" target="_blank"><img src="static/picture/pre_1306146746xvhxn.jpg" border="0"></a></div>
                                <div class="relatetit">
                                <a href="131189.html" target="_blank" class="tit" title="25岁帅哥在郑州真诚征婚,为你守候">25岁帅哥在郑州真诚征婚,为你守候</a>
                                <div class="clear"></div>
                                <div class="cat">本人25岁，身高175CM，体重65KG，月收入5000以上；大专学历，英俊潇洒，性格开朗，低调，有爱心；诚实可靠</div>
                                </div>
                                <div class="relatedat">11-02</div>
                            </li>
                                                                                                                <li>
                                <div class="relateimg"><a href="131190.html" target="_blank"><img src="static/picture/pre_1306146985m1ktt.jpg" border="0"></a></div>
                                <div class="relatetit">
                                <a href="131190.html" target="_blank" class="tit" title="听风的歌">听风的歌</a>
                                <div class="clear"></div>
                                <div class="cat">最浪漫的几个字不仅仅是我爱你还有在一起，一个男人如果爱一个女人，他给的不只是他的一段婚姻和爱和心的</div>
                                </div>
                                <div class="relatedat">11-02</div>
                            </li>
                                                                                                                <li>
                                <div class="relateimg"><a href="131191.html" target="_blank"><img src="static/picture/pre_1306147206xf31l.jpg" border="0"></a></div>
                                <div class="relatetit">
                                <a href="131191.html" target="_blank" class="tit" title="绿豆圈圈">绿豆圈圈</a>
                                <div class="clear"></div>
                                <div class="cat">豆圈圈介绍如下：白白胖胖的我，有一双三角形的蝌蚪眼，还有一张看上去似乎永远也长不大的脸。因为个性很</div>
                                </div>
                                <div class="relatedat">11-02</div>
                            </li>
                                                                                </ul>
                    </div>
                    <div class="clear"></div>
                    <center><a href="javascript:;" class="viewmore">查看更多</a></center>
                </div>
                <div class="clear"></div>
                <div class="bd_left_foot">
                    <ul>小贴士：本页信息由用户及第三方发布，真实性、合法性由发布人负责，请仔细甄别。</ul>
                </div>
            </div>
            <div class="bd_right">
                <div class="boxx">
                <div class="con"> 
                    <ul class="school_logo" style="text-align:center; margin-bottom:5px;">
                                                                    <img class="userlogo" src="static/picture/1307612486xuqr0.jpg">
                                                <div class="clear"></div>
                        <div class="username"><a title="北京尚德考试辅导中心" target="_blank" href="0c73dc2146.html">北京尚德考试辅导中心</a></div>
                                                <div class="clear"></div>
                        <div class="regtime">注册时间：2010-02-28</div>                                                <div class="clear"></div><div class="certify"><img style="border:none;" src="static/picture/user2.gif" align="absmiddle" title="商家"></div>                    </ul>
                                        <div class="clearfix"></div>
                    <ul class="jibie">
                       <li>用户级别：<span class="vip">黄金会员</span></li> 
                       <li>信用等级：<img align="absmiddle" src="static/picture/14.gif" alt="信用值:31270"></li> 
                    </ul>
                    <div class="clear"></div>
                    <ul class="renzheng Identity">
                    <p><img src="static/picture/person1.gif" alt="已通过身份证认证"> 已通过身份证认证  </p>                     <p><img src="static/picture/company1.gif" alt="已通过营业执照认证"> 已通过营业执照认证  </p>                     </ul>
                                       </div>
                </div>
                <div class="boxer cfix">
                    <div class="boxer_hd cfix"><span>相关分类</span></div>
                    <div class="boxer_bd cfix short">
                        <ul>
                                                                                                                <li><a target="_blank" href="javascript:;" title="郑州找女友/找男友">找女友/找男友</a></li>
                                                        <li><a target="_blank" href="javascript:;" title="郑州征婚">征婚</a></li>
                                                        <li><a target="_blank" href="javascript:;" title="郑州结伴活动">结伴活动</a></li>
                                                        <li><a target="_blank" href="javascript:;" title="郑州技能交换">技能交换</a></li>
                                                        <li><a target="_blank" href="javascript:;" title="郑州找人/寻物">找人/寻物</a></li>
                                                                                </ul>
                    </div>
                </div>
                <div class="boxer cfix">
                    <div class="boxer_hd cfix"><span>热门分站</span></div>
                    <div class="boxer_bd cfix short">
                        <ul>
                                                        <li><a href="javascript:;" target="_blank" title="北京找女友/找男友信息">北京找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="上海找女友/找男友信息">上海找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="天津找女友/找男友信息">天津找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="重庆找女友/找男友信息">重庆找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="广州找女友/找男友信息">广州找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="深圳找女友/找男友信息">深圳找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="杭州找女友/找男友信息">杭州找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="福州找女友/找男友信息">福州找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="厦门找女友/找男友信息">厦门找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="石家庄找女友/找男友信息">石家庄找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="郑州找女友/找男友信息">郑州找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="武汉找女友/找男友信息">武汉找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="长沙找女友/找男友信息">长沙找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="南京找女友/找男友信息">南京找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="南昌找女友/找男友信息">南昌找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="西安找女友/找男友信息">西安找女友/找男友</a></li>
                                                        <li><a href="javascript:;" target="_blank" title="成都找女友/找男友信息">成都找女友/找男友</a></li>
                                                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div id="ad_footerbanner"></div>
<div style="display: none" id="ad_none">
<div id="ad_interlistad_top_none">
<ul class="interlistdiv"><li class="hover"><a target="_blank" href="buy.html">二手 空调 淘宝网www.taobao.com - 网购首选。</a> <br>2011新款新潮流，新品发布淘宝网春夏特辑，限时优惠，赶快加入</li><li class="hover"><a href="74b8d0d9b9.html">宠物犬 分类信息网 www.mayicms.com</a> <br>
宠物犬专卖，百万商品超值价淘你喜欢！惊喜低价，时尚购物新体验</li></ul>
</div>
<div id="ad_interlistad_bottom_none">
<ul class="interlistdiv"><li class="hover"><a href="74b8d0d9b9.html" target="_blank">二手车摩托车 www.mayicms.com</a><br>
一淘巨优惠，折扣宝典，教你省钱！免费领 返现金 1折包邮。折扣享不停</li><li class="hover"><a href="4abacc3714.html" target="_blank">二手 空调 淘宝网www.taobao.com</a> <br> 网购首选。2011新款新潮流，新品发布淘宝网春夏特辑，限时优惠，赶快加入</li></ul>
</div>
</div>
<div class="footer_new">
    <div class="foot_new">
        <div class="foot_box">
        	<div class="hd">信息管理</div>
            <div class="bd">
            	<ul>
                	<li><a target="_blank" href="mayi-post-115.html">免费发布信息</a></li>
                    <li><a target="_blank" href="delinfo-115.html" rel="nofollow">修改/删除信息</a></li>
                    <li><a target="_blank" href="search-115.html" rel="nofollow">信息快速搜索</a></li>
                </ul>
            </div>
        </div>
        <div class="foot_box" id="sjfw" style="display:none;">
        	<div class="hd">商家服务</div>
            <div class="bd">
            	<ul>
                	<li><a target="_blank" href="mayi-member-register_store_115.html">商家入驻</a></li>
                    <li><a target="_blank" href="mayi-member-115.html">商家登录</a></li>
                </ul>
            </div>
        </div>
        <div class="foot_box">
        	<div class="hd">关于我们</div>
            <div class="bd">
            	<ul>
                                                    	<li><a href="javascript:;" style="color:" target="_blank">网站简介<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">广告服务<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">联系我们<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站帮助<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">友情链接<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站公告<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站地图<sup class=""></sup></a></li>
                                    </ul>
            </div>
        </div>
        <div class="foot_wx">
        	<div class="hd">扫一扫，访问手机站</div>
            <div class="bd">
            	<ul>
                	<img alt="分类信息网-蚂蚁分类信息系统手机版" src="static/picture/qrcode-httpdemo9.mayicms.commind.jpg">
                </ul>
            </div>
        </div>
        <div class="foot_wx" id="gzh">
        	<div class="hd">关注微信公众号</div>
            <div class="bd">
            	<ul>
                	<img alt="分类信息网-蚂蚁分类信息系统微信公众号" src="static/picture/erweima.gif">
                </ul>
            </div>
        </div>
        <div class="foot_mobile">
        	<ul>
            <div class="h1"><font>0371-65366238</font></div>            <div class="h2">客服QQ：<font><a class="_chat" href="javascript:;" title="点击交谈" rel="nofollow" target="_blank">1367882925</a></font></div>            <div class="h3">微信号：<font>kefu-000000</font></div>            <div class="h3">邮箱：<font>mayicms@qq.com</font></div>            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="foot_powered">
    	Copyright &copy; 分类信息网-蚂蚁分类信息系统版权所有 <a href="javascript:;" rel="nofollow"></a><font id="foots">Powered by <a href="javascript:;">MayiCMS</a> <a href="74b8d0d9b9.html">5.9SE GBK</a></font>     </div>
</div>
<script type="text/javascript">loadDefault(["addiv","mayilogin","show_tab","changecity"]);</script>    </div>
</div>
</div></div></body>
</html>
<script src="static/js/messagebox.js" type="text/javascript"></script>
<script type="text/javascript">var bdsize='16';var infoid='131069';loadDefault(['slider','baidushare','info']);</script>