<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">

<meta http-equiv="mobile-agent" content="format=html5; url=http://m.demo9.mayicms.com/store-167/">
<meta http-equiv="mobile-agent" content="format=wml; url=http://m.demo9.mayicms.com/store-167/">
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.demo9.mayicms.com/store-167/">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="keywords" content="西安大众科技培训中心">
<meta http-equiv="description" content="百世德教育机构简介北京百世德教育机构隶属于香港百世德(中国)投资集团，是香港百世德投资集团旗下的全资子公司，于2004年4月在北京成立。北京百世德教育机构主要从事学历、职业教育、在职读研等的培训业务。北京百世德教育机构始终秉承“百世之德，万年之师”(德,大德也">
<title>西安大众科技培训中心-分类信息网-蚂蚁分类信息系统</title>
<link href="static/css/blue.css" type="text/css" rel="stylesheet">
</head>
<body>
<script language="javascript">var current_domain = 'http://demo9.mayicms.com';</script>
<script src="static/js/noerr.js" type="text/javascript"></script>
<script src="static/js/common.js"></script>
<script src="static/js/jquery.min.js" type="text/javascript"></script>
<div class="bartop">
<div class="barcenter">
<div class="barleft">
<ul><a target="_blank" href="javascript:;">分类信息网-蚂蚁分类信息系统首页</a></ul>
<ul class="line"><u></u></ul>
            <ul><a target="_blank" href="javascript:;">机构注册</a></ul>

</div>
<div class="barright">
        	
            <ul><a href="#" onclick="AddFavorite('http://demo9.mayicms.com/store-167/','西安大众科技培训中心')">收藏</a></ul>
</div>
</div>
</div>
<div class="clearfix"></div>
<div class="head1">
<ul>
<div class="head1_left">
        	
            <div class="hright">
                <span class="storename">西安大众科技培训中心</span>
            </div>
</div>
<div class="head1_right">
咨询热线：<span>1878888788</span>        </div>
</ul>
</div>
<div class="clearfix"></div>
<div class="navigation">
<ul>
<li><a href="" class="current">首页</a></li>
<li><a href="javascript:;">机构简介</a></li>
<li><a href="javascript:;">分类信息</a></li>
        <li><a href="javascript:;">商品展示</a></li>
        <li><a href="javascript:;">商家资讯</a></li> <li><a href="javascript:;">优惠促销</a></li> <li><a href="javascript:;">留言点评</a></li>
<li><a href="javascript:;">机构相册</a></li>
<li><a href="javascript:;">联系我们</a></li>
</ul>
</div>
<div class="clear"></div>
<div class="banner"><img src="static/picture/1325861894t8hks.gif"></div>
<div class="clear"></div><link rel="stylesheet" type="text/css" href="static/css/jquery.lightbox.css" media="screen">
<div class="goods">
<div class="bd">
<ul>
<div class="last"><a href="javascript:void(0);" id="LeftArr">左移</a></div>
<div class="shop_info" id="ISL_Cont_1"><li><a target="_blank" href="goods-id-4.html" title="苏泊尔火红点煎锅PJ24E1"><img src="static/picture/1309678401u4lyu.jpg"></a><span><a href="static/picture/1309678401u4lyu.jpg" title="苏泊尔火红点煎锅PJ24E1" target="_blank">苏泊尔火红点煎锅</a></span><em>&yen;59</em></li>
<li><a target="_blank" href="goods-id-2.html" title="LOVO罗孚润恬竹纤维毯150*180 黄"><img src="static/picture/1309596437kfsxq.jpg"></a><span><a href="static/picture/1309596437kfsxq.jpg" title="LOVO罗孚润恬竹纤维毯150*180 黄" target="_blank">LOVO罗孚润恬竹纤</a></span><em>&yen;239</em></li>
<li><a target="_blank" href="goods-id-3.html" title="ARMANI阿玛尼 优雅坦克时尚情侣对表 AR0145/AR0146"><img src="static/picture/1309678085lbswv.jpg"></a><span><a href="static/picture/1309678085lbswv.jpg" title="ARMANI阿玛尼 优雅坦克时尚情侣对表 AR0145/AR0146" target="_blank">ARMANI阿玛尼 优雅</a></span><em>&yen;1178</em></li>
<li><a target="_blank" href="goods-id-6.html" title="2011款李宁/Lining新动运动背包 电脑双肩包CBSF018-1"><img src="static/picture/13096787236sv7r.jpg"></a><span><a href="static/picture/13096787236sv7r.jpg" title="2011款李宁/Lining新动运动背包 电脑双肩包CBSF018-1" target="_blank">2011款李宁/Linin</a></span><em>&yen;150</em></li>
<li><a target="_blank" href="goods-id-5.html" title="龙州不锈钢双层蒸锅26cm 组合盖"><img src="static/picture/1309678514pvfvq.jpg"></a><span><a href="static/picture/1309678514pvfvq.jpg" title="龙州不锈钢双层蒸锅26cm 组合盖" target="_blank">龙州不锈钢双层蒸</a></span><em>&yen;60</em></li>
<li><a target="_blank" href="goods-id-1.html" title="lenovo 联想Y460N-IFI 14英寸笔记本电脑"><img src="static/picture/1309594610f5qys.jpg"></a><span><a href="static/picture/1309594610f5qys.jpg" title="lenovo 联想Y460N-IFI 14英寸笔记本电脑" target="_blank">lenovo 联想Y460N</a></span><em>&yen;5099</em></li>
</div> 
<div class="next"><a href="javascript:void(0);" id="RightArr">右移</a></div>
</ul>
</div>
</div>
<div class="clear"></div>
<div class="content">
<div class="cleft"> 
<div class="box"> 
<div class="tit">机构档案</div> 
<div class="con"> 
<ul class="store_logo" style="text-align:center; margin-bottom:15px;"><a title="西安大众科技培训中心"><img src="static/picture/13076131718cdac.jpg" onload="if(this.width > 160) this.width = 160"></a></ul>
<!--机构基本信息--> 
<ul class="mb5"> 
   <li>机构级别：<span class="vip">黄金会员</span></li> 
   <li>信用等级：<img align="absmiddle" src="static/picture/10.gif" title="信用值:2170"></li> 
</ul> 
<!--机构基本信息-->
        
        <div class="clearfix"></div>

<!--个人信息--> 
<dl class="pInfor"> 
        <p class="qq" align="left">在线交谈：<a target="_blank" href="javascript:;"><img border="0" src="http://wpa.qq.com/pa?p=2:38064972490:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a></p> 
        <p class="tel">咨询热线：<em>1878888788</em></p> 
</dl> 
<!--个人信息--> 
        
        <div class="clearfix"></div>

<!--能力评价--> 
<div class="pingjia"> 
 <h3>机构点评<font style="font-weight:100">(<a href="javascript:;" style="text-decoration:underline; font-size:12px">我要提问/点评</a>)</font></h3> 
 <ul class="Identity"> 
   <li>机构被点评：<span class="orange">0</span> 次</li> 
 </ul>
  <div class="clearfix"></div>
 <ul class="dpScore">
  <li><span class="tits">好评<small>(0%)</small></span><div class="kBg"><div class="hBg" style="width:0px;"></div></div></li> 
  <li><span class="tits">中评<small>(0%)</small></span><div class="kBg"><div class="hBg" style="width:0px;"></div></div></li> 
  <li><span class="tits">差评<small>(0%)</small></span><div class="kBg"><div class="hBg" style="width:0px;"></div></div></li> 
  </ul> 
</div>
        
        <div class="clearfix"></div>

<!--身份及认证--> 
 <h3 class="mt10 cfix">资料认证</h3> 
 <ul class="renzheng Identity"> 
 <p><img src="static/picture/person0.gif" alt="未通过身份证认证"> 未通过身份证认证</p> 
 <p><img src="static/picture/company0.gif" alt="未通过营业执照认证"> 未通过营业执照认证</p> 
 </ul> 
<!--身份及认证--> 
        
        <div class="clear"></div>
        
        <div class="viewhit">
        <ul>
            <li>浏览人次：<span class="hit" id="hit"><img src="static/picture/loading.gif" border="0"></span>次</li>
            <li>加盟时间：<span class="time">2010年05月24日</span></li>
        </ul>
        </div>

  </div> 
      
</div>
<div>
        <div class="cfix bdshare">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
        </div>
    </div>
 </div><div class="cright">
        <div class="box"> 
            <div class="tit"><span>机构简介</span></div> 
            <div class="con about cfix">
            百世德教育机构简介北京百世德教育机构隶属于香港百世德(中国)投资集团，是香港百世德投资集团旗下的全资子公司，于2004年4月在北京成立。北京百世德教育机构主要从事学历、职业教育、在职读研等的培训业务。北京百世德教育机构始终秉承“百世之德，万年之师”(德,大德也，中国的大德，印光大师常赞叹的有两个人。第一是孔老夫子，所修的是［百世之德］。孔夫子所念都是利益国家、利益百姓，没有一丝一毫为自己著想。节选自《了凡四训》)的教育理念。从2004年到2011年，北京百世德教育 <a href="javascript:;" class="all">查看全部 &raquo;</a>
            </div>
        </div>
    	<div class="clear"></div>
    	<div class="box"> 
<div class="tit"><span>分类信息</span></div> 
<div class="con cont_01 cfix"> 
<table class="mrw_list">
   <tr> 
   <th width="85%" class="list_left">信息标题</th> 
                       <th>发布时间</th>
   </tr> 
                                                 <tr> 
   <td><a href="131235.html" target="_blank">(出售)进口大众甲壳虫2.0敞篷限量豪华版</a></td> 
                       <td>2019-06-01</td> 
   </tr>
                          <tr> 
   <td><a href="javascript:;" target="_blank">急卖99年奥迪200 1.8T</a></td> 
                       <td>2019-06-01</td> 
   </tr>
                          <tr> 
   <td><a href="131237.html" target="_blank">快速,低价代理城八区工商执照500元全程代理。</a></td> 
                       <td>2019-06-01</td> 
   </tr>
                          <tr> 
   <td><a href="131238.html" target="_blank">北京工商注册(500元全程代理)免费咨询</a></td> 
                       <td>2019-06-01</td> 
   </tr>
                          <tr> 
   <td><a href="131240.html" target="_blank">6月11日北京单身联盟聚会(本科以上学历)</a></td> 
                       <td>2019-06-01</td> 
   </tr>
                                              <tr> 
   <td class="more"><a href="" target="_blank">查看所有信息&raquo;</a></td> 
   <td class="more" colspan="2">&nbsp;</td>
   </tr>
   </table>
 </div>	
</div>
        <div class="clear"></div>
        <div class="box"> 
<div class="tit"><span>最新动态</span></div> 
<div class="con cont_01 cfix"> 
<table class="mrw_list"> 
   <tr> 
   <th width="85%" class="list_left">标题</th> 
   <th align="center">发布时间</th>
   </tr>
                                                                     <tr> 
                       <td colspan="3">暂无相关记录！</td> 
                       </tr> 
                          </table>
 </div>	
</div>
    </div>
</div>
<div class="clear"></div>
<div class="clear"></div>
<div class="foot">
    <div class="footer">
        <ul>
            <div class="foot_nav"><a href="" target="_blank">网站首页</a> - <a href="javascript:;" target="_blank">机构简介</a> - <a href="javascript:;" target="_blank">分类信息</a> - <a href="javascript:;" target="_blank">机构相册</a> - <a href="javascript:;" target="_blank">留言点评</a> - <a href="javascript:;" target="_blank">联系我们</a> - <a href="javascript:;" target="_blank">登录管理</a></div>
            <div class="foot_copyright">版权所有：西安大众科技培训中心 联系电话：1878888788<br>联系地址：西安大众科技培训中心详细地址  <font class="none">powered by <a href="javascript:;">mymps</a></font></div>
        </ul>
    </div>
</div>
<div class="floater">
    <span class="htm">手机收藏，随时查看</span>
    <span class="ctm"><img src="static/picture/qrcode-2.2_httpdemo9.mayicms.com2.jpg"></span>
    <span class="btm">手机微站</span>
</div>
<script type="text/javascript">var memberid = 167;</script>
<script type="text/javascript" src="static/js/store.js"></script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script><script src="static/js/scrollPic.js" type="text/javascript"></script>
<script type="text/javascript">
var scrollPic_02 = new ScrollPic();
scrollPic_02.scrollContId   = "ISL_Cont_1"; //内容容器ID
scrollPic_02.arrLeftId      = "LeftArr";//左箭头ID
scrollPic_02.arrRightId     = "RightArr"; //右箭头ID
scrollPic_02.frameWidth     = 1120;//显示框宽度
scrollPic_02.pageWidth      = 188; //翻页宽度
scrollPic_02.speed          = 10; //移动速度(单位毫秒，越小越快)
scrollPic_02.space          = 12; //每次移动像素(单位px，越大越快)
scrollPic_02.autoPlay       = true; //自动播放
scrollPic_02.autoPlayTime   = 6; //自动播放间隔时间(秒)
scrollPic_02.initialize(); //初始化
</script>
</body>
</html>