<!doctype html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=gbk'>
<title>咨询购买_购买系统 - 蚂蚁分类信息系统 - 蚂蚁分类信息程序</title>
<meta name="keywords" content="咨询购买,购买系统 - 蚂蚁分类信息系统 - 蚂蚁分类信息程序">
<meta name="description" content="咨询购买,购买系统 - 蚂蚁分类信息系统 - 蚂蚁分类信息程序">

<link href='static/css/head.css' rel='stylesheet' type='text/css'>
<link href='static/css/style3.css' rel='stylesheet' type='text/css'>
<link href='static/css/mymps.css' rel='stylesheet' type='text/css'>
<script type='text/javascript' src='static/js/noerr.js'></script>
<script type='text/javascript' src='static/js/noright.js'></script>
<script language="javascript">
function $obj(id) {
	return document.getElementById(id);
}
</script>
</head>
<body>
<div class="topbg">
    <div class="body1200">
        <div class="left">
                <a rel="nofollow" href="javascript:;">登录</a>
        <a rel="nofollow" href="javascript:;">注册</a>
                
       
        </div>
        <div class="right">
        <a rel="nofollow" href="javascript:;">软著登字第0327520号</a>
        <a rel="nofollow" href="javascript:;">查询授权</a>
        <a rel="nofollow" href="javascript:;" target="_blank">模板教程</a>
        <span class="tel">咨询QQ：</span><a rel="nofollow" title="点击在线咨询" target="_blank" href="javascript:;">1367882925</a>
        <span class="tel">咨询热线：</span><a href="javascript:;" title="如遇忙音，请提交售后工单。">0371-65366238</a>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="menu">
    <div class="body1200">
    <div class="logo"><img src="static/picture/wwwlogo.gif" border="0" alt="MayiCMS·蚂蚁分类信息网站系统" title="MayiCMS·蚂蚁分类信息网站系统"></div>
    <div class="more"></div>
        <a href="74b8d0d9b9.html">首 页</a>
        <a href="javascript:;">系统简介</a>
        <a href="javascript:;">系统演示</a>
        <a class="current" href="" style="color:red;">购买系统</a>
        <a href="javascript:;">版权声明</a>
        <a href="javascript:;">运行环境</a>
        <a href="javascript:;">升级报告</a>
        <a href="javascript:;">交流论坛</a>
    </div>
</div>
<div class="clearfix"></div>
<div class="banner2"><ul><a href=""><img src="static/picture/banner1.gif" alt="分类信息程序" border="0"></a></ul></div>
<div class="body1200"><style>
.bodyleft{ min-height:385px;}
.myscroll { width: 1020px; height: 26px; margin: 0 auto; background-color:#F9F9F9; line-height: 24px; font-size: 12px; overflow: hidden; text-align:left;}
.myscroll li { height: 26px; margin-left: 10px;}
.myscroll a { color: #333; text-decoration: none;}
.myscroll a:hover { color: #ED5565; text-decoration: underline;}
.myscroll .font{ float:left; width:500px; height:26px; display:block; text-align:left;}
.myscroll .domain{ float:left; width:300px; height:26px; display:block; text-align:left;}
.myscroll .name{ float:left; width:300px; height:26px; display:block; text-align:left;}
.myscroll .version{ float:left; width:300px; height:26px; display:block; text-align:left;}
.myscroll .begintime{ width:100px; overflow:hidden; float:right; height:26px; display:block}
.myscroll1 { width: 1020px; height: 26px; margin: 0 auto; background-color:#f1f1f1; line-height: 24px; font-size: 12px; overflow: hidden; text-align:left;}
.myscroll1 li { height: 26px; margin-left: 10px;}
.myscroll1 a:hover { color: #ED5565; text-decoration: underline;}
.myscroll1 .font{ float:left; width:500px; height:26px; display:block; text-align:left;}
.myscroll1 .domain{ float:left; width:300px; height:26px; display:block; text-align:left;}
.myscroll1 .name{ float:left; width:300px; height:26px; display:block; text-align:left;}
.myscroll1 .version{ float:left; width:300px; height:26px; display:block; text-align:left;}
.myscroll1 .begintime{ width:100px; overflow:hidden; float:right; height:26px; display:block}
</style>
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/scroll.js"></script>
<script type="text/javascript">
function chkLogin(o){
	alert('您尚未登录，请先注册蚂蚁账号，登录充值后下单购买^_^');	window.open('index.php?mod=buy&confirm='+o,'_self');
	return true;
}
function chkLogin(o){
	window.open('http://wpa.qq.com/msgrd?v=3&uin=1367882925&site=qq&menu=yes','_blank');
	return true;
}
$(function(){
	$('.myscroll').myScroll({
		speed: 40, 
		rowHeight: 26 
	});
});
</script>
<div class="bodyleft">
<a href="" class="current">咨询购买</a>
<a href="javascript:;">购买流程</a>
<a href="javascript:;">售后服务说明</a>
</div>
<div class="bodyright">
	<div class="clear15"></div>
	<div id="r_buy">
    	
        <div class="h1"><img src="static/picture/mult.gif" border="0" alt="分类信息系统分站版"></div>
        <div class="buycontent">
        	<ul>
                <div id="mymps">
                <table cellpadding="0" cellspacing="0" class="vbm">
                <tr class="firstr">
                <td style="color:#3592e2; width:20%">《分站版》</td>
                <td style="font-weight:100; width:20%">个人版</td>
                <td style="font-weight:100; width:20%">企业版</td>
                <td style="font-weight:100; width:20%">专业版</td>
                <td style="font-weight:100; width:20%">旗舰版</td>
                </tr>
                
                <tr>
                <td>价格</td>
                <td class="price">&yen;4900</td>
                <td class="price">&yen;5900</td>
                <td class="price">&yen;6900</td>
                <td class="price">&yen;9900</td>
                </tr>
                <!--<tr>
                <td class="price">感恩特惠价<br>（今天最后一天）</td>
                <td class="price">&yen;3500</td>
                <td class="price">&yen;4500</td>
                <td class="price">&yen;5500</td>
                <td class="price">&yen;7500</td>
                </tr>-->
                <!--
                
                
                <tr>
                <td>在线购买</td>
                <td><a onclick="chkLogin(4);" href="#" class="buy">购买</a></td>
                <td><a onclick="chkLogin(5);" href="#" class="buy">购买</a></td>
                <td><a onclick="chkLogin(6);" href="#" class="buy">购买</a></td>
                </tr>-->
                </table>
                </div>
            </ul>
        </div>
        <div class="clear15"></div>
        <div class="clear15"></div>
        <div class="h1"><img src="static/picture/single.gif" border="0" alt="分类信息程序单站版"></div>
        <div class="buycontent">
        	<ul>
                <div id="mymps">
                <table cellpadding="0" cellspacing="0" class="vbm">
                <tr class="firstr">
                <td style="color:#3592e2; width:20%">《单站版》</td>
                <td style="font-weight:100; width:20%">个人版</td>
                <td style="font-weight:100; width:20%">企业版</td>
                <td style="font-weight:100; width:20%">专业版</td>
                <td style="font-weight:100; width:20%">旗舰版</td>
                </tr>
                <tr>
                <td>价格</td>
                <td class="price">&yen;2900</td>
                <td class="price">&yen;3900</td>
                <td class="price">&yen;4900</td>
                <td class="price">&yen;7900</td>
                </tr>
                <!--<tr>
                <td class="price">6.18狂欢价 =></td>
                <td class="price">&yen;2000</td>
                <td class="price">&yen;2500</td>
                <td class="price">&yen;3500</td>
                <td class="price">&yen;5500</td>
                </tr>
                -->
                <!--<tr>
                <td>在线购买</td>
                <td><a onclick="chkLogin(1);" href="#" class="buy">购买</a></td>
                <td><a onclick="chkLogin(2);" href="#" class="buy">购买</a></td>
                <td><a onclick="chkLogin(3);" href="#" class="buy">购买</a></td>
                </tr>-->
                </table>
      			</div>
            </ul>
        </div>
        <div class="clear15"></div>
        <div class="clear15"></div>
        <div class="h1"><img src="static/picture/english.gif" border="0" alt="分类信息程序英文版"></div>
        <div class="buycontent">
        	<ul>
                <div id="mymps">
                <table cellpadding="0" cellspacing="0" class="vbm">
                <tr class="firstr">
                <td style="color:#3592e2; width:20%">《英文版》</td>
                <td style="font-weight:100; width:20%">个人版</td>
                <td style="font-weight:100; width:20%">企业版</td>
                <td style="font-weight:100; width:20%">专业版</td>
                <td style="font-weight:100; width:20%">旗舰版</td>
                </tr>
                <tr>
                <td>价格</td>
                <td class="price">&yen;4900</td>
                <td class="price">&yen;5900</td>
                <td class="price">&yen;6900</td>
                <td class="price">&yen;9900</td>
                </tr>
                <!--<tr>
                <td class="price">6.18狂欢价 =></td>
                <td class="price">&yen;2000</td>
                <td class="price">&yen;2500</td>
                <td class="price">&yen;3500</td>
                <td class="price">&yen;5500</td>
                </tr>
                -->
                <!--<tr>
                <td>在线购买</td>
                <td><a onclick="chkLogin(1);" href="#" class="buy">购买</a></td>
                <td><a onclick="chkLogin(2);" href="#" class="buy">购买</a></td>
                <td><a onclick="chkLogin(3);" href="#" class="buy">购买</a></td>
                </tr>-->
                </table>
      			</div>
            </ul>
        </div>
        <!--<tr>
        <td>版本号</td>
        <td class="tversion">5.8</td>
        <td class="tversion">5.8E</td>
        <td class="tversion">5.8X</td>
        <td class="dcb tversion">5.7S</td>
        </tr>-->
        <div class="clear15"></div>
        <div class="clear15"></div>
        <div class="clear15"></div>
        <div class="clear15"></div>
        <div class="clear15"></div>
        <div class="h1">版本区别</div>
        <div class="buycontent">
        	<ul>
                <div id="mymps">
                <table cellpadding="0" cellspacing="0" class="vbm">
                <tr>
                <td colspan="5">版本区别</td>
                </tr>
                <tr class="firstr">
                <td style="color:#3592e2; width:20%"></td>
                <td style="font-weight:100; width:20%">个人版</td>
                <td style="font-weight:100; width:20%">企业版</td>
                <td style="font-weight:100; width:20%">专业版</td>
                <td style="font-weight:100; width:20%">旗舰版</td>
                </tr>
                <tr>
                <td>微信登录</td>
                <td class="tdable_no"></td>
                <td class="tdable"></td>
                <td class="tdable"></td>
                <td class="tdable"></td>
                </tr>
                <tr>
                <td>微信支付</td>
                <td class="tdable_no"></td>
                <td class="tdable"></td>
                <td class="tdable"></td>
                <td class="tdable"></td>
                </tr>
                <tr>
                <td>短信验证码注册</td>
                <td class="tdable_no"></td>
                <td class="tdable"></td>
                <td class="tdable"></td>
                <td class="tdable"></td>
                </tr>
                <tr>
                <td>微信小程序</td>
                <td class="tdable_no"></td>
                <td class="tdable_no"></td>
                <td class="tdable"></td>
                <td class="tdable"></td>
                </tr>
                <tr>
                <td>安卓APP</td>
                <td class="tdable_no"></td>
                <td class="tdable_no"></td>
                <td class="tdable_no"></td>
                <td class="tdable"></td>
                </tr>
                <tr>
                </tr><tr>
                <td>技术支持</td>
                <td>一年技术服务</td>
                <td>一年技术服务</td>
                <td>一年技术服务</td>
                <td><font color="red">三年技术服务</font></td>
                </tr>
                <tr>
                <td>支持形式</td>
                <td>QQ/工单/固话</td>
                <td>QQ/工单/固话</td>
                <td>QQ/工单/固话</td>
                <td>QQ/工单/固话/手机</td>
                </tr>
                <tr>
                </tr><tr>
                <td>对接人员</td>
                <td>技术对接</td>
                <td>技术对接</td>
                <td>技术对接</td>
                <td>经理对接</td>
                </tr>
                <tr>
                <td>支持时间</td>
                <td>5×8小时</td>
                <td>5×8小时</td>
                <td>5×8小时</td>
                <td>7×24小时</td>
                </tr>
                <tr>
                	<td>&nbsp;</td>
                	<td><div class="box_buy">
                                <a class="buy" title="点击在线咨询" target="_blank" href="javascript:;">在线咨询</a>
                            </div></td>
                    <td><div class="box_buy">
                                <a class="buy" title="点击在线咨询" target="_blank" href="javascript:;">在线咨询</a>
                            </div></td>
                    <td><div class="box_buy">
                                <a class="buy" title="点击在线咨询" target="_blank" href="javascript:;">在线咨询</a>
                            </div></td>
                    <td><div class="box_buy">
                                <a class="buy" title="点击在线咨询" target="_blank" href="javascript:;">在线咨询</a>
                            </div></td>
                    
                </tr>
                </table>
                </div>
            </ul>
        </div>
        <div class="clear15"></div>
        <!--<div class="h1">他们买过了</div>
        <div class="myscroll1">
        <ul>
        	<li><span class="domain">授权域名</span> <span class="name">授权人</span> <span class="version">版本</span>  <span class="begintime">日期</span></li>
        </ul>
        </div>
        -->
		<div class="clear15"></div>
        <div class="clear" style="height:30px;"></div>
    </div>
   
</div>
</div>
<div class="clear"></div>
<div class="footer">
<div class="footerul">
    <ul class="mainbox">
        <li style="width:1%">&nbsp;</li>
        <li style="width:38%" class="li01">
        <div class="clear15"></div>
        <span><img src="static/picture/footlogo.gif" alt="MayiCMS·蚂蚁分类信息网站系统" title="MayiCMS·蚂蚁分类信息网站系统"></span>
        <div class="clear"></div>
         <strong>微信地方同城信息小程序</strong>，<strong>PHP便民分类信息发布系统</strong>解决方案<br>
          &copy;  Copyright 2009-2020 MayiCMS<font face="\&quot;Verdana\&quot;"><sup>&#174;</sup></font> 版权所有<br>
         软著登字第0327520号 <br>
         <div class="clear"></div>
        </li>
        <li style="width:30%">
       		<div class="clear"></div>
            <span>产品咨询</span>
            <div>
            <a rel="nofollow" title="点击在线咨询" target="_blank" href="javascript:;"><font class="SiteQQ">QQ：1367882925</font></a><br>
            <font class="SiteTel">0371-65366238 </font><font class="time">(9:00-18:00 节假日休息)</font>
            </div>
            
        </li>
        <li style="width:30%">
        	<div class="clear"></div>
            <span>售后服务(<a rel="nofollow" style="font-size:12px; font-weight:100;" href="javascript:;" target="_blank">提交售后工单</a>)</span>
             <div>
             <font class="SiteTel">0371-65366238 </font><font class="time">(9:00-18:00 节假日休息)</font><br>
             <font class="SiteEmail">mayicms@qq.com</font>
            </div>
        </li>
        <div class="clearfix"></div>
    </ul>
</div>
</div>
<div style="display:none;"></div>
</body>
</html>