<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">

<meta http-equiv="mobile-agent" content="format=html5; url=http://m.demo9.mayicms.com/banjia/">
<meta http-equiv="mobile-agent" content="format=wml; url=http://m.demo9.mayicms.com/banjia/">
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.demo9.mayicms.com/banjia/">
<meta name="keywords" content="搬家服务信息">
<meta name="description" content="搬家服务频道为您提供搬家服务信息，在此有大量搬家服务信息供您选择，您可以免费查看和发布搬家服务信息。">
<title>搬家服务-分类信息网-蚂蚁分类信息系统</title>

<link rel="stylesheet" href="static/css/global.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/category.css">
<link rel="stylesheet" href="static/css/pagination2.css">
<script src="static/js/global.js" type="text/javascript"></script>
<script src="static/js/jquery-1.11.min.js" type="text/javascript"></script>
</head>

<body class="red full bodybgred1"><meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<script type="text/javascript">var current_domain="http://demo9.mayicms.com";var current_cityid="0";var current_logfile="mayi-member.php";</script>
<div class="bartop">
<div class="barcenter">
<div class="barleft">
<ul class="barcity">欢迎来到MayiCMS演示站！</ul> 
<ul class="line"><u></u></ul>
            <ul class="barcang"><a href="files/desktop.php" target="_blank" title="点击右键，选择“目标另存为”，将此快捷方式保存到桌面即可">保存到桌面</a></ul>
<ul class="line"><u></u></ul>
<ul class="barpost"><a href="javascript:;">快速发信息</a></ul>
<ul class="line"><u></u></ul>
<ul class="bardel"><a href="javascript:;" rel="nofollow">修改/删除信息</a></ul>
<ul class="line"><u></u></ul>
<ul class="barwap"><a href="javascript:;">手机浏览</a></ul>
</div>
<div class="barright" id="mayilogin"><img src="static/picture/loading.gif" border="0" align="absmiddle"></div>
</div>
</div>
<div class="clear"></div>
<!--顶部横幅广告开始-->
<div id="ad_topbanner"></div>
<!--顶部横幅广告结束-->
<div class="clearfix"></div>
<div class="logosearchtel">
<div class="weblogo"><a href="javascript:;"><img src="static/picture/logo.gif" title="分类信息网-蚂蚁分类信息系统" border="0"></a></div>
    <div class="webcity">
    	<span>总站</span><br><a href="changecity.html">切换分站</a>
    </div>
    <div class="webcity2" style="display:none;">
    	<div class="curcity">总站 <a href="changecity.html">切换分站</a></div>
        <div class="clearfix"></div>
    	<ul>
                            	<a href="index1.html">北京</a>
                    	<a href="index2.html">上海</a>
                    	<a href="index3.html">天津</a>
                    	<a href="index4.html">重庆</a>
                    	<a href="index5.html">广州</a>
                    	<a href="index6.html">深圳</a>
                    	<a href="index7.html">杭州</a>
                    	<a href="index8.html">福州</a>
                    	<a href="index9.html">厦门</a>
                    	<a href="index10.html">石家庄</a>
                    	<a href="index.html">郑州</a>
                    	<a href="index11.html">武汉</a>
                    	<a href="index12.html">长沙</a>
                    	<a href="index13.html">南京</a>
                    	<a href="index14.html">南昌</a>
                    	<a href="index15.html">西安</a>
                    	<a href="index16.html">成都</a>
                    </ul>
    </div>
    <div class="postedit">
<a class="post" href="javascript:;">免费发布信息</a>
</div>
<div class="websearch">
    	        <div class="s_ulA" id="searchType">
            <ul>
                
            </ul>
        </div>
                <div class="clearfix"></div>
<div class="sch_t_frm">
<form method="get" action="http://demo9.mayicms.com/search.php?" id="searchForm" target="_blank">
            <input name="cityid" type="hidden" value="0">
            <input type="hidden" id="searchtype" name="mod" value="information">
<div class="sch_ct">
<input type="text" class="topsearchinput" value="请输入关键词搜索" name="keywords" id="searchheader" onmouseover="if(this.value==='请输入关键词搜索'){this.value='';}" x-webkit-speech="" lang="zh-CN">
</div>
<div>
<input type="submit" value="搜 索" class="btn-normal">
</div>
</form>
</div>
        <div class="clearfix"></div>
        </div>
</div>
<div class="clear"></div><div class="body1000">
<div class="daohang_con">
    <div class="categories">
        <dl id="infomenu">
        <dt class="titup"><b>信息分类</b></dt>
        <dd class="cont" style="display:none;">
        <ul>
                        <li>
        <em><a href="index65.html" style="color:" target="_blank" title="房屋租售">房屋租售</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="index66.html" style="color:" target="_blank" title="二手房">二手房</a>
                <a href="index67.html" style="color:" target="_blank" title="租房">租房</a>
                <a href="index68.html" style="color:" target="_blank" title="日租/短租">日租/短租</a>
                <a href="index69.html" style="color:" target="_blank" title="店铺转让/出租">店铺转让/出租</a>
                <a href="index70.html" style="color:" target="_blank" title="商铺出售">商铺出售</a>
                <a href="index71.html" style="color:" target="_blank" title="写字楼出租">写字楼出租</a>
                <a href="index72.html" style="color:" target="_blank" title="写字楼出售">写字楼出售</a>
                <a href="index73.html" style="color:" target="_blank" title="厂房/仓库/土地">厂房/仓库/土地</a>
                <a href="index74.html" style="color:" target="_blank" title="求租/求购">求租/求购</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index27.html" style="color:" target="_blank" title="二手转让">二手转让</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="index28.html" style="color:#ff0000" target="_blank" title="手机转让">手机转让</a>
                <a href="index29.html" style="color:" target="_blank" title="平板电脑">平板电脑</a>
                <a href="index30.html" style="color:" target="_blank" title="台式电脑">台式电脑</a>
                <a href="index31.html" style="color:#46a200" target="_blank" title="数码产品转让">数码产品转让</a>
                <a href="index32.html" style="color:" target="_blank" title="笔记本">笔记本</a>
                <a href="index33.html" style="color:#ff9900" target="_blank" title="家用电器">家用电器</a>
                <a href="index34.html" style="color:" target="_blank" title="日常用品">日常用品</a>
                <a href="index35.html" style="color:" target="_blank" title="办公经营设备">办公经营设备</a>
                <a href="index36.html" style="color:" target="_blank" title="收藏品/工艺品">收藏品/工艺品</a>
                <a href="index37.html" style="color:" target="_blank" title="服装/配饰/鞋包">服装/配饰/鞋包</a>
                <a href="index38.html" style="color:" target="_blank" title="母婴/玩具">母婴/玩具</a>
                <a href="index39.html" style="color:" target="_blank" title="运动/图书/乐器">运动/图书/乐器</a>
                <a href="index40.html" style="color:" target="_blank" title="门票卡券">门票卡券</a>
                <a href="index41.html" style="color:" target="_blank" title="工业设备">工业设备</a>
                <a href="index42.html" style="color:" target="_blank" title="奇石盆景">奇石盆景</a>
                <a href="index43.html" style="color:" target="_blank" title="设备租赁">设备租赁</a>
                <a href="index44.html" style="color:" target="_blank" title="家具/办公家具">家具/办公家具</a>
                <a href="index45.html" style="color:" target="_blank" title="照相机">照相机</a>
                <a href="index46.html" style="color:" target="_blank" title="食品农产">食品农产</a>
                <a href="index47.html" style="color:" target="_blank" title="网游/虚拟物品">网游/虚拟物品</a>
                <a href="index48.html" style="color:" target="_blank" title="其他物品">其他物品</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index75.html" style="color:" target="_blank" title="车辆买卖">车辆买卖</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="index76.html" style="color:" target="_blank" title="二手轿车">二手轿车</a>
                <a href="index77.html" style="color:" target="_blank" title="货车/工程车">货车/工程车</a>
                <a href="index78.html" style="color:" target="_blank" title="面包车/客车">面包车/客车</a>
                <a href="index79.html" style="color:" target="_blank" title="拖拉机/收割机">拖拉机/收割机</a>
                <a href="index80.html" style="color:" target="_blank" title="拼车/顺风车">拼车/顺风车</a>
                <a href="index81.html" style="color:" target="_blank" title="新车优惠/4S店">新车优惠/4S店</a>
                <a href="index82.html" style="color:" target="_blank" title="汽车用品/配件">汽车用品/配件</a>
                <a href="index83.html" style="color:" target="_blank" title="汽修保养">汽修保养</a>
                <a href="index84.html" style="color:" target="_blank" title="车辆收购服务">车辆收购服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="摩托车/燃气车">摩托车/燃气车</a>
                <a href="index85.html" style="color:" target="_blank" title="电动车">电动车</a>
                <a href="index86.html" style="color:" target="_blank" title="自行车">自行车</a>
                <a href="index87.html" style="color:" target="_blank" title="本地下线车">本地下线车</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="d502b520f1.html" style="color:" target="_blank" title="全职招聘">全职招聘</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="3fae87dedf.html" style="color:" target="_blank" title="营业员/促销/零售">营业员/促销/零售</a>
                <a href="eb83b251df.html" style="color:" target="_blank" title="服务员/收银员">服务员/收银员</a>
                <a href="4b696a62e1.html" style="color:#ff0000" target="_blank" title="销售/市场/业务员">销售/市场/业务员</a>
                <a href="a9b8fe24b3.html" style="color:" target="_blank" title="文员/客服/助理">文员/客服/助理</a>
                <a href="d53ca6cc1f.html" style="color:" target="_blank" title="保姆/家政">保姆/家政</a>
                <a href="dcc0728d59.html" style="color:" target="_blank" title="司机/驾驶员">司机/驾驶员</a>
                <a href="657b7cad21.html" style="color:" target="_blank" title="保安/保洁">保安/保洁</a>
                <a href="81c73f6a6a.html" style="color:" target="_blank" title="厨师/切配">厨师/切配</a>
                <a href="eb4ab44430.html" style="color:" target="_blank" title="送货/快递/仓管">送货/快递/仓管</a>
                <a href="bd672ee440.html" style="color:" target="_blank" title="工人/技工">工人/技工</a>
                <a href="815d67a028.html" style="color:" target="_blank" title="财务/会计">财务/会计</a>
                <a href="3c0c5b9181.html" style="color:" target="_blank" title="老师/培训师">老师/培训师</a>
                <a href="javascript:;" style="color:" target="_blank" title="美工/设计/程序员">美工/设计/程序员</a>
                <a href="4ab80b5483.html" style="color:" target="_blank" title="保健师/美容师">保健师/美容师</a>
                <a href="9ac8341f44.html" style="color:" target="_blank" title="人才招聘会">人才招聘会</a>
                <a href="30fdd9a01a.html" style="color:" target="_blank" title="KTV/酒吧">KTV/酒吧</a>
                <a href="b5e7d359d4.html" style="color:" target="_blank" title="其他招聘">其他招聘</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="0af77145d6.html" style="color:" target="_blank" title="兼职招聘">兼职招聘</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="13be5e7853.html" style="color:" target="_blank" title="派发/促销">派发/促销</a>
                <a href="7e53ec2516.html" style="color:" target="_blank" title="家教/老师">家教/老师</a>
                <a href="76da427510.html" style="color:" target="_blank" title="餐厅/服务员">餐厅/服务员</a>
                <a href="d901b53a70.html" style="color:" target="_blank" title="模特/礼仪">模特/礼仪</a>
                <a href="fe4b34e6f1.html" style="color:" target="_blank" title="网站/设计">网站/设计</a>
                <a href="567d3aaf11.html" style="color:" target="_blank" title="会计/财务">会计/财务</a>
                <a href="8914e330cc.html" style="color:" target="_blank" title="其他兼职">其他兼职</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index49.html" style="color:" target="_blank" title="求职简历">求职简历</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="index50.html" style="color:" target="_blank" title="销售">销售</a>
                <a href="index51.html" style="color:" target="_blank" title="客服">客服</a>
                <a href="index52.html" style="color:" target="_blank" title="人事/行政/后勤">人事/行政/后勤</a>
                <a href="index53.html" style="color:" target="_blank" title="酒店/餐饮/旅游">酒店/餐饮/旅游</a>
                <a href="index54.html" style="color:" target="_blank" title="美容/美发/保健/健身">美容/美发/保健/健身</a>
                <a href="index55.html" style="color:" target="_blank" title="计算机/网络/通信">计算机/网络/通信</a>
                <a href="index56.html" style="color:" target="_blank" title="建筑/房产/装修/物业">建筑/房产/装修/物业</a>
                <a href="index57.html" style="color:" target="_blank" title="普工/技工/生产">普工/技工/生产</a>
                <a href="index58.html" style="color:" target="_blank" title="司机">司机</a>
                <a href="index59.html" style="color:" target="_blank" title="家政保洁/安保">家政保洁/安保</a>
                <a href="index60.html" style="color:" target="_blank" title="影视/娱乐/KTV">影视/娱乐/KTV</a>
                <a href="index61.html" style="color:" target="_blank" title="编辑/出版/印刷">编辑/出版/印刷</a>
                <a href="index62.html" style="color:" target="_blank" title="教育培训/翻译">教育培训/翻译</a>
                <a href="index63.html" style="color:" target="_blank" title="财务/审计/统计">财务/审计/统计</a>
                <a href="index64.html" style="color:" target="_blank" title="其他职位">其他职位</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="09c2484329.html" style="color:" target="_blank" title="交友活动">交友活动</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="b1a1b485a8.html" style="color:" target="_blank" title="找女友/找男友">找女友/找男友</a>
                <a href="168b1a2862.html" style="color:" target="_blank" title="征婚">征婚</a>
                <a href="1e4cfe8b2c.html" style="color:" target="_blank" title="结伴活动">结伴活动</a>
                <a href="a8fcb5eee8.html" style="color:" target="_blank" title="技能交换">技能交换</a>
                <a href="9c821b4abd.html" style="color:" target="_blank" title="找人/寻物">找人/寻物</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="450d039e11.html" style="color:" target="_blank" title="宠物">宠物</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="f55d106fef.html" style="color:" target="_blank" title="狗狗">狗狗</a>
                <a href="javascript:;" style="color:" target="_blank" title="猫猫/其他宠物">猫猫/其他宠物</a>
                <a href="287beb7a30.html" style="color:" target="_blank" title="宠物免费赠送">宠物免费赠送</a>
                <a href="9dc1231246.html" style="color:" target="_blank" title="宠物用品/食品">宠物用品/食品</a>
                <a href="83ee9fb973.html" style="color:" target="_blank" title="宠物服务/配种">宠物服务/配种</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="36fbfc18c8.html" style="color:" target="_blank" title="生活服务">生活服务</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="4a431509aa.html" style="color:" target="_blank" title="驾校服务">驾校服务</a>
                <a href="51302670f5.html" style="color:" target="_blank" title="陪驾/代驾">陪驾/代驾</a>
                <a href="3a008d9ecb.html" style="color:" target="_blank" title="婚庆/化妆">婚庆/化妆</a>
                <a href="98528f293c.html" style="color:" target="_blank" title="摄影摄像">摄影摄像</a>
                <a href="javascript:;" style="color:" target="_blank" title="美容纤体">美容纤体</a>
                <a href="1fa1557fd9.html" style="color:" target="_blank" title="房屋装修">房屋装修</a>
                <a href="05171a7fea.html" style="color:" target="_blank" title="建材装饰">建材装饰</a>
                <a href="5fedb3b42f.html" style="color:" target="_blank" title="保姆/月嫂">保姆/月嫂</a>
                <a href="0f47e9cb75.html" style="color:" target="_blank" title="保洁/清洗">保洁/清洗</a>
                <a href="" style="color:" target="_blank" title="搬家服务">搬家服务</a>
                <a href="74fcb44d5f.html" style="color:" target="_blank" title="家电维修">家电维修</a>
                <a href="502fe639a2.html" style="color:" target="_blank" title="电脑维修">电脑维修</a>
                <a href="078fa74a78.html" style="color:" target="_blank" title="家居维修">家居维修</a>
                <a href="44ce14997c.html" style="color:" target="_blank" title="管道疏通">管道疏通</a>
                <a href="b8abce713f.html" style="color:" target="_blank" title="外卖/送水">外卖/送水</a>
                <a href="39e22443c2.html" style="color:" target="_blank" title="开锁/修锁">开锁/修锁</a>
                <a href="157096332e.html" style="color:" target="_blank" title="租车服务">租车服务</a>
                <a href="9dbdee06ff.html" style="color:" target="_blank" title="旅游度假">旅游度假</a>
                <a href="c3d3406983.html" style="color:" target="_blank" title="休闲娱乐">休闲娱乐</a>
                <a href="1c963a3217.html" style="color:" target="_blank" title="酒店/宾馆">酒店/宾馆</a>
                <a href="1945eb5268.html" style="color:" target="_blank" title="其它生活服务">其它生活服务</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index88.html" style="color:" target="_blank" title="教育培训">教育培训</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="index89.html" style="color:" target="_blank" title="职业培训">职业培训</a>
                <a href="index90.html" style="color:" target="_blank" title="外语培训">外语培训</a>
                <a href="index91.html" style="color:" target="_blank" title="学历教育">学历教育</a>
                <a href="index92.html" style="color:" target="_blank" title="家教">家教</a>
                <a href="index93.html" style="color:" target="_blank" title="IT培训">IT培训</a>
                <a href="index94.html" style="color:" target="_blank" title="留学签证">留学签证</a>
                <a href="index95.html" style="color:" target="_blank" title="高等教育">高等教育</a>
                <a href="index96.html" style="color:" target="_blank" title="文体培训">文体培训</a>
                <a href="index97.html" style="color:" target="_blank" title="婴幼儿教育">婴幼儿教育</a>
                <a href="index98.html" style="color:" target="_blank" title="中小学教育">中小学教育</a>
                <a href="index99.html" style="color:" target="_blank" title="其他培训">其他培训</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="c400e711cb.html" style="color:" target="_blank" title="商务服务">商务服务</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="46c96ce7cc.html" style="color:" target="_blank" title="投资理财">投资理财</a>
                <a href="5d699a8d32.html" style="color:" target="_blank" title="机票/签证">机票/签证</a>
                <a href="15978bb75c.html" style="color:" target="_blank" title="招商加盟">招商加盟</a>
                <a href="f098b59b66.html" style="color:" target="_blank" title="担保/贷款">担保/贷款</a>
                <a href="316abcb563.html" style="color:" target="_blank" title="公司注册">公司注册</a>
                <a href="bf7c445f06.html" style="color:" target="_blank" title="会计/审计">会计/审计</a>
                <a href="30edb895e7.html" style="color:" target="_blank" title="网站建设">网站建设</a>
                <a href="1b3c526e5b.html" style="color:" target="_blank" title="快递/物流">快递/物流</a>
                <a href="ddebebb3f6.html" style="color:" target="_blank" title="庆典/演出">庆典/演出</a>
                <a href="b156b2164c.html" style="color:" target="_blank" title="印刷/喷绘">印刷/喷绘</a>
                <a href="1b31b4d920.html" style="color:" target="_blank" title="设计策划">设计策划</a>
                <a href="71bf4485c5.html" style="color:" target="_blank" title="律师服务">律师服务</a>
                <a href="25e67521c4.html" style="color:" target="_blank" title="翻译/速记">翻译/速记</a>
                <a href="03fa0eff02.html" style="color:" target="_blank" title="鲜花/盆景">鲜花/盆景</a>
                <a href="0015a74c97.html" style="color:" target="_blank" title="礼品定制">礼品定制</a>
                <a href="javascript:;" style="color:" target="_blank" title="本地名站">本地名站</a>
                <a href="08cd2ccc7a.html" style="color:" target="_blank" title="其它商务服务">其它商务服务</a>
                </dd>
        </dl>
        </li>
                </ul>
        </dd>
        </dl>
    </div>
    <div class="daohang">
        <ul>
            <li><a href="javascript:;" id="index">首页</a></li>
                                    <li><a target="_self" id="3" href="index65.html"><font color="">房屋</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="2" href="index75.html"><font color="">车辆买卖</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="1" href="index27.html"><font color="">二手闲置</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="4" href="d502b520f1.html"><font color="">招聘</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="5" href="0af77145d6.html"><font color="">兼职</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="6" href="index49.html"><font color="">求职</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="7" href="09c2484329.html"><font color="">交友</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="8" href="450d039e11.html"><font color="">宠物</font><sup class=""></sup></a></li>
                        <li><a class="current" target="_self" id="9" href="36fbfc18c8.html"><font color="">生活</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="244" href="c400e711cb.html"><font color="">商务服务</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="group" href="javascript:;"><font color="">团购</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="news" href="news1.html"><font color="">资讯</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="goods" href="goods1.html"><font color="">商品</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="corp" href="corporation1.html"><font color="">店铺</font><sup class=""></sup></a></li>
                    </ul>
    </div>
</div>
<div class="clearfix"></div>
<div id="ad_header"></div>
<div class="clearfix"></div>
<script>loadDefault(['category','category_select'])</script>
<div class="bodybgcolor">
<div class="body1000">
<div class="clear"></div>
<div class="location">
当前位置：<a href="javascript:;">分类信息网-蚂蚁分类信息系统</a> <code> &gt; </code> <a href="36fbfc18c8.html">生活服务</a> <code> &gt; </code> <a href="">搬家服务</a></div>
<div class="clear"></div>
<div class="wrapper"><div id="select">
<dl class='fore' id='select-brand'>
<dt>栏目分类：</dt>
<dd>
<div class='content'>
    <div><a href="36fbfc18c8.html" title="生活服务">不限</a></div>
        <div><a href="4a431509aa.html" title="驾校服务">驾校服务</a></div>
        <div><a href="51302670f5.html" title="陪驾/代驾">陪驾/代驾</a></div>
        <div><a href="3a008d9ecb.html" title="婚庆/化妆">婚庆/化妆</a></div>
        <div><a href="98528f293c.html" title="摄影摄像">摄影摄像</a></div>
        <div><a href="javascript:;" title="美容纤体">美容纤体</a></div>
        <div><a href="1fa1557fd9.html" title="房屋装修">房屋装修</a></div>
        <div><a href="05171a7fea.html" title="建材装饰">建材装饰</a></div>
        <div><a href="5fedb3b42f.html" title="保姆/月嫂">保姆/月嫂</a></div>
        <div><a href="0f47e9cb75.html" title="保洁/清洗">保洁/清洗</a></div>
        <div><a href="" class="curr" title="搬家服务">搬家服务</a></div>
        <div><a href="74fcb44d5f.html" title="家电维修">家电维修</a></div>
        <div><a href="502fe639a2.html" title="电脑维修">电脑维修</a></div>
        <div><a href="078fa74a78.html" title="家居维修">家居维修</a></div>
        <div><a href="44ce14997c.html" title="管道疏通">管道疏通</a></div>
        <div><a href="b8abce713f.html" title="外卖/送水">外卖/送水</a></div>
        <div><a href="39e22443c2.html" title="开锁/修锁">开锁/修锁</a></div>
        <div><a href="157096332e.html" title="租车服务">租车服务</a></div>
        <div><a href="9dbdee06ff.html" title="旅游度假">旅游度假</a></div>
        <div><a href="c3d3406983.html" title="休闲娱乐">休闲娱乐</a></div>
        <div><a href="1c963a3217.html" title="酒店/宾馆">酒店/宾馆</a></div>
        <div><a href="1945eb5268.html" title="其它生活服务">其它生活服务</a></div>
        </div>
</dd>
</dl>
                    <dl>
<dt>热门分站：</dt>
<dd>
<div><a href="#" class="curr">不限</a></div>
        <div><a href="javascript:;">北京</a></div>
<div><a href="javascript:;">上海</a></div>
<div><a href="javascript:;">天津</a></div>
<div><a href="javascript:;">重庆</a></div>
<div><a href="javascript:;">广州</a></div>
<div><a href="javascript:;">深圳</a></div>
<div><a href="javascript:;">杭州</a></div>
<div><a href="javascript:;">福州</a></div>
<div><a href="javascript:;">厦门</a></div>
<div><a href="javascript:;">石家庄</a></div>
<div><a href="javascript:;">郑州</a></div>
<div><a href="javascript:;">武汉</a></div>
<div><a href="javascript:;">长沙</a></div>
<div><a href="javascript:;">南京</a></div>
<div><a href="javascript:;">南昌</a></div>
<div><a href="javascript:;">西安</a></div>
<div><a href="javascript:;">成都</a></div>
<div><a href="changecity.html">更多 &raquo;</a></div>
</dd>
</dl>
</div></div>

<div class="clear"></div>
<div class="body1000">
<div class="new_listhd">
<div class="listhdleft">
<div><a href="#" class="currentr"><span></span>搬家服务信息</a></div>
</div>
<div class="listhdright">
            信息总数：<span>8</span> ，置顶信息可使成交率提高5倍！
<a href="javascript:;" target="_blank">免费发布搬家服务信息>></a>
</div>
</div>
<div class="clearfix"></div>
        <div id="ad_intercatdiv"></div>
<div class="infolists">
<div class="list_box">
<!--栏目列表页头部广告开始-->
<div id="ad_interlistad_top"></div>
<!--栏目列表页头部广告结束-->
<ul id="loadimg">
                <div class="hover  ">
<span class="ltitle">						
<span class="img_count">2图</span><span class="certify">认证</span> <a href="131133.html" title="北京利康货运搬家 精品搬家 公司搬迁 家具拆装" target="_blank" style="color:red; ">北京利康货运搬家 精品搬家 公司搬迁 家具拆装</a>
</span>
                    <span class="clear"></span>
                    <span class="neirong">
                                        <a href="131133.html" title="北京利康货运搬家 精品搬家 公司搬迁 家具拆装" target="_blank"><img src='static/picture/loadimg.gif' data-imgurl='http://demo9.mayicms.com/attachment/information/201010/pre_1286863991sshqh.jpg' title='北京利康货运搬家 精品搬家 公司搬迁 家具拆装'></a>
                                        </span>
                    <span class="clear"></span>
<span class="ltime">
                    	<span class="ltel">1888888888</span>
                    	<span class="ldate">金水区 06-01</span>
                    </span>
</div>
                <div class="hover  ">
<span class="ltitle">						
<span class="img_count">1图</span> <a href="131223.html" title="郑州最好的搬家公司-郑州吉利搬家总公司西区分公司" target="_blank" style=" font-weight:bold;">郑州最好的搬家公司-郑州吉利搬家总公司西区分公司</a>
</span>
                    <span class="clear"></span>
                    <span class="neirong">
                                        <a href="131223.html" title="郑州最好的搬家公司-郑州吉利搬家总公司西区分公司" target="_blank"><img src='static/picture/loadimg.gif' data-imgurl='http://demo9.mayicms.com/attachment/information/201105/pre_1306395933lbbwb.jpg' title='郑州最好的搬家公司-郑州吉利搬家总公司西区分公司'></a>
                                        </span>
                    <span class="clear"></span>
<span class="ltime">
                    	<span class="ltel">18777777777</span>
                    	<span class="ldate">金水区 06-01</span>
                    </span>
</div>
                <div class="hover  ">
<span class="ltitle">						
 <a href="131225.html" title="北京三元桥搬家公司三元桥搬家公司" target="_blank" style=" ">北京三元桥搬家公司三元桥搬家公司</a>
</span>
                    <span class="clear"></span>
                    <span class="neirong">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搬家具体地点：金水，东风路北京四通快捷搬家公司是一家应用现代网络化、科学管理的专业搬家公司。拥有多种车型，并在全市各区如朝阳区，海淀，望京，天通苑，亚运村等均设有搬家货运分部，可就近派车，24小时提供服务；我公司承接个人、企事业单位搬家、长短...                                        </span>
                    <span class="clear"></span>
<span class="ltime">
                    	<span class="ltel">18777777777</span>
                    	<span class="ldate">金水区 06-01</span>
                    </span>
</div>
                <div class="hover  nomr">
<span class="ltitle">						
<span class="tuijian">推荐</span><span class="certify">认证</span> <a href="1963486.html" title="郑州市最专业的搬钢琴有限公司/最大的搬钢琴公司" target="_blank" style="color:red; ">郑州市最专业的搬钢琴有限公司/最大的搬钢琴公司</a>
</span>
                    <span class="clear"></span>
                    <span class="neirong">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;郑州吉利搬家公司（郑州市最专业的搬钢琴有限公司）是集搬家、货运、钢琴搬运、家具拆装、空调移机、长途搬家拉货为一体的专业搬家公司，我公司拥有完善的管理制度以及各种车型的搬家车辆，一定能够满足郑州各界市民朋友的搬家拉货需求。郑州绿城搬家服务中心...                                        </span>
                    <span class="clear"></span>
<span class="ltime">
                    	<span class="ltel">0371-88888449</span>
                    	<span class="ldate">金水区 06-01</span>
                    </span>
</div>
                <div class="hover  ">
<span class="ltitle">						
<span class="tuijian">推荐</span> <a href="131088.html" title="生活服务信息测试内容标题" target="_blank" style=" ">生活服务信息测试内容标题</a>
</span>
                    <span class="clear"></span>
                    <span class="neirong">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宿舍区设娱乐室、网吧及球场等娱乐设施供员工使用。统一面试地址：南昌市中山路277号2楼（工商银行旁边安诚外服）公交路线：旅游一线，旅游二线，2路、7路等到子固路口站下车即到；面试时间：周一至周五上午8：30-下午5：30                                        </span>
                    <span class="clear"></span>
<span class="ltime">
                    	<span class="ltel">1888888888</span>
                    	<span class="ldate">金水区 11-02</span>
                    </span>
</div>
                <div class="hover  ">
<span class="ltitle">						
 <a href="131089.html" title="企业建站只要不到500元啦～" target="_blank" style=" font-weight:bold;">企业建站只要不到500元啦～</a>
</span>
                    <span class="clear"></span>
                    <span class="neirong">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本工作室长期接企业建站，建站费用低至500元。每天工作时间12小时.每月一次倒班；底薪：白班850元；晚班950元；公司根据生产任务安排员工加班,加班费按照《劳动法》之规定计算(平日1.5倍、法定节假日3倍).月收入元。                                        </span>
                    <span class="clear"></span>
<span class="ltime">
                    	<span class="ltel">1888888888</span>
                    	<span class="ldate">金水区 11-02</span>
                    </span>
</div>
                <div class="hover  ">
<span class="ltitle">						
<span class="img_count">1图</span><span class="certify">认证</span> <a href="131134.html" title="王师傅真诚搬家提供金杯24小时为学生、居民单身贵族" target="_blank" style=" ">王师傅真诚搬家提供金杯24小时为学生、居民单身贵族</a>
</span>
                    <span class="clear"></span>
                    <span class="neirong">
                                        <a href="131134.html" title="王师傅真诚搬家提供金杯24小时为学生、居民单身贵族" target="_blank"><img src='static/picture/loadimg.gif' data-imgurl='http://demo9.mayicms.com/attachment/information/201010/pre_1286864111ilzlf.jpg' title='王师傅真诚搬家提供金杯24小时为学生、居民单身贵族'></a>
                                        </span>
                    <span class="clear"></span>
<span class="ltime">
                    	<span class="ltel">18888888888</span>
                    	<span class="ldate">金水区 11-02</span>
                    </span>
</div>
                <div class="hover  nomr">
<span class="ltitle">						
<span class="img_count">1图</span> <a href="131239.html" title="喜洋洋兄弟金杯小型搬家 小件搬家 优惠中 全市均可" target="_blank" style=" font-weight:bold;">喜洋洋兄弟金杯小型搬家 小件搬家 优惠中 全市均可</a>
</span>
                    <span class="clear"></span>
                    <span class="neirong">
                                        <a href="131239.html" title="喜洋洋兄弟金杯小型搬家 小件搬家 优惠中 全市均可" target="_blank"><img src='static/picture/loadimg.gif' data-imgurl='http://demo9.mayicms.com/attachment/information/201106/pre_1307687424ocduh.jpg' title='喜洋洋兄弟金杯小型搬家 小件搬家 优惠中 全市均可'></a>
                                        </span>
                    <span class="clear"></span>
<span class="ltime">
                    	<span class="ltel">010-00000000</span>
                    	<span class="ldate">金水区 11-02</span>
                    </span>
</div>
                </ul>
                <div class="clearfix"></div>
<!--栏目列表页尾部广告开始-->
<div id="ad_interlistad_bottom"></div>
<!--栏目列表页尾部广告结束-->
</div>
<div class="clear"></div>
<div class="pagination2"><span class="anum">共8记录</span>  <span class="current">1</span> </div>
<div class="clear"></div>
</div>
</div><div class="clear"></div>
<div class="colorfoot">
    <div class="cateintro">
        <div class="introleft">搬家服务频道</div>
        <div class="introright">搬家服务频道为您提供搬家服务信息，在此有大量搬家服务信息供您选择，您可以免费查看和发布搬家服务信息。</div>
    </div>
                    <div class="cateintro relate">
    <div class="introleft">搬家服务热门分站</div>
    <div class="introflink">
        <a href='javascript:;' target="_blank">北京搬家服务</a>
        <a href='javascript:;' target="_blank">上海搬家服务</a>
        <a href='javascript:;' target="_blank">天津搬家服务</a>
        <a href='javascript:;' target="_blank">重庆搬家服务</a>
        <a href='javascript:;' target="_blank">广州搬家服务</a>
        <a href='javascript:;' target="_blank">深圳搬家服务</a>
        <a href='javascript:;' target="_blank">杭州搬家服务</a>
        <a href='javascript:;' target="_blank">福州搬家服务</a>
        <a href='javascript:;' target="_blank">厦门搬家服务</a>
        <a href='javascript:;' target="_blank">石家庄搬家服务</a>
        <a href='javascript:;' target="_blank">郑州搬家服务</a>
        <a href='javascript:;' target="_blank">武汉搬家服务</a>
        <a href='javascript:;' target="_blank">长沙搬家服务</a>
        <a href='javascript:;' target="_blank">南京搬家服务</a>
        <a href='javascript:;' target="_blank">南昌搬家服务</a>
        <a href='javascript:;' target="_blank">西安搬家服务</a>
        <a href='javascript:;' target="_blank">成都搬家服务</a>
        </div>
    </div>
    
    </div>
<script type="text/javascript">loadDefault(["hover_bg","loadimg"]);</script><div id="ad_footerbanner"></div>
<div style="display: none" id="ad_none">
<div id="ad_interlistad_top_none">
<ul class="interlistdiv"><li class="hover"><a target="_blank" href="buy.html">二手 空调 淘宝网www.taobao.com - 网购首选。</a> <br>2011新款新潮流，新品发布淘宝网春夏特辑，限时优惠，赶快加入</li><li class="hover"><a href="74b8d0d9b9.html">宠物犬 分类信息网 www.mayicms.com</a> <br>
宠物犬专卖，百万商品超值价淘你喜欢！惊喜低价，时尚购物新体验</li></ul>
</div>
<div id="ad_interlistad_bottom_none">
<ul class="interlistdiv"><li class="hover"><a href="74b8d0d9b9.html" target="_blank">二手车摩托车 www.mayicms.com</a><br>
一淘巨优惠，折扣宝典，教你省钱！免费领 返现金 1折包邮。折扣享不停</li><li class="hover"><a href="4abacc3714.html" target="_blank">二手 空调 淘宝网www.taobao.com</a> <br> 网购首选。2011新款新潮流，新品发布淘宝网春夏特辑，限时优惠，赶快加入</li></ul>
</div>
</div>
<div class="footer_new">
    <div class="foot_new">
        <div class="foot_box">
        	<div class="hd">信息管理</div>
            <div class="bd">
            	<ul>
                	<li><a target="_blank" href="javascript:;">免费发布信息</a></li>
                    <li><a target="_blank" href="javascript:;" rel="nofollow">修改/删除信息</a></li>
                    <li><a target="_blank" href="javascript:;" rel="nofollow">信息快速搜索</a></li>
                </ul>
            </div>
        </div>
        <div class="foot_box" id="sjfw" style="display:none;">
        	<div class="hd">商家服务</div>
            <div class="bd">
            	<ul>
                	<li><a target="_blank" href="javascript:;">商家入驻</a></li>
                    <li><a target="_blank" href="javascript:;">商家登录</a></li>
                </ul>
            </div>
        </div>
        <div class="foot_box">
        	<div class="hd">关于我们</div>
            <div class="bd">
            	<ul>
                                                    	<li><a href="javascript:;" style="color:" target="_blank">网站简介<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">广告服务<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">联系我们<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站帮助<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">友情链接<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站公告<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站地图<sup class=""></sup></a></li>
                                    </ul>
            </div>
        </div>
        <div class="foot_wx">
        	<div class="hd">扫一扫，访问手机站</div>
            <div class="bd">
            	<ul>
                	<img alt="分类信息网-蚂蚁分类信息系统手机版" src="static/picture/qrcode-httpdemo9.mayicms.commind.jpg">
                </ul>
            </div>
        </div>
        <div class="foot_wx" id="gzh">
        	<div class="hd">关注微信公众号</div>
            <div class="bd">
            	<ul>
                	<img alt="分类信息网-蚂蚁分类信息系统微信公众号" src="static/picture/erweima.gif">
                </ul>
            </div>
        </div>
        <div class="foot_mobile">
        	<ul>
            <div class="h1"><font>0371-65366238</font></div>            <div class="h2">客服QQ：<font><a class="_chat" href="javascript:;" title="点击交谈" rel="nofollow" target="_blank">1367882925</a></font></div>            <div class="h3">微信号：<font>kefu-000000</font></div>            <div class="h3">邮箱：<font>mayicms@qq.com</font></div>            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="foot_powered">
    	Copyright &copy; 分类信息网-蚂蚁分类信息系统版权所有 <a href="javascript:;" rel="nofollow"></a><font id="foots">Powered by <a href="javascript:;">MayiCMS</a> <a href="74b8d0d9b9.html">5.9SE GBK</a></font>     </div>
</div>
<div id="top">
<div id="mayi_rmenu" class="mayi-rmenu">
<a rel="nofollow" href="javascript:;" class="btn btn-qq"></a><div class="btn btn-wx"><img class="pic" src="static/picture/erweima_kf.gif"></div>
<div class="btn btn-phone"><div class="phone">0371-65366238</div></div><div class="btn btn-top"></div>
</div>
</div>
<script type="text/javascript">loadDefault(["scrolltop"]);</script>
<script type="text/javascript">loadDefault(["addiv","mayilogin","show_tab","changecity"]);</script></div>
</div>
</div></body>
</html>