<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">

<meta http-equiv="mobile-agent" content="format=html5; url=http://m.demo9.mayicms.com/store-158/">
<meta http-equiv="mobile-agent" content="format=wml; url=http://m.demo9.mayicms.com/store-158/">
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.demo9.mayicms.com/store-158/">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="keywords" content="月登阁幼儿园">
<meta http-equiv="description" content="">
<title>月登阁幼儿园-分类信息网-蚂蚁分类信息系统</title>
<link href="static/css/green.css" type="text/css" rel="stylesheet">
</head>
<body>
<script language="javascript">var current_domain = 'http://demo9.mayicms.com';</script>
<script src="static/js/noerr.js" type="text/javascript"></script>
<script src="static/js/common.js"></script>
<script src="static/js/jquery.min.js" type="text/javascript"></script>
<div class="bartop">
<div class="barcenter">
<div class="barleft">
<ul><a target="_blank" href="javascript:;">分类信息网-蚂蚁分类信息系统首页</a></ul>
<ul class="line"><u></u></ul>
            <ul><a target="_blank" href="javascript:;">机构注册</a></ul>

</div>
<div class="barright">
        	
            <ul><a href="#" onclick="AddFavorite('http://demo9.mayicms.com/store-158/','月登阁幼儿园')">收藏</a></ul>
</div>
</div>
</div>
<div class="clearfix"></div>
<div class="head1">
<ul>
<div class="head1_left">
        	
            <div class="hright">
                <span class="storename">月登阁幼儿园</span>
            </div>
</div>
<div class="head1_right">
        </div>
</ul>
</div>
<div class="clearfix"></div>
<div class="navigation">
<ul>
<li><a href="" class="current">首页</a></li>
<li><a href="javascript:;">机构简介</a></li>
<li><a href="javascript:;">分类信息</a></li>
        <li><a href="javascript:;">商品展示</a></li>
        <li><a href="javascript:;">商家资讯</a></li> <li><a href="javascript:;">优惠促销</a></li> <li><a href="javascript:;">留言点评</a></li>
<li><a href="javascript:;">机构相册</a></li>
<li><a href="javascript:;">联系我们</a></li>
</ul>
</div>
<div class="clear"></div>
<div class="banner"><img src="static/picture/banner.gif"></div>
<div class="clear"></div><div class="content">
<div class="cleft"> 
<div class="box"> 
<div class="tit">机构档案</div> 
<div class="con"> 
<ul class="store_logo" style="text-align:center; margin-bottom:15px;"><a title="月登阁幼儿园"><img src="static/picture/pre_1307614147mf4g1.jpg" onload="if(this.width > 160) this.width = 160"></a></ul>
<!--机构基本信息--> 
<ul class="mb5"> 
   <li>机构级别：<span class="vip">黄金会员</span></li> 
   <li>信用等级：<img align="absmiddle" src="static/picture/11.gif" title="信用值:4000"></li> 
</ul> 
<!--机构基本信息-->
        
        <div class="clearfix"></div>

<!--个人信息--> 
<dl class="pInfor"> 
                <p class="tel">咨询热线：<em></em></p> 
</dl> 
<!--个人信息--> 
        
        <div class="clearfix"></div>

<!--能力评价--> 
<div class="pingjia"> 
 <h3>机构点评<font style="font-weight:100">(<a href="javascript:;" style="text-decoration:underline; font-size:12px">我要提问/点评</a>)</font></h3> 
 <ul class="Identity"> 
   <li>机构被点评：<span class="orange">0</span> 次</li> 
 </ul>
  <div class="clearfix"></div>
 <ul class="dpScore">
  <li><span class="tits">好评<small>(0%)</small></span><div class="kBg"><div class="hBg" style="width:0px;"></div></div></li> 
  <li><span class="tits">中评<small>(0%)</small></span><div class="kBg"><div class="hBg" style="width:0px;"></div></div></li> 
  <li><span class="tits">差评<small>(0%)</small></span><div class="kBg"><div class="hBg" style="width:0px;"></div></div></li> 
  </ul> 
</div>
        
        <div class="clearfix"></div>

<!--身份及认证--> 
 <h3 class="mt10 cfix">资料认证</h3> 
 <ul class="renzheng Identity"> 
 <p><img src="static/picture/person1.gif" alt="已通过身份证认证"> 已通过身份证认证</p> 
 <p><img src="static/picture/company1.gif" alt="已通过营业执照认证"> 已通过营业执照认证</p> 
 </ul> 
<!--身份及认证--> 
        
        <div class="clear"></div>
        
        <div class="viewhit">
        <ul>
            <li>浏览人次：<span class="hit" id="hit"><img src="static/picture/loading.gif" border="0"></span>次</li>
            <li>加盟时间：<span class="time">2010年04月17日</span></li>
        </ul>
        </div>

  </div> 
      
</div>
<div>
        <div class="cfix bdshare">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
        </div>
    </div>
 </div><div class="cright">
        <div class="box"> 
            <div class="tit"><span>机构简介</span></div> 
            <div class="con about cfix">
             <a href="javascript:;" class="all">查看全部 &raquo;</a>
            </div>
        </div>
    	<div class="clear"></div>
    	<div class="box"> 
<div class="tit"><span>分类信息</span></div> 
<div class="con cont_01 cfix"> 
<table class="mrw_list">
   <tr> 
   <th width="85%" class="list_left">信息标题</th> 
                       <th>发布时间</th>
   </tr> 
                                                                     <tr> 
                       <td colspan="5">暂无相关记录！</td> 
                       </tr> 
                                              <tr> 
   <td class="more"><a href="" target="_blank">查看所有信息&raquo;</a></td> 
   <td class="more" colspan="2">&nbsp;</td>
   </tr>
   </table>
 </div>	
</div>
        <div class="clear"></div>
        <div class="box"> 
<div class="tit"><span>最新动态</span></div> 
<div class="con cont_01 cfix"> 
<table class="mrw_list"> 
   <tr> 
   <th width="85%" class="list_left">标题</th> 
   <th align="center">发布时间</th>
   </tr>
                                                                     <tr> 
                       <td colspan="3">暂无相关记录！</td> 
                       </tr> 
                          </table>
 </div>	
</div>
    </div>
</div>
<div class="clear"></div>
<div class="clear"></div>
<div class="foot">
    <div class="footer">
        <ul>
            <div class="foot_nav"><a href="" target="_blank">网站首页</a> - <a href="javascript:;" target="_blank">机构简介</a> - <a href="javascript:;" target="_blank">分类信息</a> - <a href="javascript:;" target="_blank">机构相册</a> - <a href="javascript:;" target="_blank">留言点评</a> - <a href="javascript:;" target="_blank">联系我们</a> - <a href="javascript:;" target="_blank">登录管理</a></div>
            <div class="foot_copyright">版权所有：月登阁幼儿园 联系电话：<br>联系地址：  <font class="none">powered by <a href="javascript:;">mymps</a></font></div>
        </ul>
    </div>
</div>
<div class="floater">
    <span class="htm">手机收藏，随时查看</span>
    <span class="ctm"><img src="static/picture/qrcode-2.2_httpdemo9.mayicms.com5.jpg"></span>
    <span class="btm">手机微站</span>
</div>
<script type="text/javascript">var memberid = 158;</script>
<script type="text/javascript" src="static/js/store.js"></script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></body>
</html>