<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">

<meta http-equiv="mobile-agent" content="format=html5; url=http://m.demo9.mayicms.com/zz/goods.html">
<meta http-equiv="mobile-agent" content="format=wml; url=http://m.demo9.mayicms.com/zz/goods.html">
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.demo9.mayicms.com/zz/goods.html">
<title>郑州网上商城</title>
<meta name="keywords" content="郑州网上商城,郑州同城购物,郑州商品展示">
<meta name="description" content="郑州网上商城,郑州商品展示,郑州同城购物">
<link rel="stylesheet" href="static/css/global.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/newstyle1.css">
<link rel="stylesheet" href="static/css/pagination2.css">
<script src="static/js/noerr.js" type="text/javascript"></script>
<script src="static/js/global.js" type="text/javascript"></script>
<script src="static/js/jquery-1.11.min.js" type="text/javascript"></script>
<script src="static/js/dropdown.js" type="text/javascript"></script>
</head>

<body class="red full bodybgred1"><meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<script type="text/javascript">var current_domain="http://demo9.mayicms.com";var current_cityid="115";var current_logfile="mayi-member.php";</script>
<div class="bartop">
<div class="barcenter">
<div class="barleft">
<ul class="barcity">欢迎来到郑州分类信息网-蚂蚁分类信息系统！</ul> 
<ul class="line"><u></u></ul>
            <ul class="barcang"><a href="files/desktop.php" target="_blank" title="点击右键，选择“目标另存为”，将此快捷方式保存到桌面即可">保存到桌面</a></ul>
<ul class="line"><u></u></ul>
<ul class="barpost"><a href="mayi-post-115.html">快速发信息</a></ul>
<ul class="line"><u></u></ul>
<ul class="bardel"><a href="delinfo-115.html" rel="nofollow">修改/删除信息</a></ul>
<ul class="line"><u></u></ul>
<ul class="barwap"><a href="mobile-115.html">手机浏览</a></ul>
</div>
<div class="barright" id="mayilogin"><img src="static/picture/loading.gif" border="0" align="absmiddle"></div>
</div>
</div>
<div class="clear"></div>
<!--顶部横幅广告开始-->
<div id="ad_topbanner"></div>
<!--顶部横幅广告结束-->
<div class="clearfix"></div>
<div class="logosearchtel">
<div class="weblogo"><a href="index.html"><img src="static/picture/logo.gif" title="分类信息网-蚂蚁分类信息系统" border="0"></a></div>
    <div class="webcity">
    	<span>郑州</span><br><a href="changecity.html">切换分站</a>
    </div>
    <div class="webcity2" style="display:none;">
    	<div class="curcity">郑州 <a href="changecity.html">切换分站</a></div>
        <div class="clearfix"></div>
    	<ul>
                            	<a href="index1.html">北京</a>
                    	<a href="index2.html">上海</a>
                    	<a href="index3.html">天津</a>
                    	<a href="index4.html">重庆</a>
                    	<a href="index5.html">广州</a>
                    	<a href="index6.html">深圳</a>
                    	<a href="index7.html">杭州</a>
                    	<a href="index8.html">福州</a>
                    	<a href="index9.html">厦门</a>
                    	<a href="index10.html">石家庄</a>
                    	<a href="index.html">郑州</a>
                    	<a href="index11.html">武汉</a>
                    	<a href="index12.html">长沙</a>
                    	<a href="index13.html">南京</a>
                    	<a href="index14.html">南昌</a>
                    	<a href="index15.html">西安</a>
                    	<a href="index16.html">成都</a>
                    </ul>
    </div>
    <div class="postedit">
<a class="post" href="javascript:;">免费发布信息</a>
</div>
<div class="websearch">
    	        <div class="s_ulA" id="searchType">
            <ul>
                
            </ul>
        </div>
                <div class="clearfix"></div>
<div class="sch_t_frm">
<form method="get" action="http://demo9.mayicms.com/search.php?" id="searchForm" target="_blank">
            <input name="cityid" type="hidden" value="115">
            <input type="hidden" id="searchtype" name="mod" value="information">
<div class="sch_ct">
<input type="text" class="topsearchinput" value="请输入关键词搜索" name="keywords" id="searchheader" onmouseover="if(this.value==='请输入关键词搜索'){this.value='';}" x-webkit-speech="" lang="zh-CN">
</div>
<div>
<input type="submit" value="搜 索" class="btn-normal">
</div>
</form>
</div>
        <div class="clearfix"></div>
        </div>
</div>
<div class="clear"></div><div class="body1000">
<div class="daohang_con">
    <div class="categories">
        <dl id="infomenu">
        <dt class="titup"><b>信息分类</b></dt>
        <dd class="cont" style="display:none;">
        <ul>
                        <li>
        <em><a href="index17.html" style="color:" target="_blank" title="郑州房屋租售">房屋租售</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州二手房">二手房</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州租房">租房</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州日租/短租">日租/短租</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州店铺转让/出租">店铺转让/出租</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州商铺出售">商铺出售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州写字楼出租">写字楼出租</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州写字楼出售">写字楼出售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州厂房/仓库/土地">厂房/仓库/土地</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州求租/求购">求租/求购</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index19.html" style="color:" target="_blank" title="郑州二手转让">二手转让</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:#ff0000" target="_blank" title="郑州手机转让">手机转让</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州平板电脑">平板电脑</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州台式电脑">台式电脑</a>
                <a href="javascript:;" style="color:#46a200" target="_blank" title="郑州数码产品转让">数码产品转让</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州笔记本">笔记本</a>
                <a href="javascript:;" style="color:#ff9900" target="_blank" title="郑州家用电器">家用电器</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州日常用品">日常用品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州办公经营设备">办公经营设备</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州收藏品/工艺品">收藏品/工艺品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州服装/配饰/鞋包">服装/配饰/鞋包</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州母婴/玩具">母婴/玩具</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州运动/图书/乐器">运动/图书/乐器</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州门票卡券">门票卡券</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州工业设备">工业设备</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州奇石盆景">奇石盆景</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州设备租赁">设备租赁</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家具/办公家具">家具/办公家具</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州照相机">照相机</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州食品农产">食品农产</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州网游/虚拟物品">网游/虚拟物品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他物品">其他物品</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index18.html" style="color:" target="_blank" title="郑州车辆买卖">车辆买卖</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州二手轿车">二手轿车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州货车/工程车">货车/工程车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州面包车/客车">面包车/客车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州拖拉机/收割机">拖拉机/收割机</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州拼车/顺风车">拼车/顺风车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州新车优惠/4S店">新车优惠/4S店</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州汽车用品/配件">汽车用品/配件</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州汽修保养">汽修保养</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州车辆收购服务">车辆收购服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州摩托车/燃气车">摩托车/燃气车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州电动车">电动车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州自行车">自行车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州本地下线车">本地下线车</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index20.html" style="color:" target="_blank" title="郑州全职招聘">全职招聘</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州营业员/促销/零售">营业员/促销/零售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州服务员/收银员">服务员/收银员</a>
                <a href="javascript:;" style="color:#ff0000" target="_blank" title="郑州销售/市场/业务员">销售/市场/业务员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州文员/客服/助理">文员/客服/助理</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保姆/家政">保姆/家政</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州司机/驾驶员">司机/驾驶员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保安/保洁">保安/保洁</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州厨师/切配">厨师/切配</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州送货/快递/仓管">送货/快递/仓管</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州工人/技工">工人/技工</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州财务/会计">财务/会计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州老师/培训师">老师/培训师</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州美工/设计/程序员">美工/设计/程序员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保健师/美容师">保健师/美容师</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州人才招聘会">人才招聘会</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州KTV/酒吧">KTV/酒吧</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他招聘">其他招聘</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index21.html" style="color:" target="_blank" title="郑州兼职招聘">兼职招聘</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州派发/促销">派发/促销</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家教/老师">家教/老师</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州餐厅/服务员">餐厅/服务员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州模特/礼仪">模特/礼仪</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州网站/设计">网站/设计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州会计/财务">会计/财务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他兼职">其他兼职</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index22.html" style="color:" target="_blank" title="郑州求职简历">求职简历</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州销售">销售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州客服">客服</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州人事/行政/后勤">人事/行政/后勤</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州酒店/餐饮/旅游">酒店/餐饮/旅游</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州美容/美发/保健/健身">美容/美发/保健/健身</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州计算机/网络/通信">计算机/网络/通信</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州建筑/房产/装修/物业">建筑/房产/装修/物业</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州普工/技工/生产">普工/技工/生产</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州司机">司机</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家政保洁/安保">家政保洁/安保</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州影视/娱乐/KTV">影视/娱乐/KTV</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州编辑/出版/印刷">编辑/出版/印刷</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州教育培训/翻译">教育培训/翻译</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州财务/审计/统计">财务/审计/统计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他职位">其他职位</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index23.html" style="color:" target="_blank" title="郑州交友活动">交友活动</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州找女友/找男友">找女友/找男友</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州征婚">征婚</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州结伴活动">结伴活动</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州技能交换">技能交换</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州找人/寻物">找人/寻物</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index24.html" style="color:" target="_blank" title="郑州宠物">宠物</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州狗狗">狗狗</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州猫猫/其他宠物">猫猫/其他宠物</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州宠物免费赠送">宠物免费赠送</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州宠物用品/食品">宠物用品/食品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州宠物服务/配种">宠物服务/配种</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index25.html" style="color:" target="_blank" title="郑州生活服务">生活服务</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州驾校服务">驾校服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州陪驾/代驾">陪驾/代驾</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州婚庆/化妆">婚庆/化妆</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州摄影摄像">摄影摄像</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州美容纤体">美容纤体</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州房屋装修">房屋装修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州建材装饰">建材装饰</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保姆/月嫂">保姆/月嫂</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保洁/清洗">保洁/清洗</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州搬家服务">搬家服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家电维修">家电维修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州电脑维修">电脑维修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家居维修">家居维修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州管道疏通">管道疏通</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州外卖/送水">外卖/送水</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州开锁/修锁">开锁/修锁</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州租车服务">租车服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州旅游度假">旅游度假</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州休闲娱乐">休闲娱乐</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州酒店/宾馆">酒店/宾馆</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其它生活服务">其它生活服务</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="javascript:;" style="color:" target="_blank" title="郑州教育培训">教育培训</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州职业培训">职业培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州外语培训">外语培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州学历教育">学历教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家教">家教</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州IT培训">IT培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州留学签证">留学签证</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州高等教育">高等教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州文体培训">文体培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州婴幼儿教育">婴幼儿教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州中小学教育">中小学教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他培训">其他培训</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index26.html" style="color:" target="_blank" title="郑州商务服务">商务服务</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州投资理财">投资理财</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州机票/签证">机票/签证</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州招商加盟">招商加盟</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州担保/贷款">担保/贷款</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州公司注册">公司注册</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州会计/审计">会计/审计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州网站建设">网站建设</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州快递/物流">快递/物流</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州庆典/演出">庆典/演出</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州印刷/喷绘">印刷/喷绘</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州设计策划">设计策划</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州律师服务">律师服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州翻译/速记">翻译/速记</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州鲜花/盆景">鲜花/盆景</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州礼品定制">礼品定制</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州本地名站">本地名站</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其它商务服务">其它商务服务</a>
                </dd>
        </dl>
        </li>
                </ul>
        </dd>
        </dl>
    </div>
    <div class="daohang">
        <ul>
            <li><a href="index.html" id="index">首页</a></li>
                                    <li><a target="_self" id="3" href="index17.html"><font color="">房屋</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="2" href="index18.html"><font color="">车辆买卖</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="1" href="index19.html"><font color="">二手闲置</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="4" href="index20.html"><font color="">招聘</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="5" href="index21.html"><font color="">兼职</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="6" href="index22.html"><font color="">求职</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="7" href="index23.html"><font color="">交友</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="8" href="index24.html"><font color="">宠物</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="9" href="index25.html"><font color="">生活</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="244" href="index26.html"><font color="">商务服务</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="group" href="group.html"><font color="">团购</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="news" href="news.html"><font color="">资讯</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="goods" href=""><font color="">商品</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="corp" href="corporation.html"><font color="">店铺</font><sup class=""></sup></a></li>
                    </ul>
    </div>
</div>
<div class="clearfix"></div>
<div id="ad_header"></div>
<div class="clearfix"></div>
<script>loadDefault(['category','category_select'])</script>
<div class="body1000">
<div class="clear"></div>
<div class="location">当前位置：<a href="index.html">郑州分类信息网-蚂蚁分类信息系统</a> <code>&gt;</code>  <a href="">郑州商品网购</a></div>
<div class="clear"></div>
<div class="wrapper">
<div class="goods_left">
<div class="cate_seller">
<div class="whiteborder">
<div class="bd">
<ul>
                                                <li class="item"><a href="javascript:void(0);" class="rights" onclick="showHide(this,'items1');">运动/户外/休闲</a>
<ul class="contnt" id="items1" style="display:
                                                ;">
<li><a href="goods-catid-1.html">全部</a></li>
                        <li><a href="goods-catid-10.html">运动服</a></li>
<li><a href="goods-catid-11.html">野营</a></li>
<li><a href="goods-catid-12.html">游泳用品</a></li>
<li><a href="goods-catid-13.html">运动包</a></li>
<li><a href="goods-catid-14.html">户外军品</a></li>
<li><a href="goods-catid-15.html">健美健身</a></li>
<li><a href="goods-catid-16.html">瑜珈用品</a></li>
<li><a href="goods-catid-17.html">羽毛球</a></li>
<li><a href="goods-catid-18.html">其它</a></li>
</ul>
</li>
<div class="clearfix"></div>
                        <li class="item"><a href="javascript:void(0);" class="rights" onclick="showHide(this,'items2');">女士服装/内衣</a>
<ul class="contnt" id="items2" style="display:
                        none                        ;">
<li><a href="goods-catid-2.html">全部</a></li>
                        <li><a href="goods-catid-19.html">衬衫</a></li>
<li><a href="goods-catid-20.html">小吊带</a></li>
<li><a href="goods-catid-21.html">韩版</a></li>
<li><a href="goods-catid-22.html">牛仔裤</a></li>
<li><a href="goods-catid-23.html">蕾丝雪纺</a></li>
<li><a href="goods-catid-24.html">小外套</a></li>
<li><a href="goods-catid-25.html">其它</a></li>
</ul>
</li>
<div class="clearfix"></div>
                        <li class="item"><a href="javascript:void(0);" class="rights" onclick="showHide(this,'items3');">男士服装与配件</a>
<ul class="contnt" id="items3" style="display:
                        none                        ;">
<li><a href="goods-catid-3.html">全部</a></li>
                        <li><a href="goods-catid-26.html">外套</a></li>
<li><a href="goods-catid-27.html">西服</a></li>
<li><a href="goods-catid-28.html">男鞋</a></li>
<li><a href="goods-catid-29.html">衬衫</a></li>
<li><a href="goods-catid-30.html">凉鞋</a></li>
<li><a href="goods-catid-31.html">休闲包</a></li>
<li><a href="goods-catid-32.html">皮带</a></li>
<li><a href="goods-catid-33.html">男士内衣</a></li>
<li><a href="goods-catid-34.html">男裤</a></li>
<li><a href="goods-catid-35.html">其它</a></li>
</ul>
</li>
<div class="clearfix"></div>
                        <li class="item"><a href="javascript:void(0);" class="rights" onclick="showHide(this,'items4');">装潢/居家/家具</a>
<ul class="contnt" id="items4" style="display:
                        none                        ;">
<li><a href="goods-catid-4.html">全部</a></li>
                        <li><a href="goods-catid-36.html">时尚家饰</a></li>
<li><a href="goods-catid-37.html">居家日用</a></li>
<li><a href="goods-catid-38.html">家具</a></li>
<li><a href="goods-catid-39.html">灯具</a></li>
<li><a href="goods-catid-40.html">厨具</a></li>
<li><a href="goods-catid-41.html">装潢卫浴</a></li>
<li><a href="goods-catid-42.html">文具天文</a></li>
<li><a href="goods-catid-43.html">其它</a></li>
</ul>
</li>
<div class="clearfix"></div>
                        <li class="item"><a href="javascript:void(0);" class="rights" onclick="showHide(this,'items5');">电器/厨房用品/保健</a>
<ul class="contnt" id="items5" style="display:
                        none                        ;">
<li><a href="goods-catid-5.html">全部</a></li>
                        <li><a href="goods-catid-44.html">厨房用品</a></li>
<li><a href="goods-catid-45.html">卫生保健</a></li>
<li><a href="goods-catid-46.html">个人护理</a></li>
<li><a href="goods-catid-47.html">卫浴电器</a></li>
<li><a href="goods-catid-48.html">其它</a></li>
</ul>
</li>
<div class="clearfix"></div>
                        <li class="item"><a href="javascript:void(0);" class="rights" onclick="showHide(this,'items6');">汽车/摩托车/自行车</a>
<ul class="contnt" id="items6" style="display:
                        none                        ;">
<li><a href="goods-catid-6.html">全部</a></li>
                        <li><a href="goods-catid-49.html">摩托车</a></li>
<li><a href="goods-catid-50.html">自行车</a></li>
<li><a href="goods-catid-51.html">汽车</a></li>
<li><a href="goods-catid-52.html">GPS定位</a></li>
<li><a href="goods-catid-53.html">车内饰</a></li>
<li><a href="goods-catid-54.html">其它</a></li>
</ul>
</li>
<div class="clearfix"></div>
                        <li class="item"><a href="javascript:void(0);" class="rights" onclick="showHide(this,'items7');">珠宝/饰品/手表/眼镜</a>
<ul class="contnt" id="items7" style="display:
                        none                        ;">
<li><a href="goods-catid-7.html">全部</a></li>
                        <li><a href="goods-catid-55.html">手表</a></li>
<li><a href="goods-catid-56.html">太阳眼镜</a></li>
<li><a href="goods-catid-57.html">流行饰品</a></li>
<li><a href="goods-catid-58.html">纯银</a></li>
<li><a href="goods-catid-59.html">钻石水晶</a></li>
<li><a href="goods-catid-60.html">黄金</a></li>
<li><a href="goods-catid-61.html">珍珠翡翠</a></li>
<li><a href="goods-catid-62.html">其它</a></li>
</ul>
</li>
<div class="clearfix"></div>
                        <li class="item"><a href="javascript:void(0);" class="rights" onclick="showHide(this,'items8');">电脑/网络/办公</a>
<ul class="contnt" id="items8" style="display:
                        none                        ;">
<li><a href="goods-catid-8.html">全部</a></li>
                        <li><a href="goods-catid-63.html">整机</a></li>
<li><a href="goods-catid-64.html">笔记本</a></li>
<li><a href="goods-catid-65.html">显示器</a></li>
<li><a href="goods-catid-66.html">软件</a></li>
<li><a href="goods-catid-67.html">硬盘/移动硬盘</a></li>
<li><a href="goods-catid-68.html">键盘/鼠标</a></li>
<li><a href="goods-catid-69.html">其它</a></li>
</ul>
</li>
<div class="clearfix"></div>
                        <li class="item"><a href="javascript:void(0);" class="rights" onclick="showHide(this,'items9');">特价机票/门票旅游/酒店</a>
<ul class="contnt" id="items9" style="display:
                        none                        ;">
<li><a href="goods-catid-9.html">全部</a></li>
                        <li><a href="goods-catid-70.html">特惠酒店</a></li>
<li><a href="goods-catid-72.html">旅游卡券</a></li>
<li><a href="goods-catid-73.html">酒店客栈</a></li>
<li><a href="goods-catid-74.html">其它</a></li>
</ul>
</li>
<div class="clearfix"></div>
                        </ul>
</div>
</div>
</div>
<div class="clear"></div>
<div class="best_seller">
<div class="contntt">
<div class="hd">一周销量排行榜</div>
<div class="bd">
<ul>
                                                <li>
<div class="goods_image"><a href="goods-id-1.html" target="_blank"><img src="static/picture/1309594610f5qys.jpg" border="0" alt="lenovo 联想Y460N-IFI 14英寸笔记本电脑"></a></div>
<div class="goods_title"><a href="goods-id-1.html" target="_blank">lenovo 联想Y460N-IFI 14英寸笔记本电脑</a></div>
<div class="goods_price">&yen;5099</div>
</li>
                            <li>
<div class="goods_image"><a href="goods-id-13.html" target="_blank"><img src="static/picture/13097029593zvcr.jpg" border="0" alt="Apples苹果男式自动扣牛皮皮带高档礼盒AP00188黑"></a></div>
<div class="goods_title"><a href="goods-id-13.html" target="_blank">Apples苹果男式自动扣牛皮皮带高档礼盒AP00188黑</a></div>
<div class="goods_price">&yen;2288</div>
</li>
                            <li>
<div class="goods_image"><a href="goods-id-4.html" target="_blank"><img src="static/picture/1309678401u4lyu.jpg" border="0" alt="苏泊尔火红点煎锅PJ24E1"></a></div>
<div class="goods_title"><a href="goods-id-4.html" target="_blank">苏泊尔火红点煎锅PJ24E1</a></div>
<div class="goods_price">&yen;59</div>
</li>
                            <li>
<div class="goods_image"><a href="goods-id-11.html" target="_blank"><img src="static/picture/130970272175e3u.jpg" border="0" alt="诠渡良品男帆船CLUB纯棉圆领短袖T恤 TD270"></a></div>
<div class="goods_title"><a href="goods-id-11.html" target="_blank">诠渡良品男帆船CLUB纯棉圆领短袖T恤 TD270</a></div>
<div class="goods_price">&yen;4999</div>
</li>
                            <li>
<div class="goods_image"><a href="goods-id-14.html" target="_blank"><img src="static/picture/1309703030kumgh.jpg" border="0" alt="金利来 男式高档真皮短款钱包黑"></a></div>
<div class="goods_title"><a href="goods-id-14.html" target="_blank">金利来 男式高档真皮短款钱包黑</a></div>
<div class="goods_price">&yen;1268</div>
</li>
                            </ul>
</div>
</div>
</div>
</div>
<div class="goods_right">
<div class="hot_seller">
<ul>
                                <li>
<div class="goods_image"><a href="goods-id-1.html" target="_blank"><img src="static/picture/pre_1309594610f5qys.jpg" border="0" alt="lenovo 联想Y460N-IFI 14英寸笔记本电脑"></a></div>
<div class="goodsright">
                            <div class="goods_title"><a href="goods-id-1.html" target="_blank">lenovo 联想Y460N-IFI 14英寸笔记本电脑</a></div>
                            <div class="clearfix"></div>
                            <div class="goods_price">&yen;5099</div>
                        </div>
</li>
                    <li>
<div class="goods_image"><a href="goods-id-2.html" target="_blank"><img src="static/picture/pre_1309596437kfsxq.jpg" border="0" alt="LOVO罗孚润恬竹纤维毯150*180 黄"></a></div>
<div class="goodsright">
                            <div class="goods_title"><a href="goods-id-2.html" target="_blank">LOVO罗孚润恬竹纤维毯150*180 黄</a></div>
                            <div class="clearfix"></div>
                            <div class="goods_price">&yen;239</div>
                        </div>
</li>
                    <li>
<div class="goods_image"><a href="goods-id-5.html" target="_blank"><img src="static/picture/pre_1309678514pvfvq.jpg" border="0" alt="龙州不锈钢双层蒸锅26cm 组合盖"></a></div>
<div class="goodsright">
                            <div class="goods_title"><a href="goods-id-5.html" target="_blank">龙州不锈钢双层蒸锅26cm 组合盖</a></div>
                            <div class="clearfix"></div>
                            <div class="goods_price">&yen;60</div>
                        </div>
</li>
                    <li>
<div class="goods_image"><a href="goods-id-3.html" target="_blank"><img src="static/picture/pre_1309678085lbswv.jpg" border="0" alt="ARMANI阿玛尼 优雅坦克时尚情侣对表 AR0145/AR0146"></a></div>
<div class="goodsright">
                            <div class="goods_title"><a href="goods-id-3.html" target="_blank">ARMANI阿玛尼 优雅坦克时尚情侣对表 AR0145/AR0146</a></div>
                            <div class="clearfix"></div>
                            <div class="goods_price">&yen;1178</div>
                        </div>
</li>
                    </ul>
</div>
<div class="clear"></div>
<div class="goods_list">
<div class="hd">
<li class="currenth"><a href="">按上架时间</a></li>
<li><a href="goods-orderby-hit.html">按人气排序</a></li>
<li><a href="goods-orderby-dateline-tuijian-1.html">仅显示推荐</a></li>
<li><a href="goods-orderby-dateline-cuxiao-1.html">仅显示促销</a></li>
</div>
<div class="bd">
<div class="main_list">
<ul class="cfix">
                    <li> <b><a href="goods-id-13.html" target="_blank"><img src="static/picture/13097029593zvcr.jpg" class="img0" border="0" alt="Apples苹果男式自动扣牛皮皮带高档礼盒AP00188黑"></a></b> <span class="price">2288<del>￥2688</del></span> <span class="title"><a href="goods-id-13.html" target="_blank">Apples苹果男式自动扣牛皮皮</a></span> <a href="goods-id-13.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-13.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-11.html" target="_blank"><img src="static/picture/130970272175e3u.jpg" class="img0" border="0" alt="诠渡良品男帆船CLUB纯棉圆领短袖T恤 TD270"></a></b> <span class="price">4999<del>￥5999</del></span> <span class="title"><a href="goods-id-11.html" target="_blank">诠渡良品男帆船CLUB纯棉圆领</a></span> <a href="goods-id-11.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-11.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-4.html" target="_blank"><img src="static/picture/1309678401u4lyu.jpg" class="img0" border="0" alt="苏泊尔火红点煎锅PJ24E1"></a></b> <span class="price">59<del>￥89</del></span> <span class="title"><a href="goods-id-4.html" target="_blank">苏泊尔火红点煎锅PJ24E1</a></span> <a href="goods-id-4.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-4.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-9.html" target="_blank"><img src="static/picture/1309702466pkubr.jpg" class="img0" border="0" alt="香榭里活性印花全棉双人四件套 菲尔"></a></b> <span class="price">1999<del>￥2499</del></span> <span class="title"><a href="goods-id-9.html" target="_blank">香榭里活性印花全棉双人四件</a></span> <a href="goods-id-9.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-9.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-2.html" target="_blank"><img src="static/picture/1309596437kfsxq.jpg" class="img0" border="0" alt="LOVO罗孚润恬竹纤维毯150*180 黄"></a></b> <span class="price">239<del>￥498</del></span> <span class="title"><a href="goods-id-2.html" target="_blank">LOVO罗孚润恬竹纤维毯150*18</a></span> <a href="goods-id-2.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-2.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-3.html" target="_blank"><img src="static/picture/1309678085lbswv.jpg" class="img0" border="0" alt="ARMANI阿玛尼 优雅坦克时尚情侣对表 AR0145/AR0146"></a></b> <span class="price">1178<del>￥5300</del></span> <span class="title"><a href="goods-id-3.html" target="_blank">ARMANI阿玛尼 优雅坦克时尚情</a></span> <a href="goods-id-3.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-3.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-8.html" target="_blank"><img src="static/picture/1309702351xtbg7.jpg" class="img0" border="0" alt="安榻精梳磨毛小提花双人床单四件套 相思网蓝"></a></b> <span class="price">99<del>￥299</del></span> <span class="title"><a href="goods-id-8.html" target="_blank">安榻精梳磨毛小提花双人床单</a></span> <a href="goods-id-8.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-8.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-7.html" target="_blank"><img src="static/picture/1309702276hek3y.jpg" class="img0" border="0" alt="Estée Lauder雅诗兰黛 密集焕白四件套"></a></b> <span class="price">1799<del>￥2142</del></span> <span class="title"><a href="goods-id-7.html" target="_blank">Estée Lauder雅诗兰黛 密集</a></span> <a href="goods-id-7.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-7.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-16.html" target="_blank"><img src="static/picture/1309703254n9qij.jpg" class="img0" border="0" alt="苹果（Apple）iPod touch 4代 8G MC540CH/A 多媒体播放器"></a></b> <span class="price">1255<del>￥1555</del></span> <span class="title"><a href="goods-id-16.html" target="_blank">苹果（Apple）iPod touch 4代</a></span> <a href="goods-id-16.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-16.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-10.html" target="_blank"><img src="static/picture/13097025621mw2e.jpg" class="img0" border="0" alt="风韵双面茶叶枕促销款30*50cm"></a></b> <span class="price">1299<del>￥1999</del></span> <span class="title"><a href="goods-id-10.html" target="_blank">风韵双面茶叶枕促销款30*50c</a></span> <a href="goods-id-10.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-10.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-12.html" target="_blank"><img src="static/picture/1309702816aq3lh.jpg" class="img0" border="0" alt="Mr.p Absolute双肩包 男包女包"></a></b> <span class="price">3758<del>￥6728</del></span> <span class="title"><a href="goods-id-12.html" target="_blank">Mr.p Absolute双肩包 男包女</a></span> <a href="goods-id-12.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-12.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-14.html" target="_blank"><img src="static/picture/1309703030kumgh.jpg" class="img0" border="0" alt="金利来 男式高档真皮短款钱包黑"></a></b> <span class="price">1268<del>￥2268</del></span> <span class="title"><a href="goods-id-14.html" target="_blank">金利来 男式高档真皮短款钱包</a></span> <a href="goods-id-14.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-14.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-15.html" target="_blank"><img src="static/picture/1309703129qws7t.jpg" class="img0" border="0" alt="莱客优品 女子中筒雪地靴澳洲绵羊皮毛一体 真皮真毛UGG5825 五色"></a></b> <span class="price">1588<del>￥1788</del></span> <span class="title"><a href="goods-id-15.html" target="_blank">莱客优品 女子中筒雪地靴澳洲</a></span> <a href="goods-id-15.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-15.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-6.html" target="_blank"><img src="static/picture/13096787236sv7r.jpg" class="img0" border="0" alt="2011款李宁/Lining新动运动背包 电脑双肩包CBSF018-1"></a></b> <span class="price">150<del>￥180</del></span> <span class="title"><a href="goods-id-6.html" target="_blank">2011款李宁/Lining新动运动背</a></span> <a href="goods-id-6.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-6.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-5.html" target="_blank"><img src="static/picture/1309678514pvfvq.jpg" class="img0" border="0" alt="龙州不锈钢双层蒸锅26cm 组合盖"></a></b> <span class="price">60<del>￥90</del></span> <span class="title"><a href="goods-id-5.html" target="_blank">龙州不锈钢双层蒸锅26cm 组合</a></span> <a href="goods-id-5.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-5.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
<li> <b><a href="goods-id-1.html" target="_blank"><img src="static/picture/1309594610f5qys.jpg" class="img0" border="0" alt="lenovo 联想Y460N-IFI 14英寸笔记本电脑"></a></b> <span class="price">5099<del>￥5499</del></span> <span class="title"><a href="goods-id-1.html" target="_blank">lenovo 联想Y460N-IFI 14英寸</a></span> <a href="goods-id-1.html" class="menu" target="_blank"><img src="static/picture/pro_list_18.gif"></a> <a href="goods-id-1.html" target="_blank" class="menu"><img src="static/picture/pro_list_29.gif" alt=""></a> </li>
</ul>

</div>
<div class="clear15"></div>
<div class="pagination2"><span class="anum">共16记录</span>  <span class="current">1</span> </div>
</div>
</div>
</div>
</div>
<div class="clear"></div><div id="ad_footerbanner"></div>
<div style="display: none" id="ad_none">
<div id="ad_interlistad_top_none">
<ul class="interlistdiv"><li class="hover"><a target="_blank" href="buy.html">二手 空调 淘宝网www.taobao.com - 网购首选。</a> <br>2011新款新潮流，新品发布淘宝网春夏特辑，限时优惠，赶快加入</li><li class="hover"><a href="74b8d0d9b9.html">宠物犬 分类信息网 www.mayicms.com</a> <br>
宠物犬专卖，百万商品超值价淘你喜欢！惊喜低价，时尚购物新体验</li></ul>
</div>
<div id="ad_interlistad_bottom_none">
<ul class="interlistdiv"><li class="hover"><a href="74b8d0d9b9.html" target="_blank">二手车摩托车 www.mayicms.com</a><br>
一淘巨优惠，折扣宝典，教你省钱！免费领 返现金 1折包邮。折扣享不停</li><li class="hover"><a href="4abacc3714.html" target="_blank">二手 空调 淘宝网www.taobao.com</a> <br> 网购首选。2011新款新潮流，新品发布淘宝网春夏特辑，限时优惠，赶快加入</li></ul>
</div>
</div>
<div class="footer_new">
    <div class="foot_new">
        <div class="foot_box">
        	<div class="hd">信息管理</div>
            <div class="bd">
            	<ul>
                	<li><a target="_blank" href="mayi-post-115.html">免费发布信息</a></li>
                    <li><a target="_blank" href="delinfo-115.html" rel="nofollow">修改/删除信息</a></li>
                    <li><a target="_blank" href="search-115.html" rel="nofollow">信息快速搜索</a></li>
                </ul>
            </div>
        </div>
        <div class="foot_box" id="sjfw" style="display:none;">
        	<div class="hd">商家服务</div>
            <div class="bd">
            	<ul>
                	<li><a target="_blank" href="mayi-member-register_store_115.html">商家入驻</a></li>
                    <li><a target="_blank" href="mayi-member-115.html">商家登录</a></li>
                </ul>
            </div>
        </div>
        <div class="foot_box">
        	<div class="hd">关于我们</div>
            <div class="bd">
            	<ul>
                                                    	<li><a href="javascript:;" style="color:" target="_blank">网站简介<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">广告服务<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">联系我们<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站帮助<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">友情链接<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站公告<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站地图<sup class=""></sup></a></li>
                                    </ul>
            </div>
        </div>
        <div class="foot_wx">
        	<div class="hd">扫一扫，访问手机站</div>
            <div class="bd">
            	<ul>
                	<img alt="分类信息网-蚂蚁分类信息系统手机版" src="static/picture/qrcode-httpdemo9.mayicms.commind.jpg">
                </ul>
            </div>
        </div>
        <div class="foot_wx" id="gzh">
        	<div class="hd">关注微信公众号</div>
            <div class="bd">
            	<ul>
                	<img alt="分类信息网-蚂蚁分类信息系统微信公众号" src="static/picture/erweima.gif">
                </ul>
            </div>
        </div>
        <div class="foot_mobile">
        	<ul>
            <div class="h1"><font>0371-65366238</font></div>            <div class="h2">客服QQ：<font><a class="_chat" href="javascript:;" title="点击交谈" rel="nofollow" target="_blank">1367882925</a></font></div>            <div class="h3">微信号：<font>kefu-000000</font></div>            <div class="h3">邮箱：<font>mayicms@qq.com</font></div>            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="foot_powered">
    	Copyright &copy; 分类信息网-蚂蚁分类信息系统版权所有 <a href="javascript:;" rel="nofollow"></a><font id="foots">Powered by <a href="74b8d0d9b9.html">MayiCMS</a> <a href="javascript:;">5.9SE GBK</a></font>     </div>
</div>

<div id="top">
<div id="mayi_rmenu" class="mayi-rmenu">
<a rel="nofollow" href="javascript:;" class="btn btn-qq"></a><div class="btn btn-wx"><img class="pic" src="static/picture/erweima_kf.gif"></div>
<div class="btn btn-phone"><div class="phone">0371-65366238</div></div><div class="btn btn-top"></div>
</div>
</div>
<script type="text/javascript">loadDefault(["addiv","mayilogin","show_tab","scrolltop","changecity"]);</script></div>
</div>
</body>
</html>