<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">

<meta http-equiv="mobile-agent" content="format=html5; url=http://m.demo9.mayicms.com/zz/">
<meta http-equiv="mobile-agent" content="format=wml; url=http://m.demo9.mayicms.com/zz/">
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.demo9.mayicms.com/zz/">
<title>郑州分类信息系统-郑州免费发信息网站-郑州分类信息网</title>
<meta name="keywords" content="郑州分类信息系统,郑州分类信息网站,郑州分类信息程序,郑州分类信息网源码">
<meta name="description" content="郑州分类信息网,郑州分类信息系统,郑州分类信息网站,郑州分类信息程序,郑州php分类信息源码演示 - MayiCMS全国版演示站">

<link rel="stylesheet" href="static/css/global.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/index.css">
<script src="static/js/global.js" type="text/javascript"></script>
<script src="static/js/jquery-1.11.min.js" type="text/javascript"></script>
</head>

<body class="green full bodybgblue0"><meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<script type="text/javascript">var current_domain="http://demo9.mayicms.com";var current_cityid="115";var current_logfile="mayi-member.php";</script>
<div class="bartop">
<div class="barcenter">
<div class="barleft">
<ul class="barcity">欢迎来到郑州分类信息网！</ul> 
<ul class="line"><u></u></ul>
            <ul class="barcang"><a href="files/desktop.php" target="_blank" title="点击右键，选择“目标另存为”，将此快捷方式保存到桌面即可">保存到桌面</a></ul>
<ul class="line"><u></u></ul>
<ul class="barpost"><a href="mayi-post-115.html">快速发信息</a></ul>
<ul class="line"><u></u></ul>
<ul class="bardel"><a href="delinfo-115.html" rel="nofollow">修改/删除信息</a></ul>
<ul class="line"><u></u></ul>
<ul class="barwap"><a href="mobile-115.html">手机浏览</a></ul>
</div>
<div class="barright" id="mayilogin"><img src="static/picture/loading.gif" border="0" align="absmiddle"></div>
</div>
</div>
<div class="clear"></div>
<!--顶部横幅广告开始-->
<div id="ad_topbanner"></div>
<!--顶部横幅广告结束-->
<div class="clearfix"></div>
<div class="logosearchtel">
<div class="weblogo"><a href="index.html"><img src="static/picture/logo.gif" title="分类信息网" border="0"></a></div>
    <div class="webcity">
    	<span>郑州</span><br><a href="changecity.html">切换分站</a>
    </div>
    <div class="webcity2" style="display:none;">
    	<div class="curcity">郑州 <a href="changecity.html">切换分站</a></div>
        <div class="clearfix"></div>
    	<ul>
                            	<a href="index1.html">北京</a>
                    	<a href="index2.html">上海</a>
                    	<a href="index3.html">天津</a>
                    	<a href="index4.html">重庆</a>
                    	<a href="index5.html">广州</a>
                    	<a href="index6.html">深圳</a>
                    	<a href="index7.html">杭州</a>
                    	<a href="index8.html">福州</a>
                    	<a href="index9.html">厦门</a>
                    	<a href="index10.html">石家庄</a>
                    	<a href="index.html">郑州</a>
                    	<a href="index11.html">武汉</a>
                    	<a href="index12.html">长沙</a>
                    	<a href="index13.html">南京</a>
                    	<a href="index14.html">南昌</a>
                    	<a href="index15.html">西安</a>
                    	<a href="index16.html">成都</a>
                    </ul>
    </div>
    <div class="postedit">
<a class="post" href="mayi-post-115.html">免费发布信息</a>
</div>
<div class="websearch">
    	        <div class="s_ulA" id="searchType">
        <ul>
        </ul>
        </div>
                <div class="clearfix"></div>
<div class="sch_t_frm">
<form method="get" action="http://demo9.mayicms.com/search.php?" id="searchForm" target="_blank">
            <input name="cityid" type="hidden" value="115">
            <input type="hidden" id="searchtype" name="mod" value="information">
<div class="sch_ct">
<input type="text" class="topsearchinput" value="请输入关键词搜索" name="keywords" id="searchheader" onmouseover="if(this.value==='请输入关键词搜索'){this.value='';}" x-webkit-speech="" lang="zh-CN">
</div>
<div>
<input type="submit" value="搜 索" class="btn-normal">
</div>
</form>
</div>
        <div class="clearfix"></div>
        </div>
</div>
<div class="clear"></div><div class="body1000">
<div class="daohang_con2">
    <div class="daohang2">
        <ul>
            <li><a href="index.html" id="index">首页</a></li>
                                    <li><a target="_self" id="3" href="index17.html"><font color="">房屋</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="2" href="index18.html"><font color="">车辆买卖</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="1" href="index19.html"><font color="">二手闲置</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="4" href="index20.html"><font color="">招聘</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="5" href="index21.html"><font color="">兼职</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="6" href="index22.html"><font color="">求职</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="7" href="index23.html"><font color="">交友</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="8" href="index24.html"><font color="">宠物</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="9" href="index25.html"><font color="">生活</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="244" href="index26.html"><font color="">商务服务</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="group" href="group.html"><font color="">团购</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="news" href="news.html"><font color="">资讯</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="goods" href="goods.html"><font color="">商品</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="corp" href="corporation.html"><font color="">店铺</font><sup class=""></sup></a></li>
                    </ul>
    </div>
</div>
<div class="clearfix"></div>
<div id="ad_header"></div>
<div class="clearfix"></div>
<div class="bodybgcolor">
<div class="body1000">
    <div id="ad_header"></div>
<div class="clear"></div>
<div class="wrapper">
        
<div class="category_inner">
        <div id="ni-flist">
        
        <div class="ni-flist1">
                <div class="ni-fbg">
            <div class="ni-f-icon"><img src="static/picture/icon_ershou.gif"></div>            <span><a style="color:" href="index27.html" target="_blank">二手转让</a></span>
            <div class="postinfos"><a href="mayi-post-115.html" target="_blank">+发布二手转让</a></div>
        </div>
        <div class="ni-glist-section short">
                        <li><a style="color:#ff0000" href="index28.html" target="_blank">手机转让</a></li>
                        <li><a style="color:" href="index29.html" target="_blank">平板电脑</a></li>
                        <li><a style="color:" href="index30.html" target="_blank">台式电脑</a></li>
                        <li><a style="color:#46a200" href="index31.html" target="_blank">数码产品转让</a></li>
                        <li><a style="color:" href="index32.html" target="_blank">笔记本</a></li>
                        <li><a style="color:#ff9900" href="index33.html" target="_blank">家用电器</a></li>
                        <li><a style="color:" href="index34.html" target="_blank">日常用品</a></li>
                        <li><a style="color:" href="index35.html" target="_blank">办公经营设备</a></li>
                        <li><a style="color:" href="index36.html" target="_blank">收藏品/工艺品</a></li>
                        <li><a style="color:" href="index37.html" target="_blank">服装/配饰/鞋包</a></li>
                        <li><a style="color:" href="index38.html" target="_blank">母婴/玩具</a></li>
                        <li><a style="color:" href="index39.html" target="_blank">运动/图书/乐器</a></li>
                        <li><a style="color:" href="index40.html" target="_blank">门票卡券</a></li>
                        <li><a style="color:" href="index41.html" target="_blank">工业设备</a></li>
                        <li><a style="color:" href="index42.html" target="_blank">奇石盆景</a></li>
                        <li><a style="color:" href="index43.html" target="_blank">设备租赁</a></li>
                        <li><a style="color:" href="index44.html" target="_blank">家具/办公家具</a></li>
                        <li><a style="color:" href="index45.html" target="_blank">照相机</a></li>
                        <li><a style="color:" href="index46.html" target="_blank">食品农产</a></li>
                        <li><a style="color:" href="index47.html" target="_blank">网游/虚拟物品</a></li>
                        <li><a style="color:" href="index48.html" target="_blank">其他物品</a></li>
                    </div>
        <div id="ad_indexcatad_1"></div>
        <div class="clear"></div>
                <div class="ni-fbg">
            <div class="ni-f-icon"><img src="static/picture/icon_jianli.gif"></div>            <span><a style="color:" href="index49.html" target="_blank">求职简历</a></span>
            <div class="postinfos"><a href="mayi-post-115.html" target="_blank">+发布求职简历</a></div>
        </div>
        <div class="ni-glist-section short">
                        <li><a style="color:" href="index50.html" target="_blank">销售</a></li>
                        <li><a style="color:" href="index51.html" target="_blank">客服</a></li>
                        <li><a style="color:" href="index52.html" target="_blank">人事/行政/后勤</a></li>
                        <li><a style="color:" href="index53.html" target="_blank">酒店/餐饮/旅游</a></li>
                        <li><a style="color:" href="index54.html" target="_blank">美容/美发/保健/健身</a></li>
                        <li><a style="color:" href="index55.html" target="_blank">计算机/网络/通信</a></li>
                        <li><a style="color:" href="index56.html" target="_blank">建筑/房产/装修/物业</a></li>
                        <li><a style="color:" href="index57.html" target="_blank">普工/技工/生产</a></li>
                        <li><a style="color:" href="index58.html" target="_blank">司机</a></li>
                        <li><a style="color:" href="index59.html" target="_blank">家政保洁/安保</a></li>
                        <li><a style="color:" href="index60.html" target="_blank">影视/娱乐/KTV</a></li>
                        <li><a style="color:" href="index61.html" target="_blank">编辑/出版/印刷</a></li>
                        <li><a style="color:" href="index62.html" target="_blank">教育培训/翻译</a></li>
                        <li><a style="color:" href="index63.html" target="_blank">财务/审计/统计</a></li>
                        <li><a style="color:" href="index64.html" target="_blank">其他职位</a></li>
                    </div>
        <div id="ad_indexcatad_6"></div>
        <div class="clear"></div>
                </div>
        
        <div class="ni-flist2">
                <div class="ni-fbg">
            <div class="ni-f-icon"><img src="static/picture/icon_fang.gif"></div>            <span><a style="color:" href="index65.html" target="_blank">房屋租售</a></span>
            <div class="postinfos"><a href="mayi-post-115.html" target="_blank">+发布房屋租售</a></div>
        </div>
        <div class="ni-glist-section short">
                        <li><a style="color:" href="index66.html" target="_blank">二手房</a></li>
                        <li><a style="color:" href="index67.html" target="_blank">租房</a></li>
                        <li><a style="color:" href="index68.html" target="_blank">日租/短租</a></li>
                        <li><a style="color:" href="index69.html" target="_blank">店铺转让/出租</a></li>
                        <li><a style="color:" href="index70.html" target="_blank">商铺出售</a></li>
                        <li><a style="color:" href="index71.html" target="_blank">写字楼出租</a></li>
                        <li><a style="color:" href="index72.html" target="_blank">写字楼出售</a></li>
                        <li><a style="color:" href="index73.html" target="_blank">厂房/仓库/土地</a></li>
                        <li><a style="color:" href="index74.html" target="_blank">求租/求购</a></li>
                    </div>
        <div id="ad_indexcatad_3"></div>
        <div class="clear"></div>
                <div class="ni-fbg">
            <div class="ni-f-icon"><img src="static/picture/icon_che.gif"></div>            <span><a style="color:" href="index75.html" target="_blank">车辆买卖</a></span>
            <div class="postinfos"><a href="mayi-post-115.html" target="_blank">+发布车辆买卖</a></div>
        </div>
        <div class="ni-glist-section short">
                        <li><a style="color:" href="index76.html" target="_blank">二手轿车</a></li>
                        <li><a style="color:" href="index77.html" target="_blank">货车/工程车</a></li>
                        <li><a style="color:" href="index78.html" target="_blank">面包车/客车</a></li>
                        <li><a style="color:" href="index79.html" target="_blank">拖拉机/收割机</a></li>
                        <li><a style="color:" href="index80.html" target="_blank">拼车/顺风车</a></li>
                        <li><a style="color:" href="index81.html" target="_blank">新车优惠/4S店</a></li>
                        <li><a style="color:" href="index82.html" target="_blank">汽车用品/配件</a></li>
                        <li><a style="color:" href="index83.html" target="_blank">汽修保养</a></li>
                        <li><a style="color:" href="index84.html" target="_blank">车辆收购服务</a></li>
                        <li><a style="color:" href="javascript:;" target="_blank">摩托车/燃气车</a></li>
                        <li><a style="color:" href="index85.html" target="_blank">电动车</a></li>
                        <li><a style="color:" href="index86.html" target="_blank">自行车</a></li>
                        <li><a style="color:" href="index87.html" target="_blank">本地下线车</a></li>
                    </div>
        <div id="ad_indexcatad_2"></div>
        <div class="clear"></div>
                <div class="ni-fbg">
            <div class="ni-f-icon"><img src="static/picture/icon_edu.gif"></div>            <span><a style="color:" href="index88.html" target="_blank">教育培训</a></span>
            <div class="postinfos"><a href="mayi-post-115.html" target="_blank">+发布教育培训</a></div>
        </div>
        <div class="ni-glist-section tiny">
                        <li><a style="color:" href="index89.html" target="_blank">职业培训</a></li>
                        <li><a style="color:" href="index90.html" target="_blank">外语培训</a></li>
                        <li><a style="color:" href="index91.html" target="_blank">学历教育</a></li>
                        <li><a style="color:" href="index92.html" target="_blank">家教</a></li>
                        <li><a style="color:" href="index93.html" target="_blank">IT培训</a></li>
                        <li><a style="color:" href="index94.html" target="_blank">留学签证</a></li>
                        <li><a style="color:" href="index95.html" target="_blank">高等教育</a></li>
                        <li><a style="color:" href="index96.html" target="_blank">文体培训</a></li>
                        <li><a style="color:" href="index97.html" target="_blank">婴幼儿教育</a></li>
                        <li><a style="color:" href="index98.html" target="_blank">中小学教育</a></li>
                        <li><a style="color:" href="index99.html" target="_blank">其他培训</a></li>
                    </div>
        <div id="ad_indexcatad_10"></div>
        <div class="clear"></div>
                </div>
        
        <div class="ni-flist2">
                <div class="ni-fbg">
            <div class="ni-f-icon"><img src="static/picture/icon_zhaopin.gif"></div>            <span><a style="color:" href="d502b520f1.html" target="_blank">全职招聘</a></span>
            <div class="postinfos"><a href="mayi-post-115.html" target="_blank">+发布全职招聘</a></div>
        </div>
        <div class="ni-glist-section short">
                        <li><a style="color:" href="3fae87dedf.html" target="_blank">营业员/促销/零售</a></li>
                        <li><a style="color:" href="eb83b251df.html" target="_blank">服务员/收银员</a></li>
                        <li><a style="color:#ff0000" href="4b696a62e1.html" target="_blank">销售/市场/业务员</a></li>
                        <li><a style="color:" href="a9b8fe24b3.html" target="_blank">文员/客服/助理</a></li>
                        <li><a style="color:" href="d53ca6cc1f.html" target="_blank">保姆/家政</a></li>
                        <li><a style="color:" href="dcc0728d59.html" target="_blank">司机/驾驶员</a></li>
                        <li><a style="color:" href="657b7cad21.html" target="_blank">保安/保洁</a></li>
                        <li><a style="color:" href="81c73f6a6a.html" target="_blank">厨师/切配</a></li>
                        <li><a style="color:" href="eb4ab44430.html" target="_blank">送货/快递/仓管</a></li>
                        <li><a style="color:" href="bd672ee440.html" target="_blank">工人/技工</a></li>
                        <li><a style="color:" href="815d67a028.html" target="_blank">财务/会计</a></li>
                        <li><a style="color:" href="3c0c5b9181.html" target="_blank">老师/培训师</a></li>
                        <li><a style="color:" href="javascript:;" target="_blank">美工/设计/程序员</a></li>
                        <li><a style="color:" href="4ab80b5483.html" target="_blank">保健师/美容师</a></li>
                        <li><a style="color:" href="9ac8341f44.html" target="_blank">人才招聘会</a></li>
                        <li><a style="color:" href="30fdd9a01a.html" target="_blank">KTV/酒吧</a></li>
                        <li><a style="color:" href="b5e7d359d4.html" target="_blank">其他招聘</a></li>
                    </div>
        <div id="ad_indexcatad_4"></div>
        <div class="clear"></div>
                <div class="ni-fbg">
            <div class="ni-f-icon"><img src="static/picture/icon_jzzhaopin.gif"></div>            <span><a style="color:" href="0af77145d6.html" target="_blank">兼职招聘</a></span>
            <div class="postinfos"><a href="mayi-post-115.html" target="_blank">+发布兼职招聘</a></div>
        </div>
        <div class="ni-glist-section short">
                        <li><a style="color:" href="13be5e7853.html" target="_blank">派发/促销</a></li>
                        <li><a style="color:" href="7e53ec2516.html" target="_blank">家教/老师</a></li>
                        <li><a style="color:" href="76da427510.html" target="_blank">餐厅/服务员</a></li>
                        <li><a style="color:" href="d901b53a70.html" target="_blank">模特/礼仪</a></li>
                        <li><a style="color:" href="fe4b34e6f1.html" target="_blank">网站/设计</a></li>
                        <li><a style="color:" href="567d3aaf11.html" target="_blank">会计/财务</a></li>
                        <li><a style="color:" href="8914e330cc.html" target="_blank">其他兼职</a></li>
                    </div>
        <div id="ad_indexcatad_5"></div>
        <div class="clear"></div>
                <div class="ni-fbg">
            <div class="ni-f-icon"><img src="static/picture/icon_love.gif"></div>            <span><a style="color:" href="09c2484329.html" target="_blank">交友活动</a></span>
            <div class="postinfos"><a href="mayi-post-115.html" target="_blank">+发布交友活动</a></div>
        </div>
        <div class="ni-glist-section short">
                        <li><a style="color:" href="b1a1b485a8.html" target="_blank">找女友/找男友</a></li>
                        <li><a style="color:" href="168b1a2862.html" target="_blank">征婚</a></li>
                        <li><a style="color:" href="1e4cfe8b2c.html" target="_blank">结伴活动</a></li>
                        <li><a style="color:" href="a8fcb5eee8.html" target="_blank">技能交换</a></li>
                        <li><a style="color:" href="9c821b4abd.html" target="_blank">找人/寻物</a></li>
                    </div>
        <div id="ad_indexcatad_7"></div>
        <div class="clear"></div>
                </div>
        
        <div class="ni-flist3">
                <div class="ni-fbg">
            <div class="ni-f-icon"><img src="static/picture/icon_pet.gif"></div>            <span><a style="color:" href="450d039e11.html" target="_blank">宠物</a></span>
            <div class="postinfos"><a href="mayi-post-115.html" target="_blank">+发布宠物</a></div>
        </div>
        <div class="ni-glist-section short">
                        <li><a style="color:" href="f55d106fef.html" target="_blank">狗狗</a></li>
                        <li><a style="color:" href="javascript:;" target="_blank">猫猫/其他宠物</a></li>
                        <li><a style="color:" href="287beb7a30.html" target="_blank">宠物免费赠送</a></li>
                        <li><a style="color:" href="9dc1231246.html" target="_blank">宠物用品/食品</a></li>
                        <li><a style="color:" href="83ee9fb973.html" target="_blank">宠物服务/配种</a></li>
                    </div>
        <div id="ad_indexcatad_8"></div>
        <div class="clear"></div>
                <div class="ni-fbg">
            <div class="ni-f-icon"><img src="static/picture/icon_life.gif"></div>            <span><a style="color:" href="36fbfc18c8.html" target="_blank">生活服务</a></span>
            <div class="postinfos"><a href="mayi-post-115.html" target="_blank">+发布生活服务</a></div>
        </div>
        <div class="ni-glist-section tiny">
                        <li><a style="color:" href="4a431509aa.html" target="_blank">驾校服务</a></li>
                        <li><a style="color:" href="51302670f5.html" target="_blank">陪驾/代驾</a></li>
                        <li><a style="color:" href="3a008d9ecb.html" target="_blank">婚庆/化妆</a></li>
                        <li><a style="color:" href="98528f293c.html" target="_blank">摄影摄像</a></li>
                        <li><a style="color:" href="javascript:;" target="_blank">美容纤体</a></li>
                        <li><a style="color:" href="1fa1557fd9.html" target="_blank">房屋装修</a></li>
                        <li><a style="color:" href="05171a7fea.html" target="_blank">建材装饰</a></li>
                        <li><a style="color:" href="5fedb3b42f.html" target="_blank">保姆/月嫂</a></li>
                        <li><a style="color:" href="0f47e9cb75.html" target="_blank">保洁/清洗</a></li>
                        <li><a style="color:" href="ce8a384fc0.html" target="_blank">搬家服务</a></li>
                        <li><a style="color:" href="74fcb44d5f.html" target="_blank">家电维修</a></li>
                        <li><a style="color:" href="502fe639a2.html" target="_blank">电脑维修</a></li>
                        <li><a style="color:" href="078fa74a78.html" target="_blank">家居维修</a></li>
                        <li><a style="color:" href="44ce14997c.html" target="_blank">管道疏通</a></li>
                        <li><a style="color:" href="b8abce713f.html" target="_blank">外卖/送水</a></li>
                        <li><a style="color:" href="39e22443c2.html" target="_blank">开锁/修锁</a></li>
                        <li><a style="color:" href="157096332e.html" target="_blank">租车服务</a></li>
                        <li><a style="color:" href="9dbdee06ff.html" target="_blank">旅游度假</a></li>
                        <li><a style="color:" href="c3d3406983.html" target="_blank">休闲娱乐</a></li>
                        <li><a style="color:" href="1c963a3217.html" target="_blank">酒店/宾馆</a></li>
                        <li><a style="color:" href="1945eb5268.html" target="_blank">其它生活服务</a></li>
                    </div>
        <div id="ad_indexcatad_9"></div>
        <div class="clear"></div>
                <div class="ni-fbg">
            <div class="ni-f-icon"><img src="static/picture/icon_business.gif"></div>            <span><a style="color:" href="c400e711cb.html" target="_blank">商务服务</a></span>
            <div class="postinfos"><a href="mayi-post-115.html" target="_blank">+发布商务服务</a></div>
        </div>
        <div class="ni-glist-section tiny">
                        <li><a style="color:" href="46c96ce7cc.html" target="_blank">投资理财</a></li>
                        <li><a style="color:" href="5d699a8d32.html" target="_blank">机票/签证</a></li>
                        <li><a style="color:" href="15978bb75c.html" target="_blank">招商加盟</a></li>
                        <li><a style="color:" href="f098b59b66.html" target="_blank">担保/贷款</a></li>
                        <li><a style="color:" href="316abcb563.html" target="_blank">公司注册</a></li>
                        <li><a style="color:" href="bf7c445f06.html" target="_blank">会计/审计</a></li>
                        <li><a style="color:" href="30edb895e7.html" target="_blank">网站建设</a></li>
                        <li><a style="color:" href="1b3c526e5b.html" target="_blank">快递/物流</a></li>
                        <li><a style="color:" href="ddebebb3f6.html" target="_blank">庆典/演出</a></li>
                        <li><a style="color:" href="b156b2164c.html" target="_blank">印刷/喷绘</a></li>
                        <li><a style="color:" href="1b31b4d920.html" target="_blank">设计策划</a></li>
                        <li><a style="color:" href="71bf4485c5.html" target="_blank">律师服务</a></li>
                        <li><a style="color:" href="25e67521c4.html" target="_blank">翻译/速记</a></li>
                        <li><a style="color:" href="03fa0eff02.html" target="_blank">鲜花/盆景</a></li>
                        <li><a style="color:" href="0015a74c97.html" target="_blank">礼品定制</a></li>
                        <li><a style="color:" href="javascript:;" target="_blank">本地名站</a></li>
                        <li><a style="color:" href="08cd2ccc7a.html" target="_blank">其它商务服务</a></li>
                    </div>
        <div id="ad_indexcatad_244"></div>
        <div class="clear"></div>
                </div>
        </div>
        </div>
        
        <div class="clear"></div>
        <div class="smp_box">
        <div class="smp_box_title">郑州分类信息网最新发布<font style="font-weight:100;">（最近更新：2019-07-03 17:29:00）</font></div>
        <ul>
                                            <li class="mayi_ding"><a title="双桥传媒大学水郡长安精装修一居室3000拎包入住" href='131243.html' style="font-weight:bold;" target="_blank">双桥传媒大学水郡长安精装修</a> [<em><a href='index67.html' target="_blank">房屋出租</a></em>]</li>
                        <li class="mayi_ding"><a title="玉凤路与福元路交叉口 双气 高档社区 精装 大观国际" href='1963524.html' style="" target="_blank">玉凤路与福元路交叉口 双气 </a> [<em><a href='index67.html' target="_blank">房屋出租</a></em>]</li>
                        <li class="mayi_ding"><a title="无中介费,整个2月份免房租 花园路21世纪社区,一室一厅" href='1963527.html' style="" target="_blank">无中介费,整个2月份免房租 花</a> [<em><a href='index67.html' target="_blank">房屋出租</a></em>]</li>
                        <li class="mayi_ding"><a title="丰田杰路驰 2011款 2.5 手自一体豪华版" href='1963530.html' style="" target="_blank">丰田杰路驰 2011款 2.5 手自</a> [<em><a href='index76.html' target="_blank">二手轿车</a></em>]</li>
                        <li class="mayi_ding"><a title="(出租)【朝外soho】211平纯写【价格全含】随" href='1963502.html' style="color:red;" target="_blank">(出租)【朝外soho】211平纯写</a> [<em><a href='index71.html' target="_blank">写字楼出租</a></em>]</li>
                        <li class="mayi_ding"><a title="(出售)二七区总站附近航海大厦两房急售" href='131163.html' style="" target="_blank">(出售)二七区总站附近航海大</a> [<em><a href='index66.html' target="_blank">二手房出售</a></em>]</li>
                        <li class="mayi_ding"><a title="伏牛路南北户型三房急售" href='131171.html' style="font-weight:bold;" target="_blank">伏牛路南北户型三房急售</a> [<em><a href='index66.html' target="_blank">二手房出售</a></em>]</li>
                        <li class="mayi_ding"><a title="华夏良子聘中医保健学员" href='1963482.html' style="color:red;font-weight:bold;" target="_blank">华夏良子聘中医保健学员</a> [<em><a href='d53ca6cc1f.html' target="_blank">保姆/家政</a></em>]</li>
                        <li class="mayi_ding"><a title="婴儿游泳护理师" href='1963483.html' style="" target="_blank">婴儿游泳护理师</a> [<em><a href='d53ca6cc1f.html' target="_blank">保姆/家政</a></em>]</li>
                        <li class="mayi_ding"><a title="房产经纪人" href='1963485.html' style="color:red;" target="_blank">房产经纪人</a> [<em><a href='4b696a62e1.html' target="_blank">销售/市场/业务员</a></em>]</li>
                        <li class="mayi_ding"><a title="(出售)吉利 自由舰 2007款 1.3 MT精致豪华型" href='1963495.html' style="" target="_blank">(出售)吉利 自由舰 2007款 1</a> [<em><a href='index76.html' target="_blank">二手轿车</a></em>]</li>
                                                <li><a title="佳能数码相机，EOS 750D，九成新" href='1963557.html' style='' target="_blank">佳能数码相机，EOS 750D，九</a> [<em><a href='index45.html' target="_blank">照相机</a></em>]</li>
                                                <li><a title="绿城百合字母套大房子出售啦！大面积+好户型！" href='131124.html' style='font-weight:bold;' target="_blank">绿城百合字母套大房子出售啦</a> [<em><a href='index66.html' target="_blank">二手房出售</a></em>]</li>
                                                <li><a title="丰田 普拉多 2019款 2.7L 自动标准版" href='1963556.html' style='' target="_blank">丰田 普拉多 2019款 2.7L 自</a> [<em><a href='index76.html' target="_blank">二手轿车</a></em>]</li>
                                                <li><a title="别克 GL8 2017款 25S 舒适型转让" href='1963555.html' style='' target="_blank">别克 GL8 2017款 25S 舒适型</a> [<em><a href='index76.html' target="_blank">二手轿车</a></em>]</li>
                                                <li><a title="大学路13号院 次卧 桃源路 大学路 郑大南门" href='1963554.html' style='' target="_blank">大学路13号院 次卧 桃源路 大</a> [<em><a href='index67.html' target="_blank">租房</a></em>]</li>
                                                <li><a title="公园世家 天然气 暖气入户 地铁口 独立厨房 首付5万" href='1963553.html' style='' target="_blank">公园世家 天然气 暖气入户 地</a> [<em><a href='index66.html' target="_blank">二手房</a></em>]</li>
                                                <li><a title="银基王朝南北通透四房 精装修 业主诚售家具家电全送 随时看房" href='1963552.html' style='' target="_blank">银基王朝南北通透四房 精装修</a> [<em><a href='index66.html' target="_blank">二手房</a></em>]</li>
                                                <li><a title="中央直属“央务鹊桥”成就美好姻缘北京单身交友俱乐部" href='131138.html' style='' target="_blank">中央直属“央务鹊桥”成就美</a> [<em><a href='b1a1b485a8.html' target="_blank">找女友/找男友</a></em>]</li>
                                                <li><a title="即将毕业离开郑州 卖自用的高配电脑一套" href='131158.html' style='color:red;font-weight:bold;' target="_blank">即将毕业离开郑州 卖自用的高</a> [<em><a href='index30.html' target="_blank">电脑转让</a></em>]</li>
                                                <li><a title="(出售)便宜出售巨整六缸改装切诺基" href='131230.html' style='color:red;' target="_blank">(出售)便宜出售巨整六缸改装</a> [<em><a href='index76.html' target="_blank">二手轿车</a></em>]</li>
                                                <li><a title="(出售)进口大众甲壳虫2.0敞篷限量豪华版" href='131235.html' style='color:red;' target="_blank">(出售)进口大众甲壳虫2.0敞篷</a> [<em><a href='index76.html' target="_blank">二手轿车</a></em>]</li>
                                                                        <li><a title="郑州市最专业的搬钢琴有限公司/最大的搬钢琴公司" href='1963486.html' style='color:red;' target="_blank">郑州市最专业的搬钢琴有限公</a> [<em><a href='ce8a384fc0.html' target="_blank">搬家服务</a></em>]</li>
                                                <li><a title="网站美工设计师" href='1963488.html' style='' target="_blank">网站美工设计师</a> [<em><a href='fe4b34e6f1.html' target="_blank">网站/设计</a></em>]</li>
                                                <li><a title="华夏良子聘SPA技术人员" href='1963490.html' style='' target="_blank">华夏良子聘SPA技术人员</a> [<em><a href='4b696a62e1.html' target="_blank">销售/市场/业务员</a></em>]</li>
                                                <li><a title="客户经理/主管求职" href='1963491.html' style='' target="_blank">客户经理/主管求职</a> [<em><a href='index50.html' target="_blank">销售</a></em>]</li>
                                                <li><a title="郑州比翼婚礼策划有限公司 做最精致的婚礼" href='1963493.html' style='color:red;font-weight:bold;' target="_blank">郑州比翼婚礼策划有限公司 做</a> [<em><a href='3a008d9ecb.html' target="_blank">婚庆/化妆</a></em>]</li>
                                                <li><a title="买婚纱就到吾爱嫁衣工坊 郑州性价比最好的婚纱工作室" href='1963494.html' style='' target="_blank">买婚纱就到吾爱嫁衣工坊 郑州</a> [<em><a href='3a008d9ecb.html' target="_blank">婚庆/化妆</a></em>]</li>
                                                <li><a title="(出售)4s店抵押新车、福特 嘉年华两厢5.5万/台" href='1963496.html' style='' target="_blank">(出售)4s店抵押新车、福特 嘉</a> [<em><a href='index76.html' target="_blank">二手轿车</a></em>]</li>
                                                <li><a title="(出售)低价出售奔驰S320 仅需2.3万欲购从速" href='1963497.html' style='color:red;font-weight:bold;' target="_blank">(出售)低价出售奔驰S320 仅需</a> [<em><a href='index76.html' target="_blank">二手轿车</a></em>]</li>
                                                <li><a title="(出售)比亚迪 F3 2008款 1.5白金版标准型" href='1963498.html' style='' target="_blank">(出售)比亚迪 F3 2008款 1.5</a> [<em><a href='index76.html' target="_blank">二手轿车</a></em>]</li>
                                                <li><a title="电工证焊工证登高证制冷工证 出证快 全国通用" href='1963508.html' style='' target="_blank">电工证焊工证登高证制冷工证</a> [<em><a href='index89.html' target="_blank">职业培训</a></em>]</li>
                                                <li><a title="汽车遥控钥匙防盗解码培训班热招 每月10号开学" href='1963509.html' style='' target="_blank">汽车遥控钥匙防盗解码培训班</a> [<em><a href='index89.html' target="_blank">职业培训</a></em>]</li>
                                                <li><a title="电工证、焊工证、登高证二级技师资格证 培训取证" href='1963510.html' style='' target="_blank">电工证、焊工证、登高证二级</a> [<em><a href='index89.html' target="_blank">职业培训</a></em>]</li>
                                                <li><a title="二级技师助理工程报名中" href='1963512.html' style='' target="_blank">二级技师助理工程报名中</a> [<em><a href='index89.html' target="_blank">职业培训</a></em>]</li>
                                                <li><a title="郑州店 分期无需信用卡 iphone6 plus 16G现货" href='1963514.html' style='' target="_blank">郑州店 分期无需信用卡 ipho</a> [<em><a href='index28.html' target="_blank">手机</a></em>]</li>
                                </ul>
        </div>
        
                        <div class="clear"></div>
<div class="hotschool">
<div class="rollBox">
            	<a href="javascript:;" onmousedown="ISL_GoUp()" onmouseup="ISL_StopUp()" onmouseout="ISL_StopUp()" class="img1" hidefocus="true"></a>
                <div class="Cont" id="ISL_Cont">
                    <div class="ScrCont">
                        <div id="List1">
                                                <div class="pic">
                        <a href="44f63a374b.html" target="_blank"><img src="static/picture/nophoto.jpg" alt="西安蓝天企业管理咨询有限公司" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="44f63a374b.html" target="_blank" title="西安蓝天企业管理咨询有限公司">西安蓝天企业管理咨询</a></span>
                        <span class="seecourse"><a href="44f63a374b.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="9126c79066.html" target="_blank"><img src="static/picture/pre_13076140612aakz.jpg" alt="北京军都旅游度假村有限公司" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="9126c79066.html" target="_blank" title="北京军都旅游度假村有限公司">北京军都旅游度假村有</a></span>
                        <span class="seecourse"><a href="9126c79066.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="379695fd1a.html" target="_blank"><img src="static/picture/pre_13076131718cdac.jpg" alt="西安大众科技培训中心" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="379695fd1a.html" target="_blank" title="西安大众科技培训中心">西安大众科技培训中心</a></span>
                        <span class="seecourse"><a href="379695fd1a.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="bbe3a2b03f.html" target="_blank"><img src="static/picture/pre_1307613575vuitn.jpg" alt="聚金港（北京）登记注册代理事务所" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="bbe3a2b03f.html" target="_blank" title="聚金港（北京）登记注册代理事务所">聚金港（北京）登记注</a></span>
                        <span class="seecourse"><a href="bbe3a2b03f.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="33c742a5aa.html" target="_blank"><img src="static/picture/pre_1307614303ylm6p.jpg" alt="北京奥鹏投资担保有限公司" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="33c742a5aa.html" target="_blank" title="北京奥鹏投资担保有限公司">北京奥鹏投资担保有限</a></span>
                        <span class="seecourse"><a href="33c742a5aa.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="fead12c147.html" target="_blank"><img src="static/picture/pre_1307614147mf4g1.jpg" alt="月登阁幼儿园" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="fead12c147.html" target="_blank" title="月登阁幼儿园">月登阁幼儿园</a></span>
                        <span class="seecourse"><a href="fead12c147.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="e19f4401b6.html" target="_blank"><img src="static/picture/pre_1307614241myizy.jpg" alt="西安昆仑机械厂幼儿园" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="e19f4401b6.html" target="_blank" title="西安昆仑机械厂幼儿园">西安昆仑机械厂幼儿园</a></span>
                        <span class="seecourse"><a href="e19f4401b6.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="70c952da4e.html" target="_blank"><img src="static/picture/pre_1307613622nlm2v.jpg" alt="西安思源学院" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="70c952da4e.html" target="_blank" title="西安思源学院">西安思源学院</a></span>
                        <span class="seecourse"><a href="70c952da4e.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="58785214f0.html" target="_blank"><img src="static/picture/pre_1307612982zsgbx.jpg" alt="苏氏牛肉面" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="58785214f0.html" target="_blank" title="苏氏牛肉面">苏氏牛肉面</a></span>
                        <span class="seecourse"><a href="58785214f0.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="45f0ad3190.html" target="_blank"><img src="static/picture/pre_1307614188tkayq.jpg" alt="华豫川金水路店" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="45f0ad3190.html" target="_blank" title="华豫川金水路店">华豫川金水路店</a></span>
                        <span class="seecourse"><a href="45f0ad3190.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="69c005fa3f.html" target="_blank"><img src="static/picture/pre_1307613039rjd3g.jpg" alt="郑州金汉斯美食" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="69c005fa3f.html" target="_blank" title="郑州金汉斯美食">郑州金汉斯美食</a></span>
                        <span class="seecourse"><a href="69c005fa3f.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="51305428a7.html" target="_blank"><img src="static/picture/pre_13076128647lbbs.jpg" alt="郑州烤鸭店" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="51305428a7.html" target="_blank" title="郑州烤鸭店">郑州烤鸭店</a></span>
                        <span class="seecourse"><a href="51305428a7.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="1b62365f87.html" target="_blank"><img src="static/picture/pre_1307613522z5mpb.jpg" alt="合记烩面人民路店" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="1b62365f87.html" target="_blank" title="合记烩面人民路店">合记烩面人民路店</a></span>
                        <span class="seecourse"><a href="1b62365f87.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                <div class="pic">
                        <a href="0c73dc2146.html" target="_blank"><img src="static/picture/pre_1307612486xuqr0.jpg" alt="北京尚德考试辅导中心" onerror="this.src='http://demo9.mayicms.com/images/nophoto.jpg';"></a> 
                        <span class="schoolname cfix"><a href="0c73dc2146.html" target="_blank" title="北京尚德考试辅导中心">北京尚德考试辅导中心</a></span>
                        <span class="seecourse"><a href="0c73dc2146.html" target="_blank" class="red">查看店铺</a></span>
                        </div>
                                                </div>
                        <div id="List2"></div>
                    </div>
                </div>
            	<a href="javascript:;" onmousedown="ISL_GoDown()" onmouseup="ISL_StopDown()" onmouseout="ISL_StopDown()" class="img2" hidefocus="true"></a>
            </div>
</div>
                
                <div class="clear5"></div>
<div class="goods">
        	<div class="ul">
<div class="hd">
<span class="hdleft">商品网购</span>
<span class="more"><a href="goods1.html" target="_blank">更多</a></span>
</div>
<div class="bd">
<ul>
                <li>
<a href="goods-id-1.html" target="_blank"><img src="static/picture/1309594610f5qys.jpg" title="lenovo 联想Y460N-IFI 14英寸笔记本电脑">
<h3>lenovo 联想Y460N-IFI 14英寸笔记本电脑</h3>
</a>
<span class="price">5099</span>
</li>
                <li>
<a href="goods-id-13.html" target="_blank"><img src="static/picture/13097029593zvcr.jpg" title="Apples苹果男式自动扣牛皮皮带高档礼盒AP00188黑">
<h3>Apples苹果男式自动扣牛皮皮带高档礼盒AP00188黑</h3>
</a>
<span class="price">2288</span>
</li>
                <li>
<a href="goods-id-2.html" target="_blank"><img src="static/picture/1309596437kfsxq.jpg" title="LOVO罗孚润恬竹纤维毯150*180 黄">
<h3>LOVO罗孚润恬竹纤维毯150*180 黄</h3>
</a>
<span class="price">239</span>
</li>
                <li>
<a href="goods-id-4.html" target="_blank"><img src="static/picture/1309678401u4lyu.jpg" title="苏泊尔火红点煎锅PJ24E1">
<h3>苏泊尔火红点煎锅PJ24E1</h3>
</a>
<span class="price">59</span>
</li>
                <li>
<a href="goods-id-11.html" target="_blank"><img src="static/picture/130970272175e3u.jpg" title="诠渡良品男帆船CLUB纯棉圆领短袖T恤 TD270">
<h3>诠渡良品男帆船CLUB纯棉圆领短袖T恤 TD270</h3>
</a>
<span class="price">4999</span>
</li>
                <li>
<a href="goods-id-5.html" target="_blank"><img src="static/picture/1309678514pvfvq.jpg" title="龙州不锈钢双层蒸锅26cm 组合盖">
<h3>龙州不锈钢双层蒸锅26cm 组合盖</h3>
</a>
<span class="price">60</span>
</li>
                <li>
<a href="goods-id-16.html" target="_blank"><img src="static/picture/1309703254n9qij.jpg" title="苹果（Apple）iPod touch 4代 8G MC540CH/A 多媒体播放器">
<h3>苹果（Apple）iPod touch 4代 8G MC540CH/A 多媒体播放器</h3>
</a>
<span class="price">1255</span>
</li>
                <li>
<a href="goods-id-9.html" target="_blank"><img src="static/picture/1309702466pkubr.jpg" title="香榭里活性印花全棉双人四件套 菲尔">
<h3>香榭里活性印花全棉双人四件套 菲尔</h3>
</a>
<span class="price">1999</span>
</li>
                              	</ul>
</div>
            </div>
</div>
                
    	        <div class="clear"></div>
<div class="telephone">
        	<div class="ul">
            <div class="hd" id="tab2">
                <ul>
                    <li onmouseover="setTab(2,0)" class="now">便民电话</li>
                    <li onmouseover="setTab(2,1)">生活助手</li>                </ul>
            </div>
<div class="clearfix"></div>
            <div id="tablist2">
            	<div class="tablist telebd block">
                    <ul>
                                                <li><font style="color:;">装饰装修<br>招商中</font></li>
                                                <li><font style="color:#ff0000;font-weight:bold">金属冶炼<br>招商中</font></li>
                                                <li><font style="color:;">爱心婚吧<br>0371-55665566</font></li>
                                                <li><font style="color:;">供电抢修<br>招商中广告位C23</font></li>
                                                <li><font style="color:;">家政保洁<br>招商中</font></li>
                                                <li><font style="color:;">驾照办理<br>18888888888</font></li>
                                                <li><font style="color:;">电脑维修<br>13777777778</font></li>
                                                <li><font style="color:;">环保投诉<br>0556-54565852</font></li>
                                                <li><font style="color:;">市长热线<br>118114</font></li>
                                                <li><font style="color:;">市电视台<br>156888</font></li>
                                                <li><font style="color:#ff0000;font-weight:bold">天天开锁<br>一年300元</font></li>
                                                <li><font style="color:;">阳光医院<br>0411-84302222</font></li>
                                                <li><font style="color:;">鲜花礼品<br>0411-84689033</font></li>
                                                <li><font style="color:;">开锁修锁<br>招商中广告位C18</font></li>
                                                <li><font style="color:;">吉运搬家<br>0411-86562099</font></li>
                                                <li><font style="color:;">网站制作<br>0411-88502526</font></li>
                                            </ul>
                </div>
                
                <div class="tablist lifebd none">
                    <ul>
                                        <li><a rel="nofollow" href="lifebox-5.html" target="_blank">快递查询</a></li>
                                        <li><a rel="nofollow" href="lifebox-4.html" target="_blank">驾照考试</a></li>
                                        <li><a rel="nofollow" href="lifebox-3.html" target="_blank">天气预报</a></li>
                                        <li><a rel="nofollow" href="lifebox-20.html" target="_blank">网上查水费</a></li>
                                        <li><a rel="nofollow" href="lifebox-19.html" target="_blank">查考公务员</a></li>
                                        <li><a rel="nofollow" href="lifebox-18.html" target="_blank">购房计算</a></li>
                                        <li><a rel="nofollow" href="lifebox-17.html" target="_blank">取名算命</a></li>
                                        <li><a rel="nofollow" href="lifebox-16.html" target="_blank">生肖属相</a></li>
                                        <li><a rel="nofollow" href="lifebox-15.html" target="_blank">股票行情</a></li>
                                        <li><a rel="nofollow" href="lifebox-14.html" target="_blank">周公解梦</a></li>
                                        <li><a rel="nofollow" href="lifebox-13.html" target="_blank">外汇牌价</a></li>
                                        <li><a rel="nofollow" href="lifebox-12.html" target="_blank">学历查询</a></li>
                                        <li><a rel="nofollow" href="lifebox-11.html" target="_blank">列车时刻表</a></li>
                                        </ul>
                </div>
                
            </div>
            </div>
</div>
        
        <div class="clear"></div>
<div class="flink">
        <div class="ul">
            <div class="hd"><span class="hdleft">友情链接</span><span class="hd2"><a href="friendlink.html">我要申请</a></span></div>
            <div class="bd">
                        <ul class="image">
                        <li><a href="74b8d0d9b9.html" target="_blank" title="mayicms"><img src="static/picture/mayicms.gif" border="0"></a></li>
                        <li><a href="#" target="_blank" title="合作媒体"><img src="static/picture/hezuomeiti.gif" border="0"></a></li>
                        <li><a href="#" target="_blank" title="百度搜索"><img src="static/picture/baidu.gif" border="0"></a></li>
                        <li><a href="#" target="_blank" title="友情链接"><img src="static/picture/donews.gif" border="0"></a></li>
                        <li><a href="#" target="_blank" title="新浪网"><img src="static/picture/sina.gif" border="0"></a></li>
                        <li><a href="javascript:;" target="_blank" title="谷歌搜索"><img src="static/picture/google.gif" border="0"></a></li>
                        <li><a href="#" target="_blank" title="友情链接"><img src="static/picture/pcpop.gif" border="0"></a></li>
                        <li><a href="#" target="_blank" title="大旗网"><img src="static/picture/daqi.jpg" border="0"></a></li>
                        <li><a href="#" target="_blank" title="人民网"><img src="static/picture/renmin.gif" border="0"></a></li>
                        <li><a href="#" target="_blank" title="中国站长站"><img src="static/picture/chinaz.gif" border="0"></a></li>
                        </ul>
                                    <ul class="text">
                        <li><a href="74b8d0d9b9.html" target="_blank" title="MayiCMS官网">MayiCMS官网</a></li>
                        <li><a href="javascript:;" target="_blank" title="分类信息程序">分类信息程序</a></li>
                        <li><a href="74b8d0d9b9.html" target="_blank" title="地方同城微信">地方同城微信</a></li>
                        <li><a href="javascript:;" target="_blank" title="分类信息网">分类信息网</a></li>
                        <li><a href="74b8d0d9b9.html" target="_blank" title="php分类信息系统">php分类信息系统</a></li>
                        <li><a href="javascript:;" target="_blank" title="微信小程序">微信小程序</a></li>
                        <li><a href="javascript:;" target="_blank" title="分类信息系统">分类信息系统</a></li>
                        <li><a href="javascript:;" target="_blank" title="免费发信息网站">免费发信息网站</a></li>
                        <li><a href="javascript:;" target="_blank" title="北京分类信息网">北京分类信息网</a></li>
                        <li><a href="0d6ca9b620.html" target="_blank" title="分类信息网站之家">分类信息网站之家</a></li>
                        <li><a href="javascript:;" target="_blank" title="信息网站源码">信息网站源码</a></li>
                        <li><a href="javascript:;" target="_blank" title="上海分类信息网">上海分类信息网</a></li>
                        <li><a href="#" target="_blank" title="互联网周刊">互联网周刊</a></li>
                        <li><a href="#" target="_blank" title="易名中国">易名中国</a></li>
                        <li><a href="#" target="_blank" title="电脑报">电脑报</a></li>
                        </ul>
                    </div>
        </div>
</div>
<div class="clear"></div><div id="ad_footerbanner"></div>
<div style="display: none" id="ad_none">
<div id="ad_interlistad_top_none">
<ul class="interlistdiv"><li class="hover"><a target="_blank" href="buy.html">二手 空调 淘宝网www.taobao.com - 网购首选。</a> <br>2011新款新潮流，新品发布淘宝网春夏特辑，限时优惠，赶快加入</li><li class="hover"><a href="74b8d0d9b9.html">宠物犬 分类信息网 www.mayicms.com</a> <br>
宠物犬专卖，百万商品超值价淘你喜欢！惊喜低价，时尚购物新体验</li></ul>
</div>
<div id="ad_interlistad_bottom_none">
<ul class="interlistdiv"><li class="hover"><a href="74b8d0d9b9.html" target="_blank">二手车摩托车 www.mayicms.com</a><br>
一淘巨优惠，折扣宝典，教你省钱！免费领 返现金 1折包邮。折扣享不停</li><li class="hover"><a href="4abacc3714.html" target="_blank">二手 空调 淘宝网www.taobao.com</a> <br> 网购首选。2011新款新潮流，新品发布淘宝网春夏特辑，限时优惠，赶快加入</li></ul>
</div>
</div>
<div class="footer_new">
    <div class="foot_new">
        <div class="foot_box">
        	<div class="hd">信息管理</div>
            <div class="bd">
            	<ul>
                	<li><a target="_blank" href="mayi-post-115.html">免费发布信息</a></li>
                    <li><a target="_blank" href="delinfo-115.html" rel="nofollow">修改/删除信息</a></li>
                    <li><a target="_blank" href="search-115.html" rel="nofollow">信息快速搜索</a></li>
                </ul>
            </div>
        </div>
        <div class="foot_box" id="sjfw" style="display:none;">
        	<div class="hd">商家服务</div>
            <div class="bd">
            	<ul>
                	<li><a target="_blank" href="mayi-member-register_store_115.html">商家入驻</a></li>
                    <li><a target="_blank" href="mayi-member-115.html">商家登录</a></li>
                </ul>
            </div>
        </div>
        <div class="foot_box">
        	<div class="hd">关于我们</div>
            <div class="bd">
            	<ul>
                                                    	<li><a href="javascript:;" style="color:" target="_blank">网站简介<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">广告服务<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">联系我们<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站帮助<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">友情链接<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站公告<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站地图<sup class=""></sup></a></li>
                                    </ul>
            </div>
        </div>
        <div class="foot_wx">
        	<div class="hd">扫一扫，访问手机站</div>
            <div class="bd">
            	<ul>
                	<img alt="分类信息网手机版" src="static/picture/qrcode-httpdemo9.mayicms.commind.jpg">
                </ul>
            </div>
        </div>
        <div class="foot_wx" id="gzh">
        	<div class="hd">关注微信公众号</div>
            <div class="bd">
            	<ul>
                	<img alt="分类信息网微信公众号" src="static/picture/erweima.gif">
                </ul>
            </div>
        </div>
        <div class="foot_mobile">
        	<ul>
            <div class="h1"><font>0371-65366238</font></div>            <div class="h2">客服QQ：<font><a class="_chat" href="javascript:;" title="点击交谈" rel="nofollow" target="_blank">1367882925</a></font></div>            <div class="h3">微信号：<font>kefu-000000</font></div>            <div class="h3">邮箱：<font>mayicms@qq.com</font></div>            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="foot_powered">
    	Copyright &copy; 分类信息网版权所有 <a href="javascript:;" rel="nofollow"></a><font id="foots">Powered by <a href="74b8d0d9b9.html">MayiCMS</a> <a href="javascript:;">5.9SE GBK</a></font>     </div>
</div>

<div id="top">
<div id="mayi_rmenu" class="mayi-rmenu">
<a rel="nofollow" href="javascript:;" class="btn btn-qq"></a><div class="btn btn-wx"><img class="pic" src="static/picture/erweima_kf.gif"></div>
<div class="btn btn-phone"><div class="phone">0371-65366238</div></div><div class="btn btn-top"></div>
</div>
</div>
<script type="text/javascript">loadDefault(["addiv","mayilogin","show_tab","scrolltop","changecity"]);</script></div>
</div>
</div></div></body>
</html>
<script type="text/javascript">loadDefault(['category','bannerslide','hotStore','setTab']);</script>