<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">

<meta http-equiv="mobile-agent" content="format=html5; url=http://m.demo9.mayicms.com/zz/news.html">
<meta http-equiv="mobile-agent" content="format=wml; url=http://m.demo9.mayicms.com/zz/news.html">
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.demo9.mayicms.com/zz/news.html">
<title>郑州同城资讯</title>
<meta name="keywords" content="郑州同城资讯">
<meta name="description" content="郑州同城资讯">

<link rel="stylesheet" href="static/css/global.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/newstyle.css">
<script src="static/js/global.js" type="text/javascript"></script>
<script src="static/js/jquery-1.11.min.js" type="text/javascript"></script>
<script type="text/javascript" src="static/js/jquery.flashSlider-1.0.min.js"></script>

</head>

<body class="red full bodybgred1"><meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<script type="text/javascript">var current_domain="http://demo9.mayicms.com";var current_cityid="115";var current_logfile="mayi-member.php";</script>
<div class="bartop">
<div class="barcenter">
<div class="barleft">
<ul class="barcity">欢迎来到MayiCMS演示站！</ul> 
<ul class="line"><u></u></ul>
            <ul class="barcang"><a href="files/desktop.php" target="_blank" title="点击右键，选择“目标另存为”，将此快捷方式保存到桌面即可">保存到桌面</a></ul>
<ul class="line"><u></u></ul>
<ul class="barpost"><a href="mayi-post-115.html">快速发信息</a></ul>
<ul class="line"><u></u></ul>
<ul class="bardel"><a href="delinfo-115.html" rel="nofollow">修改/删除信息</a></ul>
<ul class="line"><u></u></ul>
<ul class="barwap"><a href="mobile-115.html">手机浏览</a></ul>
</div>
<div class="barright" id="mayilogin"><img src="static/picture/loading.gif" border="0" align="absmiddle"></div>
</div>
</div>
<div class="clear"></div>
<!--顶部横幅广告开始-->
<div id="ad_topbanner"></div>
<!--顶部横幅广告结束-->
<div class="clearfix"></div>
<div class="logosearchtel">
<div class="weblogo"><a href="index.html"><img src="static/picture/logo.gif" title="分类信息网-蚂蚁分类信息系统" border="0"></a></div>
    <div class="webcity">
    	<span>郑州</span><br><a href="changecity.html">切换分站</a>
    </div>
    <div class="webcity2" style="display:none;">
    	<div class="curcity">郑州 <a href="changecity.html">切换分站</a></div>
        <div class="clearfix"></div>
    	<ul>
                            	<a href="index1.html">北京</a>
                    	<a href="index2.html">上海</a>
                    	<a href="index3.html">天津</a>
                    	<a href="index4.html">重庆</a>
                    	<a href="index5.html">广州</a>
                    	<a href="index6.html">深圳</a>
                    	<a href="index7.html">杭州</a>
                    	<a href="index8.html">福州</a>
                    	<a href="index9.html">厦门</a>
                    	<a href="index10.html">石家庄</a>
                    	<a href="index.html">郑州</a>
                    	<a href="index11.html">武汉</a>
                    	<a href="index12.html">长沙</a>
                    	<a href="index13.html">南京</a>
                    	<a href="index14.html">南昌</a>
                    	<a href="index15.html">西安</a>
                    	<a href="index16.html">成都</a>
                    </ul>
    </div>
    <div class="postedit">
<a class="post" href="javascript:;">免费发布信息</a>
</div>
<div class="websearch">
    	        <div class="s_ulA" id="searchType">
            <ul>
                
            </ul>
        </div>
                <div class="clearfix"></div>
<div class="sch_t_frm">
<form method="get" action="http://demo9.mayicms.com/search.php?" id="searchForm" target="_blank">
            <input name="cityid" type="hidden" value="115">
            <input type="hidden" id="searchtype" name="mod" value="information">
<div class="sch_ct">
<input type="text" class="topsearchinput" value="请输入关键词搜索" name="keywords" id="searchheader" onmouseover="if(this.value==='请输入关键词搜索'){this.value='';}" x-webkit-speech="" lang="zh-CN">
</div>
<div>
<input type="submit" value="搜 索" class="btn-normal">
</div>
</form>
</div>
        <div class="clearfix"></div>
        </div>
</div>
<div class="clear"></div><div class="body1000">
<div class="daohang_con">
    <div class="categories">
        <dl id="infomenu">
        <dt class="titup"><b>信息分类</b></dt>
        <dd class="cont" style="display:none;">
        <ul>
                        <li>
        <em><a href="index17.html" style="color:" target="_blank" title="郑州房屋租售">房屋租售</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州二手房">二手房</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州租房">租房</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州日租/短租">日租/短租</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州店铺转让/出租">店铺转让/出租</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州商铺出售">商铺出售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州写字楼出租">写字楼出租</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州写字楼出售">写字楼出售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州厂房/仓库/土地">厂房/仓库/土地</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州求租/求购">求租/求购</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index19.html" style="color:" target="_blank" title="郑州二手转让">二手转让</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:#ff0000" target="_blank" title="郑州手机转让">手机转让</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州平板电脑">平板电脑</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州台式电脑">台式电脑</a>
                <a href="javascript:;" style="color:#46a200" target="_blank" title="郑州数码产品转让">数码产品转让</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州笔记本">笔记本</a>
                <a href="javascript:;" style="color:#ff9900" target="_blank" title="郑州家用电器">家用电器</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州日常用品">日常用品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州办公经营设备">办公经营设备</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州收藏品/工艺品">收藏品/工艺品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州服装/配饰/鞋包">服装/配饰/鞋包</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州母婴/玩具">母婴/玩具</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州运动/图书/乐器">运动/图书/乐器</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州门票卡券">门票卡券</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州工业设备">工业设备</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州奇石盆景">奇石盆景</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州设备租赁">设备租赁</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家具/办公家具">家具/办公家具</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州照相机">照相机</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州食品农产">食品农产</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州网游/虚拟物品">网游/虚拟物品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他物品">其他物品</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index18.html" style="color:" target="_blank" title="郑州车辆买卖">车辆买卖</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州二手轿车">二手轿车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州货车/工程车">货车/工程车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州面包车/客车">面包车/客车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州拖拉机/收割机">拖拉机/收割机</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州拼车/顺风车">拼车/顺风车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州新车优惠/4S店">新车优惠/4S店</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州汽车用品/配件">汽车用品/配件</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州汽修保养">汽修保养</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州车辆收购服务">车辆收购服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州摩托车/燃气车">摩托车/燃气车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州电动车">电动车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州自行车">自行车</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州本地下线车">本地下线车</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index20.html" style="color:" target="_blank" title="郑州全职招聘">全职招聘</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州营业员/促销/零售">营业员/促销/零售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州服务员/收银员">服务员/收银员</a>
                <a href="javascript:;" style="color:#ff0000" target="_blank" title="郑州销售/市场/业务员">销售/市场/业务员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州文员/客服/助理">文员/客服/助理</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保姆/家政">保姆/家政</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州司机/驾驶员">司机/驾驶员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保安/保洁">保安/保洁</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州厨师/切配">厨师/切配</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州送货/快递/仓管">送货/快递/仓管</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州工人/技工">工人/技工</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州财务/会计">财务/会计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州老师/培训师">老师/培训师</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州美工/设计/程序员">美工/设计/程序员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保健师/美容师">保健师/美容师</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州人才招聘会">人才招聘会</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州KTV/酒吧">KTV/酒吧</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他招聘">其他招聘</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index21.html" style="color:" target="_blank" title="郑州兼职招聘">兼职招聘</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州派发/促销">派发/促销</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家教/老师">家教/老师</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州餐厅/服务员">餐厅/服务员</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州模特/礼仪">模特/礼仪</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州网站/设计">网站/设计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州会计/财务">会计/财务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他兼职">其他兼职</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index22.html" style="color:" target="_blank" title="郑州求职简历">求职简历</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州销售">销售</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州客服">客服</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州人事/行政/后勤">人事/行政/后勤</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州酒店/餐饮/旅游">酒店/餐饮/旅游</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州美容/美发/保健/健身">美容/美发/保健/健身</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州计算机/网络/通信">计算机/网络/通信</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州建筑/房产/装修/物业">建筑/房产/装修/物业</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州普工/技工/生产">普工/技工/生产</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州司机">司机</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家政保洁/安保">家政保洁/安保</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州影视/娱乐/KTV">影视/娱乐/KTV</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州编辑/出版/印刷">编辑/出版/印刷</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州教育培训/翻译">教育培训/翻译</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州财务/审计/统计">财务/审计/统计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他职位">其他职位</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index23.html" style="color:" target="_blank" title="郑州交友活动">交友活动</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州找女友/找男友">找女友/找男友</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州征婚">征婚</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州结伴活动">结伴活动</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州技能交换">技能交换</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州找人/寻物">找人/寻物</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index24.html" style="color:" target="_blank" title="郑州宠物">宠物</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州狗狗">狗狗</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州猫猫/其他宠物">猫猫/其他宠物</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州宠物免费赠送">宠物免费赠送</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州宠物用品/食品">宠物用品/食品</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州宠物服务/配种">宠物服务/配种</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index25.html" style="color:" target="_blank" title="郑州生活服务">生活服务</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州驾校服务">驾校服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州陪驾/代驾">陪驾/代驾</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州婚庆/化妆">婚庆/化妆</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州摄影摄像">摄影摄像</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州美容纤体">美容纤体</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州房屋装修">房屋装修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州建材装饰">建材装饰</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保姆/月嫂">保姆/月嫂</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州保洁/清洗">保洁/清洗</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州搬家服务">搬家服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家电维修">家电维修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州电脑维修">电脑维修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家居维修">家居维修</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州管道疏通">管道疏通</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州外卖/送水">外卖/送水</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州开锁/修锁">开锁/修锁</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州租车服务">租车服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州旅游度假">旅游度假</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州休闲娱乐">休闲娱乐</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州酒店/宾馆">酒店/宾馆</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其它生活服务">其它生活服务</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="javascript:;" style="color:" target="_blank" title="郑州教育培训">教育培训</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州职业培训">职业培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州外语培训">外语培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州学历教育">学历教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州家教">家教</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州IT培训">IT培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州留学签证">留学签证</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州高等教育">高等教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州文体培训">文体培训</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州婴幼儿教育">婴幼儿教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州中小学教育">中小学教育</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其他培训">其他培训</a>
                </dd>
        </dl>
        </li>
                <li>
        <em><a href="index26.html" style="color:" target="_blank" title="郑州商务服务">商务服务</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
                <a href="javascript:;" style="color:" target="_blank" title="郑州投资理财">投资理财</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州机票/签证">机票/签证</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州招商加盟">招商加盟</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州担保/贷款">担保/贷款</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州公司注册">公司注册</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州会计/审计">会计/审计</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州网站建设">网站建设</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州快递/物流">快递/物流</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州庆典/演出">庆典/演出</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州印刷/喷绘">印刷/喷绘</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州设计策划">设计策划</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州律师服务">律师服务</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州翻译/速记">翻译/速记</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州鲜花/盆景">鲜花/盆景</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州礼品定制">礼品定制</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州本地名站">本地名站</a>
                <a href="javascript:;" style="color:" target="_blank" title="郑州其它商务服务">其它商务服务</a>
                </dd>
        </dl>
        </li>
                </ul>
        </dd>
        </dl>
    </div>
    <div class="daohang">
        <ul>
            <li><a href="index.html" id="index">首页</a></li>
                                    <li><a target="_self" id="3" href="index17.html"><font color="">房屋</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="2" href="index18.html"><font color="">车辆买卖</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="1" href="index19.html"><font color="">二手闲置</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="4" href="index20.html"><font color="">招聘</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="5" href="index21.html"><font color="">兼职</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="6" href="index22.html"><font color="">求职</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="7" href="index23.html"><font color="">交友</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="8" href="index24.html"><font color="">宠物</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="9" href="index25.html"><font color="">生活</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="244" href="index26.html"><font color="">商务服务</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="group" href="group.html"><font color="">团购</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="news" href=""><font color="">资讯</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="goods" href="goods.html"><font color="">商品</font><sup class=""></sup></a></li>
                        <li><a target="_self" id="corp" href="corporation.html"><font color="">店铺</font><sup class=""></sup></a></li>
                    </ul>
    </div>
</div>
<div class="clearfix"></div>
<div id="ad_header"></div>
<div class="clearfix"></div>
<script>loadDefault(['category','category_select'])</script>
<div class="clear"></div>
    <div class="body1000">
<div class="location">当前位置：<a href="index.html">郑州分类信息网-蚂蚁分类信息系统</a> <code>&gt;</code> &nbsp;郑州热点资讯</div>
<div class="clear"></div>
<div class="column">
<div class="col3">
<div class="newsfocus">
<div id="slider">
<ul>
                                        <li><a href="javascript:;" title="地方门户系统" target="_blank"><img src="static/picture/1314770413ldwaj.jpg" alt="地方门户系统" width="333" height="226" border="0"></a></li>
<li><a href="javascript:;" title="巴基斯坦汽车炸弹袭击致92平民死亡" target="_blank"><img src="static/picture/1264154115lz6zz.jpg" alt="巴基斯坦汽车炸弹袭击致92平民死亡" width="333" height="226" border="0"></a></li>
<li><a href="javascript:;" title="中国中央军委副主席徐才厚访美" target="_blank"><img src="static/picture/1264154161u7bxl.jpg" alt="中国中央军委副主席徐才厚访美" width="333" height="226" border="0"></a></li>
</ul>
</div>
<script type="text/javascript">$(document).ready(function() {$("#slider").flashSlider();});</script>
</div>
<div class="clear"></div>
<div class="newinfo">
<div class="hd">最新发布信息</div>
<div class="bd">
<div id="indextop">
<div id="indextop1">
                            
                            <div class="li"><span class="tm">2019-07-03</span><span class="tt"><a href="1963557.html" title="佳能数码相机，EOS 750D，九成新" target="_blank">佳能数码相机，EOS 750D，九成新</a></span></div>
<div class="li"><span class="tm">2019-07-03</span><span class="tt"><a href="131124.html" title="绿城百合字母套大房子出售啦！大面积+好户型！" target="_blank">绿城百合字母套大房子出售啦！大面积+好户型！</a></span></div>
<div class="li"><span class="tm">2019-07-02</span><span class="tt"><a href="1963556.html" title="丰田 普拉多 2019款 2.7L 自动标准版" target="_blank">丰田 普拉多 2019款 2.7L 自动标准版</a></span></div>
<div class="li"><span class="tm">2019-07-02</span><span class="tt"><a href="1963555.html" title="别克 GL8 2017款 25S 舒适型转让" target="_blank">别克 GL8 2017款 25S 舒适型转让</a></span></div>
<div class="li"><span class="tm">2019-06-30</span><span class="tt"><a href="1963554.html" title="大学路13号院 次卧 桃源路 大学路 郑大南门" target="_blank">大学路13号院 次卧 桃源路 大学路 郑大南门</a></span></div>
<div class="li"><span class="tm">2019-06-30</span><span class="tt"><a href="1963553.html" title="公园世家 天然气 暖气入户 地铁口 独立厨房 首付5万" target="_blank">公园世家 天然气 暖气入户 地铁口 独立厨房 首付5万</a></span></div>
<div class="li"><span class="tm">2019-06-30</span><span class="tt"><a href="1963552.html" title="银基王朝南北通透四房 精装修 业主诚售家具家电全送 随时看房" target="_blank">银基王朝南北通透四房 精装修 业主诚售家具家电全送 随时看房</a></span></div>
<div class="li"><span class="tm">2019-06-01</span><span class="tt"><a href="131235.html" title="(出售)进口大众甲壳虫2.0敞篷限量豪华版" target="_blank">(出售)进口大众甲壳虫2.0敞篷限量豪华版</a></span></div>
<div class="li"><span class="tm">2019-06-01</span><span class="tt"><a href="131243.html" title="双桥传媒大学水郡长安精装修一居室3000拎包入住" target="_blank">双桥传媒大学水郡长安精装修一居室3000拎包入住</a></span></div>
<div class="li"><span class="tm">2019-06-01</span><span class="tt"><a href="1963486.html" title="郑州市最专业的搬钢琴有限公司/最大的搬钢琴公司" target="_blank">郑州市最专业的搬钢琴有限公司/最大的搬钢琴公司</a></span></div>
                            
</div>
<div id="indextop2"></div>
</div>
</div>
<div class="postinfo">
<input type="button" value="马上发布信息" class="footsearch_post" onclick="window.open('http://demo9.mayicms.com/mayi-post.php?cityid=115')" style="margin-left:43px;">
<input type="button" value="修改/删除信息" class="footsearch_submit" onclick="window.open('http://demo9.mayicms.com/delinfo.php?cityid=115')">
</div>
</div>
</div>
<div class="col4">
<div class="todaynews">
<ul>
                                                                     <div class="head">
 <h1><a href="news-id-54.html" target="_blank">简历控遇到的最特别的求职理由</a></h1>
 <p>很多求职者会在简历中将自己的求职理由写上，简历控个人认为，将自己选择求职意向的理由告诉HR本身是一种很好的沟通方式，可以放HR更了解求职者，也可以给HR更多信息，以便判断求职者是否适合这个职位。可是有些求职者的求职理由，却让简历控哭笑不得。与大家分享一下吧。实<a href="news-id-54.html" style="margin-left:20px" target="_blank">查看全文>></a></p>
</div>
                                                                        <div class="li"><span class="date">[2011-07-12]</span><a href="" class="catname"></a><a href="news-id-53.html" title="高清组图：合肥突降暴雨 市区内涝严重" target="_blank">高清组图：合肥突降暴雨 市区内涝严重</a></div>
                                                                        <div class="li"><span class="date">[2011-06-04]</span><a href="" class="catname"></a><a href="news-id-52.html" title="三方协议相关的那些事儿" target="_blank">三方协议相关的那些事儿</a></div>
                                                                        <div class="li"><span class="date">[2010-07-15]</span><a href="" class="catname"></a><a href="news-id-51.html" title="熊猫烧香作者赴京找工作 否认被安全企业招安" target="_blank">熊猫烧香作者赴京找工作 否认被安全企业招安</a></div>
                                                                        <div class="li"><span class="date">[2011-09-06]</span><a href="" class="catname"></a><a href="news-id-50.html" title="“google撤离中国”实为危机公" target="_blank">“google撤离中国”实为危机公</a></div>
                                                                        <div class="li"><span class="date">[2011-07-20]</span><a href="" class="catname"></a><a href="news-id-49.html" title="公园圣地——各国国家公园渊源" target="_blank">公园圣地——各国国家公园渊源</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-48.html" title="最高达3.8万 5款品牌旗舰平板电视盘点" target="_blank">最高达3.8万 5款品牌旗舰平板电视盘点</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-47.html" title="四款热门触控屏幕卡片机人像样张大PK" target="_blank">四款热门触控屏幕卡片机人像样张大PK</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-46.html" title="世界上的湖泊有淡水湖、盐水湖" target="_blank">世界上的湖泊有淡水湖、盐水湖</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-45.html" title="中国首台千万亿次超级计算机研制成功" target="_blank">中国首台千万亿次超级计算机研制成功</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-44.html" title="卡了鱼刺最简单健康的方法" target="_blank">卡了鱼刺最简单健康的方法</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-43.html" title="洗袜子内衣裤不要用洗衣机" target="_blank">洗袜子内衣裤不要用洗衣机</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-42.html" title="喝啤酒每天不能超过1000ML" target="_blank">喝啤酒每天不能超过1000ML</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-41.html" title="什么牛奶才能标“鲜”字？" target="_blank">什么牛奶才能标“鲜”字？</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-40.html" title="长时间在冰箱里储存蔬菜非常危险" target="_blank">长时间在冰箱里储存蔬菜非常危险</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-39.html" title="车辆保险金额年年不同 应按当年价值投保" target="_blank">车辆保险金额年年不同 应按当年价值投保</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-38.html" title="为千元月薪 60天面试了30次" target="_blank">为千元月薪 60天面试了30次</a></div>
                                                                        <div class="li"><span class="date">[2010-01-24]</span><a href="" class="catname"></a><a href="news-id-37.html" title="实习生你要知道如何维权" target="_blank">实习生你要知道如何维权</a></div>
                                                </ul>
</div>
</div>
<div class="col5">
<div class="top10">
<h3 class="top_tips">热门机构推荐榜</h3>
<ul>
                                                        <li class="stitle" id="s_tle_1" onmouseover="show_top10(1);" style="display:none;"><span>1</span><a href="9126c79066.html" target="_blank">北京军都旅游度假村有限公司</a></li>
<li class="ithumb" id="i_img_1">
<div class="ithumb_c">
<p class="i_num">1</p>
<p class="i_img"><a href="9126c79066.html" target="_blank"><img src="static/picture/pre_13076140612aakz.jpg" width="78" height="58" alt="北京军都旅游度假村有限公司" border="0"></a></p>
<p class="i_tle"><a href="9126c79066.html" target="_blank">北京军都旅游度假村有限公司</a></p>
</div>
</li>
                                        <li class="stitle" id="s_tle_2" onmouseover="show_top10(2);"><span>2</span><a href="379695fd1a.html" target="_blank">西安大众科技培训中心</a></li>
<li class="ithumb" id="i_img_2" style="display:none;">
<div class="ithumb_c">
<p class="i_num">2</p>
<p class="i_img"><a href="379695fd1a.html" target="_blank"><img src="static/picture/pre_13076131718cdac.jpg" width="78" height="58" alt="西安大众科技培训中心" border="0"></a></p>
<p class="i_tle"><a href="379695fd1a.html" target="_blank">西安大众科技培训中心</a></p>
</div>
</li>
                                        <li class="stitle" id="s_tle_3" onmouseover="show_top10(3);"><span>3</span><a href="bbe3a2b03f.html" target="_blank">聚金港（北京）登记注册代理事</a></li>
<li class="ithumb" id="i_img_3" style="display:none;">
<div class="ithumb_c">
<p class="i_num">3</p>
<p class="i_img"><a href="bbe3a2b03f.html" target="_blank"><img src="static/picture/pre_1307613575vuitn.jpg" width="78" height="58" alt="聚金港（北京）登记注册代理事务所" border="0"></a></p>
<p class="i_tle"><a href="bbe3a2b03f.html" target="_blank">聚金港（北京）登记注册代理事务所</a></p>
</div>
</li>
                                        <li class="stitle" id="s_tle_4" onmouseover="show_top10(4);"><span>4</span><a href="33c742a5aa.html" target="_blank">北京奥鹏投资担保有限公司</a></li>
<li class="ithumb" id="i_img_4" style="display:none;">
<div class="ithumb_c">
<p class="i_num">4</p>
<p class="i_img"><a href="33c742a5aa.html" target="_blank"><img src="static/picture/pre_1307614303ylm6p.jpg" width="78" height="58" alt="北京奥鹏投资担保有限公司" border="0"></a></p>
<p class="i_tle"><a href="33c742a5aa.html" target="_blank">北京奥鹏投资担保有限公司</a></p>
</div>
</li>
                                        <li class="stitle" id="s_tle_5" onmouseover="show_top10(5);"><span>5</span><a href="fead12c147.html" target="_blank">月登阁幼儿园</a></li>
<li class="ithumb" id="i_img_5" style="display:none;">
<div class="ithumb_c">
<p class="i_num">5</p>
<p class="i_img"><a href="fead12c147.html" target="_blank"><img src="static/picture/pre_1307614147mf4g1.jpg" width="78" height="58" alt="月登阁幼儿园" border="0"></a></p>
<p class="i_tle"><a href="fead12c147.html" target="_blank">月登阁幼儿园</a></p>
</div>
</li>
                                        <li class="stitle" id="s_tle_6" onmouseover="show_top10(6);"><span>6</span><a href="e19f4401b6.html" target="_blank">西安昆仑机械厂幼儿园</a></li>
<li class="ithumb" id="i_img_6" style="display:none;">
<div class="ithumb_c">
<p class="i_num">6</p>
<p class="i_img"><a href="e19f4401b6.html" target="_blank"><img src="static/picture/pre_1307614241myizy.jpg" width="78" height="58" alt="西安昆仑机械厂幼儿园" border="0"></a></p>
<p class="i_tle"><a href="e19f4401b6.html" target="_blank">西安昆仑机械厂幼儿园</a></p>
</div>
</li>
                                        <li class="stitle" id="s_tle_7" onmouseover="show_top10(7);"><span>7</span><a href="70c952da4e.html" target="_blank">西安思源学院</a></li>
<li class="ithumb" id="i_img_7" style="display:none;">
<div class="ithumb_c">
<p class="i_num">7</p>
<p class="i_img"><a href="70c952da4e.html" target="_blank"><img src="static/picture/pre_1307613622nlm2v.jpg" width="78" height="58" alt="西安思源学院" border="0"></a></p>
<p class="i_tle"><a href="70c952da4e.html" target="_blank">西安思源学院</a></p>
</div>
</li>
                                        <li class="stitle" id="s_tle_8" onmouseover="show_top10(8);"><span>8</span><a href="58785214f0.html" target="_blank">苏氏牛肉面</a></li>
<li class="ithumb" id="i_img_8" style="display:none;">
<div class="ithumb_c">
<p class="i_num">8</p>
<p class="i_img"><a href="58785214f0.html" target="_blank"><img src="static/picture/pre_1307612982zsgbx.jpg" width="78" height="58" alt="苏氏牛肉面" border="0"></a></p>
<p class="i_tle"><a href="58785214f0.html" target="_blank">苏氏牛肉面</a></p>
</div>
</li>
                                        <li class="stitle" id="s_tle_9" onmouseover="show_top10(9);"><span>9</span><a href="45f0ad3190.html" target="_blank">华豫川金水路店</a></li>
<li class="ithumb" id="i_img_9" style="display:none;">
<div class="ithumb_c">
<p class="i_num">9</p>
<p class="i_img"><a href="45f0ad3190.html" target="_blank"><img src="static/picture/pre_1307614188tkayq.jpg" width="78" height="58" alt="华豫川金水路店" border="0"></a></p>
<p class="i_tle"><a href="45f0ad3190.html" target="_blank">华豫川金水路店</a></p>
</div>
</li>
                                        <li class="stitle" id="s_tle_10" onmouseover="show_top10(10);"><span>10</span><a href="69c005fa3f.html" target="_blank">郑州金汉斯美食</a></li>
<li class="ithumb" id="i_img_10" style="display:none;">
<div class="ithumb_c">
<p class="i_num">10</p>
<p class="i_img"><a href="69c005fa3f.html" target="_blank"><img src="static/picture/pre_1307613039rjd3g.jpg" width="78" height="58" alt="郑州金汉斯美食" border="0"></a></p>
<p class="i_tle"><a href="69c005fa3f.html" target="_blank">郑州金汉斯美食</a></p>
</div>
</li>
                                        <li class="stitle" id="s_tle_11" onmouseover="show_top10(11);"><span>11</span><a href="51305428a7.html" target="_blank">郑州烤鸭店</a></li>
<li class="ithumb" id="i_img_11" style="display:none;">
<div class="ithumb_c">
<p class="i_num">11</p>
<p class="i_img"><a href="51305428a7.html" target="_blank"><img src="static/picture/pre_13076128647lbbs.jpg" width="78" height="58" alt="郑州烤鸭店" border="0"></a></p>
<p class="i_tle"><a href="51305428a7.html" target="_blank">郑州烤鸭店</a></p>
</div>
</li>
                                        <script type="text/javascript" language="javascript" src="static/js/news.js"></script>
</ul>
<p class="top_more"><a href="javascript:;" target="_blank">立即注册商家会员>></a></p>
</div>
</div>
</div>
<div class="clear"></div>
<div class="column2">
<div class="tuwen">
<div class="hd">精彩图文</div>
<div class="bd">
<ul>
                                        <li><a href="news-id-53.html" target="_blank"><img src="static/picture/1310443658ynfcu.jpg" alt="高清组图：合肥突降暴雨 市区内涝严重"></a><span><a href="news-id-53.html" title="高清组图：合肥突降暴雨 市区内涝严重">高清组图：合肥突降暴雨 市区内涝严重</a></span></li>
<li><a href="news-id-51.html" target="_blank"><img src="static/picture/1264321030t8bwr.jpg" alt="熊猫烧香作者赴京找工作 否认被安全企业招安"></a><span><a href="news-id-51.html" title="熊猫烧香作者赴京找工作 否认被安全企业招安">熊猫烧香作者赴京找工作 否认被安全企业招安</a></span></li>
<li><a href="news-id-50.html" target="_blank"><img src="static/picture/1264320935nlqav.gif" alt="“google撤离中国”实为危机公"></a><span><a href="news-id-50.html" title="“google撤离中国”实为危机公">“google撤离中国”实为危机公</a></span></li>
<li><a href="news-id-49.html" target="_blank"><img src="static/picture/1264320404taol0.jpg" alt="公园圣地——各国国家公园渊源"></a><span><a href="news-id-49.html" title="公园圣地——各国国家公园渊源">公园圣地——各国国家公园渊源</a></span></li>
<li><a href="news-id-48.html" target="_blank"><img src="static/picture/1264320341fudbj.jpg" alt="最高达3.8万 5款品牌旗舰平板电视盘点"></a><span><a href="news-id-48.html" title="最高达3.8万 5款品牌旗舰平板电视盘点">最高达3.8万 5款品牌旗舰平板电视盘点</a></span></li>
<li><a href="news-id-47.html" target="_blank"><img src="static/picture/1264320207prb9e.jpg" alt="四款热门触控屏幕卡片机人像样张大PK"></a><span><a href="news-id-47.html" title="四款热门触控屏幕卡片机人像样张大PK">四款热门触控屏幕卡片机人像样张大PK</a></span></li>
<li><a href="news-id-46.html" target="_blank"><img src="static/picture/12643201110xhe4.jpg" alt="世界上的湖泊有淡水湖、盐水湖"></a><span><a href="news-id-46.html" title="世界上的湖泊有淡水湖、盐水湖" style="color:red">世界上的湖泊有淡水湖、盐水湖</a></span></li>
</ul>
</div>
</div>
</div>
<div class="clear"></div>
<div class="column3">
<div class="news_daohang">
<div class="bd">
<ul>
                                        <div class="square fl">
<div class="hc">
<span class="cate">本地资讯</span>
<span class="more"><a href="news-catid-156.html" target="_blank">更多</a></span>
</div>
<div class="bc">
                            <div class="li"><span class="title"><a href="news-id-50.html" title="“google撤离中国”实为危机公" target="_blank">“google撤离中国”实为危机公</a></span><span class="time">11-09-06</span></div>
<div class="li"><span class="title"><a href="news-id-53.html" title="高清组图：合肥突降暴雨 市区内涝严重" target="_blank">高清组图：合肥突降暴雨 市区内涝严重</a></span><span class="time">11-07-12</span></div>
<div class="li"><span class="title"><a href="news-id-51.html" title="熊猫烧香作者赴京找工作 否认被安全企业招安" target="_blank">熊猫烧香作者赴京找工作 否认被安全企业招安</a></span><span class="time">10-07-15</span></div>
<div class="li"><span class="title"><a href="news-id-45.html" title="中国首台千万亿次超级计算机研制成功" target="_blank">中国首台千万亿次超级计算机研制成功</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-32.html" title="湖南踩踏事故赔付资金全部到位 人均获偿34.9万" target="_blank">湖南踩踏事故赔付资金全部到位 人均获偿34.9万</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-31.html" title="江西一小学发生踩踏事件 5名学生受伤" target="_blank">江西一小学发生踩踏事件 5名学生受伤</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-29.html" title="南京多家银行暂停房贷放款 央行或在一周内加息" target="_blank">南京多家银行暂停房贷放款 央行或在一周内加息</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-28.html" title="国际机器人展览 “美女”献唱“娃娃”跳舞(图)" target="_blank">国际机器人展览 “美女”献唱“娃娃”跳舞(图)</a></span><span class="time">10-01-24</span></div>
</div>
</div>
                                        <div class="square fr">
<div class="hc">
<span class="cate">教育资讯</span>
<span class="more"><a href="news-catid-157.html" target="_blank">更多</a></span>
</div>
<div class="bc">
                            <div class="li"><span class="title"><a href="news-id-30.html" title="湖北高校3686人获国家奖学金 名校占近六成名额" target="_blank" style="color:red">湖北高校3686人获国家奖学金 名校占近六成名额</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-26.html" title="校园“活雕塑”展现90年间青年风采" target="_blank" style="color:red">校园“活雕塑”展现90年间青年风采</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-25.html" title="2010年全国职称外语等级考试考前培训班招生简章" target="_blank">2010年全国职称外语等级考试考前培训班招生简章</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-24.html" title="全国官方考研英语06-07级模拟考试（福州站）免费抢报中" target="_blank">全国官方考研英语06-07级模拟考试（福州站）免费抢报中</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-23.html" title="考研于2010年1月9日开考" target="_blank" style="color:red">考研于2010年1月9日开考</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-22.html" title="2010考研成绩3月初可查询" target="_blank">2010考研成绩3月初可查询</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-21.html" title="江西省考录公务员笔试昨日开始" target="_blank">江西省考录公务员笔试昨日开始</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-20.html" title="李阳：大喊英语迎新年" target="_blank">李阳：大喊英语迎新年</a></span><span class="time">10-01-24</span></div>
</div>
</div>
                                        <div class="square fl">
<div class="hc">
<span class="cate">职场人生</span>
<span class="more"><a href="news-catid-158.html" target="_blank">更多</a></span>
</div>
<div class="bc">
                            <div class="li"><span class="title"><a href="news-id-54.html" title="简历控遇到的最特别的求职理由" target="_blank">简历控遇到的最特别的求职理由</a></span><span class="time">16-11-06</span></div>
<div class="li"><span class="title"><a href="news-id-52.html" title="三方协议相关的那些事儿" target="_blank">三方协议相关的那些事儿</a></span><span class="time">11-06-04</span></div>
<div class="li"><span class="title"><a href="news-id-38.html" title="为千元月薪 60天面试了30次" target="_blank">为千元月薪 60天面试了30次</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-37.html" title="实习生你要知道如何维权" target="_blank">实习生你要知道如何维权</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-36.html" title="创业路艰辛防骗更重要" target="_blank">创业路艰辛防骗更重要</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-35.html" title="拿下新工作就来点新花样" target="_blank">拿下新工作就来点新花样</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-34.html" title="第一次求职被骗很正常？" target="_blank">第一次求职被骗很正常？</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-33.html" title="广东将补偿被辞代课教师 两年内拿出20亿解决" target="_blank" style="color:red">广东将补偿被辞代课教师 两年内拿出20亿解决</a></span><span class="time">10-01-24</span></div>
</div>
</div>
                                        <div class="square fr">
<div class="hc">
<span class="cate">生活百科</span>
<span class="more"><a href="news-catid-159.html" target="_blank">更多</a></span>
</div>
<div class="bc">
                            <div class="li"><span class="title"><a href="news-id-49.html" title="公园圣地——各国国家公园渊源" target="_blank">公园圣地——各国国家公园渊源</a></span><span class="time">11-07-20</span></div>
<div class="li"><span class="title"><a href="news-id-48.html" title="最高达3.8万 5款品牌旗舰平板电视盘点" target="_blank">最高达3.8万 5款品牌旗舰平板电视盘点</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-47.html" title="四款热门触控屏幕卡片机人像样张大PK" target="_blank">四款热门触控屏幕卡片机人像样张大PK</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-46.html" title="世界上的湖泊有淡水湖、盐水湖" target="_blank" style="color:red">世界上的湖泊有淡水湖、盐水湖</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-44.html" title="卡了鱼刺最简单健康的方法" target="_blank">卡了鱼刺最简单健康的方法</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-43.html" title="洗袜子内衣裤不要用洗衣机" target="_blank">洗袜子内衣裤不要用洗衣机</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-42.html" title="喝啤酒每天不能超过1000ML" target="_blank">喝啤酒每天不能超过1000ML</a></span><span class="time">10-01-24</span></div>
<div class="li"><span class="title"><a href="news-id-41.html" title="什么牛奶才能标“鲜”字？" target="_blank">什么牛奶才能标“鲜”字？</a></span><span class="time">10-01-24</span></div>
</div>
</div>
                                        
</ul>
</div>
</div>
<div class="read">
<div class="hd"><span>热门阅读排行</span></div>
<div class="bd">
<ul>
                                        <div class="li"><a target="_blank" href="news-id-51.html" title="熊猫烧香作者赴京找工作 否认被安全企业招安">熊猫烧香作者赴京找工作 否认被</a></div>
<div class="li"><a target="_blank" href="news-id-38.html" title="为千元月薪 60天面试了30次">为千元月薪 60天面试了30次</a></div>
<div class="li"><a target="_blank" href="news-id-50.html" title="“google撤离中国”实为危机公">“google撤离中国”实为危机公</a></div>
<div class="li"><a target="_blank" href="news-id-54.html" title="简历控遇到的最特别的求职理由">简历控遇到的最特别的求职理由</a></div>
<div class="li"><a target="_blank" href="news-id-49.html" title="公园圣地——各国国家公园渊源">公园圣地——各国国家公园渊源</a></div>
<div class="li"><a target="_blank" href="news-id-53.html" title="高清组图：合肥突降暴雨 市区内涝严重">高清组图：合肥突降暴雨 市区内</a></div>
<div class="li"><a target="_blank" href="news-id-48.html" title="最高达3.8万 5款品牌旗舰平板电视盘点">最高达3.8万 5款品牌旗舰平板电</a></div>
<div class="li"><a target="_blank" href="news-id-45.html" title="中国首台千万亿次超级计算机研制成功">中国首台千万亿次超级计算机研</a></div>
<div class="li"><a target="_blank" href="news-id-29.html" title="南京多家银行暂停房贷放款 央行或在一周内加息">南京多家银行暂停房贷放款 央行</a></div>
<div class="li"><a target="_blank" href="news-id-25.html" title="2010年全国职称外语等级考试考前培训班招生简章">2010年全国职称外语等级考试考</a></div>
<div class="li"><a target="_blank" href="news-id-31.html" title="江西一小学发生踩踏事件 5名学生受伤">江西一小学发生踩踏事件 5名学</a></div>
<div class="li"><a target="_blank" href="news-id-47.html" title="四款热门触控屏幕卡片机人像样张大PK">四款热门触控屏幕卡片机人像样</a></div>
<div class="li"><a target="_blank" href="news-id-42.html" title="喝啤酒每天不能超过1000ML">喝啤酒每天不能超过1000ML</a></div>
<div class="li"><a target="_blank" href="news-id-21.html" title="江西省考录公务员笔试昨日开始">江西省考录公务员笔试昨日开始</a></div>
<div class="li"><a target="_blank" href="news-id-52.html" title="三方协议相关的那些事儿">三方协议相关的那些事儿</a></div>
<div class="li"><a target="_blank" href="news-id-44.html" title="卡了鱼刺最简单健康的方法">卡了鱼刺最简单健康的方法</a></div>
<div class="li"><a target="_blank" href="news-id-43.html" title="洗袜子内衣裤不要用洗衣机">洗袜子内衣裤不要用洗衣机</a></div>
<div class="li"><a target="_blank" href="news-id-24.html" title="全国官方考研英语06-07级模拟考试（福州站）免费抢报中">全国官方考研英语06-07级模拟考</a></div>
<div class="li"><a target="_blank" href="news-id-27.html" title="我国城市居民70％无力买新房 房价可能现拐点">我国城市居民70％无力买新房 房</a></div>
<div class="li"><a target="_blank" href="news-id-41.html" title="什么牛奶才能标“鲜”字？">什么牛奶才能标“鲜”字？</a></div>
</ul>
</div>
</div>
</div>
<div class="clear"></div><div id="ad_footerbanner"></div>
<div style="display: none" id="ad_none">
<div id="ad_interlistad_top_none">
<ul class="interlistdiv"></ul>
</div>
<div id="ad_interlistad_bottom_none">
<ul class="interlistdiv"></ul>
</div>
</div>
<div class="footer_new">
    <div class="foot_new">
        <div class="foot_box">
        	<div class="hd">信息管理</div>
            <div class="bd">
            	<ul>
                	<li><a target="_blank" href="mayi-post-115.html">免费发布信息</a></li>
                    <li><a target="_blank" href="delinfo-115.html" rel="nofollow">修改/删除信息</a></li>
                    <li><a target="_blank" href="search-115.html" rel="nofollow">信息快速搜索</a></li>
                </ul>
            </div>
        </div>
        <div class="foot_box" id="sjfw" style="display:none;">
        	<div class="hd">商家服务</div>
            <div class="bd">
            	<ul>
                	<li><a target="_blank" href="mayi-member-register_store_115.html">商家入驻</a></li>
                    <li><a target="_blank" href="mayi-member-115.html">商家登录</a></li>
                </ul>
            </div>
        </div>
        <div class="foot_box">
        	<div class="hd">关于我们</div>
            <div class="bd">
            	<ul>
                                                    	<li><a href="javascript:;" style="color:" target="_blank">网站简介<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">广告服务<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">联系我们<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站帮助<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">友情链接<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站公告<sup class=""></sup></a></li>
                                    	<li><a href="javascript:;" style="color:" target="_blank">网站地图<sup class=""></sup></a></li>
                                    </ul>
            </div>
        </div>
        <div class="foot_wx">
        	<div class="hd">扫一扫，访问手机站</div>
            <div class="bd">
            	<ul>
                	<img alt="分类信息网-蚂蚁分类信息系统手机版" src="static/picture/qrcode-httpdemo9.mayicms.commind.jpg">
                </ul>
            </div>
        </div>
        <div class="foot_wx" id="gzh">
        	<div class="hd">关注微信公众号</div>
            <div class="bd">
            	<ul>
                	<img alt="分类信息网-蚂蚁分类信息系统微信公众号" src="static/picture/erweima.gif">
                </ul>
            </div>
        </div>
        <div class="foot_mobile">
        	<ul>
            <div class="h1"><font>0371-65366238</font></div>            <div class="h2">客服QQ：<font><a class="_chat" href="javascript:;" title="点击交谈" rel="nofollow" target="_blank">1367882925</a></font></div>            <div class="h3">微信号：<font>kefu-000000</font></div>            <div class="h3">邮箱：<font>mayicms@qq.com</font></div>            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="foot_powered">
    	Copyright &copy; 分类信息网-蚂蚁分类信息系统版权所有 <a href="javascript:;" rel="nofollow"></a><font id="foots">Powered by <a href="javascript:;">MayiCMS</a> <a href="74b8d0d9b9.html">5.9SE GBK</a></font>     </div>
</div>
<div id="top">
<div id="mayi_rmenu" class="mayi-rmenu">
<a rel="nofollow" href="javascript:;" class="btn btn-qq"></a><div class="btn btn-wx"><img class="pic" src="static/picture/erweima_kf.gif"></div>
<div class="btn btn-phone"><div class="phone">0371-65366238</div></div><div class="btn btn-top"></div>
</div>
</div>
<script type="text/javascript">loadDefault(["scrolltop"]);</script>
<script type="text/javascript">loadDefault(["addiv","mayilogin","show_tab","changecity"]);</script></div>
</div></body>
</html>
<script type="text/javascript">loadDefault(['newsindex','ppRoll']);</script>
<script type="text/javascript">var indextop = new ppRoll({speed:60,demo:"indextop",demo1:"indextop1",demo2:"indextop2",objStr:"indextop",width:"310px",height:"217px",direction:"top"});</script>