<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<title></title>
<meta name="keywords" content="">
<link rel="stylesheet" href="static/css/search.css">
<link rel="stylesheet" href="static/css/search_style.css">
<link rel="stylesheet" href="static/css/pagination2.css">
<script language="javascript">var current_domain='http://demo9.mayicms.com';</script>
<script language="JavaScript" src="static/js/global.js"></script>
<script language="JavaScript" src="static/js/jquery.min.js"></script>
</head>
<body class="red full bodybgred1">
<div class="main_current">
<div class="s_home cc">
<div class="new_topbar_wrap">
  <div class="new_topbar">
    <div class="cc">
      <ul class="new_topbar_right" style=" float:left;">
        <li class="noborder"><a href="javascript:;">首页</a></li>
        <li><a href="javascript:;" rel="nofollow">快速发布信息</a></li>
        <li><a href="javascript:;" rel="nofollow">修改删除信息</a></li>
      </ul>
      <span class="fr" style="padding-top:7px;"> </span> <span class="new_topbar_left fr"><a href="javascript:;">用户中心</a></span> </div>
  </div>
</div>
<div class="cc"></div><div class="c mt10"></div>
<div class="s_logo" style="text-align:center;">
    <div class="logo" style="float:none;margin:70px auto 60px auto;"><a href="javascript:;"><img src="static/picture/logo.gif" alt="分类信息网-蚂蚁分类信息系统"></a></div>
<div class="c"></div>
    <div style="float:none;margin:0 auto 200px auto; width:596px;">
    <form action="search.php?" method="get"></form>
        <div class="s_ulA" id="searchType">
            <ul>
                 <li name="s8" id="s8_information" onclick="show_tab('information');" class="current"><a href="#">信息</a></li>
<li name="s8" id="s8_store" onclick="show_tab('store');"><a href="#">商家</a></li>                <li name="s8" id="s8_group" onclick="show_tab('group');"><a href="#">团购</a></li>
                <li name="s8" id="s8_news" onclick="show_tab('news');"><a href="#">热点资讯</a></li>
                <li name="s8" id="s8_goods" onclick="show_tab('goods');"><a href="#">商品</a></li>
            </ul>
        </div>
        <div class="s_enter cc">
        	<input type="hidden" id="searchtype" name="mod" value="information">
            <input placeholder="请输入关键词搜索" value="" class="s_input" type="text" name="keywords">
            <button class="s_btn" type="submit">搜 索</button>
        </div>
        </form>
    </div>
</div> 
<div class="c mt10"></div>
<div class="footer-wrap">
<div id="footer"><div id="copyright"><span><font id="fonts">Powered by <a href="74b8d0d9b9.html">MayiCMS</a> <a href="javascript:;">5.9SE GBK</a></font> Processed in 0.025309 second(s) , 0 queries</span> </div></div><script type="text/javascript">loadDefault(['search','show_tab']);</script></div>
</div>
</div></body>
</html>