<div class="footer white">
    <div class="wrap">
        <div class="friendlink">
            <h5>友情链接</h5>
            <ul class="fn-clear">
                <li><a href="javascript:;" target="_blank" title="今题网">今题网</a></li>
                <li><a href="javascript:;" target="_blank" title="爱威海分类信息网">爱威海分类信息网</a></li>
                <li><a href="javascript:;" target="_blank" title="客集齐网">客集齐网</a></li>
                <li><a href="javascript:;" target="_blank" title="搜易分类信息网">搜易分类信息网</a></li>
                <li><a href="javascript:;" target="_blank" title="小百姓网">小百姓网</a></li>
                <li><a href="javascript:;" target="_blank" title="列举网">列举网</a></li>

                <li><a href="javascript:;" target="_blank" title="久久信息网">久久信息网</a></li>

                <li><a href="javascript:;" target="_blank" title="2018信息网">2018信息网</a></li>

                <li><a href="javascript:;" target="_blank" title="娃酷网">娃酷网</a></li>

                <li><a href="javascript:;" target="_blank" title="天下信息网">天下信息网</a></li>

                <li><a href="javascript:;" target="_blank" title="列表网">列表网</a></li>

                <li><a href="javascript:;" target="_blank" title="赶驴网">赶驴网</a></li>

                <li><a href="javascript:;" target="_blank" title="置顶吧网">置顶吧网</a></li>

                <li><a href="javascript:;" target="_blank" title="酷易搜">酷易搜</a></li>

                <li><a href="javascript:;" target="_blank" title="快点8">快点8</a></li>

                <li><a href="javascript:;" target="_blank" title="分类168网">分类168网</a></li>

                <li><a href="javascript:;" target="_blank" title="城际分类网">城际分类网</a></li>

                <li><a href="javascript:;" target="_blank" title="百姓网">百姓网</a></li>

                <li><a href="javascript:;" target="_blank" title="赶集网">赶集网</a></li>

                <li><a href="javascript:;" target="_blank" title="58同城">58同城</a></li>

            </ul>
        </div>
        <div class="help fn-clear">
            <div class="helplist">
                <dl>
                    <dt>关于我们</dt>

                    <dd><a href="about-1.html" target="_blank">网站介绍</a></dd>

                    <dd><a href="about-2.html" target="_blank">关于我们</a></dd>

                    <dd><a href="about-3.html" target="_blank">服务条款</a></dd>

                    <dd><a href="about-4.html" target="_blank">广告服务</a></dd>

                    <dd><a href="feedback.html" target="_blank">意见反馈</a></dd>
                </dl>

                <dl>
                    <dt>常见问题<s></s></dt>

                    <dd><a href="help-2.html" target="_blank" title="账户类">账户类</a></dd>

                    <dd><a href="help-3.html" target="_blank" title="购物类">购物类</a></dd>

                    <dd><a href="help-4.html" target="_blank" title="款项类">款项类</a></dd>

                    <dd><a href="help-5.html" target="_blank" title="配送类">配送类</a></dd>

                </dl>

                <dl>
                    <dt>订单百事通<s></s></dt>

                    <dd><a href="help-11.html" target="_blank" title="提交订单">提交订单</a></dd>

                    <dd><a href="help-12.html" target="_blank" title="订单查询">订单查询</a></dd>

                    <dd><a href="help-13.html" target="_blank" title="订单取消">订单取消</a></dd>

                    <dd><a href="help-15.html" target="_blank" title="订单异常">订单异常</a></dd>

                    <dd><a href="help-14.html" target="_blank" title="交易纠纷">交易纠纷</a></dd>

                </dl>

                <dl>
                    <dt>购物指南<s></s></dt>

                    <dd><a href="help-16.html" target="_blank" title="交易条款">交易条款</a></dd>

                    <dd><a href="help-17.html" target="_blank" title="促销咨询">促销咨询</a></dd>

                    <dd><a href="help-18.html" target="_blank" title="购物流程">购物流程</a></dd>

                    <dd><a href="help-19.html" target="_blank" title="商品咨询">商品咨询</a></dd>

                </dl>

                <dl>
                    <dt>支付及发票<s></s></dt>

                    <dd><a href="help-20.html" target="_blank" title="支付流程">支付流程</a></dd>

                    <dd><a href="help-21.html" target="_blank" title="在线支付">在线支付</a></dd>

                    <dd><a href="help-22.html" target="_blank" title="公司转账">公司转账</a></dd>

                    <dd><a href="help-23.html" target="_blank" title="支票支付">支票支付</a></dd>

                </dl>

                <dl>
                    <dt>售后服务<s></s></dt>

                    <dd><a href="help-24.html" target="_blank" title="售后政策（自营）">售后政策（自营）</a></dd>

                    <dd><a href="help-25.html" target="_blank" title="售后政策（卖家）">售后政策（卖家）</a></dd>

                    <dd><a href="help-26.html" target="_blank" title="返修/退换货申请">返修/退换货申请</a></dd>

                    <dd><a href="help-27.html" target="_blank" title="商品返回">商品返回</a></dd>

                    <dd><a href="help-28.html" target="_blank" title="退款说明">退款说明</a></dd>

                </dl>

            </div>
            <div class="qr">
                <div class="qr-img"><img src="__INDEX__/picture/qrcode-httpsihuoniao.cn.jpg">移动版</div>
                <div class="qr-img"><img src="__INDEX__/picture/15687067729028.jpg">微信公众号</div>
            </div>
        </div>
        <div class="copyright"><p style="text-align: center;">本站非实际运营网站，所载全部信息内容均仅作为软件系统功能测试之用，切勿当真！若有侵权，请即时联系：<a href="javascript:;" target="_self" textvalue="0512-67581578">0512-67581578</a><br>版权所有 © 2018 苏州酷曼软件技术有限公司. All rights reserved.&nbsp;</p><p style="text-align: center;"><a href="javascript:;" target="_blank">苏ICP备13047463号</a></p></div>
        <div class="statisticscode"></div>
    </div>
</div>