<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>信息首页</title>
    <meta name="keywords" content="信息关键词">
    <meta name="description" content="信息描述">
    <link rel="stylesheet" href="__INDEX__/css/base-1600133341.css">
    <link rel="stylesheet" href="__INDEX__/css/public-1600133341.css">
    <link rel="stylesheet" href="__INDEX__/css/index-1600133341.css">
    <script type="text/javascript" src="__INDEX__/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.SuperSlide.2.1.1.js"></script>
    <script>
        var masterDomain = 'https://ihuoniao.cn', channelDomain = 'https://ihuoniao.cn/sz/info', templatePath = 'https://ihuoniao.cn/templates/info/skin10/';
        var hideFileUrl = 0;
        var cookiePre = 'HN_';
        var money = '¥';
    </script>
</head>