<div class="logosearchtel">
    <div class="weblogo"><a href="index.html"><img src="static/picture/logo.gif" title="分类信息网" border="0"></a></div>
    <div class="webcity">
        <span>郑州</span><br><a href="changecity.html">切换分站</a>
    </div>
    <div class="webcity2" style="display:none;">
        <div class="curcity">郑州 <a href="changecity.html">切换分站</a></div>
        <div class="clearfix"></div>
        <ul>
            <a href="index1.html">北京</a>
            <a href="index2.html">上海</a>
            <a href="index3.html">天津</a>
            <a href="index4.html">重庆</a>
            <a href="index5.html">广州</a>
            <a href="index6.html">深圳</a>
            <a href="index7.html">杭州</a>
            <a href="index8.html">福州</a>
            <a href="index9.html">厦门</a>
            <a href="index10.html">石家庄</a>
            <a href="index.html">郑州</a>
            <a href="index11.html">武汉</a>
            <a href="index12.html">长沙</a>
            <a href="index13.html">南京</a>
            <a href="index14.html">南昌</a>
            <a href="index15.html">西安</a>
            <a href="index16.html">成都</a>
        </ul>
    </div>
    <div class="postedit">
        <a class="post" href="mayi-post-115.html">免费发布信息</a>
    </div>
    <div class="websearch">
        <div class="s_ulA" id="searchType">
            <ul>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="sch_t_frm">
            <form method="get" action="http://demo9.mayicms.com/search.php?" id="searchForm" target="_blank">
                <input name="cityid" type="hidden" value="115">
                <input type="hidden" id="searchtype" name="mod" value="information">
                <div class="sch_ct">
                    <input type="text" class="topsearchinput" value="请输入关键词搜索" name="keywords" id="searchheader" onmouseover="if(this.value==='请输入关键词搜索'){this.value='';}" x-webkit-speech="" lang="zh-CN">
                </div>
                <div>
                    <input type="submit" value="搜 索" class="btn-normal">
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>