<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>#手机#苹果6 - 手机 - 信息首页</title>
    <meta name="keywords" content="信息关键词">
    <meta name="description" content="信息描述">
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/base-1600133341.css" media="all">
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/public-1600133341.css" media="all">
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/list_detail-1600133341.css" media="all">
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/designpicd-1600133341.css" media="all">
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/viewer.min-2.css" media="all">
    <script type="text/javascript" src="__INDEX__/js/jquery-1.8.3.min.js"></script>
</head>
<script type="text/javascript">
    var masterDomain = 'https://ihuoniao.cn', channelDomain = 'https://ihuoniao.cn/sz/info', cfg_staticPath =staticPath= 'https://ihuoniao.cn/static/', templatePath = 'https://ihuoniao.cn/templates/info/skin10/';
    var hideFileUrl = 0, cookiePre = 'HN_';
    var hideFileUrl = 0, cookiePre = 'HN_', id = 1;
    var user_id = '2';
    var imconfig = {
        'mod':'info',
        'chatid':"2",
        'title': '#手机#苹果6',
        "price": '<em>￥</em>650.00',
        "imgUrl": 'https://upload.ihuoniao.cn//info/atlas/small/2017/12/22/1513922284893.jpg',
        "link": 'https://ihuoniao.cn/sz/info/detail-1.html',
    }
</script>

<body class="w1200">
<script type="text/javascript">var cookiePre = 'HN_', cfg_clihost = 'ihuoniao.cn', cfg_module = 'info',cfg_cityInfo = '{"cityid":"166","name":"\u82cf\u5dde","pinyin":"suzhou","url":"https:\/\/ihuoniao.cn\/sz","domain":"sz","type":"2","default":"1","count":72}'; </script>

<!-- 多语言 -->
<script src="__INDEX__/js/zh-CN-1600133341.js"></script>

<!-- 顶部信息 s -->
<div class="topInfo">
    <div class="wrap fn-clear">
        <div class="loginbox">
            <span class="siteCityInfo">苏州</span>
            <span class="changeCityBtn">
				「<a href="javascript:;">切换城市</a>」
				<div class="changeCityList">
					<p class="setwidth"></p>
					<div class="boxpd">
						<div class="sj"><i></i></div>
						<div class="box">
							<div class="content fn-clear">
								<p class="tit">请选择您所在的城市：</p>
								<ul></ul>
				      		</div>
				      <div class="morecontent fn-hide">
								<dl class="hot">
									<dt>热门</dt>
									<dd></dd>
								</dl>
								<div class="more">
									<dl class="pytit">
										<dt>城市</dt>
										<dd></dd>
									</dl>
									<div class="list"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</span>
            <div class="loginbefore fn-clear" id="navLoginAfter">
                <a href="register.html" class="regist">注册</a>
                <span class="fn-left">&nbsp;/&nbsp;</span>
                <span class="logint"><a href="login.html">登录</a></span>

                <a class="loginconnect" href="show-Login_pc_code_101336457_htt.html" title="QQ快捷登录" target="_blank"><i class="picon"><img src="__INDEX__/picture/24-1600133341.png"></i></a>

                <a class="loginconnect" href="index-https2F2Fopenauth.alipay.c.html" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="__INDEX__/picture/24-16001333411.png"></i></a>

                <a class="loginconnect" href="login-wechat.html" title="微信快捷登录" target="_blank"><i class="picon"><img src="__INDEX__/picture/24-16001333412.png"></i></a>








            </div>
        </div>
        <ul class="menu topbarlink fn-clear">
            <li>
                <a href="index.html" style="color: #f60;">网站首页</a><span class="separ">|</span>
            </li>
            <li class="dropdown user">
                <a href="login-https2F2Fihuoniao.cn2Fu.html">会员中心<i class="picon picon-down"></i></a>
                <div class="submenu">
                    <a href="login-https2F2Fihuoniao.cn2Fu2Fo.html" target="_blank">我的订单</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fr.html" target="_blank">交易明细</a>
                    <a href="login-https2F2Fihuoniao.cn2Fu2Fs.html" target="_blank">安全中心</a>
                </div>
            </li>
            <li><a href="mobile.html" target="_blank"><i class=""><img src="__INDEX__/picture/public_top_icon_mobile.png"></i>手机站</a><span class="separ">|</span>
                <div class="pop">
                    <s></s>
                    <p>扫码访问<a href="mobile.html" target="_blank"><img src="__INDEX__/picture/qrcode-httpsihuoniao.cn.jpg" width="150" height="150"></a></p>
                </div>
            </li>
            <li><a href="javascript:;"><i class=""><img src="__INDEX__/picture/public_top_icon_wechat.png"></i>微信公众号</a><span class="separ">|</span>
                <div class="pop" style="left: -26px;">
                    <s></s>
                    <p>扫码关注<img src="__INDEX__/picture/15687067729028.jpg" width="150" height="150"></p>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:;">快速发布<i class="picon picon-down"></i></a>
                <div class="submenu">
                    <a href="login-https2F2Fihuoniao.cn2Fu2Ff.html" target="_blank">新闻投稿</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff1.html" target="_blank">分类信息</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Fc.html" target="_blank">发布房源</a>					<a href="login-https2F2Fihuoniao.cn2Fsz2F.html" target="_blank">发布活动</a>					<a href="login-https2F2Fihuoniao.cn2Fsz2F1.html" target="_blank">发布新贴</a>					<a href="login-https2F2Fihuoniao.cn2Fu2Ff2.html" target="_blank">发起直播</a>
                    <a href="login-https2F2Fihuoniao.cn2Fu2Ff3.html" target="_blank">发布投票</a>
                    <a href="login-https2F2Fihuoniao.cn2Fu2Ff4.html" target="_blank">发布二手车</a>
                    <a href="login-https2F2Fihuoniao.cn2Fu2Ff5.html" target="_blank">发布顺风车</a>				</div>
            </li>
            <li class="dropdown webmap">
                <a href="javascript:;">网站导航<i class="picon picon-down"></i></a>
                <div class="submenu">

                    <a href="sfcar.html" style="">顺风车</a>

                    <a href="article.html" style="">信息资讯</a>

                    <a href="info.html" style="">二手信息</a>

                    <a href="house.html" style="">房产门户</a>

                    <a href="job.html" style="">招聘求职</a>

                    <a href="tieba.html" style="">贴吧社区</a>

                    <a href="circle.html" style="">圈子动态</a>

                    <a href="shop.html" style="">在线商城</a>

                    <a href="waimai.html" style="">美食外卖</a>

                    <a href="list1.html" target="_blank" style="">小程序直播</a>

                    <a href="live.html" style="">视频直播</a>

                    <a href="tuan.html" style="">团购秒杀</a>

                    <a href="business.html" target="_blank" style=" font-weight: 700;">火鸟商家</a>

                    <a href="huodong.html" style="">同城活动</a>

                    <a href="pension.html" style="">养老机构</a>

                    <a href="education.html" style="">教育培训</a>

                    <a href="travel.html" style="">旅游频道</a>

                    <a href="marry.html" style="">婚嫁频道</a>

                    <a href="homemaking.html" style="">家政服务</a>

                    <a href="car.html" style="">汽车门户</a>

                    <a href="renovation.html" style="">装修门户</a>

                    <a href="zhuanti.html" style="">拖拽专题</a>

                    <a href="dating.html" style="">互动交友</a>

                    <a href="paper.html" style="">电子报刊</a>

                    <a href="jianzhan.html" style="">自助建站</a>

                    <a href="huangye.html" style="">便民黄页</a>

                    <a href="vote.html" style="">投票活动</a>

                    <a href="jifen.html" style="">积分商城</a>

                    <a href="quanjing.html" style="">VR全景</a>

                    <a href="video.html" style="">视频频道</a>

                    <a href="image.html" style="">图说资讯</a>

                    <a href="javascript:;" target="_blank" style=" color: #00b0f0; font-weight: 700;">酷曼官网</a>

                    <a href="login1.html" target="_blank" style="">休闲游戏</a>

                </div>
            </li>
        </ul>
    </div>
</div>
<!-- 顶部信息 e -->
<script type="text/template" id="notLoginHtml">
    <div class="loginbefore fn-clear" id="navLoginAfter">
        <a href="https://ihuoniao.cn/register.html" class="regist">注册</a>
        <span class="fn-left">&nbsp;/&nbsp;</span>
        <span class="logint"><a href="https://ihuoniao.cn/login.html">登录</a></span>

        <a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=qq" title="QQ快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/qq/img/24.png" /></i></a>

        <a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=alipay" title="支付宝快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/alipay/img/24.png" /></i></a>

        <a class="loginconnect" href="https://ihuoniao.cn/api/login.php?type=wechat" title="微信快捷登录" target="_blank"><i class="picon"><img src="https://ihuoniao.cn/api/login/wechat/img/24.png" /></i></a>








    </div>
</script>

<!-- 导航 s-->
<div class="fixedwrap FestivalAD_header">
    <div class="fixedpane">
        <!-- head s -->
        <div class="wrap header fn-clear">
            <div class="logo">
                <a href="info.html" title="信息频道"><img src="__INDEX__/picture/15694623356800.png" alt="信息频道"></a>
            </div>
            <div class="searchwrap y-linear">
                <div class="search">
                    <div class="type">
                        <dl>
                            <dt><a href="javascript:;" class="keytype">信息</a><em></em></dt>
                            <dd>
                                <a href="javascript:;" data-id="0" data-type="list" class="active">信息</a>
                                <a href="javascript:;" data-id="1" data-type="store_list">商家</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="FormBox">
                        <form action="https://ihuoniao.cn/sz/info/list.html" method="post" class="form">
                            <input name="token" id="token" value="871e0f522f189140c7edc77eb032dcd9bff6a508" type="hidden">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="输入您想搜索的关键词" value=""></div>
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="搜索">
                            </div>
                        </form>
                        <form action="https://ihuoniao.cn/sz/info/store_list.html" class="form fn-hide">
                            <div class="inputbox">
                                <div class="inpbox"><input type="text" name="keywords" class="searchkey" placeholder="输入您想搜索的关键词" value=""></div>
                            </div>
                            <div class="subbox search-btn">
                                <input type="submit" class="submit" value="搜索">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="searchkey searchkeys">
                    <span>热门搜索：</span>

                    <a href="#" target="_blank"><font color="#92d050">装修公司</font></a>

                    <a href="#" target="_blank"><font color="#0070c0">实习生</font></a>

                    <a href="#" target="_blank"><font color="#953734">充话费</font></a>

                </div>
            </div>

            <div class="infobox">
                <a href="login-https2F2Fihuoniao.cn2Fu2Ff1.html" class="fbbox"><i class="ifabu"></i><span>发布信息</span></a>
            </div>
            <div class="kefu"><s><img src="__INDEX__/picture/call.png"></s><p>客服热线</p>4003-333-333</div>
        </div>
        <!-- head e -->

        <div class="nav-con n-linear ">
            <div class="wrap fn-clear">
                <div class="all_cate all_cate3"><span>所有分类</span>
                    <div class="b-main" id="navlist_wrap">
                        <div class="NavList">
                            <ul>

                                <li>
                                    <a href="list-1.html" class="name">手机通讯</a>
                                    <i class="arrow"></i>

                                    <a href="list-2.html" class="item">手机</a>

                                    <a href="list-3.html" class="item">通讯数据</a>

                                    <div class="sub-category">
                                        <dl>
                                            <dt><h2 class="title"><a href="list-1.html">手机通讯</a></h2></dt>
                                            <dd class="fn-clear">
                                                <div class="subitem">

                                                    <a href="list-2.html">手机</a>

                                                    <a href="list-3.html">通讯数据</a>

                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>

                                <li>
                                    <a href="list-4.html" class="name">摩托电动</a>
                                    <i class="arrow"></i>

                                    <a href="list-5.html" class="item">摩托车</a>

                                    <a href="list-6.html" class="item">电动车</a>

                                    <a href="list-78.html" class="item">自行车</a>

                                    <a href="list-79.html" class="item">三轮车</a>

                                    <a href="list-80.html" class="item">配件/装备</a>

                                    <div class="sub-category">
                                        <dl>
                                            <dt><h2 class="title"><a href="list-4.html">摩托电动</a></h2></dt>
                                            <dd class="fn-clear">
                                                <div class="subitem">

                                                    <a href="list-5.html">摩托车</a>

                                                    <a href="list-6.html">电动车</a>

                                                    <a href="list-78.html">自行车</a>

                                                    <a href="list-79.html">三轮车</a>

                                                    <a href="list-80.html">配件/装备</a>

                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>

                                <li>
                                    <a href="list-7.html" class="name">电脑数码</a>
                                    <i class="arrow"></i>

                                    <a href="list-8.html" class="item">电脑</a>

                                    <a href="list-9.html" class="item">笔记本</a>

                                    <a href="list-123.html" class="item">平板电脑</a>

                                    <a href="list-124.html" class="item">硬件</a>

                                    <a href="list-151.html" class="item">外设周边</a>

                                    <a href="list-125.html" class="item">数码产品</a>

                                    <a href="list-126.html" class="item">数码相机</a>

                                    <a href="list-127.html" class="item">MP3/MP4</a>

                                    <a href="list-128.html" class="item">游戏机</a>

                                    <div class="sub-category">
                                        <dl>
                                            <dt><h2 class="title"><a href="list-7.html">电脑数码</a></h2></dt>
                                            <dd class="fn-clear">
                                                <div class="subitem">

                                                    <a href="list-8.html">电脑</a>

                                                    <a href="list-9.html">笔记本</a>

                                                    <a href="list-123.html">平板电脑</a>

                                                    <a href="list-124.html">硬件</a>

                                                    <a href="list-151.html">外设周边</a>

                                                    <a href="list-125.html">数码产品</a>

                                                    <a href="list-126.html">数码相机</a>

                                                    <a href="list-127.html">MP3/MP4</a>

                                                    <a href="list-128.html">游戏机</a>

                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>

                                <li>
                                    <a href="list-10.html" class="name">家电家具</a>
                                    <i class="arrow"></i>

                                    <a href="list-11.html" class="item">空调</a>

                                    <a href="list-12.html" class="item">电视机</a>

                                    <a href="list-181.html" class="item">洗衣机</a>

                                    <a href="list-182.html" class="item">冰箱</a>

                                    <a href="list-183.html" class="item">冰柜</a>

                                    <a href="list-184.html" class="item">床品床垫</a>

                                    <a href="list-185.html" class="item">家具家居</a>

                                    <div class="sub-category">
                                        <dl>
                                            <dt><h2 class="title"><a href="list-10.html">家电家具</a></h2></dt>
                                            <dd class="fn-clear">
                                                <div class="subitem">

                                                    <a href="list-11.html">空调</a>

                                                    <a href="list-12.html">电视机</a>

                                                    <a href="list-181.html">洗衣机</a>

                                                    <a href="list-182.html">冰箱</a>

                                                    <a href="list-183.html">冰柜</a>

                                                    <a href="list-184.html">床品床垫</a>

                                                    <a href="list-185.html">家具家居</a>

                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>

                                <li>
                                    <a href="list-13.html" class="name">母婴玩具</a>
                                    <i class="arrow"></i>

                                    <a href="list-14.html" class="item">母婴用品</a>

                                    <a href="list-15.html" class="item">婴幼用品</a>

                                    <a href="list-218.html" class="item">奶粉/喂养</a>

                                    <a href="list-219.html" class="item">童床童车</a>

                                    <a href="list-220.html" class="item">孕妈用品</a>

                                    <div class="sub-category">
                                        <dl>
                                            <dt><h2 class="title"><a href="list-13.html">母婴玩具</a></h2></dt>
                                            <dd class="fn-clear">
                                                <div class="subitem">

                                                    <a href="list-14.html">母婴用品</a>

                                                    <a href="list-15.html">婴幼用品</a>

                                                    <a href="list-218.html">奶粉/喂养</a>

                                                    <a href="list-219.html">童床童车</a>

                                                    <a href="list-220.html">孕妈用品</a>

                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>

                                <li>
                                    <a href="list-16.html" class="name">服装配饰</a>
                                    <i class="arrow"></i>

                                    <a href="list-17.html" class="item">服装配饰</a>

                                    <a href="list-18.html" class="item">服装</a>

                                    <a href="list-266.html" class="item">鞋</a>

                                    <a href="list-274.html" class="item">箱包</a>

                                    <div class="sub-category">
                                        <dl>
                                            <dt><h2 class="title"><a href="list-16.html">服装配饰</a></h2></dt>
                                            <dd class="fn-clear">
                                                <div class="subitem">

                                                    <a href="list-17.html">服装配饰</a>

                                                    <a href="list-18.html">服装</a>

                                                    <a href="list-266.html">鞋</a>

                                                    <a href="list-274.html">箱包</a>

                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>

                                <li>
                                    <a href="list-19.html" class="name">美容保健</a>
                                    <i class="arrow"></i>

                                    <a href="list-20.html" class="item">彩妆</a>

                                    <a href="list-293.html" class="item">面部护肤</a>

                                    <div class="sub-category">
                                        <dl>
                                            <dt><h2 class="title"><a href="list-19.html">美容保健</a></h2></dt>
                                            <dd class="fn-clear">
                                                <div class="subitem">

                                                    <a href="list-20.html">彩妆</a>

                                                    <a href="list-293.html">面部护肤</a>

                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>

                                <li>
                                    <a href="list-22.html" class="name">上门安装</a>
                                    <i class="arrow"></i>

                                    <a href="list-303.html" class="item">换锁开锁</a>

                                    <a href="list-304.html" class="item">家电维修</a>

                                    <a href="list-305.html" class="item">管道维修</a>

                                    <div class="sub-category">
                                        <dl>
                                            <dt><h2 class="title"><a href="list-22.html">上门安装</a></h2></dt>
                                            <dd class="fn-clear">
                                                <div class="subitem">

                                                    <a href="list-303.html">换锁开锁</a>

                                                    <a href="list-304.html">家电维修</a>

                                                    <a href="list-305.html">管道维修</a>

                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>

                                <li>
                                    <a href="list-25.html" class="name">上门医护</a>
                                    <i class="arrow"></i>

                                    <a href="list-26.html" class="item">游泳用品</a>

                                    <a href="list-27.html" class="item">瑜伽用品</a>

                                    <div class="sub-category">
                                        <dl>
                                            <dt><h2 class="title"><a href="list-25.html">上门医护</a></h2></dt>
                                            <dd class="fn-clear">
                                                <div class="subitem">

                                                    <a href="list-26.html">游泳用品</a>

                                                    <a href="list-27.html">瑜伽用品</a>

                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>

                                <li>
                                    <a href="list-34.html" class="name">保姆月嫂</a>
                                    <i class="arrow"></i>

                                    <a href="list-35.html" class="item">国内旅游</a>

                                    <a href="list-36.html" class="item">国外旅游</a>

                                    <a href="list-37.html" class="item">本地一日旅游</a>

                                    <div class="sub-category">
                                        <dl>
                                            <dt><h2 class="title"><a href="list-34.html">保姆月嫂</a></h2></dt>
                                            <dd class="fn-clear">
                                                <div class="subitem">

                                                    <a href="list-35.html">国内旅游</a>

                                                    <a href="list-36.html">国外旅游</a>

                                                    <a href="list-37.html">本地一日旅游</a>

                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>


                                <li><a href="list.html" class="name">更多分类</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="fn-clear nav_ul">
                    <li class="active"><a href="info.html">首页</a></li>
                    <li><a href="list.html" class="curr">最新信息</a></li>
                    <li><a href="store_list.html">商家店铺</a></li>
                    <li><a href="business1.html" target="_blank">同城交易</a></li>
                    <li><a href="job.html" target="_blank">招聘求职</a></li>                    <li><a href="zu.html" target="_blank">租房</a></li>                </ul>
                <div class="boxRight">
                    <a href="jifen.html" target="_blank"><i class="igifs"></i>礼品兑换</a>                    <a href="login-https2F2Fihuoniao.cn2Fu2Fq.html" target="_blank"><i class="iqd"></i>今日签到</a>                </div>
            </div>
        </div>

    </div>
</div>


<!-- 导航 e-->
<div class="main_wrap">
    <div class="wrap crumbs fn-clear">
        <div class="cont">
            <span>您的位置：</span>
            <a href="info.html">信息频道</a>
            <s></s>
            信息详情
        </div>

    </div>
    <!--详情头部 s-->
    <div class="wrap detail_wrap1 fn-clear">
        <div class="detail_left">
            <div class="slide">
                <div id="slide_big">
                </div>
                <a href="javascript:;" class="prev" id="slidebtn_prev"><s></s></a>
                <a href="javascript:;" class="next" id="slidebtn_next"><s></s></a>

                <div id="slide_small">
                    <div class="spbox">
                        <div class="picsmall fn-clear">
                            <a href="javascript:;" data-bigpic="https://upload.ihuoniao.cn//info/atlas/large/2017/12/22/1513922284893.jpg" data-title="">
                                <img src="__INDEX__/picture/15139222848931.jpg" alt="">
                            </a>
                            <a href="javascript:;" data-bigpic="https://upload.ihuoniao.cn//info/atlas/large/2017/12/22/15139222867329.jpg" data-title="">
                                <img src="__INDEX__/picture/15139222867329.jpg" alt="">
                            </a>
                            <a href="javascript:;" data-bigpic="https://upload.ihuoniao.cn//info/atlas/large/2017/12/22/15139223728116.jpg" data-title="">
                                <img src="__INDEX__/picture/15139223728116.jpg" alt="">
                            </a>
                            <a href="javascript:;" data-bigpic="https://upload.ihuoniao.cn//info/atlas/large/2017/12/22/15139246783457.jpg" data-title="">
                                <img src="__INDEX__/picture/15139246783457.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <a href="javascript:;" class="prev disabled" id="slidebtn2_prev"><s></s></a>
                    <a href="javascript:;" class="next" id="slidebtn2_next"><s></s></a>
                </div>

            </div>
        </div>
        <div class="detail_right content">
            <div class="detail_top">
                <p class="list_title">#手机#苹果6</p>
                <div class="show_info">
                    <span class="time">2017-12-22 13:58:09</span><span class="see_num">1072</span><span class="like_num">1</span><span class="comm_num">3</span>
                </div>
                <div class="btn_group ">
                    <a href="javascript:;" class="store-btn"><button><em></em><span>收藏</span></button></a>
                    <div class="share-btn ">
                        <a href="javascript:;" class="btnShare newBtn_share" data-title="#手机#苹果6" data-pic="https://upload.ihuoniao.cn//info/atlas/large/2017/12/22/1513922284893.jpg" id="sharre"></a><em></em><span>分享</span>
                    </div>
                </div>
            </div>

            <div class="list_info ">
                <div class="info_left" id="info_left">
                    <dl class="new_price">
                        <dt>价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</dt>
                        <dd><em>¥</em><strong>650</strong><em>.00</em></dd>
                    </dl>
                    <dl>
                        <dt>区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域：</dt>
                        <dd>江苏 - 苏州 - 相城 - 北桥</dd>
                    </dl>
                    <dl>
                        <dt>有 效  期：</dt>
                        <dd>1927天后过期</dd>
                    </dl>
                    <dl>
                        <dt>分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类：</dt>
                        <dd>手机通讯 - 手机</dd>
                    </dl>
                </div>
                <div class="info_right">

                    <div class="infor_top fn-clear">
                        <div class="left_l"><a href="homepage-2.html" target="_blank"><img src="__INDEX__/picture/15143654938753.jpg" alt="你现在在这分钟"></a></div>
                        <div class="right_r">
                            <h3 class="r_tit"><a href="homepage-2.html" target="_blank">你现在在这分钟</a><i class="personal"></i></h3>
                            <p class="r_info">TA发布信息<span>4</span>条 <i class="chat_to-Link" data-type="detail"></i></p>                        </div>
                    </div>
                    <div class="infor_bot">
                        <i></i><span>江苏 苏州 相城 北桥</span>
                    </div>

                </div>
            </div>
            <div class="report_info">
                <div class="rep_l"><img src="__INDEX__/picture/report.png" alt=""></div>
                <div class="rep_r">
                    <p class="rep_tit">如遇无效、虚假、诈骗信息，请 <a href="javascript:;" class="report">立即举报></a></p>
                    <p class="rep_tip">办理服务前请勿付订金、押金等费用，谨防上当受骗！</p>
                </div>
            </div>

            <ul class="info_ul">
                <li class="buy"><a href="javascript:;">立即购买</a></li>
                <li class="call">
                    <a href="login.html" class="c_tel">
                        <i></i>
                        <div class="phone_info">
                            <p class="phone_num">138****8123</p>
                            <p class="see_num">登录查看完整电话</p>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
        <!--信息已过期 s-->
        <!--信息已过期 e-->
    </div>
    <!--详情头部 e-->
    <div class="wrap fn-clear">
        <div class="list-mid fn-clear  con-tit ">
            <div class="list-tab">
                <div class="list-lead fn-clear">
                    <ul>
                        <li class="current"><a href="javascript:;">信息详情</a></li>
                        <li><a href="javascript:;">评论(3条)</a></li>
                    </ul>
                </div>
            </div>
            <div class="lm-txt fn-clear">
                <div class="lm_con">
                    <p style="text-indent: 2em; text-align: left;">闲置国行6 16g 现在当游戏机用，感觉有点小，指纹坏了，id可退其他正常用，想加钱个6p，不要伊拉克成色，指纹无所谓，同城自取，自取</p>
                </div>
            </div>

            <div class="act-tao fn-clear con-tit">

                <div class="writ-l fn-clear">
                    <p><a href="javascript:;"><img src="__INDEX__/picture/noPhoto_100.jpg"></a></p>
                </div>
                <div class="writ"><p><textarea placeholder="来说两句吧..." id="textarea"></textarea></p></div>
                <div class="fn-clear">
                    <div class="writ-b"><a href="javascript:;" id="login">登录</a></div>
                </div>
                <div id="replyList" data-url="https://ihuoniao.cn/sz/info/business-%id.html"><div class="loading"><img src="__INDEX__/picture/loading.gif"></div></div>
            </div>

        </div>
        <div class="news_r">
            <div class="adv"><div class="siteAdvObj"><a href="javascript:;" style="cursor:default;"><img src="__INDEX__/picture/15639385871139.png" width="100%" height="" alt=""></a><div class="advMark pos3">广告</div></div></div>
            <div class="newr_content" id="det_newsr">
                <h2 class="newr_tit">相关推荐</h2>
                <ul>
                    <li>
                        <div class=" fn-clear">
                            <div class="r_left"><a href="detail-16.html" target="_blank"><img src="__INDEX__/picture/151392750355301.jpg" alt=""></a></div>
                            <div class="r_right">
                                <h3><a href="detail-16.html" target="_blank"><font style="color:#ff0000">圣斗士闪卡</font></a></h3>
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class=" fn-clear">
                            <div class="r_left"><a href="detail-43.html" target="_blank"><img src="__INDEX__/picture/151393550952961.jpg" alt=""></a></div>
                            <div class="r_right">
                                <h3><a href="detail-43.html" target="_blank"><font style="color:#7030a0">春装新款明星同款吊带牛仔背带裤女破洞裤</font></a></h3>
                                <p class="r_price"><strong>价格面议</strong></p>                            </div>
                        </div>

                    </li>
                    <li>
                        <div class=" fn-clear">
                            <div class="r_left"><a href="detail-5.html" target="_blank"><img src="__INDEX__/picture/151392493190121.jpg" alt=""></a></div>
                            <div class="r_right">
                                <h3><a href="detail-5.html" target="_blank">国行苹果6</a></h3>
                                <p class="r_price"><em> ¥ </em><strong>1199</strong><em>.00</em></p>                            </div>
                        </div>

                    </li>
                    <li>
                        <div class=" fn-clear">
                            <div class="r_left"><a href="detail-3.html" target="_blank"><img src="__INDEX__/picture/151392484391071.jpg" alt=""></a></div>
                            <div class="r_right">
                                <h3><a href="detail-3.html" target="_blank">iPhone 7 32g 港版 磨砂黑 移动联通4g #iphone#</a></h3>
                                <p class="r_price"><em> ¥ </em><strong>2888</strong><em>.00</em></p>                            </div>
                        </div>

                    </li>
                    <li>
                        <div class=" fn-clear">
                            <div class="r_left"><a href="detail-644.html" target="_blank"><img src="" alt=""></a></div>
                            <div class="r_right">
                                <h3><a href="detail-644.html" target="_blank">测试测试测试</a></h3>
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class=" fn-clear">
                            <div class="r_left"><a href="detail-642.html" target="_blank"><img src="" alt=""></a></div>
                            <div class="r_right">
                                <h3><a href="detail-642.html" target="_blank">测试测试测试是</a></h3>
                                <p class="r_price"><em> ¥ </em><strong>20</strong><em>.00</em></p>                            </div>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
    </div>


</div>

<div class="footer white">
    <div class="wrap">
        <div class="friendlink">
            <h5>友情链接</h5>
            <ul class="fn-clear">

                <li><a href="javascript:;" target="_blank" title="今题网">今题网</a></li>

                <li><a href="javascript:;" target="_blank" title="爱威海分类信息网">爱威海分类信息网</a></li>

                <li><a href="javascript:;" target="_blank" title="客集齐网">客集齐网</a></li>

                <li><a href="javascript:;" target="_blank" title="搜易分类信息网">搜易分类信息网</a></li>

                <li><a href="javascript:;" target="_blank" title="小百姓网">小百姓网</a></li>

                <li><a href="javascript:;" target="_blank" title="列举网">列举网</a></li>

                <li><a href="javascript:;" target="_blank" title="久久信息网">久久信息网</a></li>

                <li><a href="javascript:;" target="_blank" title="2018信息网">2018信息网</a></li>

                <li><a href="javascript:;" target="_blank" title="娃酷网">娃酷网</a></li>

                <li><a href="javascript:;" target="_blank" title="天下信息网">天下信息网</a></li>

                <li><a href="javascript:;" target="_blank" title="列表网">列表网</a></li>

                <li><a href="javascript:;" target="_blank" title="赶驴网">赶驴网</a></li>

                <li><a href="javascript:;" target="_blank" title="置顶吧网">置顶吧网</a></li>

                <li><a href="javascript:;" target="_blank" title="酷易搜">酷易搜</a></li>

                <li><a href="javascript:;" target="_blank" title="快点8">快点8</a></li>

                <li><a href="javascript:;" target="_blank" title="分类168网">分类168网</a></li>

                <li><a href="javascript:;" target="_blank" title="城际分类网">城际分类网</a></li>

                <li><a href="javascript:;" target="_blank" title="百姓网">百姓网</a></li>

                <li><a href="javascript:;" target="_blank" title="赶集网">赶集网</a></li>

                <li><a href="javascript:;" target="_blank" title="58同城">58同城</a></li>

            </ul>
        </div>
        <div class="help fn-clear">
            <div class="helplist">
                <dl>
                    <dt>关于我们</dt>

                    <dd><a href="about-1.html" target="_blank">网站介绍</a></dd>

                    <dd><a href="about-2.html" target="_blank">关于我们</a></dd>

                    <dd><a href="about-3.html" target="_blank">服务条款</a></dd>

                    <dd><a href="about-4.html" target="_blank">广告服务</a></dd>

                    <dd><a href="feedback.html" target="_blank">意见反馈</a></dd>
                </dl>

                <dl>
                    <dt>常见问题<s></s></dt>

                    <dd><a href="help-2.html" target="_blank" title="账户类">账户类</a></dd>

                    <dd><a href="help-3.html" target="_blank" title="购物类">购物类</a></dd>

                    <dd><a href="help-4.html" target="_blank" title="款项类">款项类</a></dd>

                    <dd><a href="help-5.html" target="_blank" title="配送类">配送类</a></dd>

                </dl>

                <dl>
                    <dt>订单百事通<s></s></dt>

                    <dd><a href="help-11.html" target="_blank" title="提交订单">提交订单</a></dd>

                    <dd><a href="help-12.html" target="_blank" title="订单查询">订单查询</a></dd>

                    <dd><a href="help-13.html" target="_blank" title="订单取消">订单取消</a></dd>

                    <dd><a href="help-15.html" target="_blank" title="订单异常">订单异常</a></dd>

                    <dd><a href="help-14.html" target="_blank" title="交易纠纷">交易纠纷</a></dd>

                </dl>

                <dl>
                    <dt>购物指南<s></s></dt>

                    <dd><a href="help-16.html" target="_blank" title="交易条款">交易条款</a></dd>

                    <dd><a href="help-17.html" target="_blank" title="促销咨询">促销咨询</a></dd>

                    <dd><a href="help-18.html" target="_blank" title="购物流程">购物流程</a></dd>

                    <dd><a href="help-19.html" target="_blank" title="商品咨询">商品咨询</a></dd>

                </dl>

                <dl>
                    <dt>支付及发票<s></s></dt>

                    <dd><a href="help-20.html" target="_blank" title="支付流程">支付流程</a></dd>

                    <dd><a href="help-21.html" target="_blank" title="在线支付">在线支付</a></dd>

                    <dd><a href="help-22.html" target="_blank" title="公司转账">公司转账</a></dd>

                    <dd><a href="help-23.html" target="_blank" title="支票支付">支票支付</a></dd>

                </dl>

                <dl>
                    <dt>售后服务<s></s></dt>

                    <dd><a href="help-24.html" target="_blank" title="售后政策（自营）">售后政策（自营）</a></dd>

                    <dd><a href="help-25.html" target="_blank" title="售后政策（卖家）">售后政策（卖家）</a></dd>

                    <dd><a href="help-26.html" target="_blank" title="返修/退换货申请">返修/退换货申请</a></dd>

                    <dd><a href="help-27.html" target="_blank" title="商品返回">商品返回</a></dd>

                    <dd><a href="help-28.html" target="_blank" title="退款说明">退款说明</a></dd>

                </dl>

            </div>
            <div class="qr">
                <div class="qr-img"><img src="__INDEX__/picture/qrcode-httpsihuoniao.cn.jpg">移动版</div>
                <div class="qr-img"><img src="__INDEX__/picture/15687067729028.jpg">微信公众号</div>
            </div>
        </div>
        <div class="copyright"><p style="text-align: center;">本站非实际运营网站，所载全部信息内容均仅作为软件系统功能测试之用，切勿当真！若有侵权，请即时联系：<a href="javascript:;" target="_self" textvalue="0512-67581578">0512-67581578</a><br>版权所有 © 2018 苏州酷曼软件技术有限公司. All rights reserved.&nbsp;</p><p style="text-align: center;"><a href="javascript:;" target="_blank">苏ICP备13047463号</a></p></div>
        <div class="statisticscode"></div>
    </div>
</div>


<div class="btntop">
    <a href="javascript:;" class="top" title="返回顶部"><img src="__INDEX__/picture/gotop.png" alt=""></a>
</div>

<script type="text/javascript" src="__INDEX__/js/common-1600133341.js"></script>
<script type="text/javascript" src="__INDEX__/js/jquery.scroll.loading.js"></script>
<script type="text/javascript" src="__INDEX__/js/jquery.dialog-4.2.0-1600133341.js"></script>
<script type="text/javascript" src="__INDEX__/js/public-1600133341.js"></script>
<script type="text/javascript" src="__INDEX__/js/list_detail-1600133341.js"></script>
<script type="text/javascript" src="__INDEX__/js/designpicd-1600133341.js"></script>
<script type="text/javascript" src="__INDEX__/js/viewer-jquery.min-1600133341.js"></script>
</body>
</html>
<script>var cfg_currency = {"name":"\u4eba\u6c11\u5e01","short":"\u5143","symbol":"\u00a5","code":"RMB","rate":"1"};</script><!-- Processed in page load 0.116850 second(s), 260 queries ,0.02238 second(s) -->